[2011-07-07 08:53] zonca opened #1 "create README for github homepage"
cyrille, would you like to create  a README in the repository to present the project?
it is then shown in the github homepage, you can use material from the google code homepage.

[2011-07-07 12:29] #1 closed, assigned to crosset

[2011-07-07 15:42] crosset opened #2 "inconsistent shape in vec2ang()/ang2vec()"
The input of vec2ang() is expected to have shape (N, 3), while its output is of shape (2, N). The axis of the number N of points should be the same at input and output.
I suggest we use the equivalent functions in rotator.py called dir2vec and vec2dir, renaming them to ang2vec and vec2dir respectively. These functions will be imported in **init**.py but stay in rotator.py.

[2011-07-13 18:18] zonca opened #3 "anafast broken with unseen pixels"
see:

https://gist.github.com/1080918

anafast breaks with UNSEEN pixels, should we convert them to zeros before calling the C++ library?

[2011-07-14 09:17] zonca opened #4 "query_disc different from IDL"
I received a notice from Reijo Keskitalo that query_disc reports different pixels in healpy and healpix-idl.

I have created a simple test on gist:

https://gist.github.com/1082146

I checked out the source of query_disc, it looks quite a complex implementation.
I found that healpix C++ has an implementation of this function, can we just embed the C++ version instead of reimplementing in python?

[2011-07-14 14:25] zonca opened #5 "smoothing broken with unseen pixels"
I think it might be the same issue with anafast,

m=np.zeros(healpy.nside2npix(512),dtype=np.double)
m[6000:7000] = 10
m[4000:4500] = healpy.UNSEEN
ms=healpy.smoothing(m,1,degree=True)

print ms
array([ -3.81948104e+26,  -3.90506176e+26,  -4.13420167e+26, ...,
        -3.88012783e+24,  -3.49755129e+24,  -3.77166076e+24])

[2011-07-20 09:55] #5 closed, assigned to nobody

[2011-07-21 10:19] zonca opened #6 "cannot build development healpy without cython"
as discussed already, I believe we should add the pregenerated c pshyt.c to the github repository, so that people can build the development version of healpy without having cython installed.

I added the pregenerated file from healpy 0.10.2 to the repo.

I added this file to .gitignore so that it is difficult for people to update it by mistake.

Cyrille, when you make changes to the cython extensi

[2011-07-21 10:29] #6 closed, assigned to zonca

[2011-08-02 11:27] #3 closed, assigned to nobody

[2011-08-02 20:34] cbischoff opened #7 "Make error when installing healpy with external cfitsio"
I attempted to build and install healpy using the instructions provided in the INSTALL file. I already have cfitsio installed in /usr/local, so I set the following shell variables:

`export EXTERNAL_CFITSIO=yes
export CFITSIO_EXT_PREFIX=/usr/local
export CFITSIO_EXT_INC=/usr/local/inc
export CFITSIO_EXT_LIB=/usr/local/lib/libcfitsio.a`

I ran
`$ python setup.py build`
This worked fine and I was ab

[2011-08-04 09:06] #7 closed, assigned to nobody

[2011-09-06 07:35] #2 closed, assigned to crosset

[2011-09-08 16:30] ziotom78 opened #10 "Inaccurate reconstruction of the position in the "mollzoom" window"
When clicking with the mouse in the map shown by the "mollzoom" command, the cursor moves in a different position from the one specified with the pointer. I was able to trace the origin of this bug using "git bisect" to commit 7a8d9e9d6b27f3d27d3829ab0d545deb9c6ae07a. It is marked as "Improve documentation", but I see that a number of function in rotator.py have been changed as well. If you are in

[2011-09-12 23:54] zonca opened #11 "bug in vec2dir affecting mollview"
when I pass the mouse cursor over a map in mollview to get the position I get this error in rotator, this is probably related to the latest changes in vec2dir, Cyrille, would you have time to take a look?

AttributeError: 'float' object has no attribute 'size'

[2011-09-13 00:37] #10 closed, assigned to nobody

[2011-09-13 00:37] #11 closed, assigned to crosset

[2011-09-14 17:24] crosset opened #12 "Add link to documentation on front page"
I created a gh-pages for the project which contains some documentation.
It is accessible through http://healpy.github.com/healpy/.

It would be nice to add this link on the front page (below the link to google code page), but I don't know where to modify this text...

(I added a link in the README.rst file, and there is also a doc/HOWTO_DOC information file describing how to create/modify the docu

[2011-09-16 23:34] #12 closed, assigned to zonca

[2011-09-28 22:03] zonca opened #13 "improve anafast"
- create anafast unit testing
- support for xspectra and  more anafast options
- compare performance with anafast fortran

[2011-09-28 22:04] zonca opened #14 "refactor documentation for sphinx"
complete documentation refactoring started by Cyrille in the sphinx format

[2011-09-28 22:08] zonca opened #15 "unit testing / doc testing"
increase the number of tests,

simple functions should just use doc-testing, as already done in some pixel functions,
more complex functions should instead use unittest test cases, see examples in healpy/healpy/test

[2011-09-28 22:15] zonca opened #16 "healpy tutorial"
Prepare healpy tutorial to be included in the documentation, including:
- read maps
- mask
- anafast
- mollview
- gnomview

[2011-09-28 22:19] crosset opened #17 "problem in gnomview when ysize is different xsize"
the gnomview visualization does not work when called with ysize != xsize.

[2011-10-06 22:35] zonca opened #18 "rc configuration file"
add a configuration file for common parameters, like:
* xsize for mollview and gnomview
* nest to set all functions default to be nest=True

the style should be similar to matplotlibrc or ipythonrc, with a systemwide configuration file overridden by .healpy/healpyrc

please add other useful parameters below.

[2011-10-07 01:15] sanjitm opened #19 "graticule labels"
graticule labels for longitude and latitudes in different projections would be nice. need not be rotated, though rotation may make it easier to avoid unwanted overwrites, while viewing the map from a pole [rot=(0,90)] for example.

[2011-10-07 01:27] zonca opened #20 "make healpy available on pypi"
cleanup the install script and upload to pypi so that it is installable easily with:

[code]

[2011-10-24 13:51] joezuntz opened #21 "Building with setup.py builds even if e.g. "clean" command used"
Unlike other python setup.py files, the healpy variant tries to build the cxx package even if invoked with
python setup.py clean
or
python setup.py help
etc.

[2011-11-15 12:08] #4 closed, assigned to crosset

[2011-11-15 14:07] #21 closed, assigned to nobody

[2011-12-01 22:09] ebressert opened #22 "Flat namespace error for Python 2.7 on OSX 10.6"
Hi,

I'm trying to get healpy working but I'm running into a problem. Installing healpy is straighforward, but when I try to import healpy I get an error concerning an expected "flat namespace". The error from python is given below.

The OSX machine has Python 2.7 from EPD installed (64bit). The cfitsio library is installed using Homebrew with 32 and 64 bit build. Any ideas on what may be the prob

[2011-12-07 04:31] #16 closed, assigned to zonca

[2011-12-07 04:31] #14 closed, assigned to nobody

[2011-12-11 08:06] zonca opened #23 "cannot compile query_disc with cython 0.13"
I got an error trying to compile the new cython query_disc with cython 0.13, while it worked fine with 0.15, error log below. Should we write on the INSTALL file that we require a minimum version of cython?

cythoning healpy/src/_query_disc.pyx to healpy/src/_query_disc.cpp
## Error converting Pyrex file to C:

...
    else:
        scheme = RING
    cdef T_Healpix_Base[int64] hb = T_Healpix_Base[

[2012-01-16 14:25] #22 closed, assigned to nobody

[2012-01-16 15:56] #23 closed, assigned to crosset

[2012-01-26 22:17] zonca opened #25 "[help] build healpy on Windows"
should we make available an exe packages for Windows users?
is anybody willing to help?

[2012-01-31 15:17] montefra opened #26 "Help string on query_* functions"
The functions query_disc, query_polygon and query_strip lack the description of nest=False in the help string.
I guess that should be something like (taken from the description of "ang2pix")
"   nest : bool, optional
      if True, assume NESTED pixel ordering, otherwise, RING pixel ordering"

I think that it should be included in the functions definitions in healpy/src/_query_disc.pyx

Cheers,
Fr

[2012-02-02 00:52] zonca opened #28 "segmentation fault importing C++ without pylab"
I've got a strange issue on the carver NERSC cluster, on my laptop works fine.
so, either:
    import _healpy_fitsio_lib
or:
    import _healpy_sph_transform_lib

causes segmentation fault if I use python or plain ipython, while it works fine if I use ipython --pylab,
Do you have a suggestion on what could be causing this?

[2012-02-02 19:07] #26 closed, assigned to nobody

[2012-02-03 12:51] mlejeune opened #29 "missing _query_disc.c when no cython"
it seems that the healpy/src/_query_disc.c file is missing from master branch.
building without cython failed with error:

gcc -pthread -fno-strict-aliasing -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -fPIC -I/usr/local/lib/python2.6/dist-packages/numpy/core/include -Ihpbeta/healpy/include -I/usr/include/python2.6 -c healpy/src/_query_disc.c -o build/temp.linux-x86_64-2.6/healpy/src/_query_d

[2012-02-03 12:58] mlejeune opened #30 "undef replacement in map2alm breaks the possibility to have I,Q,U maps as list"
line 115 of  sphtfunc.py:
m[m == UNSEEN] = 0
does not work with list of I,Q,U maps.

[2012-02-10 09:38] #28 closed, assigned to nobody

[2012-02-13 23:03] #29 closed, assigned to nobody

[2012-02-19 09:31] becamedark opened #31 "synfast does not handle keyword lmax properly, and may have serious trouble when cls is shorter than lmax."
Okay, never mind. This never happened. I'm just silly, is all.

[2012-02-20 04:10] #31 closed, assigned to nobody

[2012-03-23 13:17] ziotom78 opened #32 "Healpy won't compile under Mac OS Lion"
Mac OS X 10.7 uses clang as its default C/C++ compiler. As clang has no support for OpenMP yet (see http://www.phoronix.com/scan.php?page=news_item&px=MTA0Mzc), script `setup.py` fails as it always tries to use OpenMP under Darwin systems.

The quickest workaround is to run the `setup.py` script with the `--without-openmp` flag:

[code]

Users of older versions of Mac OS X should have no problems,

[2012-04-19 17:00] #13 closed, assigned to crosset

[2012-04-19 17:00] #30 closed, assigned to crosset

[2012-04-19 17:09] #32 closed, assigned to nobody

[2012-04-19 20:03] syelda opened #33 "OUTLINE keyword in mollview"
In the IDL version of mollview, there is a keyword 'OUTLINE' that allowed for the overplotting of an outline (e.g., a contour) onto the final healpix map.  This functionality does not seem to have been included in the python version of mollview.  Is this something that can be easily implemented in healpy?

Here is an example call to mollview in IDL, in which I pass in a structure that describes 4

[2012-04-23 22:17] #33 closed, assigned to nobody

[2012-04-30 22:27] #20 closed, assigned to zonca

[2012-06-10 21:22] rainwoodman opened #34 "Nside > 8192"
Notice the following lines in healpix_base.h:

/_! T_Healpix_Base for Nside up to 2^13. */
typedef T_Healpix_Base<int> Healpix_Base;
/_! T_Healpix_Base for Nside up to 2^29. */
typedef T_Healpix_Base<int64> Healpix_Base2;

healpy use Healpix_Base for the calculation, thus Nsides <= 8192 is a must.
In the online doc strings this is no where mentioned.

[2012-06-11 17:37] gregreen opened #35 "visufunc.cartview fails"
visufunc.cartview consistently fails in version 1.2, running with Python 2.7. The following minimal example fails, for example:

The exact same code works if I substitute hp.visufunc.mollview for hp.visufunc.cartview.

[2012-06-18 05:19] rainwoodman opened #37 "Cannot use healpy without matplotlib/matplotlib initialized by healpy"
I can not use healpy without matplotlib because when doing

import healpy

it pulls in code from zoomtool and other modules that imports matplotlib.
It becomes impossible to set the backend of matploblib after importing healpy.

It is probably a good idea to split the visual and core components; though some api breakage may be required.

[2012-06-18 17:41] #34 closed, assigned to nobody

[2012-06-25 11:46] mreineck opened #40 "Possible problem with fix_arr<long,8> in last commit"
I currently cannot run the test myself, but I'm pretty sure that the lines

fix_arr<long,8> pix

in the last commit to _healpy_pixel_lib.cc will actually fail to compile on 32bit systems.
Healpix_Base2 works on 64bit integers, but "long" is typically only 32bit on 32bit
machines. I suggest to use "int64" instead of "long".

[2012-08-06 06:34] faisalrahman36 opened #42 "anafast for cross-correlation between maps"
Hi

I am trying to use healpy.sphtfunc.anafast for cross-correlation between two maps. But it is keep giving different errors.

I am using the syntax:

cl=hp.sphtfunc.anafast(wmap_map_I_masked.filled(),wmap_map_I_masked.filled(),lmax=LMAX)

but it is giving the errors

TypeError                                 Traceback (most recent call last)
/usr/local/python-2.7.1/lib/python2.7/site-packages/IP

[2012-08-06 21:26] #42 closed, assigned to nobody

[2012-08-10 10:24] #35 closed, assigned to nobody

[2012-08-11 10:12] lpsinger opened #43 "Build against external HEALPix library"
I am working on a Python project that uses both healpy and my own Python extension modules that are compiled and linked against the HEALPix C++ API. It would be very nice if healpy had the option to build against external HEALPix headers and libraries, much like the ability to build against external cfitsio headers and libraries.

I contributed MacPorts packages for [HEALPix](http://www.macports.o

[2012-08-13 09:04] #37 closed, assigned to nobody

[2012-08-13 23:09] lpsinger opened #47 "vec2pix fails for some vectors"
vec2pix fails for certain vectors, and apparently all resolutions. For `nside=1` to `nside=512`, I find that the vector (3.16448551e-01,  -5.80425150e-18,  -9.48609674e-01) raises an assertion.

[code]

[2012-08-14 20:31] zonca opened #48 "all functions should transparently accept masked arrays"
`hp.ma` is a convenient way of dealing with masked maps, however other healpy functions do not support it, so it is necessary to call the `filled` method.
We should automatically call the filled method, if necessary, at the beginning of each function.

[2012-08-16 14:20] dgabriela opened #50 "getylm"
I really need to use the getylm function, but it has been removed from recent revisions of healpy (I'm running revision 196). Is there another way to have use of that function?

[2012-08-17 14:36] #50 closed, assigned to nobody

[2012-08-20 14:34] #15 closed, assigned to nobody

[2012-08-20 14:38] #48 closed, assigned to zonca

[2012-08-27 23:18] jonroberts opened #51 "Error building on Mac OSX 10.8.1 Mountain Lion"
I'm getting an error when trying to build healpy on Mountain Lion. It gets to:

compiling cxxsupport/string_utils.cc

 and then throws the errors:
/Jon/Code/Physics/Software/healpy/hpbeta/cxxsupport/string_utils.cc
/Users/Jon/Code/Physics/Software/healpy/hpbeta/cxxsupport/string_utils.cc: In instantiation of ‘std::basic_ostream<_CharT, _Traits>& std::operator<<(std::basic_ostream<_CharT, _Traits>&

[2012-08-28 10:31] JesusTorrado opened #52 "Undefined symbols when importing"
Hi there,

May I get some help with the following problem?

I have built and installed successfully both with the ubuntu libcfitsio (3.290) and with a self compiled one (3.260 and 3.310). In both cases, I am getting the following error when importing inside python (and also inside sagemath):

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/

[2012-08-29 01:04] faisalrahman36 opened #53 "healpy:list index out of range with read_map"
Hi

I hope you are fine. I am trying to work on few image files which are a bit large. While working on them healpy is giving me the errors below:

---

/usr/local/python-2.7.1/lib/python2.7/site-packages/IPython/utils/py3compat.pyc in execfile(fname, *where)
    173             else:
    174                 filename = fname
--> 175             **builtin**.execfile(filename, *where)

/mimsy/faisal

[2012-08-31 20:35] #53 closed, assigned to nobody

[2012-09-04 12:21] #47 closed, assigned to mreineck

[2012-09-04 21:29] #43 closed, assigned to mreineck

[2012-09-12 09:34] johannct opened #56 "compilation error when running nosetests -v"
I downloaded healpy master and compiled the included healpix. I tested that the little example in the INSTALL file is working. Then trying nosetests -v I get :
Compiling /usr/lib/pymodules/python2.7/mpmath/libmp/exec_py3.py ...
SyntaxError: ('invalid syntax', ('/usr/lib/pymodules/python2.7/mpmath/libmp/exec_py3.py', 1, 12, 'exec_ = exec\n'))

Compiling /usr/lib/pymodules/python2.7/mpmath/tests/ext

[2012-09-12 18:10] #56 closed, assigned to nobody

[2012-09-12 20:39] #52 closed, assigned to nobody

[2012-09-13 18:52] ivrz opened #57 "MAC OSX 10.8.1 ML -- fatal error: index for __builtin_shufflevector must be a constant integer"
I have an issue when I attempt to compile healpy 1.4 on Mac OSX 10.8.1 Mountain Lion. But in fact, the problem is the same with the previous versions of healpy.

I have Python 2.7.2. I installed cfitsio via macports and wrote the enviroment variable export CFITSIO_EXT_PREFIX=/opt/local in my bash file. With pip, I installed pyfits 3.1, and I have Cython 0.17.

According to the INSTALL file, the re

[2012-09-18 16:02] #57 closed, assigned to nobody

[2012-09-24 13:37] JesusTorrado opened #58 "No 'read_map'"
Hi there,

After an apparently successful building, installation and import, I find that there are no fits-related functions in my module:

[code]

Exactly the same happens under sage (sagemath.org).

I compiled using and external cfitsio library.

Cheers!

[2012-09-24 14:09] #58 closed, assigned to nobody

[2012-10-10 09:52] ferrigno opened #62 "compilation issue and query disc documentation"
Dear developers,

I have been in contact with M. Reinecke for a problem in the compilation of Healpix when the include files of the HEASOFT suite are put in the include path because there is a file called rotmatrix.h which interferes with the compilation. The same happens for healpy when I tried to build Healpix internally. The workaround I found was to compile also cfitsio internally.

I was look

[2012-10-22 20:11] jsmidt opened #63 "Taking the Laplacian of a Healpix Map?"
Sorry if this is the wrong place to ask a question but I can't find a mailing list.

Anyways, I am trying to take the Laplacian of a temperature map and am trying to to figure out how with healpy.  I see there is a way to take a derivative in the phi and theta direction: http://healpy.readthedocs.org/en/latest/generated/healpy.sphtfunc.alm2map_der1.html#healpy.sphtfunc.alm2map_der1  however I am c

[2012-10-22 20:57] #63 closed, assigned to nobody

[2012-11-06 19:35] zonca opened #64 "order of C_ell different from HEALPIX!"
Order of spectra in `HEALPIX` is .... _TE, TB, EB_:
http://healpix.jpl.nasa.gov/html/facilitiesnode7.htm

while the order in `healpy` is .... _TE, EB, TB_:
https://github.com/healpy/healpy/blob/master/healpy/sphtfunc.py#L79

I fixed the test case on anafast, see related commit.
What is strange is that `healpy` uses `HEALPIX` C++ which uses the same convention as the fortran code.

Cyrille, do you

[2012-11-28 16:26] DavidWalz opened #66 "concatenate error with numpy 1.7.0"
Using healpy 1.4.1 with numpy 1.7.0 I get the following error when executing the basic mollview example

[code]

This can be fixed(?) by changing the lines to

[code]

[2012-11-29 18:07] #66 closed, assigned to nobody

[2012-11-29 18:28] #51 closed, assigned to nobody

[2012-11-29 22:00] netja000 opened #67 "Does healpy have functions to list pixel corners?"
I found the function to show pixel corners 'corners_nest(int,int)' from HEALPix Java code: http://healpix.jpl.nasa.gov/html/java/index.html
However I didn't find any relavant functions in healpy. Could any expert help me out?

I know how to make approximations of pixel corners by having the information of pixel area and pixel center:
pixel_center + or - pixel_area**(1/2)/2**(1/2)
but I need exact

[2012-11-30 21:44] #40 closed, assigned to nobody

[2012-12-06 22:59] mreineck opened #70 "Should we really restrict Nside to powers of 2?"
The C++, C and Java ports of Healpix allow arbitrary positive Nside values for RING ordering. Is there a reason for healpy to limit them to powers of 2 generally?

[2012-12-07 10:06] mreineck opened #71 "Libpsht to be removed"
The next version of Healpix C++ will no longer contain libpsht but the more efficient successor libsharp. As a consequence, the pshyt part of healpy will no longer work.

I suggest (as I already did when pshyt was added to healpy) that pshyt should become a standalone package, since it is not Healpix-related.

[2012-12-07 19:17] #67 closed, assigned to nobody

[2012-12-07 21:08] #62 closed, assigned to mreineck

[2012-12-09 14:41] cdeil opened #72 "healpy setup.py doesn't recognize Cython dev versions"
I have `cython` installed from github master, but `healpy` `setup.py` doesn't recognize it:

[code]

[2012-12-10 08:38] #72 closed, assigned to zonca

[2013-01-17 19:42] lpsinger opened #75 "healpy/fitsfunc.py: unsupported except...as... syntax"
According to `README.rst`, healpy support Python 2.4 and 2.5. However, the `read_map` function in `healpy/fitsfunc.py` contains a `try` clause with the `except ... as ...` syntax, which according to old Python manuals debuted in Python 2.6.1.

Would you prefer to use a backward-compatible `try...except` syntax here, or drop support for Python 2.4 and 2.5?

[2013-01-17 22:30] #75 closed, assigned to nobody

[2013-01-17 22:33] #71 closed, assigned to nobody

[2013-02-11 16:02] anaisrassat opened #80 "Rotate_alm in healpy?"
Hi, I was wondering if there were plans to make a python wrapper for the rotate_alm subroutine? Thanks!

[2013-02-19 04:58] cthacker opened #84 "Can't compile healpy on Scientific Linux release 6.3"
Scientific linux is a Red Hat clone like CentOS and I have tried unsuccessfully to install healpy in both of the ways described in your installation document (which is out of date as there is no hpbeta folder any longer).

The error report can be found here http://pastebin.com/XNjTSRmu

[2013-02-19 07:57] jsmidt opened #85 "Install docs referring to hpbeta for cfitsio out of date."
The install docs still refer to hpbeta/libcfitsio for the cfitsio tarball placement.  Since I believe there is a new directory I think the INSTALL file should be updated to help avoid confusion.

[2013-02-20 22:54] zonca opened #86 "add testing to rotate_alm"
we need to add  more testing for `rotate_alm`, there is currently just a unit test about consistency of forward and backward rotation, but we would need a direct comparison with a rotation made in `healpix`

[2013-02-20 23:02] #80 closed, assigned to nobody

[2013-02-21 09:43] mlejeune opened #87 "Error compiling Cython file"
I have the following error when compiling the Alm type from _common.pxd
healpy/healpy/src/_common.pxd:136:79: Unknown type

[2013-02-21 18:54] #85 closed, assigned to nobody

[2013-02-21 19:13] #87 closed, assigned to nobody

[2013-02-27 10:57] nobukatayama opened #89 "bug in synfast/synalm"
Hi,

I've been using healpy for a long time and I thank you very much for a nice package.

Synfast/synalm is not protected from an illegal access to array of cl. If the length of the cl array is shorter than lmax, the c++ part of the code that access python object quietly does an illegal memory access and pick up a garbage as cl[l]. It is really bad because sometimes it hits a big number (like one

[2013-02-27 18:50] #84 closed, assigned to nobody

[2013-03-06 19:53] JesusTorrado opened #90 "Build ok -- tests fail"
Hi there,

I built the last dev version today, getting not error, and run the small test, which works, and the "nosetests", which don't. How much should I worry?

Here is the output:

[code]

Cheers,
Jesús

[2013-03-15 18:18] #89 closed, assigned to nobody

[2013-03-15 19:23] #90 closed, assigned to nobody

[2013-03-19 18:54] lpsinger opened #93 "setup.py fails in Python 2.5"
setup.py fails in Python 2.5 because `os.walk`'s `followlinks=` argument was introduced in Python 2.6.

[code]

[2013-03-19 19:21] zonca opened #94 "Release tarballs on pypi"
I uploaded the release 1.6.0 also to the Python package index:

https://pypi.python.org/pypi/healpy

currently each release is one its branch created by the `scripts/release.sh` script.
However the same operations can be automatically done by `setup.py sdist upload` if `setup.py` and `MANIFEST.in` are correctly configured.

For the next release I'd like to check if it is possible to effectively do

[2013-03-19 20:39] #93 closed, assigned to lpsinger

[2013-03-24 22:24] cmbant opened #96 "Installation"
The system admin kindly upgraded to gcc 4.7.2 to avoid the compiler crash. But unfortuantely the build (from lastet git clone) still fails at missing file as below:

gcc -pthread -fno-strict-aliasing -g -O2 -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I/usr/local/Cluster-Apps/python/2.7.3/lib/python2.7/site-packages/numpy/core/include -I/scratch/aml1005/healpy/build/temp.linux-x86_64-2

[2013-03-25 15:18] #96 closed, assigned to nobody

[2013-03-29 18:02] lpsinger opened #97 "Build fails due to mismatched cfitsio, Healpy architectures on Mac OS 10.5 (Leopard) and 32-bit Python"
Reproduced from @zonca's e-mail.

highlights:

[code]

[code]

CFITSIO is build for 2 architectures:

[code]

while the extension is only built for 32bit:

[code]

[2013-04-05 00:18] #97 closed, assigned to nobody

[2013-04-05 00:27] #94 closed, assigned to zonca

[2013-04-10 03:29] ChrisTCH opened #100 "Problem Installing on Windows 7 32-bit"
I've encountered an installation problem when trying to install Healpy on my Windows 7, 32-bit laptop. I'm running Python version 2.7.3, 32-bit, from the Enthought Python distribution 7.3-2.

For my first installation attempt, I entered: 'pip install healpy' into the Windows command prompt, and received the error: 'error: %1 is not a valid Win32 application'. The full error message logged by pip i

[2013-04-11 06:20] #100 closed, assigned to nobody

[2013-04-11 09:41] chrisnorth opened #101 "add query_polygon"
Is it possible to add a query_polygon function, similar to that in IDL HEALPix. From what I gather, it's based on the query_triangle function?

[2013-04-11 17:19] drudd opened #102 "Detection of external Healpix"
I'm trying to install healpy either through pip or via setup.py on a system with an older version of gcc (which causes the compiler crash).  I have an external build of healpix 2.20a, however it doesn't use pkg-config and healpy is unable to detect it (despite being in the library include path).

[2013-04-11 18:05] #102 closed, assigned to nobody

[2013-04-12 10:20] gblanc05 opened #103 "pb to compile healpix"
Getting healpy from pip (note that pip 1.3 doesn't work, need to install pip 1.2) or using the tar.gz leads to the same problem when compiling healpix. Below is the output using gcc 4.8.

I'm on mac os x 4.8, python 4.7.

Any help would welcome, because I'm stuck...

Thanks,
Guillaume Blanc

---

make install
  CXX    fitshandle.lo
In file included from /opt/local/include/gcc48/c++/bits/stl_algo.h

[2013-05-06 13:59] dpole opened #105 "Install latest version"
I want to install the latest version of healpy.
I downloaded and built it by hand. I installed and upgraded it with pip. In both cases I didn't get the latest version.
(gnomview cannot return the projected map: unexpected keyword argument 'return_projected_map' )

How can I get the latest release and keep it update?

[2013-05-06 20:49] #103 closed, assigned to nobody

[2013-05-06 20:51] #101 closed, assigned to nobody

[2013-06-05 20:22] jblk2349 opened #106 "Healpy.mollview fucntion doesn't work"
Hi, I am using following code to create and manipulate a healpy map

after execution of hp.mollview command, the plot doesn't show up! It is not working. Need help!
I am using python 2.7 on Linux ubuntu 12.04

[2013-06-07 13:36] #106 closed, assigned to nobody

[2013-06-07 13:36] #105 closed, assigned to nobody

[2013-06-17 05:57] jrs65 opened #108 "Non-deterministic map2alm"
I'm having issues with `map2alm` where it gives me different answers when transforming the same map repeatedly. This only occurs when doing the transform in a new python process (and saving the output to compare). It does not occur when transforming the same map repeatedly from the same process. It also does not happen every time, maybe in 1/5 of all calls.

When this does happen, the absolute dif

[2013-06-19 17:40] gblanc05 opened #109 "draw lines in mollview; projplot problem"
Hi,

I'm trying to use healpy to draw a mollweide projection (I found any other package to do that easily!) of the Galaxy and put some objects in the corresponding map, and some lines (like the celestial equator...). But I'm not able to draw a simple line using projplot.

Here is the simple code I tried:

[code]

And the result is here:
![figure_1](https://f.cloud.github.com/assets/4135751/676460/

[2013-06-26 17:16] #108 closed, assigned to nobody

[2013-07-08 10:07] danimolinamartinez opened #110 "Problems installing healpy with python 2.7 at CentOS"
Hi,

I've installed healpix libraries at my system.
I've installed python 2.7 (CentOS uses python 2.6).
And I've installed many libraries (matplotlib, asciitable, chealpy, Cython, multiprocessing, nose, numpy, pyfits, scipy,...) at python, using pip or easy_install.
But unfortunately those utilities include healpy version 0.10.2, very far from the current one (1.6.2), and:
If I try to upgrade/upda

[2013-07-17 20:46] KevinMacDermid opened #111 "Download of tar, zip releases missing submodules."
Hello,
This may be a bit of a newbie mistake but I grabbed your code from https://github.com/healpy/healpy/releases after having some trouble with pip. I was then confused for an embarrassingly long time due to the fact that cfitsio and healpixsubmodule were empty.

It'd be nice if these were included in the code releases and/or the installation script checked for this and provided a clear message

[2013-07-17 21:11] #111 closed, assigned to nobody

[2013-07-29 11:07] crosset opened #112 "Add warning when converting NEST/RING in read_map"
(From Aurélien Fraisse)
I've just spent quite a bit of time trying to understand why one of my codes worked on WMAP7 inputs, but not on WMAP9 maps that I ingested into the magique database recently.  It turns out that I was using healpy.read_map to read NESTED maps, before writing them to the database.  Only today did I realize that read_map automatically converts NESTED inputs into RING maps unle

[2013-08-07 21:19] marius311 opened #113 "Returning (I,Q,U) tuples makes it really easy to make stupid mistakes that go unnoticed."
Consider the line,

[code]

If map1 and map2 are temperature maps only, the return value is an array which is the sum of alms. If map2 and map2 are an (I,Q,U) tuple of maps, the each call returns a tuple, which when added are concatenated into a length-6 tuple, rather than adding the maps. This is a pretty easy mistake to make which is worsened by the fact that if you then call alm2cl(alm) with al

[2013-08-14 18:44] #110 closed, assigned to nobody

[2013-08-14 19:14] #112 closed, assigned to nobody

[2013-08-14 19:20] zonca opened #114 "Build error: No rule to make target `libsharp/sharp_standard_comm.c'"
After the last update from the SVN, I found out that error in the travis build log:

https://travis-ci.org/healpy/healpy/jobs/10210588

[2013-08-14 20:16] #114 closed, assigned to mreineck

[2013-08-14 21:04] augustfly opened #115 "Calculate healpix sky pixel vertices in pixelfuncs"
The IDL versions of the healpix functions for translating between healpix and sky coordinates contain sub routines to calculate pixel vertices. Regardless it would be useful to have a similar functionality built into the Python pixelation related functions.

I was unable to find such pixel vertex calculation routines in the C library, which makes me think it is a special case in IDL.

[2013-08-17 22:31] cdeil opened #116 "Healpix error with autoreconf 2.69 on Mac"
With healpy 2074fe172332804ce994f959e5f76e8128a24476
 and autoreconf 2.69 on Mac I get

[code]

Full log: https://gist.github.com/cdeil/6258999

[2013-08-17 22:33] cdeil opened #117 "Python 3 support"
Did someone already try to make `healpy` Python 3 compatible?

[2013-08-27 00:10] zonca opened #118 "Improve interface to HEALPix C++"
Currently most functions of `healpy` depend on 3 extensions, written using the `Python` and `numpy` extensions API:
- https://github.com/healpy/healpy/blob/master/healpy/src/_healpy_fitsio_lib.cc
- https://github.com/healpy/healpy/blob/master/healpy/src/_healpy_pixel_lib.cc
- https://github.com/healpy/healpy/blob/master/healpy/src/_healpy_sph_transform_lib.cc

This method of interfacing to C/C++ i

[2013-08-27 00:12] #117 closed, assigned to nobody

[2013-08-27 00:25] zonca opened #119 "Released healpy 1.6.3"
Please test it on your machine:

https://pypi.python.org/pypi/healpy/1.6.3

/cc @lpsinger

[2013-08-27 05:15] #119 closed, assigned to nobody

[2013-08-30 15:38] liran827 opened #120 "problem of installing healpy with pip on Mac OS X 10.8.4"
Hi,

I am using pip to install healpy on my macbook. I have installed Enthought Canopy Python 2.7.3. To install healpy, I use

sudo pip install healpy -user

It returns in the end:
Command /usr/bin/python -c "import setuptools;**file**='/private/tmp/pip-build-root/healpy/setup.py';exec(compile(open(**file**).read().replace('\r\n', '\n'), **file**, 'exec'))" install --record /tmp/pip-y4A4pK-record/

[2013-09-16 23:29] zonca opened #121 "Implement Orthview (orthografic projection)"
The IDL version of HEALPix has a plot function to create an Orthografic projection of maps, `orthview`, see:

http://healpix.jpl.nasa.gov/html/idlnode40.htm

It would be useful to add this capability to `healpy`, even if it is not typically used very often.

[2013-09-16 23:29] #120 closed, assigned to nobody

[2013-10-02 09:53] hivon opened #123 "problem installing healpy 1.6.3 on MacOS"
I am trying to install healpy 1.6.3 under MacOSX (10.6.8)
after setting PKG_CONFIG_PATH to the cfitsio.pc location, and get what is attached below.
Note that autoreconf -i works fine in the cfitsio directory (the configure.in does exist)

[code]

[2013-10-07 15:19] hivon opened #125 "universal build broken using python 2.7.2 DMG for Mac OS 10.6"
I am trying to compile healpy 1.6.3 on MacOSX using the tar ball right out of
https://pypi.python.org/pypi/healpy (which does contain a local copy of cfitsio
and HEALPix-C++). The cfitsio compilation seems to go fine, but the
healpix_cxx compilation crashes right after the configure checks on the C compilation:

If I select only one architecture by editing the Makefile or the configure command,
I

[2013-10-08 09:26] mrkite92 opened #126 "Permission denied while installing healpy 1.6.3 on Mac OS"
Hi healpy gurus,

I use the command pip -v install healpy -U
The issue is:
/bin/sh: /private/var/folders/c6/ll30yrc13d1gz2h_hhg5rpcr0000gn/T/pip_build_marquett/healpy/healpixsubmodule/src/cxx/autotools/install-sh: Permission denied

The sudo command or the --user option yields the same.
My python is:
/Users/marquett/Library/Enthought/Canopy_64bit/User/bin/python

Thanks for your help,
Jean-Baptist

[2013-10-08 21:15] #116 closed, assigned to nobody

[2013-10-08 22:55] #115 closed, assigned to nobody

[2013-10-10 10:38] #126 closed, assigned to nobody

[2013-10-10 16:57] #125 closed, assigned to lpsinger

[2013-10-15 18:29] tbs1980 opened #128 "python3 installation fails"
I am trying to install healpy using pip built with python3. Here is the error I get. I guess we need to modify the line as " except TypeError  as e".

[code]

[2013-10-15 22:19] #128 closed, assigned to nobody

[2013-10-22 12:57] cdeil opened #129 "Add HEALPIX to / from normal image reprojection functions"
Would it be possible to add utility functions to reproject a given image in HEALPIX format onto a normal FITS projection image and the other way around?

[`kapteyn.maputils.FITSimage.reproject_to`](http://www.astro.rug.nl/software/kapteyn/maputils.html#maputils.FITSimage.reproject_to) is a nice example of what I'm looking for, but it can't handle HEALPIX images.

Using `healpy.get_interp_val` it i

[2013-10-22 19:24] cdeil opened #131 "`healpy.pix2ang` segfaults on incorrect input"
Here's a way to make `healpy` segfault:

[code]

results in

[code]

I did accidentally switch the input arguments, it should be `hp.pix2ang(NSIDE, ipix)` and not `hp.pix2ang(ipix, NSIDE)`. Still, I guess this should raise an exception and not crash?

Also, I think the description of the `ipix` parameter in the `pix2ang` docstring is incorrect?

[code]

It should be "pixel indices", not "angular c

[2013-10-22 22:38] #131 closed, assigned to zonca

[2013-11-01 00:13] zonca opened #132 "Remove monopole in anafast should be performed before zero-filling the mask"
`healpy` has the same issue present in `HEALPix` C++ reported here:

http://sourceforge.net/p/healpix/bugs/38/

Thanks to Aniello Mennella for reporting this.

[2013-11-01 00:48] #132 closed, assigned to zonca

[2013-11-13 21:15] #121 closed, assigned to nobody

[2013-11-19 03:17] vvinuv opened #134 "as_ma option does not work in read_map()"
The document says

as_ma : bool, optional
If True, return also the header. Default: False.

It returns "unexpected keyword argument 'as_ma'"

[2013-11-19 05:19] #134 closed, assigned to zonca

[2013-11-20 16:37] segasai opened #135 "Smoothing precision"
Hi,

I was playing with the smoothing in healpy and I seem to get unexpected numerical problems:
I take empty array, put  unity in one pixel then smooth. I would expect the sum of the array to be preserved, but it isn't for some pixels:

[code]

I did the same thing with the IDL version of healpix, and there is no problem there.

[2013-11-21 15:19] #135 closed, assigned to nobody

[2013-11-27 14:11] apontzen opened #136 "Installation issues on Mac OS X with anaconda or enthought python"
I've had a number of problems with installing on Mac OS X 10.8/10.9 with anaconda or enthought python which can be resolved as follows.

_1. Fix pykg_config_

Modify the first line of `pykg_config-1.1.0dev-py2.7.egg/EGG-INFO/scripts/pykg-config.py` to be

[code]

so it finds python wherever it is currently residing.

_2. Fix C++ library references_

Because of the tortuous way the environment is s

[2013-12-03 22:18] vvinuv opened #139 "projections"
Hi Developers
If I understood correctly CartesianProj() in projector.py accept lonra and latra so that it is possible to get the projection of a specific region of the map. However, I could not find the same function for other projection types, e.g. GnomonicProj(). It seems like other projection classes have default reference point. Is it possible to add similar kwargs to set_proj_plane_info() for

[2013-12-03 22:48] #139 closed, assigned to nobody

[2013-12-07 18:59] ChrisBeaumont opened #140 "Undefined symbols on Ubuntu 12.04 pip install"
My recent pip installation of healpy on Ubuntu 12.04 64 completes without error. However, python complains about missing math symbols when I try to import it

[code]

I think the `m` shared library isn't being linked properly. Any ideas?

[2013-12-10 11:52] GeorgSw opened #142 "Documentation for write_map"
In the documentation for "healpy.fitsfunc.write_map" it says " nest : bool, optional
If False, ordering scheme is NESTED, otherwise, it is RING. Default: RING.
The map ordering is not modified by this function, the input map array
should already be in the desired ordering (run `ud_grade` beforehand).", but it should say "... If True, ordering scheme is NESTED, ...".

Thanks

[2013-12-12 00:21] SimonKrughoff opened #143 "setuptools 6.10 not available"
I just tried installing healpy v 0.1.6.3 with python 2.7.3 using:

[code]

The above fails with a 404 when it tries to get setuptools v 0.6.10 from pypi at:

[code]

I changed line 5 from:

[code]

to

[code]

and everything worked.

[2013-12-12 01:19] zonca opened #144 "Build healpy in Anaconda or EPD"
Several users have reported issues building `healpy` in `Anaconda` or `EPD`/`Canopy`, see #136, #140.

I have a similar issue in `Anaconda` under `Ubuntu`, it looks like the build environment is not propagated correctly:

https://github.com/healpy/healpy/issues/140#issuecomment-30380766

See `get_config_vars`:
https://gist.github.com/zonca/7921711

[2013-12-12 15:26] segasai opened #146 "healpy nested scheme, nside not being power of two"
Hi,

The current version (1.6.3) of healpy seems to crash with segfault when the nside is not power of two and nested scheme is used:

[code]

Clearly some test for power of two is missing for the nested scheme. The patch must be very easy to come up with, but I don't have time at this exact moment. (probably relevant issue is  #70 )
Cheers,
        Sergey

[2013-12-20 19:45] #146 closed, assigned to zonca

[2013-12-20 19:46] #143 closed, assigned to nobody

[2013-12-20 19:49] #142 closed, assigned to nobody

[2013-12-20 21:53] #140 closed, assigned to nobody

[2013-12-20 21:54] #136 closed, assigned to nobody

[2013-12-20 21:55] #123 closed, assigned to nobody

[2014-01-07 18:19] #129 closed, assigned to nobody

[2014-01-09 23:43] kadrlica opened #148 "Problem with array input to MollweideProj.xy2ij"
When attempting to call MollweidePro.xy2ij with array input I receive the error:

Traceback (most recent call last):
  File "healpy_xy2ij.py", line 12, in <module>
    ij = proj.xy2ij(xy)
  File "/u/ki/kadrlica/.local/lib/python2.7/site-packages/healpy-1.6.3-py2.7-linux-x86_64.egg/healpy/projector.py", line 454, in xy2ij
    j = long(np.around(x*xc/2.+xc))
TypeError: only length-1 arrays can be co

[2014-01-14 21:48] #148 closed, assigned to nobody

[2014-01-14 21:50] #144 closed, assigned to nobody

[2014-01-22 07:30] piyanatk opened #151 "dlopen(_healpy_sph_transform_lib.so, 2): Symbol not found: __Z16read_weight_ringRKSsiR3arrIdE"
I am trying to install healpy 1.7 with pip. The build was  successful on both Anaconda and Canopy python distribution in Mac OS X 10.9.1, and both show the same error when the module was import. Please see my gist link for the full log.

import error: https://gist.github.com/piyanatk/8554666
install log: https://gist.github.com/piyanatk/8554674

[2014-01-22 19:25] #151 closed, assigned to nobody

[2014-01-22 23:59] larrybradley opened #154 "healpy 1.7.0 install fails because of install-sh permissions"
The file `healpixsubmodule/src/cxx/autotools/install-sh` in `healpy-1.7.0.tar.gz` is not set as executable, which causes the install to fail (via pip or a local install using the tarball).

[2014-01-23 20:12] #154 closed, assigned to nobody

[2014-01-23 22:00] piyanatk opened #155 "healpy 1.7.1 build error on Ubuntu 12.04"
1.7.1 fails to build on Ubuntu 12.04. Test with both Anaconda and Canopy and see the same error. I was able to build 1.7.0 fine.
build log: https://gist.github.com/piyanatk/8587564

[2014-01-27 19:49] #155 closed, assigned to nobody

[2014-02-07 19:42] zonca opened #158 "Issue with building cfitsio in MACOSX"
@lpsinger , I got this bug report from @hivon,
it looks like #152 caused a regression and he cannot build `cfitsio` anymore.
I wonder if this is something with his environment or a more general issue.
Can you plz take a look when you've time?

I tried healpy 1.7.3, and got a new problem (never seen with 1.7.0):

[code]

and indeed  /lib/cpp does not exist.

It seems that the problem comes from the

[2014-02-12 00:06] yoachim opened #160 "Build fail on OSX"
Hi all,
I'm trying to build from source with OS X 10.7.5 and anaconda.  It fails, with the relevant error message bits:
config.status: creating Makefile
config.status: executing depfiles commands
config.status: executing libtool commands
config.status: executing healpix_cxx.pc commands
config.status: creating healpix_cxx.pc.in
config.status: creating healpix_cxx.pc
config.status: creating healpix_

[2014-02-15 04:30] #160 closed, assigned to nobody

[2014-02-18 15:15] bmort opened #162 "Building on OS X 10.9"
I've been trying to build healpy on OS X 10.9 with no luck and wondering where I am going wrong. I first tried the building with the default compiler

[code]

and get the following error message

[code]

given the lack of OpenMP support with clang i also tried gcc/g++ 4.6 by setting the environment variables CC and CXX. This also fails with the following message:

[code]

I'm pretty sure if I coul

[2014-02-24 18:55] lpsinger opened #163 "Add nside2order, order2nside"
Could `order2nside` and `nside2order` methods be added? The former is trivial (it's just `1<<order`) but implementing the latter in exact integer arithmetic is nontrivial and there is a slick implementation in `healpix_base.cc`.

[2014-02-26 09:34] dalya opened #164 "Build on OS X 10.9 is stuck"
I tried to use pip install and to build healpy myself and in both cases the installation gets stuck.
When I try to build:
$ python setup.py build

The output is the following and then it gets stuck:

[code]

When I use pip install the output is the same until the last line i.e., it gets stuck after the line:

[code]

For the pip install - I waited for ~20 hours before I killed it.
Any help to fix

[2014-02-26 17:48] #164 closed, assigned to nobody

[2014-03-02 18:09] lpsinger opened #165 "CITATION file not included in tarball"
The `CITATION` file is not included in tarballs, but much of the same information is contained in `README.rst`. Could `CITATION` be deleted and merged into `README.rst`?

[2014-03-04 05:11] #165 closed, assigned to nobody

[2014-03-28 06:25] dima137 opened #167 "Smoothing: regression variable default value changed"
It seems that in the new release of healpy the default option of "regression" input variable in the smoothing function has changed from False to True. It seems counter intuitive that by default the average value is subtracted. I'm not sure how long ago this has happened but it is rather annoying.

[2014-04-10 10:01] #162 closed, assigned to nobody

[2014-04-10 10:03] #158 closed, assigned to lpsinger

[2014-04-10 10:19] defjaf opened #168 "OSX Openmp build"
Hi,

I am using `pip install --upgrade --force --no-deps healpy` with python.org python2.7. This works perfectly fine with CC/CXX set to the system llvm compilers. However, these don't work with openmp-supporting compilers.

When I set `CC` and `CXX` to (macports) `gcc-mp-4.8`/`g++-mp-4.8` or even the `gcc`/`g++` that come with `gfortran-4.8` (i.e., in `/usr/local/gfortran/bin`), the build fails.

[2014-04-16 15:03] schlafly opened #169 "pixelfunc.pixlib.get_interpol_ring doesn't work with phi outside (0, 2pi)"
I get inconsistent values for e.g. `healpy.get_interp_val(map, 0.6, -1)` and `healpy.get_interp_val(map, 0.6, -1+2*pi)`.

This comes down to different values from healpy.pixlib.get_interpol_ring:

[code]

My read of the cause here is that

[code]

only makes a half-hearted effort to put `i1` and `i2` (e.g., line 724 and 726 of `healpix_base.cc`) between `0` and `nr-1`; if `phi` starts negative, th

[2014-04-18 23:02] LRFrank opened #170 "failure of healpy build on Mac OSX 9"
I'm trying to compile healpy on my mac laptop (64bit) running

mac os x 10.9.2

using

[code]

and get the following error:

[code]

Any help would be appreciate.

Thanks,
Larry

[2014-04-19 02:36] #167 closed, assigned to nobody

[2014-04-21 05:55] #170 closed, assigned to nobody

[2014-05-02 23:16] jerodcaligiuri opened #171 "import error, unicode issue?"
Hello,
I have successfully installed healpy using sudo pip install healpy.  I am using Canopy (python 2.7.6) on Ubuntu 13.10.  I have matplotlib, cfitsio, scipy, astropy, numpy, etc.  I have everything in paths that canopy can locate them.  I keep getting the folling error when I try to import healpy:

Enthought Canopy Python 2.7.6 | 64-bit | (default, Apr 11 2014, 13:46:04)
[GCC 4.1.2 20080704 (R

[2014-05-04 06:17] #171 closed, assigned to nobody

[2014-05-08 18:34] luojing1211 opened #172 "Healpy installation Cython 0.16 issue on Mac"
hi,

 i'm trying to install healpy-1.7.4 on my macbook pro (10.8.5)

 i have python-2.7, numpy-1.8.1, matplotlib-1.0.1 and Cython-0.20 already installed.

 when i run

 Joseph-Romanos-MacBook-Pro:healpy-1.7.4 josephromano$ python setup.py build

 i get the error message:

 No Cython >= 0.16 found, defaulting to pregenerated c version.
 Traceback (most recent call last):
   File "setup.py", line 21

[2014-05-12 18:48] lpsinger opened #176 "Drop support for Python 2.4 and 2.5?"
[Setuptools 2.0](https://pypi.python.org/pypi/setuptools/3.6#id182) dropped support for Python 2.4 and 2.5. I contributed a [bugfix](https://bitbucket.org/pypa/setuptools/pull-request/39) to [Setuptools 3.2](https://pypi.python.org/pypi/setuptools/3.6#id171) that makes building and distributed Cython-generated modules more robust, which we could use if we dropped Python 2.5 support. There are also

[2014-05-13 19:31] #176 closed, assigned to nobody

[2014-05-15 16:34] #172 closed, assigned to nobody

[2014-05-25 23:27] #168 closed, assigned to nobody

[2014-05-25 23:28] lpsinger opened #183 "Installation instructions for Homebrew"
We need some good installation instructions for Homebrew.

In #168, @SaulAryehKohn reported:

[2014-05-31 22:00] vvinuv opened #185 "Mapping between maps of different nside"
It will be great if healpy has a function which maps pixels of two maps with different nside. E.g. if I have a map with nside=8 and another with nside=32 and want to how the pixels in nside=32 map correspond to pixels in nside=8 map. The function should be able to returns a map with nside=32 and the values of which correspond to the pixel number in nside=8 map.

Currently, we need to go through pi

[2014-06-04 17:01] #185 closed, assigned to nobody

[2014-06-05 07:01] mrkite92 opened #187 "Argument typing weakness in vec2pix, connected with astropy"
Hi healpy gurus,

This piece of code:

import healpy
from astropy.io import ascii
from astropy import coordinates as coord
from astropy import units as u
import numpy as np

NSide = 4194304
data = ascii.read(cat, format='commented_header')
spatial = coord.FK5(ra=data['Ra'], dec=data['Dec'], unit=(u.degree, u.degree))
x, y, z = spatial.cartesian
pixel = healpy.vec2pix(NSide, x, y, z, nest=True)

re

[2014-06-05 22:29] #187 closed, assigned to nobody

[2014-06-11 18:44] #118 closed, assigned to nobody

[2014-06-22 00:25] #169 closed, assigned to nobody

[2014-06-22 16:53] lpsinger opened #194 "32-bit support"
The README file says:

[code]

What exactly are the issues on 32-bit platforms? If the unit tests do not pass on 32-bit machines, then we either have to fix the issue or restrict the Debian packages to 32-bit architectures.

[2014-08-04 13:48] leitao opened #195 "Tests fail on ppc64el"
HI,

When compiling healpy (version 1.8.1) in the ppc64el architecture, it fails and the problem doesn't seem to be something problematic. Take a look at the errors;

=================================== FAILURES ===================================
__________________ [doctest] healpy.pixelfunc.get_neighbours ___________________
1020       Usual numpy broadcasting rules apply.
1021
1022     See Also

[2014-08-11 19:55] esheldon opened #196 "ang2vec does not allow list input"
ang2vec is not converting it's list arguments to arrays before performing array operations.  The error is in the line

if np.any(theta < 0) or np.any(theta > np.pi)

[code]

[2014-08-11 21:55] #196 closed, assigned to nobody

[2014-09-10 18:03] zonca opened #200 "issue with matplotlib on travis"
Travis tests are failing when we import `matplotlib`, see for example:

https://travis-ci.org/healpy/healpy/jobs/32277175

@lpsinger would you volunteer to take a look? You're the `travis` expert! ;)

[2014-09-10 22:50] #200 closed, assigned to nobody

[2014-09-15 20:01] udaraabeysekara opened #202 "healpix_to_image"
Hey All, I am trying to convert a healpix map to a regular image fits file using healpix_to_image. I have a healpix map without the key word COORDSYS in the header. However, my understanding is healpix_to_image requires the key word COORDSYS. Does any one know a work arroung?
Thanks for any help.

[2014-09-15 20:13] #202 closed, assigned to nobody

[2014-09-18 18:57] cjcopi opened #203 "python 3 ud_grade error for Nside>128"
In python 3, ud_grade fails on maps with Nside > 128 with a type error (float given where integer expected).  A simple example is

[code]

This produces a `TypeError` in `healpy/pixelfunc.py` at line 703 which reads

[code]

The problem is that bunchsize is a float.  Even though this is integer division, the result gets reported as a float and `range()` complains.  Tracing back we find `bunchsize`

[2014-09-21 09:41] DavidWalz opened #204 "ValueError in healpy.graticule"
healpy 1.8.1
numpy 1.8.2
python 2.7.8

[code]

results in

[code]

[2014-09-25 18:22] rhiannonlynne opened #205 "graticule function exception ("axes._process_plot_format(fmt)")"
Python version 2.7.8
numpy version 1.9.0
healpy version 1.8.1
matplotlib version 1.4.1

It seems like the new matplotlib moves axes._process_plot_format to axes._axes._process_plot_format.

The change means that healpy.graticule gives an exception if you try to draw graticules on a mollview plot. (probably other places too, but this is where I noticed it).

A fix for at least matplotlib version 1.

[2014-09-25 18:41] #204 closed, assigned to nobody

[2014-09-25 18:41] #205 closed, assigned to nobody

[2014-10-03 00:17] hzechlin opened #207 "building problem on Mac OS X 10.9 with Anaconda 2.1"
Hello,
problems appear while installing healpy-1.8.1 for the new Continuum Anaconda release 2.1.0, running on Mac OS X 10.9.5, with Xcode 6.0.1. I tried several ways of installing, i.e.,

$pip install healpy
$pip install --user healpy

or directly from source. Non of these approaches work anymore, it seems that there is a problem with the linking:

gcc -bundle -undefined dynamic_lookup -L/opt/anac

[2014-10-06 22:31] piyanatk opened #208 "Allow extra headers in `write_map`"
Can we allow additional/extra headers to be pass to `tbhdu.writeto` in `write_map`?
Is there a specific reason we are not allowing this at the moment?

[2014-10-06 22:31] pkafei opened #209 "Python 3.4 not Importing healpy"
Currently using healpy in Docker container. When using Python 2, I'm able to import healpy, however when developing in the Python 3.4 env I get

[code]

Not sure where the discrepancy lies. Here is my Dockerfile. Not sure if that helps.

[code]

[2014-10-07 08:22] #207 closed, assigned to nobody

[2014-10-17 18:54] jslavin opened #210 "error in projaxes.py: ValueError: Unknown format code 'd' for object of type 'float'"
Hi,

I just installed healpix in my anaconda python distribution and installation seemed to go fine.  Ihave been able to read in a healpix map (H alpha all sky map made by Doug Finkbeiner) and display it via  mollview, but when I try to draw graticules I get an error:

[code]

It looks like a trivial error in the format statement in `_get_interv_graticule`, though I wonder why it is even trying to

[2014-10-19 05:31] demitri opened #211 "Installation errors with Anadonda 2.1.0 on MacOS X 10.9.5"
I’m trying to install healpy on MacOS X 10.9.5, and am using the Anaconda Python release. I’ve poked around and it seems like there is a conflict with different C++ libraries, but I have not been able to find a fix to get the installation to work. I have created two gists; one from my attempt to install from source, and another using pip.

Source install: https://gist.github.com/demitri/4dccf4e151

[2014-11-03 23:01] #208 closed, assigned to nobody

[2014-11-03 23:02] #203 closed, assigned to nobody

[2014-11-03 23:04] #209 closed, assigned to nobody

[2014-11-03 23:07] #210 closed, assigned to nobody

[2014-11-06 06:08] zonca opened #214 "Issue with pykg-config on travis"
@lpsinger some configurations are failing on travis due to a `pykg-config` error:

https://travis-ci.org/healpy/healpy/jobs/40092519#L3410

Do you know what is going on? if not, I can try to trace it myself, thanks!

[2014-12-05 18:45] salomanders opened #215 "Empty cfitsio"
When I clone the repository I get an empty cfitsio directory which I think is the reason this error is being thrown (although possibly something else?):

checking if configure script for library 'cfitsio' exists
running 'autoreconf -i' for library 'cfitsio'
autoreconf: `configure.ac' or `configure.in' is required
Traceback (most recent call last):
  File "setup.py", line 444, in <module>
    licen

[2015-01-10 21:27] taldcroft opened #216 "Build healpy in Anaconda on Mac Mavericks "No script named 'pykg-config.py'""
I'm trying to install healpy to Anaconda on Mac Mavericks and running into a problem that appears related to `pykg-config.py`.  Any help would be appreciated.  Below is the abbreviated version of the [full build log](https://gist.github.com/taldcroft/fad8037be3cd6641e6ec) :
[code]

[2015-01-12 15:53] lpsinger commented on #216
I am unable to reproduce this using Miniconda on Yosemite. I should be able to quickly lay hands on a Mavericks machine to test this.

[2015-01-12 17:44] taldcroft commented on #216
FWIW I am able to reproduce using miniconda on a different Mavericks machine.  Basically:
[code]
This output line strikes me as odd, but maybe it's OK?:
[code]
Then the failure is similar to what I reported earlier but not identical:
[code]

[2015-01-12 18:38] lpsinger commented on #216
Hmmm, still can't reproduce on Mavericks. Exactly what version of Anaconda do you have?

[2015-01-12 18:40] lpsinger commented on #216
Did you create a new environment by calling `conda create`, or were you working in the default conda environment?

[2015-01-12 18:53] taldcroft commented on #216
In the second iteration this was a fresh Anaconda from the latest Miniconda 3.7.0 (as shown in my previous comment):
[code]
Notice that `pyfits` and `six` were installed by healpy prior to the failure.

BTW, I normally have `export CC=clang` in my .bash_profile.  I tried again with the default `gcc` but this didn't change anything.

[2015-01-12 18:55] taldcroft commented on #216
And of course I do not have `pkg-config` installed.

[2015-01-12 19:01] lpsinger commented on #216
Oh, duh. Both of my test systems have `pkg-config`; that's why I couldn't reproduce it. I removed `pkg-config` and now I can reproduce this on Yosemite.

[2015-01-12 19:02] taldcroft commented on #216
Progress!  :smile:

[2015-01-12 19:15] lpsinger commented on #216
I can see that it is obtaining `pykg_config-1.3.0-py2.7.egg`, but it's not finding it when it tries to run it. Probably an issue with canonicalizing the dash to an underscore. Oh, setuptools.

[2015-01-12 22:05] lpsinger commented on #215
@salomanders, did the development instructions work for you? You probably had not run `git submodule init` and `git submodule update`.

[2015-01-12 22:06] lpsinger commented on #216
This is likely a duplicate of #214.

[2015-01-13 00:09] #216 closed

[2015-01-13 00:10] zonca commented on #214
Fixed in #218

[2015-01-13 00:10] #214 closed

[2015-01-13 00:38] lpsinger commented on #216
@taldcroft, does this work for you now?

[2015-01-13 02:13] taldcroft commented on #216
Unfortunately I'm seeing a different problem now building from the latest master.  I cloned the repo, then did `git submodule init` and `git submodule update` per the instructions, but eventually get a failure:
[code]
See https://gist.github.com/taldcroft/fad8037be3cd6641e6ec for the full log.

Slightly OT, but the first time I tried I did not have setuptools installed, so no `pkg_resources`.  Thi

[2015-01-13 02:25] taldcroft commented on #216
BTW, I have the latest versions of `autoconf` and `libtool` installed.

[2015-01-13 14:38] lpsinger commented on #216
Unfortunately I'm seeing a different problem now building from the latest master. I cloned the repo, then did git submodule init and git submodule update per the instructions, but eventually get a failure:

/Users/aldcroft/git/healpy/healpixsubmodule/src/cxx/autotools/configure: line 16465: syntax error near unexpected token `CFITSIO,'
/Users/aldcroft/git/healpy/healpixsubmodule/src/cxx/autotools/

[2015-01-13 18:18] zonca commented on #216
ok @lpsinger I released 1.8.2

[2015-01-13 18:23] zonca opened #219 "Readthedocs build failing"
I tried locally and the build works.
It has been a while that the documentation fails to build on readthedocs,

see the build log:

https://readthedocs.org/builds/healpy/2102053/

Maybe related to a too old `setuptools`? See https://github.com/rtfd/readthedocs.org/issues/1029

[2015-01-13 18:28] lpsinger commented on #219
That's a good guess. I'm not familiar with the readthedocs environment. Are you able to update the version of setuptools with `pip` or `easy_install`?

[2015-01-13 18:29] taldcroft commented on #216
@lpsinger or @zonca - are you able to pip install the new 1.8.2 release on a Mac that has no `pkg-config` available?  I just tried and it seems to be failing in the same way.
[code]

[2015-01-13 18:38] lpsinger commented on #216
It worked for me. Would you show us your full build output?

[2015-01-13 18:49] taldcroft commented on #216
SUCCESS!  :clap:

I made a clean new Anaconda and it installed just fine.  I'll have to figure why it didn't work in my original  environment, maybe an old setuptools or something, but that's not your problem.  Thanks for the help.

[2015-01-16 12:01] cdeil opened #220 "Allow read for all in egg-info file permissions"
I have `healpy` installed via Macports and am getting this error when I try to build the docs for `photutils` (cc @astrofrog, @larrybradley):
[code]
I'm not sure if this is an issue in the `python setup.py build_sphinx` implementation in `photutils`, but in any case `healpy` should allow read for all when installing it's `egg-info`, no?
[code]

[2015-01-16 13:18] lpsinger commented on #220
The problem is the permissions in the source tarball:

    $ tar -xzf healpy-1.8.2.tar.gz && ls -l healpy-1.8.2
    total 184
    -rw-r-----    1 lady3jane  wheel   2682 Jan 13 13:06 CHANGELOG.rst
    -rw-r-----    1 lady3jane  wheel   1171 Jan 13 13:00 CITATION
    -rw-r-----    1 lady3jane  wheel  18011 Jan 13 13:00 COPYING
    -rw-r-----    1 lady3jane  wheel   4521 Jan 13 13:00 INSTALL.rst

[2015-01-16 20:59] #220 closed

[2015-01-16 21:01] zonca commented on #220
ok, try with `1.8.3`:

[code]

[2015-01-16 21:07] lpsinger commented on #220
Permissions look fine now:

    $ wget https://pypi.python.org/packages/source/h/healpy/healpy-1.8.3.tar.gz && tar -xzf healpy-1.8.3.tar.gz && ls -l healpy-1.8.3
    ...
    -rw-r--r--    1 lpsinger  wheel   2803 Jan 16 15:58 CHANGELOG.rst
    -rw-r--r--    1 lpsinger  wheel   1171 Jan 13 13:00 CITATION
    -rw-r--r--    1 lpsinger  wheel  18011 Jan 13 13:00 COPYING
    -rw-r--r--    1 lpsinger  w

[2015-01-16 21:10] cdeil commented on #220
I don't have time to fiddle with my Macports installation now ... it's just a warning and it should go away when `healpy` gets updated in Macports.

Thanks for the super-quick fix and new release!

[2015-01-16 21:14] lpsinger commented on #220
I should be able to update the MacPorts package by Sunday.

[2015-01-16 21:32] beckermr opened #221 "permissions on install-sh not correct"
I have had build issues. Doing this fixed it
[code]

[2015-01-16 21:38] lpsinger commented on #221
This may be a duplicate of #154. Old versions of `pip` had bugs in which they corrupted permissions (see https://github.com/pypa/pip/issues/1133) which are now fixed. Are you sure that you have a recent version of `pip`?

[2015-01-16 21:58] cdeil commented on #220
Actually this issue prevents me from installing `astropy` master ... I'll simply uninstall `py27-healpy` for now, but @lpsinger thanks for putting in a fix quickly!
[code]

[2015-01-16 22:21] beckermr commented on #221
pip 6.0.6 from /usr/local/lib/python2.7/site-packages (python 2.7)

[2015-01-17 01:12] defjaf commented on #154
I am seeing this problem again trying to install 1.8.3 via `pip install -U healpy`.

1.8.2. worked fine, but note that I also just installed a new setuptools (12.0.1).

Andrew

[2015-01-17 01:16] defjaf commented on #221
I am seeing this problem too, trying to install 1.8.3 via `pip install -U healpy`:

        make: /private/var/folders/bk/zdhpxqj14y5fzcvlpybb4b640000gn/T/pip-build-GUM9Y0/healpy/healpixsubmodule/src/cxx/autotools/install-sh: Permission denied

1.8.2. worked fine, but note that I also just installed a new `setuptools (12.0.1)`. Using the very latest `pip`:

    pip 6.0.6 from /Library/Frameworks/P

[2015-01-17 03:17] zonca commented on #154
ok, try with .18.4

[2015-01-17 03:18] zonca commented on #221
Try with 1.8.4 and please reopen the issue if this is not fixed.

[2015-01-17 05:00] lpsinger commented on #221
The permissions on `install-sh` are actually incorrect in the PyPI tarball:

   $ wget https://pypi.python.org/packages/source/h/healpy/healpy-1.8.4.tar.gz && tar -xzf healpy-1.8.4.tar.gz && ls -l healpy-1.8.4/healpixsubmodule/src/cxx/autotools/install-sh
    -rw-r--r--  1 ...  wheel  13663 Jan 13 13:11 healpy-1.8.4/healpixsubmodule/src/cxx/autotools/install-sh

But if I build my own source tarbal

[2015-01-17 05:22] zonca commented on #221
my bad I needed to run a `git clean`, try again with 1.8.4

[2015-01-17 05:22] #221 closed

[2015-01-20 21:25] lpsinger commented on #220
Updated in MacPorts now.

[2015-01-21 09:07] cdeil commented on #220
@lpsinger - Just to confirm ... the issue is resolved after I updated to healpy `1.8.4` in Macports. Thanks!

[2015-01-21 18:15] #215 closed

[2015-02-19 15:44] eirikgje opened #222 "wrapper in pixelfunc.py raises IndexError when passing only keyword arguments"
The wrapper inside accept_ma assumes there are always some *args, so that when calling, e.g.

ud_grade(map_in=inmap, nside_out=1024),

it raises an index error, since it doesn't check for empy *args:

    207     @wraps(f)
    208     def wrapper(*args, **kwds):
--> 209         return_ma = is_ma(args[0])
    210         m = ma_to_array(args[0])
    211         out = f(m, *args[1:], **kwds)

IndexE

[2015-02-20 17:29] zonca commented on #222
Thanks for reporting this.
I cannot think about any simple way to solve this issue in a general way that would work for any wrapped function.
So I recommend that in this case we just raise an exception and explain to the user that we need the map to be a positional argument.
@eirikgje do you have any suggestion?
could you implement this and create a pull request? (with a unit test would be great!)

[2015-02-20 21:05] lpsinger commented on #222
How about declare it as `def wrapper(map_in, *args, **kwds):`?

[2015-02-23 13:56] eirikgje commented on #222
@lpsinger : Is this wrapper always applied to functions that must take a map as the first argument? In that case, it seems reasonable to do what you suggest. Otherwise, we could try to figure out what the user did:
    if 'map_in' in kwargs:
        arg = kwargs['map_in']
    else:
        arg = args[0]

or something like that?

[2015-02-23 14:04] lpsinger commented on #222
As far as I can tell, yes.

[2015-02-23 14:09] eirikgje commented on #222
Ok, I will make a test and pull request, then!

[2015-02-23 20:51] sabrinacales opened #224 "Install healpy failing"
Hello,

I tried using 'pip install --user healpy' to install healpy and get the error:

'''
Command /Users/bri/anaconda/bin/python -c "import setuptools, tokenize;__file__='/private/var/folders/g7/qgrhr58s6lb9b3tw7qt26_9c0000gn/T/pip_build_bri/healpy/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /var/folders/g7/q

[2015-02-24 01:54] lpsinger commented on #224
Would you please post the full output of the command, in a [gist](https://gist.github.com) if it is very long?

Since you are evidently a Mac user who already has MacPorts, this is certainly the fastest and simplest way to get Healpy. My guess is that you may have accidentally started Anaconda instead of the MacPorts python or ipython notebook. The Anaconda python cannot implement Python packages

[2015-02-26 22:28] lpsinger commented on #224
@sabrinacales, did this work for you? If so, we can close this ticket as this seems more like a how-to question than a bug report.

[2015-02-26 22:47] sabrinacales commented on #224
Hi Leo,

Thanks for the quick response. I haven’t been gotten to check yet. Hopefully soon.

Sabrina

On Feb 26, 2015, at 5:28 PM, Leo Singer <notifications@github.com> wrote:

[2015-03-02 05:35] mayurisrao opened #225 "Installation errors with Canopy 1.5.2 on Mac OSX 10.8.5"
I'm beginning with github, so not sure how to link the file. Hope it works..

I'm trying to install HEALPy in Canopy. I tried installing both with pip and from the source. Note that Canopy is my default Python.
The errors I see in both cases are here : https://gist.github.com/2520e4d51a4f185c3cb5.git

It looks like in the case of installation from source, HEALPy seems to look in the wrong director

[2015-03-02 14:46] lpsinger commented on #225
https://gist.github.com/mayurisrao/2520e4d51a4f185c3cb5

[2015-03-02 14:55] #211 closed

[2015-03-02 15:14] lpsinger commented on #225
I was able to build and install the latest stable source under Canopy 1.5.2 on Mac OS X 10.10.2:

    $ wget https://pypi.python.org/packages/source/h/healpy/healpy-1.8.4.tar.gz
    $ tar -xzf healpy-1.8.4.tar.gz
    $ cd healpy-1.8.4/
    $ ~/Library/Enthought/Canopy_64bit/User/bin/python setup.py install

On the last step, are you sure that Canopy's python interpreter is on your `PATH`? What doe

[2015-03-02 15:15] lpsinger commented on #224
Please reopen this ticket if you are still having issues.

[2015-03-02 15:15] #224 closed

[2015-03-02 15:16] lpsinger commented on #222
@eirikgje's pull request is #223.

[2015-03-03 03:48] mayurisrao commented on #225
`which python` returns the Canopy path, so that seems okay.
Both the pip method and source installation still fail. Could this be a C compiling issue? Is there anyway to build all the C libraries first and then install the python package on top?
The errors I see with source installation are in the gist here
https://gist.github.com/3f3f302920bbfc18b438.git

I am not sure what the main error is whic

[2015-03-03 04:22] lpsinger commented on #225
That is probably the git clone URL. The URL for viewing this git in a web browser is:
https://gist.github.com/mayurisrao/3f3f302920bbfc18b438

[2015-03-03 04:29] lpsinger commented on #225
The issue that you reported with the source build (`You are attempting to install a package to a directory that is not on PYTHONPATH`...) definitely does not have anything to do with the C compiler; it looks like something with your Python path is misconfigured.

The issue that you reported with the `pip` build may be related to the C compiler, but I do not know why it is failing. The immediate ca

[2015-03-06 05:17] mayurisrao commented on #225
Thanks for your help! I did get Healpy installed and working but here's what I did. I'm not sure what exactly got it working and installed while I had done the exact same things before!!!
First I tried installing HEALPy with macports.. This didn't work as macports complained about deactivated setuptools.. I had to run
```  $ sudo port -f activate py27-setuptools ```
Once this was done I once again

[2015-03-06 15:45] lpsinger commented on #225
@mayurisrao, I'm glad that your installation works now. I'm closing this issue.

For your information, I want to point out a few possible issues with your Python setup:

As far as I can tell, Canopy's Python environment is completely isolated and should not be picking up any Python packages from MacPorts. Since evidently installing a new MacPorts version of setuptools had something to do with your

[2015-03-06 15:45] #225 closed

[2015-03-11 05:06] ajhorton opened #226 "Python 3 incompatibility in projaxes._make_segment() - xrange undefined"
heapy 1.8.4 as installed with pip has a Python 3 incompatibility in projaxes._make_segment().  Line 397 of projaxes.py calls the Python 2 xrange() builtin function but this function is not present in Python 3.  In Python 3 the Python 2 xrange() have been renamed range() and the Python 2 range() has been removed.

An ugly but easy fix would be to add
[code]
in the module preamble.

[2015-03-11 06:18] ajhorton opened #227 "Python 3 incompatibilities in visufunc - sub relies on implicit integer division"
The subplot functionality of the visualisation functions in visifunc (mollview(), gnomview(), cartview(), orthview()) does not work correctly with Python 3 because it relies on implicit integer division.  The problematic lines are `c,r = (idx-1)%ncols,(idx-1)/ncols` which calculate the column and row number for the plot.  Under Python 3 `(idx-1)/ncols` will do 'true' division and return fractional

[2015-03-11 12:12] lpsinger commented on #227
Yes, we have replaced `/` with `//` in several other places. Would you care to submit a patch?

[2015-03-11 12:16] lpsinger commented on #226
We're already using `six.moves.xrange` in a few places. Uh-oh, `six` is not listed in the dependencies, though.

[2015-03-12 05:19] #226 closed

[2015-03-12 05:21] zonca commented on #222
Thanks!

[2015-03-12 05:21] #222 closed

[2015-03-13 06:11] ajhorton commented on #227
I'm happy to submit a patch but I won't be able to get around to it for a while, it's research grant application season.

[2015-03-16 08:48] bwinkel opened #229 "query_disc bug"
Under rare circumstances query_disc produces wrong results. This seems to happen, when the
sphere edge "touches" the equator (but not always).

[code]

![healpy_querydisc_bug](https://cloud.githubusercontent.com/assets/6582333/6662940/80586b7a-cbc1-11e4-982b-08a3c7d2d3e1.png)

[2015-03-16 10:43] mreineck commented on #229
This is most likely a bug in the C++ library. I'll try to come up with a fix soon!

[2015-03-16 17:23] #227 closed

[2015-03-17 13:40] mreineck commented on #229
I think I have a fix. Is it sufficient if I commit this to the Healpix SVN trunk, or do you need it on a specific branch as well, Andrea?

[2015-03-17 14:02] zonca commented on #229
Trunk is fine
On Mar 17, 2015 6:40 AM, "mreineck" <notifications@github.com> wrote:

[2015-03-17 14:12] mreineck commented on #229
Ok, it's there already.

[2015-03-17 16:43] lpsinger commented on #229
@mreineck, would you please explain what you changed in [r683](http://sourceforge.net/p/healpix/code/683/)?

[2015-03-19 09:28] mreineck commented on #229
Very hard to describe ... the original code always assumed that the whole ring that's currently being processed would lie inside the queried disk if no intersection points could be determined between ring and disk. In the case of a non-inclusive query this could be incorrect, and "no intersection" could in fact mean "ring lies completely outside the disk". I tried to address that problem.

[2015-03-19 16:08] lpsinger commented on #229
Interesting. Are you going to add a test case to healpix-cxx?

[2015-03-19 16:19] mreineck commented on #229
I'm thinking about adding the test case above to hpxtest; but a positive result will not necessarily indicate that the algorithm works as expected - it could also just happen to work correctly because of numerical noise. If I can think of a more stringent test, I'll use that!

[2015-03-19 16:29] lpsinger commented on #229
I don't think it worked... I checked out the latest code from trunk, rebuilt, and ran @bwinkel's test script. The result is attached below. What am I even looking at here?

![example](https://cloud.githubusercontent.com/assets/728407/6735273/761110d0-ce1a-11e4-9ad8-87ea1e4f58b2.png)

[2015-03-19 16:31] bwinkel commented on #229
Looks fine to me. It's the result of the query_disc plotted in lon/lat coordinates (radians).

[2015-03-19 16:38] lpsinger commented on #229
Oh! I just realized that those are crosses marking points in a scatter plot; I had thought that they were thin stripes across a HEALPix image.

@mreineck, when is your next opportunity for a healpix-cxx release? It would be great to get this bug fix into both the standalone packages and the source that we are bundling with healpy.

[2015-03-23 10:56] mreineck commented on #229
Sorry, that took some time ...
I can prepare a new autotools-generated tarball, and upload it to SourceForge. The small problem with this release is that it breaks backwards compatibility not with respect to the library, but with respect to the delivered binaries: the original "alice" code is gone and will be replaced by "alice3". Should this be reflected somehow in the version number? If yes, thi

[2015-03-23 16:19] zonca commented on #229
ok, I updated the healpix git mirror:

https://github.com/healpy/healpixmirror/commit/0422b3a21871cb4d9193e87cdacc6110ab9dcd17

should I update the healpy git submodule or should we wait for a new
healpix release?

On Mon, Mar 23, 2015 at 3:56 AM, mreineck <notifications@github.com> wrote:

[2015-03-24 16:06] lpsinger commented on #229
The Makefile.am file will have to be updated to create the new executable.

The new release should have a new version number, but it's up to you which part of the version number should be incremented.

[2015-03-24 16:09] lpsinger commented on #229
Might as well coordinate the changes and simultaneously release new versions of healpix-cxx and healpy.

[2015-03-24 16:47] zonca commented on #195
No activity on this issue for some time, please reopen if needed.

[2015-03-24 16:47] #195 closed

[2015-03-30 14:30] lpsinger commented on #229
@mreineck, the last few lines of output from `hpxtest` are:

[code]

Is this related, and what does it mean? Does this constitute a unit test failure? If so, why doesn't `hpxtest` return a nonzero exit status?

[2015-03-30 14:36] mreineck commented on #229
It's not (really) a bug and unrelated. Hpxtest isn't really a set of unit tests either ... it reports problems and errors on stdout and probably shouldn't run as part of "make distcheck" before it has been properly adjusted. Unfortunately I haven't found time for this so far.

[2015-03-30 14:57] lpsinger commented on #229
Great!

Just testing that it runs without crashing is helpful; we found some issues with OpenMP on extremely esoteric microcontrollers this way. I think we should leave it in the `make check` target for now.

[2015-03-30 15:00] lpsinger opened #236 "TestSphtFunc.test_rotate_alm fails under Python 3.4 on Debian"
It works under Python 2.7, though. See build log:
https://gist.github.com/lpsinger/13725bcdb5e3b11ec982

[2015-03-30 18:52] #236 closed

[2015-03-30 19:10] zonca commented on #219
it is failing again: https://readthedocs.org/builds/healpy/2509652/

it is possible that I checked the wrong travis run when I updated ez_setup in #233 . Need to investigate this again.

[2015-03-30 19:38] lpsinger commented on #219
OK. Otherwise I think we're ready for healpix-cxx and healpy releases.

[2015-03-31 06:10] lpsinger commented on #219
@zonca, I think that you were looking at the correct build. This is very odd; the last successful build was at commit a3e8e928fd016efcd042d0399ae656ca83f6933e. Very little has changed since then on master; see the diff.

[2015-03-31 06:18] lpsinger commented on #219
Very odd. The testreadthedocs branch always passes, but master does not. Is there some configuration inside the readthedocs interface that is different for these two branches?

[2015-03-31 13:40] mreineck commented on #229
I just made the necessary change ... future releases of hpxtest will return an error status if a regression is detected.

[2015-03-31 14:26] lpsinger commented on #229
Thank you, @mreineck! Can we add a C++ implementation of @bwinkel's test case too? Here is a quick translation (sorry for my rusty C++):

[code]

One question:

[code]

Does this mean that the tests fail only if there are 100 or more failures?

[2015-03-31 14:34] mreineck commented on #229
The tst case is already in: see check_issue_229()

Concerning the FAIL: if more than 100 errors have accumulated, the code stops immediately. Otherwise the tests will run to the end, but then an error will be returned if (errcount>0). This is mostly for the benefit of people who run hpxtest interactively.

[2015-03-31 14:36] lpsinger commented on #229
Awesome! This bug is most certainly dead now. @zonca, can we close this?

[2015-03-31 15:09] zonca commented on #219
hmm, interesting...

tried with a wipe:
https://readthedocs.org/wipe/healpy/latest/

and triggered rebuild manually, let's see what happens

[2015-03-31 15:29] zonca commented on #229
sure, but are we going to have an Healpix release?

[2015-03-31 15:29] #229 closed

[2015-03-31 15:31] lpsinger commented on #229
Yes please!

[2015-03-31 15:31] lpsinger commented on #219
Yay, it worked!

[2015-03-31 15:32] zonca commented on #219
great!

[2015-03-31 15:32] #219 closed

[2015-04-07 05:59] sbenton opened #239 "Problem with get_interp_val and get_neighbours"
I'm having a problem with `get_interp_val` producing horizontally extended structures. This appears to be due to the underlying `Healpix_Base::get_interpol` function also used in `get_neighbours`. For example:

[code]
Which produces:
[code]

I compare the pixel numbers to those in Figure 3 of: http://healpix.sourceforge.net/html/intronode4.htm in the top panel. With the test point at the intersect

[2015-04-07 08:32] mreineck commented on #239
The problem here is the misleading name of the healpy function get_neighbours(),because it does not actually compute any neighbours ...
The underlying C++ function get_interpol does the following:
- first, it determines the ring of pixels above and below the theta of the provided location ... this already is ambiguous, since you are specifying a theta which lies exactly on a ring. But for the purp

[2015-04-08 12:53] sbenton commented on #239
Thanks, mreineck, for your explanation.

I think the problem is that `get_interpol` selects pixels along two rings in cases where the nearest pixels lie along three rings. This favours ring-aligned structures and results in subtle stripes in my map, interpolated with `get_interp_val`.

[2015-04-08 13:05] mreineck commented on #239
The choice of using bilinear interpolation along longitude and latitude was made after quite some discussion, when it was introduced. At the time it was agreed that this approach made more physical sense that one based on the nearest pixel centers.
It is true that this approach will produce stripes, but at the same time, using the four nearest pixels will produce diamond-shaped artifacts; this is

[2015-04-08 13:12] sbenton commented on #239
That makes sense.

I agree that updating documentation will at least help prevent people like me from getting confused in the future.

Thanks again.

[2015-04-08 13:12] #239 closed

[2015-04-08 13:30] mreineck opened #240 "rename "get_neighbours" and adjust documentation"
The function "get_neighbours" in pixelfunc.py should be renamed to something like "get_interpol" (which is the name of the corresponding function in the C++ library.
The documentation should be changed from
    """Return the 4 nearest pixels and corresponding weights.
to something like
  """Return the 4 closest pixels on the two rings above and below the location and corresponding weights. Biinear

[2015-04-08 13:35] lpsinger commented on #240
I'm not sure about the docstring change. This function does not do bilinear interpolation; the existing [`get_interp_val`](http://healpy.readthedocs.org/en/latest/generated/healpy.pixelfunc.get_interp_val.html#healpy.pixelfunc.get_interp_val) function does that.

[2015-04-08 13:53] mreineck commented on #240
Ah, OK. Maybe "Weights are provided for bilinear interpolation along latitude and longitude"?

[2015-04-08 13:57] lpsinger commented on #240
I like that. Should provide a "see also" link to point to `get_inter_val`.

Should also try to match spelling: no sense abbreviating 'interpolation' with 'interpol' in one place and 'interp' in another place.

[2015-04-21 20:38] zonca commented on #240
I'm ok with the docstring change, however not sure about the naming. I would prefer to keep `get_neighbours`, `get_interpol` or `get_interp` look confusing.
If we come up with a better name I'm ok to change it.

[2015-04-21 21:30] mreineck commented on #240
I don't have a strong opinion on the new name - it just should not have the name "neighbours" in it, because it does not compute what users typically consider to be neighbours, and because it is very different from the "real" neighbours routine of Healpix C++. And having something like "interpolation" in the name might be useful, since this is about the only purpose for this function I can imagine

[2015-04-21 21:32] zonca commented on #240
ok, so similar to `get_interp_val`, I would call it `get_interp_weights`

[2015-04-21 21:47] zonca opened #241 "Ready for release healpy 1.8.5"
https://pypi.python.org/pypi/healpy/1.8.5

@lpsinger can you please test?

[2015-04-21 21:52] lpsinger commented on #241
Builds fine for MacPorts. I'll wait for the healpix-cxx release to submit the updated port.

[2015-04-21 22:06] zonca commented on #241
ok, I'll tag the release on github as well, thanks

[2015-04-21 22:06] #241 closed

[2015-04-21 22:23] lpsinger commented on #240
Could we have `get_neighbors` point to `get_interp_weights` with a deprecation warning so that we don't break the API on this release?

[2015-04-21 22:37] zonca commented on #240
I think an exception is better. People can quickly fix the problem renaming the function call.

[2015-04-22 20:50] ARepp opened #242 "Install Issue, Anaconda, Windows 8.1"
I'm trying to install healpy on my computer; I'm running Windows 8.1, using the Anaconda python distribution, Python 2.7.8 64bits. It's not installing, typically terminating with "WindowsError: [Error 2] The system cannot find the file specified"

First I tried "pip install --user healpy"; here's the output I receive:

[code]

Then I tried "python setup.py install --user"; here's the output I rece

[2015-04-22 21:07] lpsinger commented on #242
The healpy build is pretty POSIX-centric; it currently needs a Linux- or UNIX-like shell environment and `make` to build the HEALPix library itself. It may build with Anaconda on Windows within a POSIX support environment like [Cygwin](https://www.cygwin.com) or [MSYS](http://www.mingw.org/wiki/msys). Do you have access to either of those?

@zonca, I do not have a Windows test machine, although I

[2015-04-22 21:12] ARepp commented on #242
I have cygwin; I tried both pip and setup on cygwin and received the same error.

[2015-04-22 21:25] lpsinger commented on #242
Interesting. Would you please try building it with `python setup.py -v build`, and post the output? The `-v` will cause it to print the command that is failing and generating the error message (`WindowsError: [Error 2] The system cannot find the file specified`).

[2015-04-22 21:27] ARepp commented on #242
Here you go:

<begin output>
Andrew@Main /cygdrive/c/Users/Andrew/Downloads/dist/healpy-1.8.4
$ python setup.py -v build
pkg-config is not installed, falling back to pykg-config
running build
running build_py
creating build
creating build\lib.win-amd64-2.7
creating build\lib.win-amd64-2.7\healpy
copying healpy\__init__.py -> build\lib.win-amd64-2.7\healpy
copying healpy\pixelfunc.py -> build\lib.w

[2015-04-22 21:31] lpsinger commented on #242
Thanks. FYI, in the future, instead of beginning the pasted text with `<begin output>`, you can use [Markdown](https://guides.github.com/features/mastering-markdown/) triple quotes to have the text rendered in a monospaced font. Here's an example:

[code]

[2015-04-22 21:32] lpsinger commented on #242
Well, here's the problem. This was the generated command that it ran:

    C:UsersAndrewAnacondapython.exe C:UsersAndrewDownloadsdisthealpy-1.8.4run_pykg_config.py --cflags-only-I cfitsio

No backslashes!

[2015-04-22 21:33] ARepp commented on #242
Hmmm . . . so is there a quick edit I can make to one of the files that will cause it to insert the backslashes?

[2015-04-22 21:35] lpsinger commented on #242
I'm thinking that we may just be able to squash this bug very quickly. Unfortunately, as I said, I don't have access to a Windows machine at the moment. Are you game to throw in some print statements and figure out where the path separators are getting lost? That command line is getting printed in [setup.py line 166](https://github.com/healpy/healpy/blob/9ca46ebb90168fbd497200eaf51003eba650beb6/se

[2015-04-22 21:40] lpsinger commented on #242
Ah, here it is: the call to [`shlex.split`](https://docs.python.org/2/library/shlex.html#shlex.split). It's tokenizing the `PKG_CONFIG` variable as if it is a command in a POSIX shell, in which the backslash is an escape character. Need to do this differently on Windows.

[2015-04-22 21:42] ARepp commented on #242
I'll have to leave for classes/meetings in about half an hour, but until then I can try whatever you need

[2015-04-22 21:42] lpsinger commented on #242
What happens if you change

        PKG_CONFIG = tuple(shlex.split(os.environ.get('PKG_CONFIG', 'pkg-config')))

to

        PKG_CONFIG = tuple(shlex.split(os.environ.get('PKG_CONFIG', 'pkg-config'), posix=False))

?

[2015-04-22 21:45] ARepp commented on #242
Traceback (most recent call last):
  File "setup.py", line 445, in <module>
    license='GPLv2'
  File "C:\Users\Andrew\Anaconda\lib\distutils\core.py", line 169, in setup
    dist.run_commands()
  File "C:\Users\Andrew\Anaconda\lib\distutils\dist.py", line 953, in run_commands
    self.run_command(cmd)
  File "C:\Users\Andrew\Anaconda\lib\distutils\dist.py", line 972, in run_command
    cmd_obj.r

[2015-04-22 21:49] lpsinger commented on #242
Hmm. Which environment variable is not a string? Can you add this just before the call to `check_call` on line 237?

    print(repr(dict(self._environ, CC=cc, CXX=cxx, CFLAGS=cflags, CXXFLAGS=cxxflags)))

[2015-04-22 21:51] ARepp commented on #242
building library 'cfitsio' from source
/bin/sh C:\Users\Andrew\Downloads\dist\healpy-1.8.4\cfitsio\configure --prefix=C:\Users\Andrew\Downloads\dist\healpy-1.8.4\build\temp.win-amd64-2.7 --disable-shared --with-pic --disable-maintainer-mode
{'TMP': 'C:\\cygwin64\\tmp', 'COMPUTERNAME': 'MAIN', 'USERDOMAIN': 'Main', 'CXXFLAGS': None, 'PSMODULEPATH': 'C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\M

[2015-04-22 21:52] ARepp commented on #242
Is it CXXFLAGS?

[2015-04-22 21:53] lpsinger commented on #242
It's `CXXFLAGS`, `CC`, `CXX`, *and* `CFLAGS`; they are all `None`.

[2015-04-22 21:55] lpsinger commented on #242
Can you check if the values returned by the call to `get_config_vars` a few lines above are `None`?

[2015-04-22 21:58] ARepp commented on #242
All four of them are None (cc, cxx, opt, cflags)

[2015-04-22 22:00] lpsinger commented on #242
That's pretty weird. Can you paste the output of this command?

    python -c "import sysconfig; import pprint; pprint.pprint(sysconfig.get_config_vars())"

[2015-04-22 22:01] ARepp commented on #242
Andrew@Main /cygdrive/c/Users/Andrew/Downloads/dist/healpy-1.8.4
$ python -c "import sysconfig; import pprint; pprint.pprint(sysconfig.get_config_vars())"
{'BINDIR': 'C:\\Users\\Andrew\\Anaconda',
 'BINLIBDEST': 'C:\\Users\\Andrew\\Anaconda\\Lib',
 'EXE': '.exe',
 'INCLUDEPY': 'C:\\Users\\Andrew\\Anaconda\\Include',
 'LIBDEST': 'C:\\Users\\Andrew\\Anaconda\\Lib',
 'SO': '.pyd',
 'VERSION': '27',

[2015-04-22 22:03] lpsinger commented on #242
That's it? Wow. On my system (Mac OS), that command prints 537 lines, among them, `CC` and `CXX`, the C and C++ compiler used when building Python C extensions.

Have you ever tried building a Python package with C/C++ modules on Windows using Anaconda before? Maybe this is a much more general problem with Python or Anaconda on Windows.

[2015-04-22 22:06] lpsinger commented on #242
What compilers do you have on your system? Evidently you have cygwin. Do you have a cygwin gcc compiler toolchain? Do you have Visual Studio? What do you get from the following command?

    python setup.py build --help-compiler

[2015-04-22 22:07] ARepp commented on #242
I don't think I ever have. When I installed CygWin I included the GCC compiler, but I don't think I've ever needed to use it . . . and I certainly haven't tried to integrate it with Anaconda in any way.

So what it looks like right now is that I probably need to find a Mac/Unix machine in order to run HealPy?

[2015-04-22 22:08] ARepp commented on #242
Andrew@Main /cygdrive/c/Users/Andrew/Downloads/dist/healpy-1.8.4
$ python setup.py build --help-compiler
pkg-config is not installed, falling back to pykg-config
List of available compilers:
  --compiler=bcpp     Borland C++ Compiler
  --compiler=cygwin   Cygwin port of GNU C Compiler for Win32
  --compiler=emx      EMX port of GNU C Compiler for OS/2
  --compiler=mingw32  Mingw32 port of GNU C Co

[2015-04-22 22:08] lpsinger commented on #242
Well, that's one possibility, but there is another thing we might try. What do you get from this?

    python setup.py build -v --compiler=cygwin

[2015-04-22 22:09] ARepp commented on #242
Andrew@Main /cygdrive/c/Users/Andrew/Downloads/dist/healpy-1.8.4
$ python setup.py build -v --compiler=cygwin
pkg-config is not installed, falling back to pykg-config
running build
running build_py
running build_clib
checking if configure script for library 'cfitsio' exists
checking if configure script for library 'healpix_cxx' exists
checking if library 'cfitsio' is installed
Package cfitsio was

[2015-04-22 22:12] lpsinger commented on #242
Were all four of the values returned by `get_config_vars` still `None`?

[2015-04-22 22:13] ARepp commented on #242
Yes, they were

[2015-04-22 22:17] lpsinger commented on #242
Was that all under Cygwin, or from the Windows command prompt?

One other thing: we can test if you are able to build any C/C++ extension modules at all. Here's a really tiny Python package with a C/C++ extension module: [acor](https://pypi.python.org/pypi/acor). If that doesn't build, then we should just give up. Try both of these inside Cygwin:

    pip install --user acor

or download it and ru

[2015-04-22 22:18] ARepp commented on #242
That was all under Cygwin; let me try acor . . .

[2015-04-22 22:20] ARepp commented on #242
Well, acor gave me an extremely long error, including multiple instances of pathnames like the following:
C:\Users\Andrew\Anaconda\include/pyconfig.h

[2015-04-22 22:20] lpsinger commented on #242
Could you show me the error message?

[2015-04-22 22:21] ARepp commented on #242
Here it is:

$ pip install --user acor
Downloading/unpacking acor
  Downloading acor-1.1.1.tar.gz
  Running setup.py (path:c:\cygwin64\tmp\pip_build_Andrew\acor\setup.py) egg_info for package acor

Requirement already satisfied (use --upgrade to upgrade): numpy in c:\users\andrew\anaconda\lib\site-packages (from acor)
Installing collected packages: acor
  Running setup.py install for acor
    buil

[2015-04-22 22:22] ARepp commented on #242
I've got to run--but I'll check back later. Maybe I'll have to use a different machine. But either way, thank you so much for your help and the time you've spent trying to get to the bottom of this!

[2015-04-22 22:27] lpsinger commented on #242
No problem! Thanks for helping to debug it.

The build with `acor` actually looked fine. It failed to compile, but at least it located and ran the compiler:

    C:\cygwin64\bin\gcc.exe -DMS_WIN64 -mdll -O -Wall -Iacor -IC:\Users\Andrew\Anaconda\lib\site-packages\numpy\core\include -IC:\Users\Andrew\Anaconda\include -IC:\Users\Andrew\Anaconda\PC -c acor/_acor.c -o build\temp.win-amd64-2.7\Release\

[2015-04-23 03:46] lpsinger commented on #240
Common practice would usually be to print a deprecation warning and then remove the function in a future release. That's OK, though.

However, the [Travis build is failing](https://travis-ci.org/healpy/healpy/builds/59632607) because the renamed function was not add to `healpy/__init__.py`.

[2015-04-23 03:52] #240 closed

[2015-04-27 15:50] lpsinger commented on #242
@ARepp, I'm closing this as a duplicate of #25. Discussion will continue over there.

[2015-04-27 15:50] #242 closed

[2015-04-27 15:57] lpsinger commented on #25
I have temporary access to a Windows box at work now. I got as far as @ARepp. However, I think that it is going to be very hard to build the bundled healpix-cxx and cfitsio sources because [there is no easy way to use Anaconda with Cygwin or MSYS](http://stackoverflow.com/questions/24921682/how-to-use-conda-within-cygwin).

I think that if we want to support Windows, then we must go back to using

[2015-04-27 15:58] lpsinger commented on #25
Oh---another question. Does healpy really have to link against cfitsio, or can we get all of the FITS functionality we need through pyfits/astropy at the Python level?

[2015-04-27 19:49] crosset commented on #25
Hi,

Only healpix_cxx needs to link against cfitsio.

Healpy uses healpix_data_io.h for read_pixwin() and read_weight_ring()  functions (which read the window and weights data files), so if healpix_cxx is linked against cfitsio, it should be enough. The include file healpix_data_io.h also doesn’t includes fitsio.h itself.

read_map() and family are only using pyfits/astropy.

Cyrille.

[2015-04-29 19:07] gregreen opened #247 "Coordinate Transformation Precision"
The healpy.rotator.Rotator coordinate transformations between Equatorial (J2000) and Galactic are precise only to ~40 mas. I get this figure by comparing `healpy.rotator.Rotator` (with `coord=['G','C']`, and the reverse) with healpy.rotator.euler. I think healpy.rotator.euler, which is translated directly from the IDL function, is a correct implementation of the coordinate transformations.

I thin

[2015-04-29 19:23] lpsinger commented on #247
Not to mention that `get_coordconv_matrix` recomputes *all* of the matrices every time, and then decides which one to return using a long string of `if`...`elif` statements... instead of a function, this should be a precomputed dictionary at module scope.

[2015-04-29 19:24] lpsinger commented on #18
I think that changing the default pixel ordering could be very confusing. Can we close this?

[2015-04-29 19:32] zonca commented on #18
ok, let's close it

[2015-04-29 19:32] #18 closed

[2015-04-30 09:08] astrofrog opened #248 "Document nuances of OpenMP build"
I cloned the repo then did:

[code]

and got the following failure:

[code]

[2015-04-30 12:36] lpsinger commented on #248
Do you have the latest version of Xcode and the developer command line tools for your OS installed? See, for example, http://stackoverflow.com/questions/11748504/trying-to-build-muparser-error-explicit-instantiation-of-stdbasic-ostream-b.

[2015-04-30 12:42] lpsinger commented on #248
What compiler are you using? I see that `configure` picked up `/Users/tom/usr/bin/clang`.

[2015-04-30 13:52] astrofrog commented on #248
@lpsinger - /Users/tom/usr/bin/clang is just a ccache alias to the system clang. Here's the version I'm using:

[code]

I have XCode 4.6.2 on MacOS X. Not the most recent, but still pretty recent.

[2015-04-30 13:58] astrofrog commented on #248
I'm running again without ccache and seeing a different error:

[code]

Now I recognize this... Back in a tick...

[2015-04-30 14:01] astrofrog commented on #248
Ok so ``clang`` doesn't support ``-lgomp``. I set ``export CC=gcc-mp-4.9`` and then it builds fine. Might be worth adding a FAQ that the C compiler needs to be changed from ``clang`` to anything else.

[2015-04-30 14:03] astrofrog commented on #248
Hmm that's not quite right, it's not able to import the C extensions:

[code]

The underlying error is:

[code]

[2015-04-30 14:05] astrofrog commented on #248
Sorry, ignore above, there are conflicting versions of HEALPIX on my machine, trying to disambiguate.

[2015-04-30 14:06] astrofrog commented on #248
(removing previous comments to avoid confusion)

[2015-04-30 14:11] astrofrog commented on #248
Ok I tried to force compilers to ``gcc`` and ``g++`` and I get the following:

[code]

Checking ``config.log`` now.

[2015-04-30 14:12] astrofrog commented on #248
Here are the relevant lines from ``config.log``:

[code]

[2015-04-30 14:13] lpsinger commented on #248
On Apr 30, 2015, at 10:05 AM, Thomas Robitaille <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry, ignore above, there are conflicting versions of HEALPIX on my machine, trying to disambiguate.

Yes, that's exactly what I was going to say. You were picking up a different version of HEALPix that was built with OpenMP support.

[2015-04-30 14:14] astrofrog commented on #248
Ok now I'm back to the original error (minus some warnings because I'm no longer using ``ccache``):

[code]

[2015-04-30 14:16] astrofrog commented on #248
Note that I'm now using ``gcc`` and ``g++`` which alias to llvm. Now trying GNU GCC.

[2015-04-30 14:16] lpsinger commented on #248
This looks like:
http://stackoverflow.com/questions/22048505/compiling-on-a-mac-what-does-it-mean-if-my-compiler-fails-a-sanity-check

What were the exact environment variables that you set?

[2015-04-30 14:17] lpsinger commented on #248
I think that this one means that there is a mismatch between your Xcode version and your OS. You should try updating Xcode and the developer command line tools.

[2015-04-30 14:45] astrofrog commented on #248
@lpsinger - sorry for all the noise, basically the fix is to use the GNU GCC compilers on MacOS X. Both ``clang`` and ``llvm`` fail because they don't support the OpenMP stuff. Since I have GCC from Macports, I can do:

[code]

Once I do that, everything compiles fine.

[2015-04-30 14:46] astrofrog commented on #248
It might be worth noting thins in the docs as a FAQ though.

[2015-04-30 15:22] lpsinger commented on #248
You can use clang, you just don't get OpenMP support. The nuance is that if you are trying to link against an OpenMP-enabled build of healpix-cxx, you have to use an OpenMP-capable compiler.

Your build may have failed initially because you picked up the OpenMP-enabled healpix-cxx build from MacPorts, or may have failed later because you were switching between gcc and clang and had a mix of OpenMP

[2015-04-30 15:25] lpsinger commented on #248
I don't think that we have an FAQ. However, there are two places that we could document this:

https://github.com/healpy/healpy/blob/master/INSTALL.rst#known-issues

or

https://github.com/healpy/healpy#known-issues

[2015-04-30 15:29] astrofrog commented on #248
@lpsinger - the known issues seems like the right place to put this. I don't have time to open a PR this week but will see what I can do later, unless you or someone else beats me to it.

[2015-04-30 15:31] astrofrog commented on #248
Ok I think there were actually multiple issues here. Even without the system install of healpix I still had issues but they were different and due to my use of ``ccache``. I then however installed the system version of healpix BEFORE disabling ccache which is why I got a weird issue.

So I think the bottom line is to make sure (a) if the MacPorts healpix install is present, need to use GCC to comp

[2015-04-30 15:33] astrofrog commented on #248
@lpsinger - by the way, you could consider adopting the following labeling scheme from astropy which would allow you to tag this issue as package-novice and effort-low, which means it's a good issue beginners can try out. We're always short of such issues, so might as well tag them when they pop up :)

[2015-04-30 15:50] lpsinger commented on #248
@astrofrog, please take a look at #250. I am concerned that my explanation is a bit too technical.

[2015-04-30 18:07] astrofrog commented on #248
#250 looks good to me re: this issue

[2015-05-01 21:22] #248 closed

[2015-05-04 18:01] astrofrog opened #251 "Create conda package"
It would be great to build a conda package for healpy to make it easier to install. I have some experience with that though what would be new to me here is to have to include the healpix library which is not Python. But it should be doable (I think there should probably be two conda packages: ``healpix`` and ``healpy``).

One can use Travis and Appveyor to automatically build the conda packages, f

[2015-05-04 20:40] mikesperry commented on #25
I'd be really pleased to see Healpy running on Windows.  Many planetariums run on Windows, and an API for python is becoming more common.  If needed, I have a number of Windows XP or Windows 8 machines I can test on.
--Mike

[2015-05-05 12:36] cdeil commented on #251
I briefly talked to @mwcraig at the PyAstro15 conference about whether it would be possible to centralise the wheel and / or conda package creation for many astro packages.
It's a non-trivial set of skills and time investment to configure and maintain this, and it seems wasteful to let many projects (astropy, astropy-affiliated packages, healpy, sextractor, scipy, galsim, iminuit, ... 1000 more) f

[2015-05-05 12:37] cdeil commented on #251
There's also https://github.com/MacPython by @ChrisBarker-NOAA .

[2015-05-05 12:43] astrofrog commented on #251
I agree that it would be good to try and centralize this, though I can't volunteer for that. There's two aspects - one is writing the recipes and one is building the packages.

Recipes can already be centralized here in principle:

https://github.com/conda/conda-recipes

but then there's the question of building. One can't build too many conda packages in a single repo because Travis has build tim

[2015-05-05 12:57] cdeil commented on #251
@rgommers Is this something that has been discussed in Numfocus? (Sponsoring conda package builds on binstar for scientific Python packages and making it easy to apply for this or help get it done.) Would it be helpful to express this wish on the Numfocus mailing list?

[2015-05-05 13:04] astrofrog commented on #251
Just for information, here's the information on setting up builds on binstar:

http://docs.binstar.org/draft/examples.html#SubmitYourFirstBuild

Also if you are logged in and go to:

https://binstar.org/dashboard/builds

It says

*Binstar build is a continuous integration framework that allows you to automate package building. Binstar build provides everyone with a free linux-64 build VM.  With a

[2015-05-05 13:13] cdeil commented on #251
Why is Astropy at version 0.2 in this recipe?
https://github.com/conda/conda-recipes/blob/master/astropy/meta.yaml#L3
By default one now gets Astropy 1.0 from conda, so this doesn't seem to be what's in use?

[2015-05-05 13:14] astrofrog commented on #251
@cdeil - I think you can think of that repo as a kind of 'contrib' list of repos, and as far as I know those aren't the authoritative versions of the recipes. Maybe astropy should be removed from there?

[2015-05-05 15:18] rgommers commented on #251
@cdeil I don't remember a discussion on this. A request for support for infrastructure to help ease the maintenance burden for core/supported projects will likely be well-received though. I suggest to summarize what would be needed exactly and send a request (see http://numfocus.org/projects/apply-for-grant.html)

[2015-05-05 15:20] mwcraig commented on #251
I'm interested in taking this on starting in a couple of days. My thought was to email astropy-dev and ask about a couple of architectures:

1. Affiliated packages modify their travis/appveyor setup to build and push to a centralized repo, or
2. Setup a builder bot along the lines of what @astrofrog setup prior to astropy 1.0. It would perhaps have a webhook that affiliates could add to trigger a

[2015-05-05 15:21] mwcraig commented on #251
@cdeil -- my take on the conda-recipes repo is that it was started in hopes it would be "the" place that people put their recipes (sort of like homebrew formulae) but it hasn't turned out that way.

[2015-05-05 15:22] mwcraig commented on #251
conda-recipes is definitely *not* what the continuum folks build from.

[2015-05-05 15:26] astrofrog commented on #251
@mwcraig - for the builder bot part, it would be far easier if we could use binstar's CI since it would automatically take care of all architectures. At the moment it's a bit of a pain to rely on Travis and Appveyor and it's not really what they were designed for. But we can use them in the interim. We should also test out binstar's CI since we can already use it for linux 64-bit.

For the recipes

[2015-05-05 15:42] mwcraig commented on #251
@astrofrog -- my understanding from a few months ago is that binstar.org doesn't provide any build platforms except linux even if you pay. Paying gets you the ability to add your own build machines to their system (see https://groups.google.com/a/continuum.io/forum/#!searchin/conda/binstar$20build/conda/koaY9wf0ibY/XJmj10o2YYkJ).

Agreed that travis/appveyor aren't ideal, though these builds shoul

[2015-05-05 15:46] astrofrog commented on #251
@mwcraig - on my binstar build page, it does say:

*Binstar build is a continuous integration framework that allows you to automate package building. Binstar build provides everyone with a free linux-64 build VM. With a paid subscription, you can also create windows, osx or any other machine type workers that you want.*

Maybe this is something new?

[2015-05-05 15:48] mwcraig commented on #251
@astrofrog -- that was what induced me to sign up for a paid plan...but it turned out that "create" meant "make your own and add as a worker". I would ask before paying; if it has changed that would be fantastic!

[2015-05-05 15:49] mwcraig commented on #251
@astrofrog -- if you would like I can ask on one of the conda lists, but won't get to it until tomorrow probably.

[2015-05-05 15:49] astrofrog commented on #251
@mwcraig - that would be great, thanks!

[2015-05-05 15:50] astrofrog commented on #251
It sounds like in any case we should have an astropy-wide repo of all recipes and we can figure out the building separately.

[2015-05-05 16:17] cdeil commented on #251
@mwcraig – Thank you for taking this on for Astropy and affiliated packages!!!

To me implementing an astronomy-only solution still seems the wrong long-term approach and someone (that's the tricky part) providing a free (that's the other tricky part) and easy to apply for / setup / maintain build service for scientific Python open-source packages would be better.
@mwcraig – maybe you can poke the

[2015-05-05 16:20] astrofrog commented on #251
As I mentioned in the other issue related to this, I think that with a paid account (which it looks like numfocus would be open to) we might be able to have the infrastructure to do this for many different projects.

The astronomy-only solution could be a starting point though - there are already going to be dozens of packages, hundreds of conda files, so it would be good to start with that to see

[2015-05-05 16:23] ChrisBarker-NOAA commented on #251
On Tue, May 5, 2015 at 5:43 AM, Thomas Robitaille <notifications@github.com>
wrote:

hmm -- maybe that is where to go, but....

Funding would help with ANY CI or build system, I suppose. So that would be
great.

But my latest thought is this, at least for a stopgap:

Aaron set up a binstar channel for community packages -- so that's where we
can put them. But how to manage maintaining the recipes

[2015-05-05 16:27] cdeil commented on #251
From the comment that @ChrisBarker-NOAA posted:

Each of those repos has one or a small handful of people that are taking
responsibility for them. They can be built with a combination of Travis,
etc, and folks simply running the build on their own machines -- for a
dozen or so packages, it's just not a big deal.

This doesn't sound like a good (i.e. good results and low maintenance) long-term solu

[2015-05-05 16:42] ChrisBarker-NOAA commented on #251
On Tue, May 5, 2015 at 9:27 AM, Christoph Deil <notifications@github.com>
wrote:

Didn't I call it a stop-gap measure ;-) -- I should have.

 The successful package managers like Debian or Macports use a centralized
repo for recipes and a centralized build service run by a few experts.

Sure -- that would be great -- and, indeed, it is what Continuum is doing
for the official Anaconda packages. Bu

[2015-05-05 17:15] lpsinger commented on #247
@gregreen, do you have a patch to contribute?

[2015-05-05 17:17] cdeil commented on #251
@scopatz – Maybe you could also comment here?
We're looking for a conda build service for astro packages or more generally scientific Python packages.

I remembered there were discussions on the numfocus list about this:
https://groups.google.com/forum/#!topic/numfocus/mVNakFqfpZg
https://groups.google.com/forum/#!topic/numfocus/HUcwXTM_jNY
https://groups.google.com/forum/#!topic/numfocus/mSnWp8dK

[2015-05-05 17:20] lpsinger commented on #251
Should we think about making Healpy an Astropy affiliated package and use the Astropy setup helpers? If so, we could reuse a lot of Astropy's setup code for building against external libraries. Using Astropy's mechanism for linking against or building erfa, cfitsio, etc. in Healpy for healpix-cxx and cfitsio may help with #25.

[2015-05-05 17:27] astrofrog commented on #247
@lpsinger - just to check, is there a reason to not use the Astropy coordinate transformation framework? The only downside would be that Ecliptic coordinates will only be supported in Astropy 1.1+

[2015-05-05 18:14] gregreen commented on #247
@astrofrog, The only downside to using the Astropy coordinate transformation framework is that it would add in Astropy as a dependency.

@lpsinger, I can write up a patch that implements the Equatorial - Galactic - Ecliptic rotations.

[2015-05-05 18:24] lpsinger commented on #247
The extra dependency is the only downside that I can think of. Healpy works with quite ancient versions of Pyfits because we care about it working on the LIGO Scientific Linux 6 computing clusters. However, we don't actually do any coordinate conversions in the LIGO pipelines because we always work in equatorial coordinates.

So this sounds reasonable to me. @zonca should comment.

[2015-05-05 18:30] astrofrog commented on #247
Just out of curiosity, can Astropy not be installed on the LIGO SL 6 clusters? (too old version of Python?)

[2015-05-05 18:36] astrofrog commented on #247
In any case, maybe it makes sense to wait until Astropy supports Ecliptic coordinates. You may want to consider having an 'LTS' version of healpy which you could continue using with PyFITS etc. on older Python installations which would enable you to make bigger changes such as this (and dropping support for PyFITS) in master. Just an idea :)

[2015-05-05 23:42] lpsinger commented on #247
As far as I recall, the main issue is that Astropy has not been packaged as an SL6 RPM (either in Scientific Linux proper or EPEL). I don't think that the Python version is an issue, but the old Numpy version may be a problem for Astropy.

Is there anyone in the Astropy project was is able to push on getting SL6 packages made?

[2015-05-05 23:50] gregreen commented on #247
Even without RPM packages, isn't it possible to install Astropy through pip? In much of my work, I use a virtual environment with a fresh installation of all the necessary packages.

[2015-05-06 00:32] lpsinger commented on #247
The LIGO data analysis environment uses the native packaging (RPMs for SL6, .debs for Debian) as much as possible. It would be a hard sell to the admins to rely on something that was not available through yum and apt-get.

[2015-05-06 01:03] zonca commented on #247
I would be in favor of removing code from healpy and use astropy for
coordinate transformations.

On Tue, May 5, 2015, 17:32 Leo Singer <notifications@github.com> wrote:

[2015-05-06 05:15] scopatz commented on #251
Hi @cdeil, thanks for asking.  We have moved away from batlab / polyphemus because, while technically capable, it proved too difficult to maintain.  I would recommend doing something more along the lines of what @ogrisel has done for scikit-learn. See his talk from PyCon on this topic http://pyvideo.org/video/3473/build-and-test-wheel-packages-on-linux-osx-win. For most of the projects I work on w

[2015-05-06 10:09] astrofrog commented on #247
I've asked on astropy-dev if anyone has experience building RPMs for SL. We have packages in other linux distributions, so no reason in principle we couldn't get it in SL.

[2015-05-06 10:10] astrofrog commented on #247
@lpsinger - so based on what you said above, it would be fine to rely on Astropy for coordinate conversions as long as it's treated as an optional dependency, since it's not needed for LIGO?

[2015-05-06 13:36] cdeil opened #252 "Add utility functions to work with "cutouts""
Disclaimer – I know almost nothing about HEALPIX ... apologies if this doesn't make sense.

My understanding of the HEALPIX <-> normal WCS projection image reprojection functions in https://github.com/astrofrog/reproject is that the HEALPIX data will always cover the whole sky, i.e. there'll be lots of zeros if the image only covers a small part of the sky.

Would it make sense to add functionalit

[2015-05-07 12:42] cdeil opened #253 "AstropyDeprecationWarning from write_map / new_table"
With the latest Astropy I'm getting this deprecation warning:
[code]

See https://github.com/healpy/healpy/search?utf8=%E2%9C%93&q=new_table

[2015-05-08 00:06] zonca commented on #252
`healpy` has partial support for explicit pixelization maps, i.e. dictionary where keys are pixel numbers.
see in the projector:

https://github.com/healpy/healpy/blob/a6ae7de250c937b3724985eef4f429502ca90d3f/healpy/projector.py#L185

However it doesn't allow to use the most powerful feature of HEALPix which is the spherical armonic transforms. I never used it.
It would be interesting if you could

[2015-05-09 22:36] zonca commented on #253
This should be a pretty easy fix, just rewrite the fits writing without using `new_table` but instead using the other `astropy` FITS building functions.
Hope somebody can help and contribute this fix with a Pull Request.

[2015-05-10 13:18] lpsinger commented on #253
Unfortunately, we cannot install Astropy on the Scientific Linux 6 LIGO computing clusters; we are using Pyfits 2.3.1 because we do not have a new enough version of Numpy to install Astropy. I am checking when an update to Scientific Linux 7 is anticipated; this update would bring Numpy to 1.7.1 and would permit us to use Astropy instead of the very old version of Pyfits.

[2015-05-10 15:23] astrofrog commented on #253
@lpsinger as I mentioned in a separate issue, I wonder whether it would be worth splitting off the development to have a long term supported release that would be suitable for the LIGO cluster (if the update to SL7 is not happening soon) while being able to go ahead with making changes like these in the master branch?

[2015-05-11 18:35] lpsinger commented on #253
Tempting. Dealing with obsolete versions of Numpy is a huge pain. The Healpy build, however, is unusual enough already; I'd favor sticking with the current single development line model, though of course this is up to @zonca.

I have further information from our admins: we will be using SL6 for at least the first Advanced LIGO observing run (O1), and re-evaluate updating to SL7 after that. However

[2015-05-11 20:52] mkolopanis opened #255 "Smoothing invert option unused"
The optional keyword "invert" in the smoothing and smoothalm functions is currently used in the healpy. Both functions use almxfl to compute the actual smoothing of a healpix map by a beam and the almxfl function does not take the keyword "invert" as an argument. There is also no statement which computes a factor of 1./beam to pass to almxfl as an argument. The source code for smoothalm never appe

[2015-05-12 21:20] astrofrog commented on #253
@lpsinger - I think that would be enough to fix this issue (astropy 0.2.5) but note that this won't help for https://github.com/healpy/healpy/issues/247 which will require 0.4+. An alternative to having the dual-branch development model would be to have wrappers for the FITS functionality and then in those branch differently depending on whether one is using Astropy or PyFITS?

[2015-05-12 21:52] lpsinger commented on #253
@astrofrog: It looks like both Astropy 0.2.5 and 0.4+ have galactic <-> equatorial coordinate conversion, but with slightly different APIs. We could switch between the two with a `try`/`except` block or by switching on the Astropy version. We can do without support for ecliptic coordinates on the LIGO computing clusters.

[2015-05-12 22:41] astrofrog commented on #253
@lpsinger - ah yes, you were saying that the coordinate stuff wasn't really needed at all for LIGO anyway? If that is the case, then I'd suggest not even bothering supporting astropy < 0.4. That is, if astropy is installed, it should be >= 0.4.

[2015-05-12 23:12] lpsinger commented on #253
Ah, but we'd like to get rid of obsolete Pyfits calls too, which Astropy >= 0.2.5 would take care of.

[2015-05-17 18:01] zonca commented on #255
thanks @mkolopanis I confirm this, would you like to contribute a Pull Request to remove `invert` from the source code?

[2015-05-17 18:04] zonca commented on #253
@lpsinger @astrofrog I also think it would be too much effort to maintain two branches.

@cdeil would you like to contribute a fix that replaces `new_table` with standard `pyfits` code?

[2015-05-17 18:06] zonca commented on #252
See #254, it would be useful to check if the visualization functions still work with explicit pixelization maps.

It is a corner use case, I won't spend time on this.

Closing for now, please reopen if you want to contribute some test results.

[2015-05-17 18:06] #252 closed

[2015-05-18 22:12] sazabi4 opened #256 "installation problem with healpy"
I try to install healpy with pip and this is the error message I got

.....
.....
    checking for pkg-config... /opt/local/bin/pkg-config
    checking pkg-config is at least version 0.9.0... yes
    checking for CFITSIO... yes
    checking for ffgnrwll in -lcfitsio... no
    configure: error: could not find the cfitsio library
    Traceback (most recent call last):
      File "<string>", line 1,

[2015-05-19 17:39] mkolopanis commented on #255
Sure! How would I go about doing this?

On Sun, May 17, 2015 at 11:01 AM, Andrea Zonca <notifications@github.com>
wrote:

[2015-05-19 17:47] zonca commented on #255
start from here: https://help.github.com/articles/creating-a-pull-request/

On Tue, May 19, 2015 at 10:39 AM Matthew Kolopanis <notifications@github.com>
wrote:

[2015-05-20 02:09] zonca commented on #256
sorry I have no experience with MACs, I would recommend you install Anaconda Python and install healpy there.

[2015-05-20 02:10] zonca commented on #255
fixed in #257

[2015-05-20 02:10] #255 closed

[2015-05-20 02:12] lpsinger commented on #256
Hi @sazabi4! You seem to have MacPorts on your Mac, as I can tell from this line:

    checking for pkg-config... /opt/local/bin/pkg-config

Have you tried just installing Healpy with MacPorts, like this?

    sudo port install py27-healpy

[2015-05-27 14:13] prodev-paris commented on #110
Same error here (using command: `python setup.py install --user`):
`healpy-1.8.6/healpixsubmodule/src/cxx/autotools/libsharp/sharp_core_inc2.c:225: internal compiler error: in extract_component, at tree-complex.c:594`

I don't know if it matter but I build against external Healpix and cfitsio ([as documented on official site](https://healpy.readthedocs.org/en/latest/install.html))

My env:
healpy-

[2015-05-27 15:19] lpsinger commented on #110
@prodev-paris, Healpy is building its own HEALPix library here, as one can tell from the path in your error message (`healpy-1.8.6/healpixsubmodule/src/cxx/autotools/libsharp/sharp_core_inc2.c`). Would you please post your full build log?

[2015-05-28 08:34] prodev-paris commented on #110
You are totally right! I realize that the error appear since I forgot to set the env variable `PKG_CONFIG_PATH`
As stated in the log... :
[code]

Thanks for your help!

But wait, anyway the compilation of this sub module (hte healpix module include in healpy sources) should have success anyway doesn't it?

[2015-06-24 00:10] lpsinger opened #262 "ud_grade modifies input array"
The `ud_grade` function modifies the input array in some circumstances. This is probably an undesired side effect. The issue occurs if there are any invalid values (`hp.UNSEEN`) in the input array. In this case, the corresponding entries are overwritten with zero in `_ud_grade_core`:

        m[bads] = 0

[2015-06-26 20:31] zonca commented on #262
can you provide an example that fails?

`UNSEEN` should be restored back at https://github.com/healpy/healpy/blob/master/healpy/pixelfunc.py#L1664

[2015-06-27 03:03] lpsinger commented on #262
Oh, I didn't notice that. Still, it's generally bad practice to modify the input. This will not work for the most general Numpy array. See, for instance, the following example:

[code]

[2015-06-27 04:07] zonca commented on #262
Any other option without making a copy of the map?

On Fri, Jun 26, 2015, 20:03 Leo Singer <notifications@github.com> wrote:

[2015-06-27 19:34] lpsinger commented on #262
Not that I can think of.

[2015-06-29 14:13] cmbant opened #263 "Autodoc broken"
Many functions are not being rendered/linked correctly in the documentation, e.g.
http://healpy.readthedocs.org/en/latest/healpy_visu.html - presumably some issue with the sphinx/autosummary config.

(and hence docs for core functions like "mollview" do not appear helpfully when you search).

[2015-06-30 18:30] zonca commented on #263
thanks for reporting this, I fixed it, I think the main issue was 9210a1e3944340c530

[2015-06-30 18:30] #263 closed

[2015-07-02 15:58] cjcopi commented on #262
Replacing https://github.com/healpy/healpy/blob/master/healpy/pixelfunc.py#L1653 with
[code]
and removing the writes to `m` would make the function work for read only maps.

[2015-07-02 16:09] zonca commented on #262
Great! Could you create a pull request for that?

On Thu, Jul 2, 2015, 08:58 cjcopi <notifications@github.com> wrote:

[2015-07-03 14:57] cmbant opened #265 "Installation issue"
I've tried many configuration of python on NERSC Edison, and  "pip install healpy" does not seem to work, including a fully new clean user anaconda installation. The "pip install healpy" itself appears to run OK (but very quickly).

[code]
`
However you cannot use it, e.g. in ipython

[code]

This may not specifically be a healpy issue, but it would be helpful if the install could give an error me

[2015-07-05 20:09] zonca commented on #265
is that the full log of `pip install healpy`? if so can you try with `pip -v install healpy`?

[2015-07-05 20:32] zonca commented on #265
I tried myself on Edison. It looks like `libsharp` does not compile with the Intel compiler, which is default on Edison (/cc @mreineck ).

so if you switch to gnu:

    module unload PrgEnv-intel
    module load PrgEnv-gnu

it should work, I tested with a fresh Anaconda 2.3.0 Python 3.4.

Closing for now, reopen if still does not work.

[2015-07-06 00:58] lpsinger commented on #265
Why did `pip install` succeed if libsharp failed to compile? Is there a build error that is going undetected?

[2015-07-06 01:52] zonca commented on #265
No actually in my case the build failed

On Sun, Jul 5, 2015, 17:59 Leo Singer <notifications@github.com> wrote:

[2015-07-06 08:37] mreineck commented on #265
On 07/05/15 22:32, Andrea Zonca wrote:

There is no fundamental reason why icpc should not be able to compile
libsharp. Could you please report compiler version and detailed output
... I don't have ab account on Edison.

[2015-07-06 08:39] cmbant commented on #265
Actually I was using the gnu env. Here's the -v output

[code]

I'm using bash, with the following in .bashrc.ext

[code]

[2015-07-07 09:40] cmbant commented on #265
Btw, if I install from the git source, the installation actually seems to do something (lots of C files get compiled), but the end result, in terms of ipython not being able to load healpy, is the almost the same. A python 2.7 specific issue? (btw, as a user I can't reopen the issue myself)

An install recipe that did eventually work for me is
[code]
then (order very important) in .bashrc.ext (or

[2015-07-07 19:49] zonca commented on #265
I'm sorry, I don't understand what is the issue based on the symptoms you explained and I cannot reproduce the issue, so I'll close this.

[2015-07-07 19:49] #265 closed

[2015-07-07 21:13] cjcopi commented on #163
This seems to have fallen through the cracks, but is simple to implement so might as well be done.  As noted `order2nside` is just a bit shift operation.  Similarly `nside2order` is just a logarithm base 2.  Implementing this by converting `log2` to an integer is not ideal so there seems to be at least two options

1. Use `frexp` as in `np.frexp(nside)[1]-1`,
2. Use `ilog2`.  A nice implementation

[2015-07-07 21:45] zonca commented on #163
I prefer 1, better to have less code to maintain

[2015-07-07 21:46] zonca commented on #262
fixed in #264

[2015-07-07 21:46] #262 closed

[2015-07-08 05:46] mreineck commented on #163
On 07/07/15 23:45, Andrea Zonca wrote:

But please be careful about rounding errors with frexp! For very large
integers there is no exact floating point representation, and you might
get wrong results.

Cheers,
  Martin

[2015-07-08 14:32] cjcopi commented on #163
This is a general concern with using floating point routines, but is it a concern here?  Do you have an example?  Without having looked at the code for frexp I was under the impression it was safer in this regard.  This is particularly true given that nside is a power of 2.

In testing (only on 64 bit Linux) `np.frexp` returns the correct answer up to `order=63` after which it throws an error due

[2015-07-08 18:57] mreineck commented on #163
The potential rounding is not a problem in this concrete situation. I just wanted to warn about replacing the general-purpose ilog2 with a frexp-based approach. As long as the frexp call is performed on numbers known to be powers of 2, everything is fine.
However if healpy should ever be enhanced to support non-power-of-2 values for Nside (in RING scheme only, of course), then the nside2order func

[2015-07-08 19:00] lpsinger commented on #163
I think that the best reason not to use `frexp` is that the inputs to this function ought to be integers, so an algorithm that is exact for any valid integer is preferable.

[2015-07-08 19:16] mreineck commented on #163
In that case, I expect that Python has a function returning the number of leading zeros in the binary representation of an integer. From this it's fairly straightforward to get ilog2.
The C++ standard does not specify such a function, so Healpix C++ only uses it when it is being compiled by g++, which provides it as an extension.

[2015-07-08 19:37] cjcopi commented on #163
Ok, avoiding `frexp` one could instead use
`nside.bit_length()-1`
which only works for integers, not floats or arrays.

Regardless of the algorithm used if nside can be a non-power-of-2 then `nside2order` will need to be changed to detect this.

[2015-07-08 19:40] lpsinger commented on #163
That is not the case currently. `nside2npix` and friends will reject arguments that correspond to non-power-of-2 `nside`, so it is best for now if these two new functions also treat that as an error.

[2015-07-08 19:47] cjcopi commented on #163
Correct, what I meant is that currently `check_nside` handles this and throws an error.  But if this function were to accept a non-power-of-2 then this would not be a sufficient check anymore as `nside2order` would then have a more stringent requirement.

[2015-07-10 00:01] zonca opened #267 "Drop support for Python 2.6"
Almost nobody uses Python 2.6 anymore, we should drop support for it, so we can cleanup some additional (ugly) code that was required for that (mainly in `setup.py`).

We should also drop the Python 2.6 tests from the travis-CI configuration.

Anybody volunteers to do this?

[2015-07-10 00:01] zonca commented on #256
not updated in more than a month.

[2015-07-10 00:01] #256 closed

[2015-07-10 06:12] #267 closed

[2015-07-11 12:00] Tia87ibra opened #269 "Problem with healpy"
I have installed Healpy following the command sudo port install py27-healpy.
The installation works:

--->  Computing dependencies for py27-healpy
--->  Cleaning py27-healpy
--->  Scanning binaries for linking errors
--->  No broken files found.

However, if I try to import the healpy command this is the problem.

host039-pool27:sfg_icecube mattiadimauro$ ipython
Python 2.7.10 |Anaconda 2.1.0 (x86

[2015-07-15 17:42] cmbant opened #270 "View plot sizes"
The "xsize" argument to orthview et al only seems to be used internally to change the pixel resolution. The actual figure size is always (8.5,5.4). I suggest making the figure size either scale with xsize, or have a new kwarg to set the figure width.

[2015-07-15 17:54] zonca commented on #270
I don't think it is a necessary option. however I would merge a pull request if somebody wants to implement it.

You can set figure size beforehand, then run `mollview` with `hold`:

[code]

[2015-07-15 17:54] #270 closed

[2015-07-15 18:21] cmbant commented on #270
The option you suggest works fine, thanks, but is unobvious to a new user.
You should at least clarify the docs for xsize (that it does not change the figure size).

If you want more community involvement, like pull requests, I suggest you don't immediately close suggestions you personally don't like or can't replicate.

[2015-07-15 18:42] zonca commented on #270
I'd love a pull request to change the docs of xsize, thanks!

[2015-07-16 17:45] zonca commented on #269
it looks like you are installing `healpy` with Macports but then using Anaconda.

you should either try to use the Python installation from Macports, or install healpy inside anaconda with `pip install healpy`

[2015-08-05 21:20] jamestsayre commented on #110
I'm running into the same error mentioned by others, in trying to compile healpy1.8.6 from anaconda2.1.0.  I've googled around on the subject and found some older posts suggesting it was errors in the healpix healpy is trying build, but it's not clear to me what the current resolution is.

Note, this is on an HPC machine, and I got the same error before and after I pointed to an existing install o

[2015-08-05 22:18] lpsinger commented on #110
@jamestsayre, would you please set the environment variable `V=1`, rebuild, and post the output? That should make it so that the full compiler commands are shown (rather than the abbreviated `  CC       libsharp/sharp_core.lo` format above). The build is supposed to be including certain flags to work around a similar-looking bug in GCC.

[2015-08-05 22:24] jamestsayre commented on #110
Updated with the requested output, thanks.

[2015-08-06 15:31] lpsinger commented on #110
OK, can you try setting the environment variables `CFLAGS=-fno-tree-fre` and `CXXFLAGS=-fno-tree-fre` and rebuilding?

[2015-08-06 16:37] jamestsayre commented on #110
Ah, that worked.  It compiled and I can import healpy, though I do get the following warnings:

[code]
I recognize the flags you suggested from an older fix I found involving changes to a config file that wasn't present (at least in the same place) in the current version's install files.  It didn't occur to me to try just setting them as environment variables.  Thanks!

[2015-08-06 17:03] lpsinger commented on #110
@zonca, I thought that we had worked out that this compiler bug was specific to GCC 4.4. Do we also need to apply the workaround to 4.3?

[2015-08-06 17:04] lpsinger commented on #110
@jamestsayre, you may get those error messages if you try to import healpy while within the source directory. Try changing to your home directory or elsewhere before importing healpy.

[2015-08-09 08:02] ioodderskov opened #272 "Three bugs found in healpy"
I have been trying to get familiar with the healpy package by trying out the examples in the tutorial (http://healpy.readthedocs.org/en/1.6.3/tutorial.html), but get several errors when I try to run the code. After discussing the issues with my local python expert and making a few modifications, the code is runnable, but I guess it would be nice to have the problems fixed anyway. Here they are:

[2015-08-19 20:57] abrahamneben opened #274 "Don't understand the l,m values output by healpy"
I am confused by the l and m values that get output by healpy, and how they are indexed. When I ask healpy which (l,m) values correspond to which indices in the Alm output, I find:

[0 1 2 3 1 2 3 2 3 3]

 [0 0 0 0 1 1 1 2 2 3]

So there are 10 values. However I requested values up to lmax=3, so I should have (l,m)=(0,0),(1,-1),(1,0),(1,1),(2,-2),(2,-1),(2,0),(2,1),(2,2), which is only 9 instead o

[2015-08-20 06:32] mreineck commented on #274
I think there are two misunderstandings here.
First, if you request values up to lmax=3, then you shouldn't expect 9 possible combinations of l,m, but 16. Since lmax is inclusive, there are also (l,m)=(3,-3),(3,-2),(3,-1),(3,0),(3,1),(3,2),(3,3)
Second, the A_lm processed by healpy have certain symmetry properties linking the values at (l,m) and (l,-m), so that values with negative m need not be s

[2015-08-20 12:19] abrahamneben commented on #274
I see, that makes sense that the negative m values carry no further information in the same way that the negative frequencies in an FFT carry no further information unless the map is complex. Thanks.

[2015-08-21 06:35] #274 closed

[2015-08-27 18:42] drphilmarshall opened #275 "`map2alm` output coefficients have zero imaginary parts?"
Hi all! Love the `healpy` code, thanks very much for putting it together. I'm seeing `alm`s coming out of `healpy.map2alm` run on the Planck T map that have zero imaginary part, which must be either my misuse of `getidx` or a bug, I think.

Here's [our issue thread](https://github.com/rogerblandford/Music/issues/9), and you can see the problem in [this notebook](https://github.com/drphilmarshall/M

[2015-08-27 19:25] drphilmarshall commented on #275
Whoops, false alarm - sorry! I was simply not using the `healpy` `alm`s correctly. Still, check out this function - maybe this could be a nice addition to `healpy` for others looking to use its spherical harmonic coefficients for external applications? Anyway, renaming for posterity and closing this.

[code]

[2015-08-27 19:25] #275 closed

[2015-09-05 20:24] rbiswas4 opened #278 "overplotting, changing styles etc."
I am interested in plotting healpixels and other healpix quantities. The healpy method I found was healpy.mollview(), with an option of plotting specific pixels by masking all others.

I would like to be able to do this overplotting with other things (non-healpix), (and also change the style of plots since the particular opaque sets don't play well with overplotting). This is hard to do, since the

[2015-09-06 17:33] zonca commented on #278
* you can try with the keyword `return_projected_map`, if you instead want the figure, I wonder if `gcf` function of matplotlib would work.
* about the second item, is what you need available in the IDL version? http://healpix.jpl.nasa.gov/html/idl.htm

[2015-09-17 04:10] zonca commented on #278
no followup, closing this, reopen if needed

[2015-09-17 04:10] #278 closed

[2015-09-17 15:19] zonca commented on #272
* the bug in `mollview` was already fixed in the master version of `healpy`.
* `arcmin`  in tutorial fixed in 937bb624c660bc19a19e0ac40d46634dc8dd4a0b
* cannot reproduce error in `anafast`, please open a dedicated issue with more information so I can dig deeper

thanks for reporting!

[2015-09-17 15:19] #272 closed

[2015-09-17 15:19] zonca commented on #269
it looks like an user issue, please use stackoverflow for that.

[2015-09-17 15:19] #269 closed

[2015-10-07 13:54] defjaf opened #284 "OS X installation: complex<double>::imag() and ::real()"
I am trying to `pip install healpy` with v 1.9.0 on OS X El Capitan, using a framework python build (hence, I think, I am constrained to use Apple clang/clang++ which is equivalent to gcc 4.2). Unfortunately, this means that I've changed both the healpy version and the OS X version at the same time.

I now get the following errors from the sdist build

        healpy/src/_healpy_sph_transform_lib.

[2015-10-07 14:07] mreineck commented on #284
This is because the real() and imag() methods taking one argument are specific to C++11 ... but clang++ should support these without any problems. Which version of clang++ are you running? Or are you perhaps using flags like "-std=c++98"?

[2015-10-07 14:10] mreineck commented on #284
Sorry ... I just see that under the hood your compilation indeed uses g++ 4.2.1.  That is most likely really too old. Is it possible to compile the package with "real" clang++ (which should not rely on g++ at all)?

[2015-10-08 08:29] defjaf commented on #284
Hi Martin,

Yes, that was the problem. I got confused because the new Xcode and OS X install meant that the command-line tools hadn't been updated completely, so compilers weren't able to reliably find header files. For info, what I did was

* `xcode-select --install` to make sure the compilation environment is ok
* `brew install llvm36` to get a more recent compiler (I assume other possibilities

[2015-10-09 17:43] AstroClimber opened #285 "Extracting axes after projected healpix into certain projection"
Hi I am trying to extract the coordinate information for a healpix map I downloaded, called Haslam Map for the synchroron foreground in the Milky Way. I was able to acquire a ndarray of the map after using the keyword 'return_projected_map' in healpy.cartview. However, now I have no information of the coordinates of the returned map. So far the closest thing I have found is the module healpy.proja

[2015-10-09 21:12] rwogburn opened #286 "orthview projplot fix"
When plotting with projplot on top of an orthview plot, all single points show up on the left half-sky.  See code snippet below.  This can be fixed by changing projector.py line 744 from x\*=1 to x\*=-1.

Thanks,
Walt

  nside = 8
  npix = 12\*nside\*nside
  rot=[0,90,0]

  # Plot linear ramp of pixel values
  v = np.arange(npix)
  hp.orthview(v,rot=rot,nest=False,title="Circles left, squares righ

[2015-10-09 22:21] rwogburn commented on #109
I see a similar problem when plotting on top of orthview and when running gblanc05's example.  It looks to me like _make_segment is chopping up each line into separate segments of one point each.  The segments then get plotted separately, so each point is on its own and no lines are drawn.  Presumably _make_segment is intended to do something more, like fill in intermediate points so that the plot

[2015-10-09 22:31] rwogburn opened #287 "gnomview does not honor 'degree' argument"
It's simply not used.  Can be fixed by adding following lines in visufunc.py somewhere before line 358:

[code]

[2015-10-09 22:46] lpsinger commented on #287
I'd actually favor just dropping the unused argument. Kind of silly having two arguments just to specify one quantity, the angular resolution per pixel.

[2015-10-09 23:09] rwogburn commented on #287
Healpix gnomview doesn't have it, so I suppose it's fine for healpy not to have it either (as long as it's documented correctly).  Although you do end up with a mix of units since the rotation is specified in degrees.

[2015-10-13 00:01] zonca commented on #286
Fixed in #288

[2015-10-13 00:01] #286 closed

[2015-10-13 00:33] rwogburn commented on #287
I have a topic branch to use the degree argument:
https://github.com/rwogburn/healpy/tree/issue287

and one to remove it instead:
https://github.com/rwogburn/healpy/tree/issue287alt

Either could be merged.  Thanks.

[2015-10-13 00:44] rwogburn commented on #285
If you want to be sure, and to control the map pixelization, why not choose the latitude and longitude values yourself and then use get_interp_val?

[2015-10-13 08:12] eirikgje opened #289 "Map reading and writing routines don't support column-specific dtypes"
It would be nice to 1) have the ability to specify which dtype each field in read_map will have (in the case where several columns are read), not just force all of them to be the same, and 2) specify column-specific dtypes in write_map. Are there any downsides to this, or can I make a pull request?

[2015-10-13 15:57] mayurisrao opened #290 "Smoothing numerical values"
Hello,
   I looked at a similar issue that was previously closed, but my problem is a little different. I took an all sky HEALPix map and replaced the values of all pixels except one to have a numerical value (temperature) of zero. In my mollview plot, this pixel shows up as a bright red spot where as the rest of the map is cold (zero = blue). I use the 'hist' normalization in mollview. When I now

[2015-10-13 21:08] rwogburn commented on #290
Gaussian beam smoothing isn't applied by averaging pixels, it's applied in spherical harmonics.  I assume the previous issue you looked at was probably #135?
https://github.com/healpy/healpy/issues/135
The question was not the same, but mreineck's advice still applies and explains why there can be negative values after this kind of operation.  When I perform the same test you outlined, I find the

[2015-10-14 04:50] mayurisrao commented on #290
Thanks rwogburn. So if I understand correctly, although I am using  healpy.sphtfunc.smoothing which in principle operates in a flat space approximation, the convolution operation is still happening in alm space? When I did a different test, i.e. made a map with all pixels having the same value of 100, and performed smoothing using healpy.sphtfunc.smoothing, I get back a map that is all zeros. The

[2015-10-14 06:37] mayurisrao commented on #290
Hello,
  A quick update. I ran the same code on a different computer which has an older installation of healpy and found I got different results. The mean is not subtracted. Was there possibly an upgrade of the code to subtract a mean, which was not updated on the documentation?
If this is the case, this issue can be closed!
- cheers

[2015-10-14 08:22] mreineck commented on #290
Hi mayurisrao,
if you see the monopole vanishing, there is definitely a bug somewhere. I'll double-check the C++ part of the code!
The small negative values are unfortunately really unavoidable...

[2015-10-14 08:35] mreineck commented on #290
I don't see anything unexpected in the C++ part...

[2015-10-14 15:11] rwogburn commented on #290
It's definitely not a flat sky approximation -- beam smoothing is done correctly for the sphere in spherical harmonic space.  I also checked that smoothing doesn't subtract the monopole when I run it in the current version.  The following lines of code

[code]

Give the output

[code]

Could you try running the same commands on the computer that gave you different results?

[2015-10-15 00:14] ngoldbaum opened #292 "Installation error with healpix installed"
I'm unable to build healpy on my OSX 10.10 laptop, with healpix and cfitsio installed via homebrew.

Error is below:

[code]

[2015-10-15 05:21] ngoldbaum commented on #284
I see a similar error in #292.  FWIW, I think making healpy compile using the version of clang that comes with OSX is worth doing. Asking people to install a new compiler version is a pretty steep requirement.

Also, it's not accurate that modern OSX comes with gcc-4.2. Apple stopped shipping GCC 4.2 with OSX 10.7. They now ship LLVM/Clang. On my laptop, I have:

[code]

[2015-10-15 05:43] lpsinger commented on #292
This is due to an API change in the most recent version of healpix. We ought to depend on healpix_cxx >= 3.30.0, and fall back to building healpix_cxx ourselves if that dependency is not met. I'll open a PR to this effect shortly. Someone should also update the homebrew package.

In the mean time, a quick workaround would be to uninstall the healpix homebrew package so that healpy builds healpix_c

[2015-10-15 05:53] ngoldbaum commented on #292
That works, thanks @lpsinger!

[2015-10-15 06:55] lpsinger commented on #284
Healpy should build without errors on most common Mac OS compiler toolchains, including the stock clang toolchain that comes with recent versions of Xcode. You shouldn't need to install a separate compiler from Homebrew (though it should *also* work with Homebrew's compilers). Did you recently migrate your machine from an older version of Mac OS? Sometimes that leaves bizarre combinations of old a

[2015-10-15 08:52] defjaf commented on #284
I have indeed just updated to El Capitan, right before this. But I have seen similar issues with other python source packages under older versions. But I am willing to believe I do have something problematic in my setup (although this actually seems less likely under the new rootless system which shouldn't have user-created files anywhere outside of /usr/local/.

So, just to confirm: the latest re

[2015-10-15 09:03] mreineck commented on #284
Actually, I hadn't planned to require C++11 in Healpix 3.30 already, only in future versions, but the change in the interface of std::complex slipped by me :(
@lpsinger, I can certainly add the autoconf test, but if I have a day or two, I should also be able to replace the problematic C++11 feature by something that also works if the compiler only understands C++98. Would that be worthwhile?

[2015-10-15 09:49] lpsinger commented on #284
It works with the stock Python interpreter from Apple and the default Xcode compilers on Mac OS X 10.10.5. I just checked this; see the output in [this gist](https://gist.github.com/lpsinger/ef57849b6877db5506ed).

I do not have access to an El Capitan system at the moment, and I have never tried the python.org builds. The stock Apple interpreter is just a symlink into a framework:

[code]

So you

[2015-10-15 09:51] lpsinger commented on #284
Oh, it also builds fine with the Python build from MacPorts, Anaconda, or Canopy. So if it doesn't work with python.org builds, that's very interesting and a strong clue.

[2015-10-15 09:56] lpsinger commented on #284
I'm pretty confident we'll get to the bottom of @defjaf's issue, so no, I don't think it is necessary to add a C++98 fallback.

I'm reopening this issue to track progress on the C++11 configure check.

[2015-10-15 10:13] defjaf commented on #284
OK, following @lpsinger, I used virtualenv for a clean environment, and tried both the system python and the python.org builds.

System python works, [just as in the gist](https://gist.github.com/lpsinger/ef57849b6877db5506ed). But I get the same C++-11 clang errors with the python.org build as before.

(By the way, I had never used virtualenv before -- very cool!)

[2015-10-15 10:25] lpsinger commented on #284
Would you please post the full transcript of that shell session in a gist?

[2015-10-15 10:53] defjaf commented on #284
Here's [the attempt in a gist](https://gist.github.com/defjaf/1023df2b1315c34d574d).

[2015-10-15 11:09] lpsinger commented on #284
Odd. There's nothing too strange in the compiler invocation, definitely nothing about C++ standards versions or SDKs:

      /usr/bin/clang -fno-strict-aliasing -fno-common -dynamic -arch i386 -arch x86_64 -g -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/Users/jaffe/home/local/hp2/lib/python2.7/site-packages/numpy/core/include -I/private/var/folders/bk/zdhpxqj14y5fzcvlpybb4b640000gn/T/pip-b

[2015-10-15 11:14] defjaf commented on #284
No errors, works fine!

[code]

[2015-10-15 11:34] lpsinger commented on #284
What happens if you imitate the clang invocation that failed?

[code]

[2015-10-15 12:14] mreineck commented on #284
Don't forget to add the "-x c++" flag, otherwise this compilation will most likely fail!

[2015-10-15 14:19] defjaf commented on #284
It works (even without `-x c++`; I think it uses the filename extension)!

Curiouser and curiouser.

[2015-10-15 15:29] defjaf commented on #284
I think there is some information on why this is happening if you search for "python.org osx python gcc-4.2". My very, very, very vague understanding is that for backward compatibility they compile python with the equivalent of the gcc-4.2 compilers, which then enforces a default compile for extensions with that same compiler. But of course what I *don't* understand is how it is actually getting s

[2015-10-15 17:43] lpsinger commented on #284
Oh, crap. Does it work if you comment out these two lines?

https://github.com/healpy/healpy/blob/1.9.0/setup.py#L36-L37

[2015-10-15 17:51] defjaf commented on #284
Hmmm, I haven't installed from source in a long time, but when I try, I get an  error

    ValueError: insecure string pickle

before it does anything interesting (this happens whether I try `python setup.py build`, or `pip install .`.

[2015-10-15 17:58] lpsinger commented on #284
I've never seen that error message before. Would you please provide more context?

[2015-10-15 18:00] defjaf commented on #284
Sorry:

[code]

[2015-10-15 18:37] lpsinger commented on #284
That's weird. No idea what's doing that. One more question: to check my diagnosis, would you please fire up the python.org interpreter and post the output of the following command?

[2015-10-15 18:52] defjaf commented on #284
Hi,

It gives 10.6 from the python.org build, and 10.11 from the built-in. I think that's the point, since that's how the python.org builds are created, for backward compatibility.

Andrew

[2015-10-15 19:14] jisuoqing opened #295 "Install issue on OS X 10.11"
Hi,

I've tried to install healpy with a few ways, but when I imported the module, it says:

[code]

I've tried ``pip install healpy`` as well as the development install, but neither of them work.

Thanks!

[2015-10-16 17:48] lpsinger commented on #295
@zonca, I think that these conditional imports create a lot of confusion. It's better to stick to a single code path where possible. Why are they necessary? Does it have to do with readthedocs? There may be a cleaner solution.

[2015-10-16 17:57] zonca commented on #295
@lpsinger yes, readthedocs, at some point it was also possible to run only the pure python part of healpy (plotting) if you couldn't compile healpix c++, but haven;t tested that in a while.

[2015-10-16 17:57] lpsinger commented on #284
Hmm. The C++11 standard library, selected by the compiler options `-stdlib=libc++`, requires `MACOSX_DEPLOYMENT_TARGET=10.7` or later.

We could force Healpy to build against a different Mac OS X deployment target than the Python interpreter, but that would probably lead to all sorts of runtime linking errors (see #151).

[2015-10-16 18:08] lpsinger commented on #284
@mreineck: what options do you have for making this not require C++11? This is likely going to be an issue for Python users on Mac OS for a while because there are several popular Python distributions that are still building against libstdc++.

[2015-10-16 18:12] lpsinger commented on #295
Does the readthedocs build environment have a working C/C++ compiler toolchain? If so, is it just a matter of it being slightly wasteful to build the native modules on readthedocs?

[2015-10-16 18:34] zonca commented on #295
It looks like still they do not support building C extensions

On Fri, Oct 16, 2015, 11:12 Leo Singer <notifications@github.com> wrote:

[2015-10-16 18:36] lpsinger commented on #295
Where do you see that?

[2015-10-16 18:38] zonca commented on #295
FAQ http://read-the-docs.readthedocs.org/en/latest/faq.html

[2015-10-16 18:40] lpsinger commented on #295
Do you mean [this part](http://read-the-docs.readthedocs.org/en/latest/faq.html#i-get-import-errors-on-libraries-that-depend-on-c-modules)? They are not saying that they don't support building C extensions, just that they don't have arbitrary third-party libraries. Healpy comes with source code for all of its own dependencies, so it should work.

[2015-10-16 18:55] zonca commented on #295
Ah ok, then we can give it a try

On Fri, Oct 16, 2015, 11:40 Leo Singer <notifications@github.com> wrote:

[2015-10-16 19:41] defjaf commented on #284
Aha, well this appears to "solve" the problem -- if I set MACOSX_DEPLOYMENT_TARGET=10.11 then it seems to pick the correct (newer) compiler and/or library and compiles fine.

A cursory check seems to indicate things are working. Is there a proper test suite for me to make sure?

This then raises the question about whether this is the best compiler for the job, but at least it works...

[2015-10-17 17:18] #292 closed

[2015-10-18 16:27] lpsinger commented on #295
It worked! See [Readthedocs output](http://lpsingerhealpy.readthedocs.org/en/latest/) for [my branch](https://github.com/lpsinger/healpy/tree/setup_cleanup).

[2015-10-18 18:09] zonca commented on #295
Great! PR?

On Sun, Oct 18, 2015, 09:27 Leo Singer <notifications@github.com> wrote:

[2015-10-19 01:52] rwogburn commented on #287
Thanks lpsinger and zonca, this is resolved.

[2015-10-19 01:52] #287 closed

[2015-10-19 09:11] mreineck commented on #284
I opened pull request #297 to remove the C++11 features.

[2015-10-19 10:01] defjaf commented on #284
Great, although this seems like a stopgap measure to some extent. Does the explicit MACOSX_DEPLOYMENT_TARGET=10.11 have any downside? It seems that some other issues imply that it might, at least with some distributions.

Conversely, does it have an upside? Does it use a more modern compiler or allow greater optimisation?

[2015-10-19 18:04] zonca commented on #289
@eirikgje yes, I think it is fine, please add also some unit tests

[2015-10-19 18:18] lpsinger commented on #295
@jisuoqing, does the developer install fail with the same error message? If so, please pull and try again. #298 won't fix your issue, but it will give us more useful information about what went wrong.

[2015-10-20 05:19] jisuoqing commented on #295
@lpsinger Thank you so much! It works -- previously the C files did not get compiled at all.

[2015-10-20 05:20] #295 closed

[2015-10-20 07:09] mreineck commented on #284
The libstdc++ present on OSX is quite ancient ... and it won't be updated because of licensing issues. Newer C++ standard libraries with support for C++11 can be made much more efficient, so in the future I certainly recommend switching.

[2015-10-20 08:26] mreineck commented on #284
I updated the Healpix C++ svn repository and removed the C++11 features there as well. It is revision 808 on branches/branch_v330r807/.

[2015-10-20 19:18] rwogburn commented on #17
This is a problem with inconsistent association of i,j with x,y in gnomview functions in projector.py.  The i index should go from 0 to ysize-1 and the j index from 0 to xsize-1, but in a few places it's the wrong way around.  Will submit a pull request to swap where needed.  The other projections look OK.

[2015-10-20 19:21] rwogburn commented on #17
Tested using the following cases:
[code]

[2015-10-23 04:03] zonca commented on #17
thanks! this is a very long standing issue!!

[2015-10-23 04:09] lpsinger commented on #284
@defjaf, did this help? We might want to do another minor release to pick up this and the Numpy 1.10.0 compatibility fix.

[2015-10-23 04:15] zonca commented on #290
No answer, closing this, please reopen if you get back to this.

[2015-10-23 04:15] #290 closed

[2015-10-23 04:16] zonca commented on #285
No followup, closing this, please reopen if you get back to this.

[2015-10-23 04:16] #285 closed

[2015-10-23 06:33] rwogburn commented on #17
Thanks, I think this can be closed.

[2015-10-23 10:11] defjaf commented on #284
Hi,

I haven’t tried the latest version — for some reason I have trouble building the master from the repo — but I am satisfied so far with explicitly setting MACOSX_DEPLOYMENT_TARGET, although I haven’t been able to get 100% confirmation that it’s safe!

I will at least try the next release with the default compilers/libraries to check.

Andrew

[2015-10-23 13:49] #17 closed

[2015-10-23 15:49] rwogburn commented on #109
What is the intended behavior of projplot?  If you use it to draw a line between two widely spaced, points, should it:
a) Project the points into plot axis coordinates, and join them with a straight line; or
b) Calculate additional intermediate points along a great circle?
The documentation doesn't specify.  I assumed that projplot would only do a) and that it's the user's responsibility to do b)

[2015-10-23 16:13] zonca commented on #109
Now `matplotlib` supports Mollweide projections, so the best would be to simplify a lot the code and use straight matplotlib functions, I started doing that here:

https://github.com/healpy/healpy/blob/master/healpy/newvisufunc.py

In this situation, people could just use the usual `plot` and `matplotlib` would take care of the projection.

[2015-10-23 16:18] crosset commented on #109
It does a) but it will draw a line between two points only if they are close enough (to avoid unwanted straight line going across the map when crossing meridian 180°). The division is made in _make_segment using _segment_threahold value to define what is "close enough".
The b) part is done to draw graticules, for example (it uses projplot).

Cyrille.

[2015-10-23 16:26] crosset commented on #109
I certainly recommend to go this way : the current implementation is full of nasty tricks and tuning which will be a nightmare to modify…

[2015-10-23 17:10] rwogburn commented on #109
That's fine for Mollweide, but presumably healpy still needs its own code to handle the other spherical projections?

[2015-10-28 17:54] rwogburn opened #307 "Lambert azimuthal equal-area projection"
SPT shows maps in the [Lambert azimuthal equal-area projection](https://en.wikipedia.org/wiki/Lambert_azimuthal_equal-area_projection) (example: [Hanson et al. arxiv 1307.5830](http://arxiv.org/abs/1307.5830)).  It sometimes gets used by other experiments as well.  I have written a healpy projection and 'lambview' function in [rwogburn/healpy/tree/lambert](https://github.com/rwogburn/healpy/tree/l

[2015-10-29 17:46] rwogburn commented on #307
The healpix IDL routines include an "azeqview" function for the [azimuthal equidistiant projection] (https://en.wikipedia.org/wiki/Azimuthal_equidistant_projection).  It should be straightforward to make the same projector class support both.

[2015-10-30 02:40] zonca commented on #109
I wonder if it would be worth to depend on `basemap`

[2015-10-30 05:29] rwogburn commented on #109
Right, basemap includes a lot of cartographic data.

[2015-11-05 02:41] lpsinger commented on #109
Deferring much of the visualization to another cartography package dependency would be great, but I'm not a fan of basemap because it is pretty hard to use a lot of standard Matplotlib features on basemap images. In Python, I prefer wcsaxes or cartopy.

[2015-11-08 03:16] zonca commented on #109
@lpsinger wcsaxes would be great, at some point it will directly be a part of astropy...
do you think it has all functionality needed for healpy plots?

[2015-11-11 21:59] vvinuv opened #308 "healpy crashes when use anaconda python"
Hello All
I was trying to install healpy with python from Anaconda2-2.4.0-Linux-x86_64. However, healpy  crashes without even installing it. Please see the below messages after healpy crashes. Do you have some work around this?
Thanks
Vinu

[code]

[2015-11-12 03:44] lpsinger commented on #308
What version of gcc are you using? Can you provide the output of `gcc --version`?

[2015-11-12 04:05] vvinuv commented on #308
Thanks! It is GCC 4.4.7

[2015-11-12 04:42] zonca commented on #308
You can try do conda install gcc and try to build with that gcc instead of
the system one.

On Wed, Nov 11, 2015, 20:05 Vinu Vikraman <notifications@github.com> wrote:

[2015-11-12 05:36] vvinuv commented on #308
Thanks all! I have found some work around. If you download the healpix from the sourceforge, then the steps are as following
1. You need to edit Healpy_config() function in hpxconfig_functions.sh. Just edit python_version to "2.7" in that function. I am not quite sure why python_version=`${CAT} ${tmpfile} | ${AWK} '{print \$NF}'` doesn't work in that function
2. ./configure : It will show some lan

[2015-11-15 20:50] richardgmcmahon opened #309 "Install problem with anaconda and OSX 10.10.5 (Yosemite)"
I am getting an error when I try to install with anaconda python on OSX 10.10.5 (Yosemite)

[code]

[2015-11-16 15:30] zonca commented on #309
Can you test by installing the anaconda GCC?

    conda install gcc

And reinstall healpy?

[2015-11-16 15:30] DanielLenz opened #310 "Install problem with El Capitan (OS X 10.11.1) and anaconda"
I've just re-installed OS X and cannot manage to install healpy with pip, the traceback is [here](https://gist.github.com/DanielLenz/0ea9da1a232987d9d8fe).

I'm using anaconda 2.4.0, also freshly installed.
gcc is the following:

    MBPR:~ dlenz$ gcc -v
    Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1
    Apple LLVM version

[2015-11-16 17:13] DanielLenz commented on #310
I tried using `condo install gcc` as well:

    MBPR:~ dlenz$ gcc -v
    Using built-in specs.
    COLLECT_GCC=gcc
    COLLECT_LTO_WRAPPER=/Users/dlenz/anaconda/gcc/libexec/gcc/x86_64-apple-darwin11.4.2/4.8.5/lto-wrapper
    Target: x86_64-apple-darwin11.4.2
    Configured with: ./configure --prefix=/Users/dlenz/anaconda/gcc --with-gxx-include-dir=/Users/dlenz/anaconda/gcc/include/c++ --bindir=/Us

[2015-11-16 18:16] lpsinger commented on #310
Try cleaning first:

    $ python setup.py clean --all

[2015-11-17 09:47] DanielLenz commented on #310
I've previously tried to install via `pip`, but installing via setup.py doesn't work either:

    MBPR:healpy-master dlenz$ python setup.py clean --all
    running clean
    'build/lib.macosx-10.5-x86_64-2.7' does not exist -- can't clean it
    'build/bdist.macosx-10.5-x86_64' does not exist -- can't clean it
    'build/scripts-2.7' does not exist -- can't clean it

    MBPR:healpy-master dlenz$

[2015-11-17 10:46] DanielLenz commented on #310
This seems to be related to https://github.com/healpy/healpy/issues/284, but I didn't manage to fix it yet.

[2015-11-17 14:19] lpsinger commented on #310
@zonca, could we do a point release to pull in #297 and the various setup.py improvements? That should address this issue.

[2015-11-17 18:55] DanielLenz commented on #310
I found that the 64-bit problem which I experience with conda gcc and homebrew gcc does also occur in https://github.com/elixircnx/comeonin/issues/61, they also provide a solution to this.

[2015-11-17 22:15] zonca commented on #310
release 1.9.1, can you please test it?

[2015-11-17 22:16] zonca commented on #309
can you try again with 1.9.1 just released?

[2015-11-17 22:16] #308 closed

[2015-11-17 22:17] zonca commented on #284
@defjaf can you please check if this is fixed with 1.9.1?

[2015-11-17 23:38] defjaf commented on #284
Yes, it seems to work with python.org installs of 2.7.10 and 3.5

Yours,

Andrew

[2015-11-18 00:11] #284 closed

[2015-11-18 00:15] DanielLenz commented on #310
Thanks, don't get very far with building from source though:

    MBPR:healpy-1.9.1 dlenz$ python setup.py install
    running install
    running bdist_egg
    running egg_info
    writing requirements to healpy.egg-info/requires.txt
    writing healpy.egg-info/PKG-INFO
    writing top-level names to healpy.egg-info/top_level.txt
    writing dependency_links to healpy.egg-info/dependency_links.tx

[2015-11-18 04:03] dsiah opened #311 "Looking to access Polarisation from Fits file in Healpy"
From the healpix documentation I know that I am able to access the polarisation convention for a fits object (Planck's data).

<img width="691" alt="screenshot 2015-11-17 22 58 21" src="https://cloud.githubusercontent.com/assets/6362717/11232251/be02644c-8d7e-11e5-824d-cd50107dd8ca.png">

From the Healpy documentation there is nothing written regarding how to access these values however Healpix ha

[2015-11-18 09:10] richardgmcmahon commented on #309
Thanks, still not working; although errors are different; I seem to have an out of date version of healpix see errors below and an older
version of healpy installed previously see below.

Requested 'healpix_cxx >= 3.30.0' but version of healpix_cxx is 3.11.2

rgm@Richards-MBP-2(~){18}> pip install --upgrade healpy
Collecting healpy
  Using cached healpy-1.9.1.tar.gz
Requirement already up-to-date:

[2015-11-18 12:53] lpsinger commented on #309
I tend to think that these errors have to do with switching to Anaconda's gcc and not with the updated Healpy package. In the output, do you see where it says `configure: error: in `/private/var/folders/jp/t98n8fv9609_52_625p09w440000gq/T/pip-build-MXH6em/healpy/build/temp.macosx-10.5-x86_64-2.7/healpix_cxx':`? Can you paste the contents of the `config.log` file from that directory?

[2015-11-18 12:57] lpsinger commented on #310
No, you don't need to install cfitsio yourself (though you can). When you are building from git rather than a source release, [you need some extra tools](https://github.com/healpy/healpy/blob/master/INSTALL.rst#development-install). You are probably missing autoconf/automake.

[2015-11-18 13:14] DanielLenz commented on #310
Alright, thanks for the help! Since the issue is fixed and I can use healpy again, I'll close this one.

[2015-11-18 13:14] #310 closed

[2015-11-18 18:32] zonca commented on #311
please post HOWTO kind of questions to stackoverflow instead.

anyway:

    m = hp.read_map("filename.fits", (0,1,2))

m[1] is Q, m[2] is U

[2015-11-18 18:32] #311 closed

[2015-11-18 23:16] richardgmcmahon commented on #309
pip was doing a cleanup that was removing config.log to I used: -v and —no-clean i.e.

pip -v install --upgrade --no-clean healpy

This looks like the error that is causing the problem

d: library not found for -lgcc_s.10.5

I am using anaconda/gcc

configure:3288: checking whether the C compiler works
configure:3310: gcc -fno-strict-aliasing -I/Users/rgm/anaconda/include -arch x86_64  -DNDEBUG -g

[2015-11-23 11:19] ziotom78 commented on #247
Probably I'm seeing the same problem in a slightly different way. Using Healpy 1.9.0, the rotation matrix from Galactic to Ecliptic is not perfectly orthogonal. The code

[code]

produces the output

    [[  1.00000000e+00,   1.23993374e-10,   2.08527973e-10],
     [  1.23993374e-10,   1.00000000e+00,  -4.73150224e-10],
     [  2.08527973e-10,  -4.73150224e-10,   1.00000000e+00]])

The difference

[2015-11-24 04:04] zonca commented on #247
thanks @ziotom78
@lpsinger , any update on the possibility of `healpy` to depend on `astropy`?

[2015-11-24 11:13] astrofrog commented on #247
By the way, astropy is installable on Debian already via the package manager.

[2015-11-24 15:05] lpsinger commented on #247
Sorry, we're still using Wheezy on our Debian clusters, so Astropy is not yet available via `apt-get` for us. I'll check on our reference OS selection again.

[2015-11-24 15:45] astrofrog commented on #247
In any case, I feel like it would be a shame to hold back development of certain areas of healpy just because of system administration issues. Is ``pip install`` not allowable? healpy itself doesn't have a debian package either, right?

[2015-11-24 16:39] lpsinger commented on #247
Our own data analysis pipelines are deployed using `apt` on Debian and `yum` on SL, so their dependencies have to be available as packages.

It [does](https://packages.debian.org/search?suite=sid&searchon=names&keywords=healpy), but in sid. We have a backport in [our own public LIGO Debian repository](http://www.lsc-group.phys.uwm.edu/daswg/download/repositories.html). It would be tough to backpor

[2015-11-24 17:15] astrofrog commented on #247
@lpsinger - I suggested this before, but what about having a special fork of healpy that would be a kind of LTS release that can include only bug fixes from now on, and then going ahead with development using astropy etc in the master branch? Then if there are any bad bugs, they can be backported to the LTS branch and that can be used for LIGO? (in other words, it would be a shame to hold back dev

[2015-11-24 18:46] gregreen commented on #247
@lpsinger - I've suggested this before, but installing healpy (and the rest of the Python stack) in a virtual environment is really the way to go if you want to stay up-to-date with Python packages (and not just healpy). I don't see why `pip install -r requirements.txt` is a harder sell than `apt-get install XYZ`.

In any case, healpy development shouldn't be held back by sysadmin choices, especia

[2015-11-24 19:04] lpsinger commented on #247
@gregreen, it is highly unlikely that LIGO will switch to using virtual environments for production analysis codes. Our collaboration has made a large investment in system administrators, code librarians, and build infrastructure related to .debs and .rpms. Also, a lot of our codes are autotools-style packages that have mostly C code and a little Python; they are not amenable to virtualenvs anyway

[2015-11-24 19:10] lpsinger commented on #247
As I have said before, Healpy coordinate conversions are not used by any LIGO code, so it would be fine to rest entirely on Astropy for this functionality. It doesn't need to be backported to Wheezy because we'll probably never need it on our clusters anyway. @gregreen should just submit a patch to modernize `healpy.rotator` using Astropy. That one submodule won't work on LIGO, but we won't miss i

[2015-11-24 20:57] marius311 opened #312 "Marking dependencies as optional"
It would be nice to not be forced to install matplotlib (and even maybe pyfits) when you install Healpy, since there's quite a lot of functionality that works without it. Any chance something like that could be added?

Fyi, I'm thinking of deploying an app to Cosmology@Home that uses Healpy, so since this would be getting sent out to lots of people on possibly not-very-fast internet connections, d

[2015-11-24 21:11] mreineck commented on #312
I can't comment on your request itself (I just do C++, not Python), but maybe a related heads-up: the Wikipedia page for Cosmology@home says that "The Cosmology@Home application is proprietary." If that is indeed the case, you may not be able to link it with healpy and distribute theresulting code because of licensing conflicts. But I admit I haven't looked at the app in any depth.

[2015-11-25 00:40] zonca commented on #312
@marius311 that would be a good idea, however it would be important to implement a good fallback that notifies users everytime they need those packages and prompt them to install.
So that would require a significant amount of work, unless you know some package that does that automatically (?).

In any case, we can evaluate a Pull Request if you want to work on it!

[2015-11-25 13:58] marius311 commented on #312
@zonca I was afraid of that answer :) I will see if I get a chance to at any point.

@mreineck Thanks, I'm actually the main dev of C@H, I think the only problem is that the wiki is out of date.

[2015-11-25 16:28] lpsinger commented on #312
You're probably looking for [setuptools extras](https://pythonhosted.org/setuptools/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies).

[2015-12-02 16:33] chrisnorth opened #315 "Plotting and exporting high resolution images"
When I try to use healpy to export very high resolution images (over 10000px wide over the full sky), the resulting map isn't as high resolution as I would expect. If I try:

map=hp.read_map('myFile.fits') #preferably nside=4096 for high resolution, ~2arcmin pixel size
plot.figure(1,figsize=(16,12))
hp.cartview(map,fig=1,xsize=12000) #12000 pixels corresponds to ~2arcmin
plot.savefig('myFile.png',

[2015-12-04 04:35] evanbiederstedt opened #316 "Installation error with Python3.4.3"
I think healpy should work with Python3.4. However, I am recently installed healpy for Python version 3.4.3 using

    sudo pip-3.4 install healpy

However, here is the error I receive when importing healpy in Python 3.4.3:

    Python 3.4.3 (default, Dec  3 2015, 21:59:13)

    [GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.1.76)] on darwin

    Type "help", "copyright", "credits" or "license"

[2015-12-04 12:31] lpsinger commented on #316
Healpy supports Python 2.6, 2.7, 3.2, 3.3, and 3.4.

It looks like `pip` linked against the HEALPix library provided by MacPorts (`/opt/local/lib/libhealpix_cxx.0.dylib`), which was built with OpenMP support. I bet that `pip` used a compiler that doesn't support OpenMP.

Why not try installing Healpy using MacPorts?

    sudo port install py34-healpy

[2015-12-04 17:13] evanbiederstedt commented on #316
That's a reasonable approach, i.e.

    sudo port install py34-healpy

Unfortunately, there are so many defects installing the dependencies for `py34-healpy`, e.g. `py34-cycler`, `py34-parsing`, etc.

This should work, but the dependent module have issues being installed at the moment via macports.

So, I'm stuck for the moment.

[2015-12-04 17:35] lpsinger commented on #316
It worked just now on my system (OS X 'El Capitan' 10.11.1 + MacPorts). If you have found a bug in a MacPorts port, then you should [report it as a MacPorts bug](https://trac.macports.org/newticket). (I maintain the Healpy port.)

[2015-12-04 17:49] evanbiederstedt commented on #316
Hi Leo,

It's not really a problem with py34-healpy, so I am reporting the bugs to the individuals who maintain the ports which are not installing. If you wish, I could create a py34-healpy report:

Here's what I see:

    $ sudo port install py34-healpy
    Password:
    --->  Computing dependencies for py34-healpy
    --->  Dependencies to be installed: py34-matplotlib py34-cycler py34-dateutil

[2015-12-04 18:00] #316 closed

[2015-12-08 07:45] zonca commented on #315
have you tried using `return_projected_map` and plot it directly with `matplotlib`?

[2015-12-17 23:30] telegraphic opened #317 "healpy.rotator.Rotator documentation"
The documentation for [healpy.rotator.Rotator](http://healpy.readthedocs.org/en/latest/generated/healpy.rotator.Rotator.html) could be improved.

Specifically, `euler_matrix_new()` does not appear to be a function within healpy :confused:.  I'm assuming the guts of the Rotator are based on [the IDL routine](http://healpix.jpl.nasa.gov/html/idlnode14.htm)?

It wasn't clear to me that to get the sam

[2015-12-28 01:49] svalenti opened #318 "problem with installation"
Hi,
I'm trying to install healpy but I have the following problems

if I try to install it from source the installation crash with the following error:

checking for ffgnrwll in -lcfitsio... no
configure: error: could not find the cfitsio library

if I install it with pip, the installation complete but when I import the module I get the following error:

RuntimeError: module compiled against API v

[2015-12-28 06:18] svalenti commented on #318
sorry, problem solved
I had a weird numpy installation

[2015-12-28 06:18] #318 closed

[2015-12-28 16:18] svalenti opened #319 "Problem with installation anaconda and OSX 10.9.5"
I installed healpy using pip

the installation successfully completed, but when I import the package I get the following error:

/Users/svalenti/anaconda/lib/python2.7/site-packages/healpy/pixelfunc.py:105: UserWarning: Warning: cannot import _healpy_pixel_lib module
  warnings.warn('Warning: cannot import _healpy_pixel_lib module')
Traceback (most recent call last):
  File "<stdin>", line 1, in <

[2015-12-28 16:23] lpsinger commented on #319
This error message means that pip linked healpy against the MacPorts build of healpix_cxx, which is built with OpenMP support. However, pip used a compiler that doesn't support OpenMP directives (probably clang).

You could use the MacPorts build of Healpy (`sudo port install py27-healpy`). Or, if you prefer using Anaconda Python, then you could uninstall or deactivate healpix_cxx (`sudo port deac

[2015-12-28 17:02] svalenti commented on #319
Thanks Leo !
However, It seems I have actually a problem with matplotlib and anaconda that I need to fix

Referenced from: /Users/svalenti/anaconda/lib/python2.7/site-packages/matplotlib-1.5.0+918.gb6a79ac-py2.7-macosx-10.5-x86_64.egg/matplotlib/_path.so
  Expected in: dynamic lookup

[2016-01-06 06:52] aaroncnb opened #320 "ud_grade doesn't port input map's header info"
I am writing my own bit of code to do this in a seprate process,
   but how about adding an option to import the input-map's header, along with the map itself, and then update the NSIDE keyword to reflect the new resolution?

For example, my process now is:

[code]
The newly-written .fits file has a freshly-generated header, which indeed shows the correct NSIDE keyword (2048), however other keywor

[2016-01-06 18:45] zonca commented on #320
@aaroncnb unfortunately `healpy` maps are just arrays, so there is no easy way to also carry header information.

you could read explicitly the header using `h=True` in `read_map`, then add that as `extra_header` in `write_map`. Would that work?

[2016-01-08 02:20] aaroncnb commented on #320
Thanks for the reply

     I think that will work. I've done that before with IDL. As long the healpy functions are handling the header in the same way as IDL HEALPix, it should work (though I think IDL stores the header under a separate variable, whereas ```healpy.read_map``` appends the header to the map- is this correct?)

(For reference: http://healpix.jpl.nasa.gov/html/idlnode47.htm and http:

[2016-01-08 04:42] zonca commented on #320
do:

    map_in, h = hp.read_map(filename)

On Thu, Jan 7, 2016 at 6:20 PM Aaron C. Bell <notifications@github.com>
wrote:

[2016-01-08 06:55] yinanoom opened #321 "Healpy install problem(anaconda)"
After installing healpy with pip I had following message.

/Users/yinanoom/anaconda2/lib/python2.7/site-packages/healpy/pixelfunc.py:105: UserWarning: Warning: cannot import _healpy_pixel_lib module
  warnings.warn('Warning: cannot import _healpy_pixel_lib module')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/yinanoom/anaconda2/lib/python2.7/site-packages

[2016-01-09 04:02] yinanoom commented on #321
And, when I install heaply using macport,

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named healpy

[2016-01-09 15:59] lpsinger commented on #321
You're mixing two different Python interpreters. If you want to use Healpy installed with MacPorts, then fire up the MacPorts Python interpreter. If it's not at the top of your path, then you can start it using the absolute path `/opt/local/bin/python2.7`.

[2016-01-09 15:59] #321 closed

[2016-01-09 17:34] yinanoom commented on #321
I had two python2.7 versions and I uninstall one of them. Then I did sudo port select python python27 as you said. And I installed heaply successfully. Thanks!

[2016-01-09 17:39] yinanoom commented on #321
I uninstalled the python2.7 which I had installed using homebrew.

[2016-01-09 17:48] lpsinger commented on #321
You weren't using the Homebrew Python interpreter; you were using Anaconda.

You don't need to delete the multiple Python interpreters necessarily, just be aware of which one you are running by inspecting your `$PATH` environment variable.

[2016-01-22 15:13] SaulAryehKohn commented on #309
Was this issue ever resolved? I am generating the similar errors ("Failed building wheel for healpy"), resulting in a subprocess error:

[code]

and crashing with an InstallationError:

[code]

Let me know if I can supply any more information, or if a fix is still in the works for the above Issue.

[2016-01-22 16:06] lpsinger commented on #309
Can you provide the full output as a gist?

[2016-01-22 16:15] SaulAryehKohn commented on #309
Sure thing -- it's here: https://gist.github.com/SaulAryehKohn/c566e39674f5b0ff58a7

[2016-01-22 20:52] lpsinger commented on #309
The immediate cause of the failure is the error message `C compiler cannot create executables`. Are you sure that you have the latest version of Xcode?

[2016-01-22 22:19] SaulAryehKohn commented on #309
I am using the latest version of XCode, but I had not installed the most recent *software update* which apparently contained new XCode command-line tools.

After updating, I reset the command line tools ```sudo xcode-select -r``` and tried to reinstall (which actually generated error ```xcode-select: error: command line tools are already installed, use "Software Update" to install updates```, but

[2016-01-22 22:24] lpsinger commented on #309
Are you doing a clean healpy build?

[2016-01-22 22:40] SaulAryehKohn commented on #309
OK, I'm getting a new error now after calling ```sudo xcodebuild -license```. The first failure is still within the ``bdist_wheel```.

When you write "clean build", do you mean using ```pip install healpy --ignore-installed```?  I just tried that (and got the same, new error) and it now crashes with exit code 2, rather than the previous 77. It looks like it's having trouble with a 64 bit architect

[2016-01-25 15:48] SaulAryehKohn commented on #309
OK, I've followed [these instructions](https://github.com/healpy/healpy/blob/master/INSTALL.rst#development-install) for the dev install and I'm now pretty sure that the error is from healpix_cxx and not strictly healpy. Again to do with the 64bit architecture. ```alm2map_cxx``` is causing the error. Again, I'm running on a 64bit machine (OS X 10.10.5, which is why I hijacked this open issue threa

[2016-01-26 00:41] gregreen opened #322 "cartview lonra bounds bug"
In visufunc.cartview, I sometimes get the following error:

[code]

The restrictions on `lonra` are incorrect: `a<b` should not be required (for that matter, requiring `a>=-180` and `b<=180` is also incorrect), because longitude obeys modulo-360 arithmetic.

This makes it difficult to plot sections of the sky that span longitude = 180 degrees without resorting to fiddling with the `rot` parameter.

[2016-01-31 08:00] aaroncnb opened #323 "read_map gives "Key Error" when reading IRAS/IRIS HEALPix maps"
When attempting to read the IRAS/IRIS HEALPix maps with healpy.read_map, using the following commands:

[code]

 the code fails with the following output, citing a "Key Error", and tracing back to the numpy.records.pyc code.

I don't think it is a NESTED/RING conversion issue, since the code correctly reports that the file is in the RING scheme.

I have confirmed that the same problem arises for a

[2016-02-03 03:20] zonca commented on #323
it looks like the columns are missing the name attribute, and that is used by `fits_hdu.data.field(key)`, here key is 0, so the right column object is retrieved, but then astropy uses `column.name` which is `None` in that file.

You can try to use `astropy.io.fits` directly.

Otherwise if you find a way for `healpy` to work around this malformed fits file in a simple way, I could merge it into `he

[2016-02-03 03:28] zonca commented on #322
sorry, I don't have much experience with the projections. do you think that changing or removing the checks in the code would be enough? https://github.com/healpy/healpy/blob/029bb260239621f19d2fdcf036d4c4f5330b3af5/healpy/projector.py#L556

[2016-02-03 03:29] #320 closed

[2016-02-03 03:29] zonca commented on #319
closing now, please reopen if needed

[2016-02-03 03:29] #319 closed

[2016-02-03 03:31] zonca commented on #317
thanks! can you re-do this example without using `pygsm`? then can you do a pull request to `healpy` documentation, maybe in the tutorial? I would be happy to merge it. Closing this issue for now, hope you'll make a PR.

[2016-02-03 03:31] #317 closed

[2016-02-03 03:33] zonca commented on #309
@mreineck do you think this could be an issue in `healpix_cxx`?

[2016-02-03 03:33] #289 closed

[2016-02-03 10:08] mreineck commented on #309
On 02/03/16 04:33, Andrea Zonca wrote:

Not in the sources themselves. An internet search seems to indicate that
this problem occurs when not all components being linked together have
been compiled with the same version of the compiler. There is nothin we
can do about this on our end.

[2016-02-03 17:35] zonca commented on #323
I tried to use `astropy.io.fits` directly, gives the same error, try:

    fits.open("IRIS_nohole_1_1024.fits")[1].data

I think this is a malformed FITS file. Anyway, it is not a `healpy` bug, closing this issue.

[2016-02-03 17:35] #323 closed

[2016-02-10 11:23] fbianchini opened #326 "Import error sphtlib & co."
Hi everyone, I am trying to install Healpy 1.9.1 with pip on my Mac OSX 10.6.8 (Snow Leopard).
The build is successful on my Anaconda python distribution, however I get an error when I try to import the module: below you can find the gist with the full error report.
I am aware of similar issues (i.e. #151) but I couldn't come up with a solution.
Any help or suggestion would be very appreciated.
Th

[2016-02-10 14:21] keflavich opened #327 "Installation issue on 10.9.5"
I'm running into the following issue when trying to install healpy on mac 10.9.5:

[code]

Could you offer any suggestions on what might be causing this?  I'm trying to install from source on tag 1.9.1

[2016-02-10 18:00] lpsinger commented on #327
When you build from git, you need to have a full installation of autotools because setup.py needs to bootstrap the healpix_cxx configure script and make files.

[2016-02-11 12:14] keflavich commented on #327
@lpsinger thanks.  It looks like I have at least parts of autotools installed:
[code]

but maybe healpix still isn't getting installed?

[code]

Do I need to install the healpix submodule independently before running `python setup.py install`?  The [instructions on the readme](https://github.com/healpy/healpy/blob/master/README.rst#optional) say "no", but perhaps there is a step I've missed?

[2016-03-01 09:04] olebole opened #328 "1.8.1: Healpy uses floats as index for numpy"
With the latest beta versions of numpy, the healpix tests fail with errors like
[code]
According to the discussion in numpy/numpy#7162, this will be reverted for the final version numpy-1.11. However; using floats as ints is deprecated and will fail with the following release of numpy.
Full error log (also containing other problems, with the new pyfits version) is [here](https://buildd.debian.org/

[2016-03-01 09:13] olebole opened #329 "1.8.1: Problems with pyfits 3.4"
With the new pyfits release, the unit tests show errors like
[code]
According to the pyfits documentation, the calling sequence of pyfits.Header.update() is wrong.
Full error log (also containing the problem described in #328) [here](https://buildd.debian.org/status/fetch.php?pkg=healpy&arch=amd64&ver=1.8.1-1.1%2Bb1&stamp=1456704751)

[2016-03-06 02:23] zonca commented on #328
Thanks! If you would like to provide a fix with a pull request that would
be great, otherwise I'll work on this when I have time in the next few
weeks.

On Tue, Mar 1, 2016, 01:04 Ole Streicher <notifications@github.com> wrote:

[2016-03-06 13:04] olebole commented on #328
Sorry, I don't have one. The problem here is that probably one has to review the whole package to find places which use floats as indices (at least, if the tests do not cover the whole code).
As I said, this will not be a problem for numpy-1.11, but the later versions will need integers.

[2016-03-07 09:06] shivamanhar opened #331 "github installation problem"
![image](https://cloud.githubusercontent.com/assets/6649552/13564742/be361142-e400-11e5-8e13-2908cdc40290.png)

[2016-03-07 23:18] zonca commented on #331
not a healpy issue.

[2016-03-07 23:18] #331 closed

[2016-03-23 23:05] #326 closed

[2016-03-26 03:39] mwcraig commented on #251
We are trying to get healpy built at openastronomy/conda-channel#3 and are hitting come build errors.

The one here on linux is particularly odd because it is trying to install nose: https://travis-ci.org/OpenAstronomy/conda-channel/jobs/118622876#L1732

We are also hitting Windows build fails, any input welcome!

[2016-03-26 19:29] zonca commented on #251
About windows: we never managed to compile the C++ extension on Windows.

[2016-03-29 15:48] lpsinger commented on #251
I offered a suggestion on OpenAstronomy/conda-channel#3.

As @zonca says, Healpy does not currently support Windows. This is largely my fault. The healpix-cxx is moderately difficult to build correctly because of OpenMP and reliance on some bleeding-edge C++ features. I overhauled the healpix-cxx build as a traditional autotools-driven configure/make/install to make sure that all of the compiler c

[2016-03-30 11:28] mreineck commented on #251
I'm not aware that the C++ package currently imported by healpy uses any feature outside C++98 - if so, I'll have a look and try to fix that. (Future releases will probably require C++11, however.)
OpenMP should not hurt on a non-OpenMP-aware compiler; it will just ignore the #pragma directives.
But I agree that the current compilation infrastructure requires POSIX support. Maintaining Windows-spe

[2016-04-01 08:29] cdeil opened #332 "Include query_disc in documentation?"
It looks like [query_disc](https://github.com/healpy/healpy/blob/26997de4622702b7dbe3f92d19a92cdbbf7135b3/healpy/src/_query_disc.pyx#L13) and the other `query_*` functions aren't mentioned in the healpy docs:

http://healpy.readthedocs.org/en/latest/search.html?q=query_disc&check_keywords=yes&area=default
http://healpy.readthedocs.org/en/latest/search.html?q=query&check_keywords=yes&area=default

[2016-04-01 08:33] cdeil opened #333 "Support nside that's not a power of two?"
Why does healpy only support nside values that are a power of two?

Is it because the use case of other nside values hasn't come up?
Would pull requests removing the `isnsideok` check from functions where it's not needed be welcome?

This question came up when @tburnett tried to move some of his code over to use `healpy` and tried to call `query_disc` with `nside=12`.

I see that [isnsideok](http:

[2016-04-01 08:39] cdeil commented on #251
https://github.com/OpenAstronomy/conda-channel/pull/3 is merged, conda packages for Linux and Mac are now available via `conda install -c openastronomy healpy`.

Close this issue?
(maybe file a new one summarising the status and action items for Windows support?)

Worth mentioning at http://healpy.readthedocs.org/en/latest/install.html ?

[2016-04-01 08:41] cdeil opened #334 ""Edit on Github" links from docs are broken"
The "Edit on Github" links from the healpy docs are broken.

E.g. if you go to http://healpy.readthedocs.org/en/latest/generated/healpy.pixelfunc.pix2ang.html and click the "Edit on Github" button in the upper right, it points to https://github.com/healpy/healpy/blob/master/doc/generated/healpy.pixelfunc.pix2ang.rst which gives a 404.

Fix or remove this feature?

[2016-04-01 08:48] cdeil opened #335 "Docs for get_neighbours and get_interp_weights"
Currently get_neighbours still appears in the docs:
http://healpy.readthedocs.org/en/latest/generated/healpy.pixelfunc.get_neighbours.html

It has been removed and can't be used any more:
https://github.com/healpy/healpy/blob/2abc1902dd1b3788742fb54b3e528e4661a41c23/healpy/pixelfunc.py#L1170

Probably it should either be removed from the docs completely, or get a docstring that points to the repla

[2016-04-01 08:50] mreineck commented on #333
The problem is probably mostly interface-related...
For ordering scheme NESTED, nside _must_ be a power of 2 - this is one of the fundamental assumptions of this scheme. For RING, all positive values are in principle OK.
Now, functions like isnsideok only take a single "nside" argument. Given the distinction above, it simply cannot give a correct answer based on nside alone.
This means that for fu

[2016-04-01 08:58] cdeil opened #336 "Docs build on ReadTheDocs is broken"
I now see that the healpy latest docs build on ReadTheDocs has been broken for a while:
http://readthedocs.org/projects/healpy/builds/

The latest one from a months ago ( http://readthedocs.org/projects/healpy/builds/3742755/ ) ends with:

[code]

So I don't know if the other docs-related issues I filed just now (#332, #333, #334) are still present.

[2016-04-01 17:12] tburnett commented on #333
In the Fermi-LAT environment, I'm using an interface to HEALPix 3.20, from http://healpix.sourceforge.net. The function query_disc is implemented in healpix_base.cc.  That has worked with nside not a power of 2 (of course RING indexing) for more than 8 years, and is required to interpret the pointlike analysis system.

[2016-04-01 19:45] lpsinger commented on #329
LIGO will be transitioning to Debian Jessie and Scientific Linux 7 very soon. That would allow us to depend on astropy >= 0.4.2 or pyfits >= 3.2.4. Will this work with astropy 0.4.2? Could we drop pyfits support and require astropy instead?

[2016-04-01 19:47] lpsinger commented on #247
LIGO is soon going to switch to Scientific Linux 7 and Debian Jessie. Debian Jessie ships with astropy 0.4.2. Will this work with that version of astropy, minus the ecliptic coordinates?

[2016-04-01 19:53] olebole commented on #329
Changing the code as shown in #330 works with both old an new versions of pyfits (unless you have a _real_ old version) and astropy. I would however recommend to drop pyfits support ASAP, since pyfits is really obsolete and can be completely replaced with astropy (same applies to pywcs, BTW).
[code]
should just work directly, even with older astropy versions. #330 is needed then as well, however.

[2016-04-01 19:59] lpsinger commented on #329
@zonca, let's do it.

[2016-04-01 20:00] olebole commented on #329
Just checked with the pyfits changelog: it the new API was introduced with [version 3.1 (2012-08-08)](https://github.com/spacetelescope/PyFITS/blob/master/CHANGES.txt#L1077).

[2016-04-01 20:04] olebole commented on #329
@lpsinger could you create a new Debian package as well?

[2016-04-01 20:30] zonca commented on #329
ok, merging the PR

On Fri, Apr 1, 2016 at 1:04 PM Ole Streicher <notifications@github.com>
wrote:

[2016-04-01 20:30] #329 closed

[2016-04-01 20:32] zonca commented on #333
duplicate of #70 , please continue discussion there.

[2016-04-01 20:32] zonca commented on #70
see #333

[2016-04-01 20:32] #70 closed

[2016-04-01 20:33] zonca commented on #333
no, actually, sorry, this one has more information, let's keep this open!

[2016-04-30 03:05] astroOcean commented on #25
I wanna ask that does the bug (environment can only contain strings) in installing healpy on windows be fixed? I try install healpy1.9.1 on my windows pc, but it has error that environment can only contain strings. The version of my python is 2.7.11
 Any help is appreciative.

[2016-04-30 21:26] ARepp commented on #25
Hi there—I was never able to get it to work, so I ended up using another computer. Thus I don’t know if it’s been fixed or not.

Thanks,

Andrew

From: astroOcean [mailto:notifications@github.com]
Sent: Friday, April 29, 2016 5:06 PM
To: healpy/healpy <healpy@noreply.github.com>
Cc: Andrew Repp <repp@ifa.hawaii.edu>; Mention <mention@noreply.github.com>
Subject: Re: [healpy/healpy] [help] build he

[2016-05-01 00:56] astroOcean commented on #25
Thanks for your reply. Anyway, I can use it on my Linux system.

------------------ Original ------------------
From: "Andrew Repp";
Date: 2016年5月1日(星期天) 凌晨5:26
To: "healpy/healpy";
Cc: "astroOcean"; "Comment";
Subject: Re: [healpy/healpy] [help] build healpy on Windows (#25)

Hi there—I was never able to get it to work, so I ended up using another computer. Thus I don’t know if it’s been fixed or