[2016-05-10 10:19] Goutte opened #339 "PARTIAL files and RAM usage"
Hello !

First things first, thanks for these python bindings. :+1:

I'm working with high (`nside=16384`, and growing bigger -- _science !_) resolution partial healpix files, and reading them with `read_map` blows up my memory. Yes, I'm working on a small laptop, and no, I don't want to have to always use the server and its terabytes of RAM. :wink:

I'm wondering how hard it would be to make `rea

[2016-05-10 10:24] Goutte commented on #339
I found https://pypi.python.org/pypi/sparse_list

[2016-05-10 14:37] zonca commented on #339
Hi, I generally use pandas.Series for sparse maps. But then always convert
to a full map when interfacing with healpy.
I think an integration of pandas for Partial maps would be nice, using it
as a soft dependency, i.e. the rest would work without pandas.

On Tue, May 10, 2016, 03:24 Antoine Goutenoir <notifications@github.com>
wrote:

[2016-05-11 13:52] Goutte commented on #339
I managed to clone and run the test-suite. I did not run `python setup.py build_ext --inplace`, but I'm pretty sure I won't need to fool around in the C extensions.

How about a test such as this one ?

[code]

[2016-05-11 15:44] zonca commented on #339
Something like that would be fine, if you send a pull request, I can
comment on the details.

On Wed, May 11, 2016, 06:52 Antoine Goutenoir <notifications@github.com>
wrote:

[2016-05-11 22:07] Goutte opened #340 "Benign unresolved reference in `fitsfunc._get_hdu`"
At https://github.com/healpy/healpy/blob/master/healpy/fitsfunc.py#L545 it should be `input_data` instead of `hdulist`.

I fixed that in my branch and can commit that along with my next PR (cf. issue #339), but if you'd rather have it in a different PR for git tree cleanliness (or even do it yourself) I'd understand.

[2016-05-12 00:01] Goutte commented on #339
I tried. The initialization of `SparseSeries` or `SparseArray` is weird and seems to defeat the low-memory-consumption purpose of having sparse arrays in the first place. I don't get it. I'm probably doing it wrong, but I can't find for the life of me how to do it with these classes. I spent a lot of time reading `pandas` internal voodoo and I'm even more confused than before.

I also tried with `

[2016-05-12 06:13] Goutte commented on #339
Well... Scipy sparse matrices do not support default values other than 0.
They also are 2D and have some `NotImplementedError`s such as _"adding a nonzero scalar to a sparse matrix is not supported"_ that don't play well with the current codebase.
(even `np.testing.assert_array_almost_equal` does not like it)

---

I've added support for `[iterable]` slicing to `sparse_list`, and I will try again

[2016-05-12 15:43] zonca commented on #340
Yes please do a separate PR, thanks

On Wed, May 11, 2016, 15:07 Antoine Goutenoir <notifications@github.com>
wrote:

[2016-05-12 15:44] zonca commented on #339
Why don't use pandas Series instead of Sparse matrices?

On Wed, May 11, 2016, 23:13 Antoine Goutenoir <notifications@github.com>
wrote:

[2016-05-12 17:11] Goutte commented on #339
Well, assuming I figure out how to use `pandas.Series`, there's no default value other than `numpy.nan` for now. So I looked into `pandas.SparseSeries` and `pandas.SparseArray`, that have a `fill_value` parameter, and got even more confused.

---

I'm still trying with `pandas`, because I want to benchmark against `sparse_list` (with whom the test takes up 19 seconds !)

[2016-05-12 18:13] Goutte commented on #339
The only way I've successfully instantiated a `pandas.Series` is as follows :

[code]

This is not acceptable, as it defeats the whole point of not consuming too much memory.

Ideally, we'd want a sparse vector with a signature akin to this :

[code]

Am I getting this wrong ?

[2016-05-13 18:58] zonca commented on #339
initialize as:

    mnew = pd.Series(map_values, index=valid_pixels)

On Thu, May 12, 2016 at 11:13 AM Antoine Goutenoir <notifications@github.com>
wrote:

[2016-05-14 00:46] Goutte commented on #339
[code]

I tried that already, but I could not find a way to set either a default value and a total size for the series, and while `pandas.SparseArray` provides a `fill_value`, it has no total size either and furthermore is immutable.

[code]

I managed to get it working using a custom implementation of sparse vectors based on `sparse_list.SparseList` (see https://github.com/johnsyweb/python_sparse

[2016-06-03 06:35] aaroncnb opened #344 "Interpolation: How about allowing bicubic as well as bilinear?"
Sorry that the issues I post usually boil-down to feature requests, but I have one more that I wonder if anyone has tried to implement.

healpy currently has a function for bilinear pixel interpolation:
``healpy.pixelfunc.get_interp_val``

This function is called by the healpix2wcs in the Python version of Drizzlib  (If the users chooses the bi-linear option rather than nearest-neighbor):

http://

[2016-06-03 07:45] mreineck commented on #344
I do not think that this can work ... or at least, it will not be a straightforward extension at all.
The problem is that for bicubic interpolation one would need 4*4 neighbouring Healpix cells on a (more or less) regular grid to obtain the interpolation coefficients, and these are not always available. For an example, look at the regions where the 12 base pixels meet. In some cases, even linear i

[2016-06-10 01:50] aaroncnb commented on #344
Ah, that makes sense. Thank you very much for the detailed explanation.
Perhaps the most straightforward way is to use healpy/healpix2wcs to make the rectangular map first, and then use something like SWarp for the interpolation.

cheers,
   aaron

[2016-06-28 03:02] lpsinger commented on #253
Fixed in #346.

[2016-06-28 03:02] #253 closed

[2016-07-18 19:02] rbiswas4 commented on #278
Sorry, I lost track of this but I would like to return to the first point:

- I have a set of points (ra, dec) and I can convert them to theta, phi in the range [0, np.pi), [0, 2*np.pi)
- I can find the ids of the healpixels (in say the NEST scheme) these points fall on

Now, I would like to plot a particular healpixel say healpixel 0 with these point,. together on the usual mollview projection. H

[2016-07-18 19:46] rbiswas4 opened #347 "Overplotting `hp.mollview` figures with points"
This is really a reopen of a part of #278 which I cannot do. I wrote a comment, but was unable to open the issue, so I am just copying the problem here:

- I have a set of points (ra, dec) and I can convert them to theta, phi in the range [0, np.pi), [0, 2*np.pi)
- I can find the ids of the healpixels (in say the NEST scheme) these points fall on

Now, I would like to plot a particular healpixel s

[2016-07-18 19:58] zonca commented on #347
Can you attach a PNG figure to the issue?

[2016-07-18 20:19] rbiswas4 commented on #347
For the scatter plot I can:
[code]

![scatter](https://cloud.githubusercontent.com/assets/2281358/16928912/108d8720-4cea-11e6-9d83-f6e30a9b67e8.png)

How do I save the figure obtained from ?
[code]

[2016-07-21 14:02] lpsinger commented on #163
Fixed in #266.

[2016-07-21 14:02] #163 closed

[2016-07-21 14:12] zonca commented on #347
`plt.savefig`

[2016-07-25 16:33] mennthor opened #348 "Breaks with new version of homebrew cfitsio on OSX 10.11.5"
With the new cfitsio 3.390 from homebrew from 25.7.2016 the libcfitsio seems to be renamed and healpy 1.9.1 crashes with

`ImportError: dlopen(${HOME}/Library/Python/2.7/lib/python/site-packages/healpy/_healpy_sph_transform_lib.so, 2): Library not loaded: /usr/local/opt/cfitsio/lib/libcfitsio.2.dylib`

Reverting to cfitsio 3.370 with `brew switch cfitsio 3.370` seems to quick-fix the problem.

[2016-07-25 19:28] rbiswas4 commented on #347
Here is the other figure saved using plt.savfig(). It is blank:
![healpix_map](https://cloud.githubusercontent.com/assets/2281358/17114269/fec38412-5262-11e6-9aaf-e44374607672.png)

You can see what I tried here actually: https://gist.github.com/rbiswas4/5daf1d5f1f4f4947ff5551662cfec799

[code]

[2016-07-25 21:19] lpsinger commented on #348
Looks like an issue with homebrew, right?

[2016-07-26 12:41] zonca commented on #347
you can try with `projplot` or `projscatter`

On Mon, Jul 25, 2016 at 9:29 PM rbiswas4 <notifications@github.com> wrote:

[2016-07-28 19:23] rbiswas4 commented on #347
The first attempts to this did not work. I realized one of doing this by looking at http://balbuceosastropy.blogspot.com/2013/09/representations-of-sphere-and-cosmic.html

The attempt is at https://gist.github.com/82da5b217592375932d3ffee2b6ba4f1

The problem is getting access instances of axes/figs, so you have to do them right one after the other, as illustrated in the gist above.

The usual com

[2016-07-28 19:28] lpsinger commented on #347
You can use [reproject](http://reproject.readthedocs.io) and [wcsaxes](http://wcsaxes.readthedocs.io/en/latest/) to make HEALPix plots directly with Matplotlib.

[2016-07-28 19:29] lpsinger commented on #348
Closing because this is an issue with Homebrew. Please re-open if you believe it is a Healpy bug.

[2016-07-28 19:35] rbiswas4 commented on #347
@Ipsinger 👍   just had a very cursory look: That seems like exactly what I would want and solve many of the things I want! Thanks a lot!
@yoachim this may be of interest to you too.

[2016-08-05 07:04] zonca commented on #347
yes, somebody should rewrite all the plotting based on those packages, I
won't have time to dedicate to this.

On Thu, Jul 28, 2016 at 12:35 PM rbiswas4 <notifications@github.com> wrote:

[2016-08-23 08:34] evertrol commented on #348
Mind if I re-open this?
I ran into a similar issue on Ubuntu 16.04.

It appears the issue is the CFITSIO shared library that the binary wheel file for healpy links against. It explicitly links to `libcfitsio.so.3` for me. This should probably just be `libcfitsio.so`.
As per `ldd`:
[code]

The problem is that cfitsio increments the so name each time there is a backward incompatibility. Of course, t

[2016-08-24 06:16] AlecThomson opened #349 "read_map gives "ValueError" with WMAP images"
Trying to read in the following WMAP data with the following gives an error:
[code]
The output is:
[code]
The header and info for this image are:
[code]
[code]
Note that this issue persists for all the `wmap_mollweide_band_smth_iqumap_r9_9yr_X_v5.fits` files, where X is K, Ka, V, or W.

Thanks for your help.

[2016-08-24 06:19] zonca commented on #349
mollweide are already projected, you have to download the healpix ones.

On Tue, Aug 23, 2016 at 11:16 PM albatross0210 <notifications@github.com>
wrote:

[2016-08-25 15:15] lpsinger commented on #348
This is very strange. We did not upload any wheels to PyPI, and none are listed there. Is it possible that pip is using a wheel that it built locally and cached on your computer at some point in the past? If that is the case, then `pip install --no-cache-dir healpy` would work just as well.

(Of course it does look like it is time for us to update the bundled cfitsio library, which would trigger a

[2016-08-26 02:39] evertrol commented on #348
If there's no wheel pre-built, then this is simply the result of OS upgrades (in particular the CFITSIO library).
The `--no-cache-dir` option may help, but likely not.

What I think happened is that in the original ticket, the OS (well, Homebrew's cfitsio package) was updated, breaking the healpy so-files.
If healpy was already at it latest version, then `pip install healpy --upgrade` will not hel

[2016-08-26 09:42] hivon opened #350 "cfitsio autoreconf problem in healpy 1.9.1"
Hi,
the installation of healpy 1.9.1 with the setup.py crashes with the message:
[code]
* I have the same problem under MacOSX 10.10.5 with autoreconf 2.69
and under CentOS 6.8 with autoreconf 2.63
* healpy 1.9.0 worked fine on both systems

Cheers

[2016-08-26 15:32] lpsinger commented on #350
Did you run `git submodule update`?

[2016-08-26 15:32] lpsinger commented on #348
Alright, looks like a confusing situation, but not a bug. May I close this again?

[2016-08-26 15:42] hivon commented on #350
No, I use the healpy_1.9.1.tar.gz file as it is shipped, which apparently miss the cfitsio and C++ sources …
Things work better if I link to existing cfistio and Healpix/C++ source directories.

Why distributing an incomplete release such as 1.9.1, while 1.9.0 was self-contained ?

If you tell me that it is to save space, then here is my 2nd question:
Why does setup.py needs cfitsio source files t

[2016-08-26 17:58] lpsinger commented on #350
The latest tarball from https://pypi.python.org/pypi/healpy does contain the cfitsio and healpixsubmodule directories.

[2016-08-26 20:00] hivon commented on #350
Good to know.
But the tarball in https://github.com/healpy/healpy/releases does not.
Nothing there says that the pypi repository MUST be used.

And with an automated script getting
https://github.com/healpy/healpy/archive/1.9.1.tar.gz
is much easier than getting
https://pypi.python.org/packages/06/94/de69bbb3e2739f3305ad26a7e827d3d896ffda36c7020c26e8bb579fa010/healpy-1.9.1.tar.gz

[2016-08-27 12:51] evertrol commented on #348
Yes, close it. "Re-open" was not really what I meant; more to add a bit more explanation to what I think is going on, for reference. As it doesn't really look like a Homebrew issue, and reverting to an older cfitsio doesn't feel as a satisfying solution.

[2016-08-27 19:07] lpsinger commented on #348
OK, great. Glad that we found a workaround, though.

[2016-08-27 19:07] #348 closed

[2016-08-28 14:11] lpsinger commented on #350
You're right, that's not spelled out anywhere in the README.

The previous releases has the full source tarballs attached to the tags as downloads. @zonca, is it possible to add the PyPI tarball to the 1.9.1 release tag?

Very true. You could use http://pypi.python.org/simple/. Also the Debian project has an automatic redirector, which gives you URLs like https://pypi.debian.net/healpy/healpy-1.9.

[2016-09-08 10:53] dodelson opened #351 "installation"
on mac osx 10.9.5, tried
pip install --user healpy
and it worked, but then

leads to:
ImportError: dlopen(/Users/sdodelson/Library/Python/2.7/lib/python/site-packages/healpy/_healpy_sph_transform_lib.so, 2): Symbol not found: _GOMP_barrier
  Referenced from: /opt/local/lib/libhealpix_cxx.0.dylib
  Expected in: flat namespace
 in /opt/local/lib/libhealpix_cxx.0.dylib

Any ideas?

[2016-09-08 14:35] zonca commented on #351
We often find compilation issues on MAC OSX, the recommended way is to use Macports:

https://github.com/healpy/healpy/blob/master/INSTALL.rst

[2016-09-09 17:52] lpsinger commented on #351
This error message usually means that there was a healpix_cxx library installed on your computer that was built with OpenMP acceleration, but healpy was built using a compiler that does not support OpenMP. Since it looks like you are using MacPorts anyway, I agree with @zonca with the suggestion to install healpy using MacPorts:

    $ sudo port install py27-healpy

Please re-open if this does not

[2016-09-09 17:52] #351 closed

[2016-09-19 12:04] mreineck opened #352 "Re-introduce the "regression" parameter to map analysis?"
I just noticed that at some point the "regression" parameter, which allowed separate treatment of the map monopole in the spherical harmonic analysis, seems to have vanished.
In my opinion this should be reverted, since I convinced myself that separation of the monopole and the remainder of a map will always provide a more accurate a_lm result. I can understand that, for compatibility with with tr

[2016-09-19 13:04] lpsinger commented on #352
Looks like this was removed in #173.

[2016-09-19 13:14] mreineck commented on #352
Thanks! I must have missed the discussion...
Actually, from reading this it seems to me that the original approach simply removed the monopole, but did neither re-add it to the map at the end of the function call nor fixed the a_00 coefficient accordingly. My idea was simply to pass a average-subtracted map to the C++ code and add "average*sqrt(4*pi)" to the a_00 component it returns.
From the use

[2016-09-19 13:20] mreineck commented on #352
To clarify, I'd imagine the map2alm function to do something like this (sorry, pseudocode only):

function map2alm (map, alm, special_monopole)
  if (special_monopole)
    map2 = map-avg
    alm=healpix_c++.map2alm(map2, alm)
    alm(0,0)+=avg*sqrt(4*pi)
  else
    alm=healpix_c++.map2alm(map, alm)

[2016-09-19 22:41] #349 closed

[2016-09-19 22:42] #347 closed

[2016-09-19 22:48] zonca commented on #350
ok,  tarball added, https://github.com/healpy/healpy/releases/tag/1.9.1

[2016-09-19 22:48] #350 closed

[2016-09-19 22:48] zonca commented on #340
@Goutte any update on this?

[2016-09-19 22:49] zonca commented on #339
it looks complicated to maintain on our side, we would need a simpler implementation of this functionality to consider merging it in.

[2016-09-19 22:49] #339 closed

[2016-09-19 22:53] zonca commented on #328
it is unclear where in the code this issue is located, I'm closing this for now. @olebole if you'd like to provide more details I could reopen to investigate more.

[2016-09-19 22:53] #328 closed

[2016-09-19 22:53] #327 closed

[2016-09-19 22:55] zonca commented on #312
no updates on this, closing

[2016-09-19 22:55] #312 closed

[2016-09-19 22:57] zonca commented on #307
forgot to answer this, yes, @rwogburn  I think a pull request would be useful!

[2016-09-19 23:13] zonca commented on #251
added to `INSTALL.rst` https://github.com/healpy/healpy/commit/7e9103756c9a2881d2285b7ebd1b3627d701cc75

[2016-09-19 23:13] #251 closed

[2016-09-20 06:45] olebole commented on #328
Hmm, I would recommend not to close a bug just because there is no (simple) way to fix it.
The problem is just: although in the moment (numpy <= 1.11, except the 1.11 release candidates) healpy works well, it **will fail** with the next numpy version because numpy decided just to postpone this to 1.12. See numpy/numpy#7162 for a discussion.
If you ignore it now, the problem will re-appear and will

[2016-09-20 15:41] Goutte commented on #340
Yes @zonca it is available in PR #353. There may be rebasing issues, tread carefully.

[2016-09-20 15:41] #340 closed

[2016-09-21 02:34] rwogburn commented on #307
#354 :  This version adds one function 'azeqview' (as in Healpix IDL) with a flag to do equal-area instead of equidistant. Let me know if you prefer separate functions instead.

[2016-09-21 20:20] zonca commented on #328
Can you please point me to 1 line of code where this happens?

On Mon, Sep 19, 2016, 23:45 Ole Streicher <notifications@github.com> wrote:

[2016-09-21 20:32] olebole commented on #328
As shown in the initial message; [healpy/healpy.py line 850ff](https://github.com/healpy/healpy/blob/master/healpy/projector.py#L850-L855)
[code]
`ratio` is a `float`, therefore `ysize` will be a float, and `np.ones` takes this as `shape` argument.

[2016-09-21 20:55] zonca commented on #328
In the first message you were saying indexing, do you have an example of
that as well?

On Wed, Sep 21, 2016, 13:32 Ole Streicher <notifications@github.com> wrote:

[2016-09-21 21:01] olebole commented on #328
Sorry for that; it was probably my mistake: In numpy, they always mention indexing, and I took their wording. It is however not limited to indexing. Could you look into the [test log](https://buildd.debian.org/status/fetch.php?pkg=healpy&arch=amd64&ver=1.8.1-1.1%2Bb1&stamp=1456704751) which failures happen there?

[2016-10-03 23:07] #344 closed

[2016-10-03 23:09] zonca commented on #352
it looks like a good idea, let's see if somebody can contribute this improvement, otherwise I'll work on in in the next few weeks

[2016-10-04 08:56] mreineck commented on #352
Hmm, even though I started this discussion, I'd suggest that we let this lie for a few weeks ... I'm currently working on improving map analysis in other ways that might make this obsolete.

[2016-10-17 11:39] mreineck opened #356 "Improve accuracy of Healpix map analysis"
I have been working for a long time to improve the accuracy of the Healpix map2alm operation. In its current state there are two approaches:
- without any weigts, and
- with ring weights

These both produce only approximate results for all multipole moments.
A few weeks ago I managed to compute new sets of weights that vary from pixel to pixel. If these are used, Healpix-discretized functions on t

[2016-10-17 22:26] gregreen opened #357 "healpy fails on ReadTheDocs"
On ReadTheDocs, healpy fails to build. This prevents other packages that depend on healpy from building their own documentation.

[Here](https://github.com/healpy/healpy/blob/69649467330ba013f4a5c560514d990085040ecb/setup.py#L81), healpy detects whether it is on ReadTheDocs, and if it is, attempts to download and compile several packages. As you can see [here](https://readthedocs.org/projects/dust

[2016-10-17 23:15] gregreen commented on #357
The reason appears to be that https://pkgconfig.freedesktop.org/releases/pkg-config-0.28.tar.gz has been moved to https://pkg-config.freedesktop.org/releases/pkg-config-0.28.tar.gz. Still, the fact that healpy has a different installation procedure on ReadTheDocs is problematic for any package that relies on healpy, but which also wants to host its documentation on ReadTheDocs.

[2016-10-18 18:29] lpsinger commented on #357
Good catch! I'm [testing that fix here](https://readthedocs.org/projects/lpsingerhealpy/builds/4528376/).

Why?

[2016-10-18 19:17] gregreen commented on #357
Great, thanks for fixing this. It will allow healpy's documentation to stay up-to-date.

As for other projects: if they use `sphinx.ext.autodoc` to automatically extract documentation from their code, they have to import all the dependencies. Any dependency that can't be imported causes the build to fail on ReadTheDocs.

However, I didn't realize that there's a way around this: one can avoid loadi

[2016-10-18 19:18] gregreen commented on #336
This is being discussed in #357.

[2016-10-18 19:27] lpsinger commented on #357
Very strange: the readthedocs build seems to be just sitting there at `cat conf.py`. What does that mean?

[2016-10-19 14:42] #357 closed

[2016-10-20 13:06] bsipocz opened #359 "Add license to the docs page"
It's not listed on the RTD pages, had to come here to look for it.

[2016-10-20 23:50] zonca commented on #359
thanks for reporting this, would you mind to provide a fix for it?

[2016-10-21 07:06] bsipocz commented on #359
Sure, I can do this later today.

[2016-10-23 17:28] #359 closed

[2016-10-26 23:00] kadrlica opened #361 "Add 'lonlat' option to 'pix2ang' etc.?"
Several of the `rotator` functions take a `lonlat` argument to specify whether the output will be longitude and latitude (deg) or longitude and co-latitude (rad). Is there any reason not to have a similar optional argument for angular functions in `pixelfunc`?  Specifically, I'm thinking of `pix2ang`, `ang2pix`, `vec2ang`, `ang2vec`, `get_neighbours`, `get_all_neighbours` and `get_interp_val`.

It

[2016-10-27 15:40] zonca commented on #361
Sure! Please send a pull request

On Wed, Oct 26, 2016, 16:00 Alex Drlica-Wagner <notifications@github.com>
wrote:

[2016-11-04 16:29] cjcopi opened #363 "Python3 map2alm ring weights string conversion error"
map2alm fails to read the ring weights due to a string conversion error.  This is presumably the "usual" Python3 string versus bytes issue, though I have not looked into the details.  map2alm works as expected when run with Python2.

Explicitly, when using
`map2alm(mp, use_weights=True)`
I get (here shown run under a recent anaconda install, I get the same result using a Python 3.4.2 install)
[cod

[2016-11-04 16:33] cjcopi commented on #356
I recently "rediscovered" the inaccuracies and  think this would be a great addition.

Is there a reason to not include this in HEALPix and pick up the addition that way?

Regardless, this would be of great value and I would be happy to (have a student) do some testing/start using the new weights.

[2016-11-06 19:55] zonca commented on #356
yes, sure, can you post the weights publicly so people can test it?
what is the size of the full set?
If too large we should probably implement a way to download them after installation.

[2016-11-06 19:55] zonca commented on #363
thanks for reporting this, would you be able to provide a Pull Request to fix this?

[2016-11-07 10:06] mreineck commented on #356
I can certainly provide you with a few weight sets. Unfortunately, the full set is too large to be distributed with the package. Going up to Nside=4096, we are talking about several 100MB.
I have software in the Healpix repository to compute the weight sets on demand and store them to disk, but for high resolutions this requires a very beefy machine (roughly a few CPU minutes at Nside=128, but hun

[2016-11-07 16:21] zonca commented on #356
I think the best would be to store them publicly, possibly inside another
GitHub repository and then Implement a way to download only one specific
set as needed.

On Mon, Nov 7, 2016, 02:06 mreineck <notifications@github.com> wrote:

[2016-11-07 16:25] lpsinger commented on #356
How long are we talking for generating them from scratch?

[2016-11-07 18:10] mreineck commented on #356
As I said, roughly a minute for Nside=128, but the cost scales with something like Nside^4. I can't give hard numbers on the complexity since there is a CG iteration involved, and I can't predict the necessary number of iterations.

[2016-11-07 18:14] lpsinger commented on #356
OK. Since we already depend on astropy, we could use the [`astropy.utils.data` module](http://docs.astropy.org/en/stable/utils/index.html#module-astropy.utils.data) to download and cache the weights.

[2016-11-07 18:47] tskisner opened #364 "New Release?"
Are there any plans to tag a new release in the near future?  In particular one that includes commit 7b92305b24cf35367a71ba9b0a8f45d3c9f11972 .  I redistribute healpix + healpy with autotools (https://github.com/tskisner/healpix-autotools) and the latest healpy release (1.9.1) still has that bug.  I could just sync with a random upstream commit, but it is nicer if you all have a favorite stable po

[2016-11-08 15:28] lpsinger commented on #364
There are autotools packages for chealpix and healpix-cxx, but they are not well advertised. See [chealpix-3.30.0.tar.gz](https://sourceforge.net/projects/healpix/files/Healpix_3.30/chealpix-3.30.0.tar.gz) and [healpix_cxx-3.30.0.tar.gz](https://sourceforge.net/projects/healpix/files/Healpix_3.30/healpix_cxx-3.30.0.tar.gz) respectively on SourceForge. I developed and contributed them to ease the p

[2016-11-08 15:56] tskisner commented on #364
I previously pointed Martin Reinecke and Eric Hivon to my effort, but they chose to do their own things (which is fine).  The main challenge is that the different language flavors are developed independently by often different people.  My effort was an attempt to unify the build systems into a single package.  When bundling healpy I disable the mechanisms of finding healpix_cxx in setup.py because

[2016-11-08 16:08] lpsinger commented on #364
It's highly likely that @zonca will oblige and create a new package. Would you mind if we borrowed some of your Fortran build stuff in the upstream repo? We could also create a top-level build using [nested packages](https://www.gnu.org/software/automake/manual/html_node/Nested-Packages.html).

[2016-11-08 16:19] tskisner commented on #364
Obviously use anything that you find useful!  This update is needed for work at NERSC that involves @zonca, so hopefully he will tag a release ;-)

[2016-11-08 16:23] zonca commented on #364
sure, working on it

[2016-11-08 16:34] zonca commented on #364
ok, released on `pypi`, please test it, I'll release on github next

[2016-11-08 16:42] zonca commented on #364
ok,
https://github.com/healpy/healpy/releases/tag/1.10.1

[2016-11-08 16:42] #364 closed

[2016-11-08 16:58] zonca commented on #356
thanks @lpsinger ! that looks like suits our purposes

[2016-11-09 16:33] tskisner commented on #364
Thank you @zonca !  This is now integrated downstream:
https://github.com/tskisner/healpix-autotools/releases/tag/v3.31.1
and installed at NERSC.

[2016-11-12 16:09] kadrlica commented on #361
Pull request submitted at #362.

[2016-11-14 03:33] #361 closed

[2016-11-24 01:18] zonca commented on #363
@cjcopi would you be able to provide a fix? Thanks

[2016-11-24 01:19] zonca commented on #356
@mreineck do you have any update on this?

[2016-11-24 10:50] mreineck commented on #356
Sort of ...
I can send at least a subset of the weight files, but in order to use them from healpy, you either have to
- write a Python version of the C++ function that applies the weights to a map, or
- switch to the current trunk version of Healpix C++, which you probably don't want, because it's in active development and therefore not entirely stable. It also requires C++11 compiler support.

A

[2016-11-29 06:44] zonca commented on #356
@mreineck can you add a reference to the C++ implementation here? https://github.com/healpy/healpixmirror/tree/trunk

[2016-11-29 10:07] mreineck commented on #356
I'm not sure I understand what you want me to do ;-)
The current state of the trunk (commit 51e4b48d007da5fad7259951bce965a51161e381 in the healpixmirror repo) contains all the code necessary for the full weights. Should I somehow tag this?

[2016-11-29 15:51] zonca commented on #356
Just link the file here

On Tue, Nov 29, 2016, 02:07 mreineck <notifications@github.com> wrote:

[2016-11-30 10:29] jakobmoss opened #366 "Unable to install healpy"
When I run ```pip install healpy``` it exists from the setup after a while with the error message:
[code]

The full output is available at: https://gist.github.com/jakobmoss/a15ea8adf2fb7a894272f52444fcc5fd

Some system information:
[code]

I have tried to reinstall all of my Python-packages and furthermore tried several different versions of Numpy, but still no luck.

[2016-11-30 17:42] mreineck commented on #356
OK ...
Reading the weight file is at
https://github.com/healpy/healpixmirror/blob/trunk/src/cxx/Healpix_cxx/healpix_data_io.cc#L63
Applying the weights is at
https://github.com/healpy/healpixmirror/blob/trunk/src/cxx/Healpix_cxx/weight_utils.cc#L108

[2016-11-30 17:42] zonca commented on #366
it is a C++ compilation issue, have you tried installing the `conda` package instead? https://anaconda.org/conda-forge/healpy

[2016-12-01 10:27] jakobmoss commented on #366
Conda seems to be working. However, I would prefer to be able to install it using```pip```.

But is this C++ compilation issue specific to Healpy? I have never experienced it with other packages?

[2016-12-01 14:40] Dehde opened #367 "Import Error: undefined symbol"
Hi all,

I run Ubuntu and am using anaconda as environment manager. I installed healpy with pip. When I try to import healpy I get the following error:

/home/robin/anaconda2/lib/python2.7/site-packages/healpy/pixelfunc.py:105: UserWarning: Warning: cannot import _healpy_pixel_lib module
  warnings.warn('Warning: cannot import _healpy_pixel_lib module')
Traceback (most recent call last):
  File "<

[2016-12-01 16:15] zonca commented on #366
generally C++ compilation is easy under Linux, it must be something in your system.
@mreineck would you like to take a quick look to this HEALPix compilation error message?

[2016-12-01 16:19] zonca commented on #367
you have to be sure to compile `healpy` with the Anaconda `gcc` and not the Ubuntu one.
Have you tried to install `healpy` with conda? https://github.com/healpy/healpy/blob/master/INSTALL.rst

[2016-12-02 10:36] Dehde commented on #367
I did not know that this was possible. Sorry for the unnecessary Issue! This solution worked perfectly. Thank you very, very much!

[2016-12-02 14:14] #367 closed

[2016-12-29 06:48] #366 closed

[2017-01-05 14:30] mreineck commented on #356
I have a tarball with the full weight maps for Nside=16 to Nside=1024. Any suggestions how I should make them available? Total size is around 8MB.

[2017-01-05 15:07] mreineck opened #372 "Preparations for compatibility with future Healpix C++ packages"
In future releases of the Healpix C++ package I intend to make a few changes that might affect the interoperability with healpy, so I'd like to put them up for discussion here...

- Future major releases (not bug fix releases!) will require C++11 support in the compiler. I don't think that this will affect the C++-Python interface, but it might require a few tweaks in setup.py.

- Currently, large

[2017-01-05 22:42] zonca commented on #356
created a new repository, can you create subfolders and upload them there?

https://github.com/healpy/healpy-data

[2017-01-05 22:43] lpsinger commented on #356
Are these really *healpy* datasets, or are they necessary for all language flavors?

[2017-01-05 23:10] zonca commented on #372
thanks @mreineck ,

1.  @lpsinger do you have any experience with C++11 Python extensions?
1. I think copying data around is **not** acceptable. I guess that very soon there will be more users of `HEALPix` via `healpy` than directly, so I hope you and other `HEALPix` developers would always take this into account and find a way to provide a low-level access to the memory locations.

[2017-01-06 15:41] mreineck commented on #356
They will be used by at least C++ and Python. On the other hand, they are so large that I don't expect them to be part of the release tarballs.
For the moment I'm just looking for a convenient place where early adopters can access them and play around with them.

[2017-01-06 15:50] mreineck commented on #372
Hmm, aren't you already copying data around inside the Python part with statements like this one in _sphtools.pyx?

alms_c = [np.ascontiguousarray(alm, dtype=np.complex128) for alm in alms]

[2017-01-06 15:55] crosset commented on #372
This will copy alm data only if alm is not already a numpy vector. Otherwise, it will return the input without any copy.
So, there should be no copy here in normal use (it’s useful for simple cases where you give a python list instead of a numpy array).
Cyrille.

[2017-01-06 17:03] lpsinger commented on #372
C++11 is fully supported in GCC 4.8.1 and later and Clang 3.3 and later. So this should be fine for Debian stable (jessie) and later, Scientific Linux 7 and later, and Mac OS X 10.8 (using Xcode toolchain) and later.

I agree, copying data would be bad. The library handles a lot of very large arrays, so copying arguments would increase memory use dramatically. You might be able to wrap a `std::vec

[2017-01-07 15:25] mreineck commented on #372
I fear this won't work, since a vector with a custom allocator is a different data type than a "normal" vector. All Healpix routines would have to be templated to support this (rather a lot of work).

This matter definitely needs a lot of thought, and as I said, this is not urgent. But I thought I'd ask rather sooner than later, in case there are some good ideas already available.

Just curious: i

[2017-01-09 14:04] jasonfan1997 opened #373 ""typeerror environment can only contain strings" when installing on window"
It happened when using pip or Python Package Index.Anyone can help?

[2017-01-09 15:15] zonca commented on #373
healpy works only on Linux and Mac OS

On Mon, Jan 9, 2017, 06:04 jasonfan1997 <notifications@github.com> wrote:

[2017-01-09 15:15] #373 closed

[2017-01-11 20:46] lpsinger commented on #334
Hmm, that's because that particular document is generated by [`sphinx.ext.autosummary`](http://www.sphinx-doc.org/en/1.5.1/ext/autosummary.html).

[2017-01-12 19:10] #336 closed

[2017-01-12 19:11] #335 closed

[2017-01-12 19:12] zonca commented on #363
fixed in #369

[2017-01-12 19:12] #363 closed

[2017-01-12 19:14] zonca commented on #334
@lpsinger is right, other pages like http://healpy.readthedocs.io/en/latest/tutorial.html work as expected.

[2017-01-12 19:14] #334 closed

[2017-01-18 14:25] dpole opened #378 "Test of `map2alm` use absolute tollerance instead of relative"
In `test/test_sphtfunc.py`, `test_map2alm` and `test_map2alm_pol` are the only tests using absolute tolerance instead of relative tolerance. Is there a specific reason for this? Is it related to #356?
By the way, switching to `rtol` the test fails even for `rtol=1`.
Thanks!

[2017-01-21 04:55] zonca commented on #378
well, it is supposed to be run quickly, so we are using low nside and low lmax, you cannot expect high accuracy, it is mostly for checking we have not bad regressions.

@mreineck , do you agree with this? would you have a better approach to suggest?

see the test here: https://github.com/healpy/healpy/blob/master/healpy/test/test_sphtfunc.py#L102

[2017-01-21 20:45] #332 closed

[2017-01-22 19:20] cdeil commented on #332
@lpsinger @zonca - Thank you!!!

[2017-01-22 21:47] zonca commented on #372
Well, unless the result is a pointer.

As most users use HEALPix in Python, I see HEALPix C++ mostly as a library mostly to be used by other languages.

[2017-01-23 10:14] mreineck commented on #372
Wouldn't help, because Python does not know how to deallocate this pointer in the end, so it would have to call back into C++ to release the data once it's no longer used.

[2017-01-23 10:42] mreineck commented on #378
Using rtol alone will most likely not work. Imagine that one of the pixels in the input map is, say, 1e-3, and the map has pixels with values between -1 and 1. In this scenario, it is quite likely that the pixel in question can only be reproduced with an absolute error of 1e-3 (typical accuracy of Healpix SHTs in this situation), so the relative error is already around 1.
Even worse, if any of the

[2017-01-23 23:01] zonca commented on #378
thanks @mreineck ! I see your point, I think for testing purposes here absolute tolerance is suitable, I'll close the issue.

[2017-01-23 23:01] #378 closed

[2017-01-23 23:31] zonca commented on #307
was merged in https://github.com/healpy/healpy/pull/354

[2017-01-23 23:31] #307 closed

[2017-01-23 23:31] #309 closed

[2017-01-23 23:32] zonca commented on #183
very very old issue, closing

[2017-01-23 23:32] #183 closed

[2017-01-23 23:35] zonca commented on #247
it would be good to port the rotation to use `astropy`, anybody volunteers to do this? @gregreen ?

[2017-01-23 23:38] zonca commented on #372
@mreineck yes, we can wrap that into an object that calls back C++ when goes out of scope

[2017-01-24 07:35] dpole commented on #378
Ok, thank you guys for the useful information

[2017-01-24 11:04] mreineck commented on #372
This would be even uglier than the hack we are using now...

I guess in the end it all boils down to the compromises people are willing to make in order to call Healpix functionality from Python. Performance-wise it seems that they are fine with massive slowdowns (at least a factor of 10 when calling simple functions like pix2ang etc., probably much more), so I had hoped that a factor 2 in memory

[2017-01-24 17:09] lpsinger commented on #372
The Numpy C-API has the concept of a [base object](https://docs.scipy.org/doc/numpy-dev/reference/c-api.array.html#c.PyArray_SetBaseObject) that tracks the underlying memory via reference counting. What we would do is make a wrapper Python type that knows how to free the underlying C++ data, and set this as the Numpy base object.

[2017-01-24 17:09] lpsinger commented on #372
A tenfold slowdown would be a deal-breaker for the codes that I work on.

[2017-01-24 17:11] lpsinger commented on #372
@mreineck, what would be wrong with returning a *pointer* to a `std::vector`?

[2017-01-24 21:05] mreineck commented on #372
What I meant to say is that using healpy _already_ incurs a tenfold slowdown for most Healpix functions compared to Healpix C++, but no one seems to be overly concerned about this.

[2017-01-24 21:16] mreineck commented on #372
Nothing fundamental - provided that Python really manages to cleanup this vector correctly, which is a quite nontrivial operation (there may be destructors involved in addition to deallocation). It's still not idiomatic C++ though: a clean interface would work with rvalue references to vectors, and this is a concept that Python most likely does not understand.

The more complicated part is the pas

[2017-01-24 22:24] lpsinger commented on #372
Nonetheless, it seems like this is the most straightforward way to do it using STL. There is a [nice StackOverflow thread that discusses some of the options](http://stackoverflow.com/questions/22622013/wrap-existing-memory-with-const-stdvector).

[2017-01-24 22:24] lpsinger commented on #372
I'm sorry, I missed something: why is that?

[2017-01-25 07:20] crosset commented on #372
Hi Martin,

I am not a C++ expert (far from that), but isn’t it possible not to tie algorithms to a specific container by using iterators ? (a random access iterator in our case). That seems to be what is used by STL algorithms (for example http://en.cppreference.com/w/cpp/algorithm/sort). I don’t know if this is possible/easy in the case of healpix, though.

Otherwise, it will be very complicated

[2017-01-25 07:30] #333 closed

[2017-01-25 07:48] zonca opened #380 "doctests not run with python setup.py test"
@lpsinger it looks like some options for pytest have changed and doctests are not being executed, this affects travis as well

[2017-01-25 09:35] mreineck commented on #372
Disclaimer: I have measured this only a long time ago. Things may have improved in the meantime (I remember tweaking healpy's interface in the meantime), and it would be great to have more current timing information.
If someone knowledgeable with benchmarking Python code could run, say, a test of healpy's ang2pix function to see how many operations it does per second, that would be great. I'm abso

[2017-01-25 09:47] mreineck commented on #372
This is absolutely correct, and it works beautifully as long as one is carrying out one algorithm on a given set of data specified by those iterators.

The complication in the Healpix case is that the data (on the C++ side) is part of a "Healpix_Map" object, and this object provides operations for resizing (i.e. the nside parameter can be updated after the creation of the object). Of course this i

[2017-01-25 10:13] mreineck commented on #372
Thanks for the link!
My currently used approach is nearly identical with one of those presented there.

I guess the takeaway of the discussion is the following
 - I'd like to store the arrays in a std::vector when using the code "normally"
 - With data coming from Python (and if we want to avoid copying), the best I can do is wrap the data in a class that looks in some respects like a std::vector,

[2017-01-25 11:14] mreineck commented on #372
Coming back to the performance question:

I just did some (not very professional) testing, with the following results:
 - for an array length of 10000, healpy ang2pix reaches about 70% of C++ performance
 - at length 1000 it's 50%
 - at length 100 it's 14%
 - at length 10 it's 1.3 %

That means that for array lengths below 100 the calling overhead completely dominates the actual computation.
The g

[2017-01-25 11:40] crosset commented on #372
I guess the overhead is due to the machinery to provide numpy « Universal function » behavior, which allows to give scalars or arrays of any shape as input to ang2pix and others. That’s a conveniency provided by python which we want to keep.

Do you see any obvious possible improvement to the code which performs the loop?
  Healpix_Base2 hb;
  long oldnside=-1;
  for(intp i=0; i<n; i++, ip1+=is1,

[2017-01-25 12:17] mreineck commented on #372
This C++ loop is certainly not the cause of the slowdowns. It might add an overall 10% or so, but that's just the usual price to pay when adjusting data to a specific interface.

I suspect the overhead to consist of the cost Python function calls, and the operations in "check_nside" and "check_theta_valid". This is interpreted code, and it creates and destroys quite many Python objects. For short

[2017-01-25 12:25] crosset commented on #372
Yes, of course you’re right. Note that it’s always possible to bypass these tests by calling directly pixlib._ang2pix_ring (though it is not as easily accessible as ang2pix). Anyway, I am happy that healpy is not a factor 10 slower! Thanks for checking!

[2017-01-25 12:32] mreineck commented on #372
Oh wow! That helps big time. At vector length 10 this provides a 15x speedup.

[2017-01-25 14:45] lpsinger commented on #380
I had not noticed. Would you be more specific? Would you please point out which tests are not running?

[2017-01-25 19:38] zonca commented on #380
unit tests are running, no doctests are running, see for example on travis-ci:

https://travis-ci.org/healpy/healpy/jobs/195086263

there should be more `pytest` lines about doctests for example in `pixelfunc.py`

[2017-02-23 15:47] mreineck opened #381 "Question regarding the C++ interface"
I'm trying to get more familiar with Python and Python/C++ interfacing in particular, which is why I am looking at the interface to Healpix C++ in more detail. This has turned up a few questions:

- healpy/src/_healpy_fitsio_lib.cc seems to be unused, i.e the code it contains is not called. Should it be removed?
- Apparenty two different methods are used for the interfacing: cython for _pixelfunc.

[2017-02-23 16:35] crosset commented on #381
Hi Martin,

When I started to write the python wrapper for healpix, cython did not provide easy integration with C++, as it is now. That explains why the initial (older) wrapper is written in C (actually mix of C and C++ to call Healpix c++ library and Python C API...).

For more recent functions, I used Cython, as it had recently allowed C++ (and it was much easier).
I tested then to rewrite pix2

[2017-02-24 09:23] mreineck commented on #381
Hi Cyrille,

many thanks for the explanations!
I guess I'll look at _healpy_sph_transform_lib.cc first, then, since ufuncs shouldn't be needed there, and the calling overhead is probably small compared to the computational time.
After that I can still play around with the pixel functions.

Cheers,
  Martin

[2017-02-24 10:02] mreineck commented on #381
I've opened pull request #382. Some tests fail, but (at least to me) it doesn't seem related to my changes.

[2017-02-24 12:26] mreineck commented on #381
The Travis tests are marked as failed, but I'm pretty sure this is an intermittent failure due to some problem on the test machine (please have a look at the test logs to convince yourself as well). I'd like to trigger another Travis run, but I don't know how to...

[2017-02-24 12:52] mreineck commented on #381
Nah ... seems reproducible. Still, I'm pretty sure I'm innocent :)
Could one of the experts please have a look?

[2017-02-24 13:20] dstansby opened #383 "mollview raises VisibleDeprecationWarning"
Using healpy on python 3.6, numpy version 1.11.3 raises the following warning when `hp.mollview()` is called:

[code]

[2017-03-02 09:28] mreineck commented on #381
No one able to help me with this? @zonca ? @lpsinger ?

[2017-03-31 06:13] jasonfan1997 opened #384 "Problem with write map( astropy.io.fits has no attribute 'new_table')"
When I try to write the healpix map back to a fits file,this error message show up.Why will this happen?Can someone explain to me how the write_map function work?

[2017-03-31 15:58] lpsinger commented on #384
That function was [removed in Astropy 1.3.1](https://github.com/astropy/astropy/blob/v1.3.1/CHANGES.rst#api-changes). We'll need to update Healpy.

[2017-03-31 16:00] lpsinger commented on #384
Ah, we already fixed that in #341 and #346. You just need to update to Healpy 1.10.1 or newer.

[2017-03-31 16:00] #384 closed

[2017-04-04 18:02] zonca commented on #381
ok, thanks for the pull request, I'll left a comment there, then we can merge it, I'll close this.

[2017-04-04 18:02] #381 closed

[2017-04-04 18:03] zonca commented on #383
thanks, can you identify which line in `healpy` is throwing this error?

[2017-04-04 18:04] zonca commented on #380
@lpsinger can you take a look at this issue again?

[2017-04-04 18:05] zonca commented on #372
I'll close this for now, reopen if you want to discuss more.

[2017-04-04 18:05] #372 closed

[2017-04-04 18:06] zonca commented on #322
@gregreen if you are interested in following up, please reopen the issue

[2017-04-04 18:34] gregreen commented on #322
Sorry for not following up on this. Dealing with longitudes in projections is a bit tricky. The problem is that adding 360 deg to a longitude does not change the meaning. I think the code needs two changes:

1. After [this line](https://github.com/healpy/healpy/blob/029bb260239621f19d2fdcf036d4c4f5330b3af5/healpy/projector.py#L553), put an else block that shifts ``lonra[1]`` into the range ``[lonr

[2017-04-04 18:59] zonca commented on #322
thanks @gregreen can you make up a simple snippet for testing this?

[2017-04-23 06:45] keskitalo commented on #327
I've had the same problem. It seems to be caused by an incomplete installation of pkg-config. If you grab a copy of pkg.m4 and save it under healpixsubmodule/src/cxx/autotools/m4 it should solve the problem. You just need to regenerate the configure script with autoreconf.

[2017-05-22 14:41] jasonfan1997 opened #389 "How can I change a healpix fits map to MOL fits map?"
healpy.visufunc.mollview function return a masked 2d array which I don't know how to make it into a fits file. Anyone can suggest another solution?

[2017-05-22 15:19] zonca commented on #389
you should use astropy http://docs.astropy.org/en/stable/io/fits/#working-with-image-data

[2017-05-22 15:19] #389 closed

[2017-05-23 18:49] janerigby opened #390 "Update conda for healpy to the latest"
The healpy documentation gives the following instructions to install w conda:

Unfortunately, that points to an old version, 1.9.1.  conda thinks that numpy needs to be degraded to work with that version:

Where should conda be looking to get the latest version of healpy?

I got the latest healpy using pip, but I'm writing installation instructions for new users, so the more they can do in conda,

[2017-05-23 19:41] zonca commented on #390
you should ask to the maintainers of openastronomy, not sure why their system is not picking up newer version of healpy.

https://github.com/OpenAstronomy/conda-channel

[2017-05-23 19:41] #390 closed

[2017-05-24 12:39] janerigby commented on #390
Have done so. Thanks!

https://github.com/OpenAstronomy/conda-channel/issues/34

[2017-05-28 14:07] cdeil opened #391 "AttributeError about __NUMPY_SETUP__ from setup.py"
@adl1995 and I are starting a Python project using `healpy`, and while getting set up we got this error:
[code]
Full log: https://travis-ci.org/hipspy/hips/jobs/236887749#L295

Now I think the issue is simply that we're missing `numpy` from the environment where we tried to `pip install healpy` (not sure yet, still looking). But even if that's the case: the error message could be improved, i.e. sa

[2017-05-29 09:23] lpsinger commented on #391
No, it looks like Numpy was installed by Conda. This appears some lines earlier in your Travis output:

[code]

This is a very strange error message, because if you just open a new Python shell and type the line of code that is raising this exception, `__builtins__.__NUMPY_SETUP__ = False`, you will get no error message.

[2017-06-01 23:51] mickeyhorn opened #392 "Undefined Symbol in healpy_sph_transform_lib"
I am getting this error:

`/home/mickey/anaconda2/envs/HERA/lib/python2.7/site-packages/healpy-1.10.3-py2.7-linux-x86_64.egg/healpy/pixelfunc.py:105: UserWarning: Warning: cannot import _healpy_pixel_lib module
  warnings.warn('Warning: cannot import _healpy_pixel_lib module')`
`Traceback (most recent call last):`
`  File "CST_to_healpix.py", line 4, in <module>`
`    import healpy as hpy`
`  File

[2017-06-03 15:17] cdeil opened #393 "Incorrect pixel corners from healpy.boundaries?"
@adl1995, @tboch and I are starting to work on a Python [hips](https://github.com/hipspy/hips) package this week, and as mentioned [here](https://hips.readthedocs.io/en/latest/drawing_algo.html#naive-algorithm) we plan to use [healpy.boundaries](http://healpy.readthedocs.io/en/latest/generated/healpy.boundaries.html) to compute HiPS tile (which match HEALPix pixel) corner positions and then apply

[2017-06-03 16:59] tboch commented on #393
I confirm this is unexpected. The code logic seems ok from a first look, but the result is definitely wrong.
I'll have a closer look later tonight

[2017-06-03 18:47] tboch commented on #393
OK, I got it, first argument of vec2ang must be transposed:
`ra, dec = hp.pixelfunc.vec2ang(np.transpose(coords), lonlat=True)`

This gives the following correct result:

[code]

[2017-06-06 06:32] jasonfan1997 opened #394 "save the projection map as a 2d numpy array"
If I have a healpix map, how can I project it and save as a 2d numpy array. If I use healpy.visufunc.mollview and return_projected_map, it will return a 2d masked array which I have no idea how to deal it. Also, I am wondering how can I turn a projected map to a healpix map.

[2017-06-06 12:18] lpsinger commented on #394
I suggest using [`reproject.healpix`](http://reproject.readthedocs.io/en/stable/healpix.html).

[2017-06-06 12:18] #394 closed

[2017-06-07 15:34] dannyjacobs commented on #392
@zonca Andrea have you or anyone else heard of linking issues on ubuntu 16? Alternatively, who maintains the conda build? Could that be updated to 1.10?

[2017-06-08 10:16] zonca commented on #392
I'm trying to update the conda build to 1.10, https://github.com/conda-forge/healpy-feedstock/pulls

[2017-06-10 16:12] kadrlica opened #395 "More efficient read_map?"
It seems like `read_map` uses `astype` to convert input maps to the desired datatype regardless of whether the map is already the desired dtype:
https://github.com/healpy/healpy/blob/58fe244171f6a7875f85dc437393cfa290487e16/healpy/fitsfunc.py#L346-L352

It seems like a simple check of the current dtype against the desired dtype could reduce the overhead especially for large maps. More generally, i

[2017-06-10 17:14] kadrlica commented on #395
Here's an example comparing the timing for `read_map`, a raw `pyfits` read, and using [`fitsio`](https://github.com/esheldon/fitsio). It looks like `read_map` is 1.5x slower than `pyfits` and 4x slower than `fitsio`. Usually I'd say a factor of 1.5x isn't a big deal, but the difference between 8s, 20s, and 30s is quite noticeable.

[code]
[code]

[2017-06-10 17:46] zonca commented on #395
Can you prepare a pull request with an improvement and benchmark that?

On Sat, Jun 10, 2017, 19:14 Alex Drlica-Wagner <notifications@github.com>
wrote:

[2017-06-10 18:01] kadrlica commented on #395
I can try to take a look at this over the next few weeks. However, the fact that `pyfits` itself is extremely inefficient might mean that I just wrap my own functions using `fitsio`. I assume that `healpy` would prefer not to switch from `pyfits` to `fitsio`?

[2017-06-10 18:29] lpsinger commented on #395
Seems like it would be easier just to change the existing code to use `astype(..., copy=False)`.

[2017-06-10 19:03] kadrlica commented on #395
@lpsinger  `astype(..., copy=False)` is much, much slower than `view` for changes between compatible types.
[code]

[2017-06-10 20:30] lpsinger commented on #395
Looks pretty comparable to me when the types are compatible: 811 ns versus 612 ns. It's only when you are converting between incompatible dtypes that there is a significant speed difference, and that can't be helped because it actually does take CPU cycles to convert ints to floats or vice versa.

If you rewrite this using `.view` but also include your own test of the compatibility of the dtypes,

[2017-06-10 20:52] kadrlica commented on #395
Yes, sorry, incompatible types are the fast ones, so I agree `astype` should be fine. `astropy.io.fits` is what I'm using (see import above), just old fashioned in referring to it at as `pyfits`.

[2017-06-10 20:57] lpsinger commented on #395
OK, good! Still, patches that make things faster or easier to use are always welcome. For what it's worth, [for my own very specialized HEALPix use case, I am using astropy itself instead of `healpy.read_map`](https://github.com/lscsoft/lalsuite/blob/master/lalinference/python/lalinference/io/fits.py#L422-L538).

Pyfits *is* a pain to use, but fortunately it gets better with each astropy release.

[2017-06-10 20:57] #395 closed

[2017-06-10 21:01] kadrlica commented on #395
Sorry, why is this issue closed? Don't we still need to make the change to `astype(..., copy=False)` (or did you submit a PR)?

re pyfits: yeah, though I care more about the performance than the ease of use.

[2017-06-10 21:01] lpsinger commented on #395
Oh yeah. Sorry. Would you care to submit a PR?

[2017-06-10 21:06] kadrlica commented on #395
Yeah, can do.

[2017-06-14 21:51] zonca opened #397 "remove Python 3.3 from travis"
travis-ci tests are failing because matplotlib requires Python 3.4+ (for Python 3).
I would just remove that version from the test matrix on travis-ci.

@lpsinger any issues with this?

I don't think there is any Python 3.3 code anywhere, right?

[2017-06-14 21:51] zonca commented on #397
For example https://travis-ci.org/healpy/healpy/jobs/241723333

[2017-06-19 09:15] zonca commented on #392
the problems is that you are building with the system gcc but then linking to the `libstdc++` `libgomp` and `libgcc` from Anaconda instead.

I just tested on a machine with the same problem and removing the Anaconda libraries out of the way fixes the issue.

A better solution would be to use the CC and GCC variables to instruct `pip` to build `healpy` with the Anaconda Python instead of the system

[2017-06-22 11:40] zonca commented on #392
We have updated conda builds please try to use them and reopen if you still have this issue

[2017-06-22 11:40] #392 closed

[2017-06-22 20:44] pontoppi commented on #391
I'm having the same problem. Looks like this is an issue with the using __builtins__ as a dict when it's also a module. I think this means that healpy won't work with setuptools

See for instance: https://github.com/pycalphad/pycalphad/issues/26

[2017-06-23 05:08] zjgbz commented on #367
May I reopen it? Because I met the same problem, but cannot be solved even if I install with conda.

[2017-06-23 05:12] zjgbz commented on #367
More precisely, I install Anaconda2 4.4.0 on ubuntu 16.04. Then I reload the terminal, and install healpy with
conda install -c openastronomy healpy
Then I reload terminal, and type python, then import healpy. What I got is

/home/jiangminzhi/.local/lib/python2.7/site-packages/healpy/pixelfunc.py:105: UserWarning: Warning: cannot import _healpy_pixel_lib module
  warnings.warn('Warning: cannot imp

[2017-06-25 23:11] #380 closed

[2017-06-25 23:12] zonca commented on #397
it was already implemented in #385

[2017-06-25 23:12] #397 closed

[2017-06-25 23:14] zonca commented on #383
no feedback, closing

[2017-06-25 23:14] #383 closed

[2017-06-27 22:49] ktausch opened #398 "Comparing phi to None with =="
Recently, I have noticed an error when using the get_interp_weights function in healpy/pixelfunc.py. The error points to (what is my) line 1295, which contains the statement "if phi == None:". Since I pass phi as an array, this is attempting to check whether each element of phi is None instead of checking whether phi itself is None.

For a while, this was appearing to me as a warning instead of an

[2017-06-28 18:28] zonca commented on #398
I don't see this in master, see https://github.com/healpy/healpy/blob/master/healpy/pixelfunc.py
It must have been already fixed.
We'll release a new `healpy` version soon

[2017-06-28 18:28] #398 closed

[2017-07-08 05:04] #86 closed

[2017-07-08 05:05] zonca commented on #194
I think it's probably not necessary anymore to support 32 bit platforms should we close this?

[2017-07-13 07:53] zonca commented on #113
implemented by @keskitalo

[2017-07-13 07:53] #113 closed

[2017-07-13 07:53] #194 closed

[2017-07-20 13:47] nkasmanoff opened #401 "Draw latitude lines in mollview?"
Hi, I'm using mollview to create a heat map of sorts, and one issue I'm having is figuring out how to add tickmarks to the side of the figure showing the latitude/longitude lines (more concerned with latitude though). I've attached where I'm at with my code, and I couldn't find anywhere in the healpy documentation how I could fix add in these lines.

<img width="828" alt="screen shot 2017-07-20 at

[2017-07-24 18:34] zonca commented on #401
this is not supported, there is an experimental version of `mollview` here if you want to test it, but it might be buggy. https://github.com/healpy/healpy/blob/master/healpy/newvisufunc.py

also, see the thread at #109

[2017-07-24 18:34] #401 closed

[2017-07-24 18:49] nkasmanoff commented on #401
Thanks, I got it. No bugs on my end, but I'm only using mollview feature of it so can't say for certain.

[2017-07-27 17:13] Jravis opened #403 "Smoothing binary mask"
Hi,
I am using healpy.sphtfunc.smoothing for apodization of my binary mask  and I am having problem that,
if I have temperature cut of 100K and I made a binary mask corresponding to cut, then after apodization of mask using above routine when I apply it on my map I get 120K or number more than 100K.

So I am confuse that does one do apodization on Binary mask or (map*Binary_mask)

[2017-07-27 17:55] zonca commented on #403
Please use GitHub only for healpy issues or bugs, post specific questions to Stack overflow and tag healpy

[2017-07-27 17:55] #403 closed

[2017-07-27 22:16] giacomov opened #404 "`setup.py install` does not install headers"
If I do `python setup.py install ` the headers of the CXX version of healpix are not installed, even though the library is compiled during the setup.

If I do `python setup.py build` and then check the `build` directory, I see that the headers are in the `temp*` folder:

[code]
but not in the `lib.*` folder:

[code]
The headers are necessary to build libraries against healpix.

This issue propagat

[2017-07-27 22:39] zonca commented on #404
we generally assume that the HEALPix version is only used internally by `healpy`.

@mreineck do you see any issue if we install the HEALPix C++ headers?

[2017-07-27 23:49] lpsinger commented on #404
There is no point in installing the headers because we statically link the HEALPix C++ library if we are building from the bundled sources.

[2017-07-28 00:19] zonca commented on #404
so we're not creating dynamic libraries?

On Fri, Jul 28, 2017 at 1:49 AM Leo Singer <notifications@github.com> wrote:

[2017-07-28 00:20] lpsinger commented on #404
Nope. Why would we?

[2017-07-28 00:26] #404 closed

[2017-07-28 00:27] zonca commented on #404
I see, we create dynamic libraries of the healpy extensions that are loaded
by Python (all the `*.so` inside the healpy installed folder) and those
embed statically the HEALPix libraries. So no standalone HEALPix libraries
are made available.
To have those you need to install HEALPix separately.

On Fri, Jul 28, 2017 at 2:20 AM Leo Singer <notifications@github.com> wrote:

[2017-07-28 00:41] lpsinger commented on #404
That would be the better solution. It would be awesome if you could update the healpy conda package to use said shared library conda package. Please use the tarball `healpix_cxx-3.30.0.tar.gz` from https://sourceforge.net/projects/healpix/files/Healpix_3.30/.

[2017-07-28 00:52] giacomov commented on #404
ok, I'll let you know when we manage to do it.

Is there a reason not to use 3.31?

[2017-07-28 00:57] lpsinger commented on #404
Yeah, because the autotools tarball has not been generated for it yet.

[2017-07-30 08:00] mreineck commented on #404
There is no need for a new tarball ... the C++ part did not change noticeably between 3.30 and 3.31.

[2017-08-03 07:51] CrazyGaby opened #405 "Error installing healpy"
Hello,

I'm trying to install healpy in a virtual environment (virtualenv 15.0.1) with `pip install healpy` and I get this error:

`Command "/home/gaby/hw-env/venv/bin/python2 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-hfVPUW/subprocess32/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" insta

[2017-08-03 14:05] zonca commented on #405
Have you tried installing with conda instead? See the installation
instructions

On Thu, Aug 3, 2017, 00:51 CrazyGaby <notifications@github.com> wrote:

[2017-08-03 14:36] CrazyGaby commented on #405
No, I have not do it but I will do it right now and I will comment the result

[2017-08-03 21:16] giacomov commented on #404
I generated the conda package for the C++ library. I ended up using v3.31 because it corrects the bug in query_disc which might be important for our applications.

The conda package is here:

https://anaconda.org/giacomov/healpix_cxx

The recipe and scripts to build the package are here:

https://github.com/giacomov/healpix-cxx-conda

Comments are welcome. At some point it would be nice to have th

[2017-08-08 17:14] zonca commented on #393
this looks ok, please reopen if I'm mistaken

[2017-08-08 17:14] #393 closed

[2017-08-08 18:09] zonca commented on #405
close for now, please reopen if you still cannot install

[2017-08-08 18:09] #405 closed

[2017-08-08 20:03] #391 closed

[2017-09-06 10:55] bibblybobbly opened #410 "Speed issues with high nside transforms"
Hi,

Apologies if this is the wrong place to post a query like this.

I'm writing a code that needs to do frequent spin-2 transforms in healpy using both map2alm and alm2map (predominantly the latter). However, when I go to higher and higher nside this transform inevitably becomes slower.

I am using healpy with openmp and due to the sheer volume of transforms necessary, this still results in a lo

[2017-09-06 14:27] zonca commented on #410
how long does each transform take? if it is a relatively short time, below a couple of seconds I guess, you could use HEALPix C++ instead of `healpy` to avoid the overhead of Python, but that would only give you a small performance increase.

For algorithms for partial sky, possibly @mreineck can advise, otherwise you can write to the HEALPix mailing list.

[2017-09-06 16:11] mreineck commented on #410
It is in principle possible to limit the transform to a band in co-latitude which can be more efficient than a full-sphere transform. However, doing this sort of partial transform requires using a low-level interface (probably accessing the libsharp transform library directly), and this is very non-trivial.

Which Nsides are you typically using, and what is the size and shape of your patches on th

[2017-09-06 16:13] mreineck commented on #410
BTW, as you were mentioning "high nside" ... in this case I don't think that there is much overhead in the C++-Python glue code.

[2017-09-11 16:12] bibblybobbly commented on #410
Hi,

I'm trying to use an Nside of 1024, and running it on a computer cluster
that we have here and it takes ~6 seconds for a spin-2 alm2map transform. I
can need to do up to order of 10^5 transforms(!). At the moment my patch on
the sphere is about 1000 deg^2, although I'd like to be able to use it for
up to several times this area if possible, specifically for the DES
footprint
<https://www.dark

[2017-09-11 17:22] mreineck commented on #410
The CPU times you report seem reasonable, for single-threaded execution. With OpenMP you can get a massive speedup (roughly the number of physical cores you have in one compute node).
(Alternatively, if you can run many single-threaded SHTs in parallel on node, that's of course fine as well).

This is probably your best bet, because you won't see much of an improvement with partial-sky SHT given t

[2017-09-18 15:19] NiallMac opened #411 "Ordering scheme for map2alm and anafast"
Do map2alm and anafast only work for maps with ring ordering? If so, it would be useful to say this somewhere in the documentation (apologies if I missed it).

[2017-09-18 15:31] zonca commented on #411
No they should work with any ordering. What error are you getting?

On Mon, Sep 18, 2017, 17:19 NiallMac <notifications@github.com> wrote:

[2017-09-18 15:38] NiallMac commented on #411
Ah ok, thanks. I didn't get an error - I was just confused because I assumed e.g. anafast would need to know the ordering of the map in order to compute the power spectrum, and there isn't an argument to specify the ordering. But maybe my assumption was wrong?

[2017-09-18 16:28] crosset commented on #411
The spherical harmonic transform can only be done using the RING ordering, because it does FFT along rings to be fast.
This explains why there is no ‘nest=‘ option for these functions. If you wish to do it on nested maps, you have to change the ordering explicitly before using the ‘reorder’ function.

[2017-09-19 11:30] zonca commented on #411
I was wrong, @crosset is right, they work only on ring.

@NiallMac would you like to add to the inputs of `anafast` and `map2alm` that the maps need to be in RING ondering with a pull request?

[2017-09-19 12:07] JulienPeloton opened #412 "Add overwrite keyword to write_map"
Hi,

In the last version (1.11.0), the keyword overwrite has been added to the write_map routine.
This is a great feature to have I think, but is there any reason of having it False by default - given that it never existed before? With the current setup, there is no compatibility between old and new versions while having overwrite=True by default would solve it naturally.

Best,
Julien

[2017-09-19 12:10] zonca commented on #412
thanks, I think you are right, unfortunately 1.11.0 has been around for more than a month, at this point it would be too confusing to revert to the old behavior, so I think better leave it as it is now.

[2017-09-19 12:10] #412 closed

[2017-09-19 12:19] JulienPeloton commented on #412
Thanks for the quick reply.
I understand your point, although I think this introduces more problem than it solves ;-)

Best,
Julien

[2017-10-03 01:19] DanielLenz opened #413 "synfast() and constrained realizations"
I was wondering if there were any plans to extend `synfast` to also allow constrained realizations, similar to what can be done with e.g. the F90 HEALPix software (https://healpix.jpl.nasa.gov/html/facilitiesnode14.htm).

[2017-10-03 05:34] zonca commented on #413
none, but if you provide an implementation via a pull request, I'd be happy
to review and merge it in.

On Tue, Oct 3, 2017 at 3:19 AM Daniel <notifications@github.com> wrote:

[2017-10-03 18:14] mpeel opened #414 "map2alm then alm2map does odd things to the standard deviation"
I'm trying to do a monte carlo of the noise levels in WMAP / Planck maps (using Nobs and variance maps) in order to verify smoothed variance maps. However, the standard deviation that is being calculated after doing map2alm then alm2map is not the same as the input, even when no smoothing is being applied.

Reducing the code to its most basic, I am doing:

`import healpy as hp`
`import numpy as np

[2017-10-04 07:44] mreineck commented on #414
Yes, that's (unfortunately) expected behavior.

The discretized field you construct on the sphere is not band-limited, and therefore the map2alm -> alm2map chain will not reproduce the input.

If you need a band-limited map, you have to start with random numbers in lm space and transform these via alm2map.

With such an input, the accuracy of map2alm->alm2map should be quite good, depending on you

[2017-10-08 22:45] mpeel commented on #414
Thanks mreineck. I suggest adding this to the documentation to make this clear to others who try to do this. In this case I am running map2alm then almxfl to convolve with a window function before running alm2map, in that case I assume things are no longer band-limited provided that the beam area is larger than the pixel area.

[2017-10-13 23:12] kadrlica opened #416 "Writing nested partial maps very slow"
I tried to write a nested partial map at nside=4096 using `write_map`. The writing takes a very long time (>minutes). I changed to writing the full map instead and things went much quicker (a few seconds). Since the partial map should be smaller than the full map, this seems like a bug. I'm using healpy v1.10.3.

My call to `write_map`:
`hp.write_map(filename,hpxmap,partial=True,nest=True)`

[2017-10-27 18:50] DanielLenz opened #418 "ring-to-nest confusion"
*(I've also posted this as a [question](https://stackoverflow.com/questions/46981745/ordering-confusion-when-re-ordering-healpix-maps) on stackoverflow, since I'm quite sure that I misunderstood something. Feel free to post there as well and I'll gladly accept the answer.)*

I've been working with superpixel masking and ran into something that appeared odd to me. When trying to reproduce the top t

[2017-10-27 19:46] zonca commented on #418
When you plot NESTED you need to set nest=True

Il ven 27 ott 2017, 20:50 Daniel <notifications@github.com> ha scritto:

[2017-10-27 19:50] DanielLenz commented on #416
Why should the map written with `partial=True` be smaller? From the documentation for `write_map()`:

[code]

So with `partial=True`, the map is split into smaller chunks that then need to be explicitly indexed, which explains the higher runtimes. Independent of `partial`, it always writes the full map.

[2017-10-27 19:51] DanielLenz commented on #418
Thanks for the quick solution!

[2017-10-27 19:51] #418 closed

[2017-10-27 19:55] zonca commented on #416
I think partial map is a Python dictionary, so it is a lot less efficient
than a numpy array.

Il ven 27 ott 2017, 21:50 Daniel <notifications@github.com> ha scritto:

[2017-10-27 20:03] kadrlica commented on #416
@DanielLenz my understanding is that for a partial map you *only* need to store the pixels that have non-null values. For my example, I have a very sparsely filled map, so the resulting file should be *much* smaller.

@zonca do you mean that healpy is internally converting to a python dictionary? I don't see why this is necessary, you are just writing an array of pixels and an array of values. Con

[2017-10-27 21:15] DanielLenz commented on #416
@kadrlica I just looked into this and you're right about the functionality with `partial=True`, my above comment was wrong.

It looks like `healpy` just uses another `astropy.io.fits.Column` for the indices under the hood. This part is in pure python, would be interesting to see if there is room for an easy speed-up.

[2017-10-27 21:21] kadrlica commented on #416
The "easiest" speed up that I've found is to use [`fitsio`](https://github.com/esheldon/fitsio). This also gives you a factor of 4x speed-up when reading maps.

[2017-11-07 01:14] DanielLenz opened #420 "pix2ang does not raise an error for invalid nsides"
I just realized that `pix2ang()` allows invalid nsides; is that the intended behavior?
If not, I'd add a quick `isnsideok()` call to this function (and possibly to other functions as well).

[2017-11-07 11:50] zonca commented on #420
a pull request to fix this would be useful, thanks

On Tue, Nov 7, 2017 at 2:14 AM Daniel <notifications@github.com> wrote:

[2017-11-07 23:40] #322 closed

[2017-11-07 23:41] zonca commented on #414
@mpeel would you be able to add the documentation yourself via a Pull Request? Thanks!

[2017-11-07 23:44] #420 closed

[2017-11-07 23:47] #410 closed

[2017-11-21 19:39] rusholme opened #422 "Log plots of single data value"
Hi,

Plotting with norm='log' fails (in projaxis subroutine) if the data only has one value (or rather no min/max range). For example:

[code]

This is admittedly an edge case, but I am plotting logarithmic hit maps and have occasional days with only a single observation.

This problem exists in both:
healpy                    1.11.0              np112py27_0    conda-forge
healpy

[2017-11-22 13:16] zonca commented on #422
No time to look into this, if you'd like to investigate and prepare a pull request I would be happy to review it. I will close this issue. Thanks.

[2017-11-22 13:16] #422 closed

[2017-11-24 17:42] mpeel commented on #414
I *think* I've submitted a suitable pull request at https://github.com/healpy/healpy/pull/423 ... Sorry, this is not a system I'm familiar with!

[2017-11-24 22:49] zonca commented on #414
very good thanks!

[2017-11-24 22:49] #414 closed

[2017-11-24 22:51] mpeel commented on #414
Thank you for maintaining healpy!

[2017-12-15 22:25] giacomov commented on #404
I just created the recipe on conda-forge:

It would probably be best if I could add some of the authors to the conda-forge recipe, once it is merged, so you have the authority to make changes as well.

[2017-12-15 22:27] zonca commented on #404
we had it already: https://github.com/conda-forge/healpy-feedstock

On Fri, Dec 15, 2017 at 11:25 PM Giacomo Vianello <notifications@github.com>
wrote:

[2017-12-15 22:31] giacomov commented on #404
@zonca sorry, this conversation is about the C++ part of Healpix, not healpy. The new recipe contains the C++ libraries.

[2017-12-15 22:38] zonca commented on #404
@giacomov you first need approval from the Healpix team, please contact them on the mailing lists on their website: https://sourceforge.net/p/healpix/mailman/

[2017-12-15 22:51] giacomov commented on #404
@zonca thanks, I sent them a private message a few hours ago. Let's see what they answer.

[2017-12-15 22:54] zonca commented on #404
if you get a positive answer please post a link to the feedstock on this
thread

On Fri, Dec 15, 2017 at 11:51 PM Giacomo Vianello <notifications@github.com>
wrote:

[2017-12-15 22:59] mreineck commented on #404
Sorry for getting into this discussion late...

For what exactly do you need Healpix maintainer approval?

[2017-12-15 23:15] giacomov commented on #404
Even though I don't think I need approval  - the software is released under GPL, so I can redistribute it under the same license - it would be best if they are onboard, and it is for sure a courtesy to ask.

[2017-12-15 23:20] mreineck commented on #404
I'm personally fine with it; thanks for asking!

[2017-12-18 22:36] khharut opened #424 "alm values are not correct"
I have calculated alm-s for Planck's 70 GHz map and found out that they are not correct. Every alm if m>0 must be complex number with no-zero imaginary part, but that alm-s were real numbers with 0 imaginary parts. I think it is not normal. Because of that I have got wrong results in my calculations.

[2017-12-18 22:47] zonca commented on #424
not enough details

[2017-12-19 06:53] khharut commented on #424
import healpy as hp
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

input_file = 'LFI_SkyMap_070_2048_R2.01_full'

lfi_70_map = hp.read_map(input_file + '.fits', nest = False)

lfi_70_alms = hp.sphtfunc.map2alm(maps = lfi_70_map, lmax = 8192, iter = 1, pol = False, use_weights = False, gal_cut = 20)

[2017-12-19 06:54] khharut commented on #424
Here is the code I used. Why not enough details. Please reopen issue.

[2017-12-20 14:42] SimoneAmmazzalorso opened #425 "Issue in writing map"
Hi,

I have noticed a problem in writing maps: it seems that with the latest version of pyfits the function "new_table" has been removed and substituted by "BinTableHDU.from_columns".
Changing the line in the healpy function "write_map"
`tbhdu = pf.new_table(cols)`
with
`tbhdu = pf.BinTableHDU.from_columns(pf.ColDefs(cols))`
and  changing the way the header is updated from e.g.
`tbhdu.header.updat

[2017-12-20 14:46] zonca commented on #425
No, can you please send us a pull request with the fix?

Il mer 20 dic 2017, 15:42 SimoneAmmazzalorso <notifications@github.com> ha
scritto:

[2017-12-20 18:52] khharut opened #426 "incorrect alm values for Planck data"
I have to reopen this issue in different number. Original issue was closed without giving any explanation.
See my replies to https://github.com/healpy/healpy/issues/424

[2017-12-20 19:12] #426 closed

[2017-12-20 19:13] zonca commented on #424
the beginning of the array is ok to have 0 imaginary part, look at the rest of the array.

[2017-12-20 19:25] zonca commented on #424
I see 94% of the array immaginary part is nonzero:

    (np.abs(lfi_70_alms.imag) > 1e-9).sum()  / len(lfi_70_alms) * 100
    94.341240539997941

The issue looks solved, so I will close it. If you have other comments add them below here. I will then come back when I have time and reopen it. **No need to open other issues**.

[2017-12-20 19:25] #424 closed

[2017-12-20 20:03] khharut commented on #424
The problem is that for lmax=8192 all alm-s have zero imaginary part. Try this sum(map(lambda x: abs(x.imag), lfi_70_alms[:8192])). They are most important ones, others not. Even for power-spectrum.

[2017-12-20 20:04] khharut commented on #424
I even checked for version 1.9 of healpy, the same problem exists there.

[2017-12-20 20:05] khharut commented on #424
Please, fix this problem.

[2017-12-20 20:05] khharut commented on #424
Thank you in advance.

[2017-12-20 20:31] zonca commented on #424
sorry, I don't think this is a healpy issue. I think you do not have a good understanding of Alms.

[2017-12-21 08:46] SimoneAmmazzalorso commented on #425
Hi,

I've sent the pull request. But I noticed that the changes were already present. Was it a fresh change? Another possibility is that for some reasons I have installed an old version of healpy (I don't know how since I've only run the "pip install" command)

All the best,
Simone

[2017-12-22 11:32] zonca commented on #425
my bad, I didn't remember someone already fixed that. I will close this issue and the pull request and I will release a new healpy version

[2017-12-22 11:32] #425 closed

[2018-02-26 18:19] zonca commented on #416
if somebody wants to provide a Pull Request with an improvement on this I'd be happy to review. closing the issue for now.

[2018-02-26 18:19] #413 closed

[2018-02-26 18:20] zonca commented on #356
@mreineck any news on this?

[2018-03-05 15:11] mreineck commented on #356
Sorry for the incredible delay! I thought that more discussions (as well as the implementation of a reader for the weights) would be needed before uploading the weights.

In any case, there are now a few weight files in healpy-data.

[2018-03-12 17:54] zonca commented on #356
thanks @mreineck , it would be nice to have a unit test at low nside, do you already have one in HEALPix I can use? Or could you provide an input map and expected output alms?

[2018-03-12 21:03] mreineck commented on #356
I have automated tests for this in hpxtest.cc of the C++ package, but writing a unit test inside healpy should be straightforward, following this recipe:
- draw random a_lm up to lmax=96
- run alm2map and create a map with nside=64
- run map2alm with full weights, which should recover the input a_lm up to roughly 1e-7 relative error.

[2018-04-01 19:12] Xavier1946 opened #429 "Question of toolzoom"
Hello,
I have just a simple question, when I compile the command:
zoomtool.mollzoom(mask1, fig=None, rot=None, coord=None, unit='', xsize=784, title='Mollweide view', nest=False, min=None, max=None, flip='astro', remove_dip=True, remove_mono=True, gal_cut=0, format='%g', cmap=cmap, norm=None, hold=False, margins=None, sub=None)

Appears two images,the full CMB map and the zoom at the equator, but

[2018-04-03 12:28] Grillard commented on #25
Hello,

So I manage to build healpy in Windows 10 using msys2. I have not tested if it is fully functional, but as far as I am concerned it is working great for me, so I thought I should share how I did it.

I had to hack a few things, but perhaps I am over-complicating things and I would not be surprised if I am doing something awful or unnecessary in the middle. Some of the steps I did may be fi

[2018-04-04 17:33] MartinUrban opened #430 "Including submodules in a clone fails"
Installing healpy with `pip install git+git://github.com/healpy/healpy.git@1.10.1` fails. Also checking out the master with `git clone https://github.com/healpy/healpy --recursive` fails with the same error message:

[code]

[2018-04-04 18:51] zonca commented on #430
My fault, I rebased the healpixmirror repo, I'll fix it asap

[2018-04-05 12:38] ggreco77 opened #431 "healpy in mybinder"
Hi all,
healpy  does not work in mybinder, any suggestions?

best,
Giuseppe

[2018-04-05 15:10] zonca commented on #431
Thanks for reporting, can you please send a link for instructions to make it easier to reproduce this?

[2018-04-05 15:11] zonca commented on #431
For -> or

[2018-04-05 19:48] ggreco77 commented on #431
![mybinder_healpy](https://user-images.githubusercontent.com/11920251/38388220-e10ab60c-391a-11e8-9dca-56cdd32163e0.jpg)
I get this error when healpy is in the requirements.txt file. I also open an issue in the binder chat.

thanks

[2018-04-05 19:50] lpsinger commented on #431
It would probably reduce the frequency of build issues if we started uploading binary wheels when we do releases.

[2018-04-08 10:16] ggreco77 commented on #431
@fomightez suggests to install healpy using conda.  Now it properly works using such method.

[2018-04-10 14:02] tskisner opened #432 "Ubuntu 17.10 build failure compiling healpix_cxx"
If I build the 1.11.0 release on Ubuntu 17.10 with python3 and cfitsio installed through apt, I get this error:
[code]
The config.log from the healpix_cxx build [is attached here](https://github.com/healpy/healpy/files/1894911/config.log).  Also note that I get the same error when installing healpy through pip (which is also running setup.py to compile healpix_cxx).

[2018-04-10 14:27] zonca commented on #432
Can you please check if it is a duplicate of #430?

Il mar 10 apr 2018, 16:02 Theodore Kisner <notifications@github.com> ha
scritto:

[2018-04-10 15:26] zonca commented on #432
cannot reproduce this in 16.04,
@mreineck there is an obscure C error `configure: error: cannot run C compiled programs.`, do you have any suggestions?

[2018-04-10 15:27] zonca commented on #430
@MartinUrban can you please check again now to build from Github?

[2018-04-10 15:27] zonca commented on #431
this should be fixed now

[2018-04-10 15:27] #431 closed

[2018-04-10 15:34] tskisner commented on #432
I don't think this is related to #430.  Based on the config.log output (above):
[code]
It seems like this configure test is linking some object file that was not compiled with -fPIC.  I can try to dig deeper.

[2018-04-10 16:38] mreineck commented on #432
I agree that this is most likely a missing "-fPIC". However, a standard "configure" run should not encounter such a situation, as far as I understand. Which flags are passed to configure by the healpy build mechanism?

[2018-04-10 16:43] tskisner commented on #432
From config.log:
[code]

[2018-04-10 17:10] mreineck commented on #432
Hmm ... I'm by no means an autotools expert, but the combination of "--disable-shared" and "--with-pic" looks fairly special (and probably rarely used) to me. Could this sufficiently confuse configure?

In any case ... the failure occurs within configure, so there is probably nothing we can do about it on the Healpix side of things, right? Unless, of course, our configure.ac is buggy...

[2018-04-11 18:16] alessiospuriomancini opened #433 "Second derivatives of Healpy map"
Hi,

Is there a way  in Healpy to get the second derivatives in theta and phi of a Healpy map?
(ideally both the mixed derivative theta phi  and   the derivatives theta theta, phi phi)

Something like the optional output `der2` of the `alm2map_der` function for the Fortran version of Healpix.

Thanks in advance

[2018-04-12 16:32] DanielLenz commented on #429
Do you need it to be interactive, or do you just want to plot a zoomed-in region of the full sky?

[2018-04-15 19:28] aaroncnb opened #434 "Circular aperture photometry feature?"
Hi, for my PhD project I made a crude translation of the circular aperture photometry code in IDL, by Clive Dickinson et al. You can access the original IDL code (and a C++ version) here:
http://irsa.ipac.caltech.edu/data/Planck/release_1/software/

It takes a list of target coordinates with aperture radii for the background annulus and source aperture, and a list of input healpix maps, and return

[2018-04-16 07:51] zonca commented on #433
not currently, if this function is available in the C++ version of HEALPix, then it would not be difficult to call it from Python in https://github.com/healpy/healpy/blob/master/healpy/src/_sphtools.pyx, if you'd like to implement it I am happy to review and merge your Pull Request

[2018-04-16 07:55] zonca commented on #434
Planck! nice!

I think it would be better to keep it as a separate project, we can host it under the `healpy` organization if you think it would make it easier to find.
I can also provide some feedback on how to improve the implementation.

[2018-04-16 08:01] mreineck commented on #433
Unfortunately, the C++ library does not support second derivatives. Implementing them in an elegant way is really hard, and I didn't have the time for it...

[2018-04-16 09:13] zonca commented on #432
I reproduced this in a 17.10 container, I got it to build (after a lot of attempts...) by running the configure step manually instead of having Python run it. My guess is that running through Python messes up the environment somehow, but I don't know how to fix it.

So:

* try to build and get to the error
* copy the configuration string with all the options, for my case:

        /bin/sh /root/he

[2018-04-16 09:15] zonca commented on #433
thanks @mreineck
@alessiospuriomancini if you'd like to port the functionality from FORTRAN to C++, you can send the patch to @mreineck to be included into HEALPix, then we can wrap it in `healpy`.

[2018-04-16 09:15] #433 closed

[2018-04-16 10:13] mreineck commented on #433
@zonca This would be a _very_ daunting task :)
I know libsharp by heart, and I was not brave enough to do it myself ...

[2018-04-16 13:25] zonca commented on #430
thanks, it was a orphaned commit, I created now a branch `healpy-1.11.0` in the `healpixmirror` repo that points to the commit `3978d10aa3b6d5d014a23d011bc3aa8ce7565149`, now it works also with `pip` on my machine.

[2018-04-16 13:26] #430 closed

[2018-04-16 13:27] zonca commented on #429
no feedback from @Xavier1946 , please reopen if needed.

[2018-04-16 13:27] #429 closed

[2018-04-16 13:30] zonca commented on #25
thanks @Grillard , it would be a great contribution to the project if you can package this into a conda recipe and make a Pull Request to our repository for creating conda packages at https://github.com/conda-forge/healpy-feedstock

This way a conda package for windows could be automatically built for `healpy`.

[2018-04-16 19:18] lpsinger commented on #432
No, this is intentional: we are telling configure that we want to build a healpix_cxx as a static library.

[2018-04-16 21:15] tskisner commented on #432
There are multiple ways of installing pre-built packages (APT, conda-forge channel, etc).  This issue was focused on installing healpy from source, which is sometimes needed to get the latest version.  For example the healpy version in 17.10 (and 18.04) is 1.10.x.

Some context:  a couple years ago I had issues installing the healpix_cxx library within healpy on some of the Cray machines at NERSC.

[2018-04-16 21:45] tskisner commented on #432
Ok, some more clues.  Just forcing the build to use '-fPIC' works:
[code]
Also, note that in the debian package build of healpy, the '-flto' option is specified (link time optimization), which forces -fPIC.  So that is why the debian package build works.

Now I'm looking into why the configure option "--with-pic" does not enable -fPIC, even in the case of "--disable-shared".  That combination cert

[2018-04-16 22:10] tskisner commented on #432
Since the healpixsubmodule is just a mirror of the upstream source, I guess that it is beyond the scope of healpy development?  Since just forcing the "-fPIC" flags above works, that seems like an ok workaround for now...

I noticed that setup.py is calling "autoreconf".  That means that your build system files will be dependent on the autotools versions on the user machine (which could be ancient

[2018-04-25 13:30] j-erler opened #436 "Suppress plot when using gnomview"
I was wondering if there is a way to suppress the plot that is automatically created when using gnomview. I am only interested in using the projected map array and creating these for a large number of objects slows down my system since a plot is created each time.

[2018-04-25 14:01] zonca commented on #436
I think you can move `img = self.proj.projmap(map,vec2pix_func,rot=rot,coord=coord)` outside of `projmap` in `projaxes.py`, then pass `img` as argument to `projmap`. Then add a keyword to `gnomview`, like `create_plot=True` and if `False` just return `img` and exit.

[2018-04-26 01:30] j-erler commented on #436
Thank you for the quick reply. I managed to mitigate the problem without modifying the source code by calling plt.clf() and plt.close() after each call of gnomview to delete the image and close the window. This solves the issue of RAM consumption, which was my primary concern.

[2018-05-09 17:05] Kathryn-Drake commented on #356
I am a doctoral student, and my dissertation research is directly related to this issue. Unfortunately, I've yet to find any explicit explanation of what method is used in the HEALPix map2alm software to compute the alm coefficients. Would anyone be willing to point me in the direction of source code or literature which contains this information? I would greatly appreciate it.

[2018-05-10 09:27] mreineck commented on #356
The expressions computed by map2alm are given in
https://arxiv.org/pdf/1010.2084
and
https://arxiv.org/pdf/1303.4945
The code for the transforms themselves can be found in the libsharp/ subdirectory of the Healpix package (e.g. https://sourceforge.net/p/healpix/code/HEAD/tree/trunk/src/cxx/libsharp/) - although this is definitely no fun to read ;)
The "full weights" approach proposed here was insp

[2018-05-10 18:38] DanielLenz opened #437 "Travis builds"
The travis builds appear to be failing because scipy is not installed. Can this easily be fixed by updating the .travis.yml or is the underlying issue more complex?

[2018-05-10 19:53] zonca commented on #437
I don't know, can you create a pull request to test it?

On Thu, May 10, 2018 at 8:38 PM Daniel <notifications@github.com> wrote:

[2018-05-17 14:27] zonca commented on #434
please reopen if you'd like to request to add a repository to `github.com/healpy`

[2018-05-17 14:27] #434 closed

[2018-05-17 14:28] zonca commented on #434
@aaroncnb  even if you do not want to create a new package, it would be nice if you can share the code online and post the link here

[2018-05-17 16:09] cjcopi opened #439 "ringinfo documentation issues"
The documentation to `ringinfo` has two issues/errors

1. It is claimed that the parameter `ring` can be an int, scalar or array-like.  This not the case, `ring` **must** be a one-dimensional `ndarray`.  This is encoded in the signature of the function.  I do not know enough about Cython to know if there is a way to work around this.  If not, a pure Python wrapper could be written that does the ty

[2018-05-17 20:40] zonca commented on #439
thanks, could you send a pull request to fix this?

[2018-05-18 18:15] #437 closed

[2018-05-21 18:48] zonca commented on #439
thanks for the fix

[2018-05-21 18:48] #439 closed

[2018-05-28 13:41] zonca opened #445 "Standardize default FITS extensions name across HEALPix"
Agreed with @mreineck and @hivon to set default names of the FITS extensions to:

‘TEMPERATURE’, ‘Q_POLARISATION’, ‘U_POLARISATION’

The same will be used in C++, IDL and F90

[2018-05-28 13:49] zonca commented on #445
@mreineck @hivon, in `healpy` we also have:

* `["II", "IQ", "IU", "QQ", "QU", "UU"]` default names when a map array is of length 6, possibly a covariance matrix.
* `COLUMN_n` with `n` from 0 to the number of components for any other number of components

Do you have anything similar somewhere else in HEALPix?

[2018-05-28 14:05] hivon commented on #445
Hi Andrea,

no, there is no default in that case in F90 or IDL.
It is up to the user to name the columns outside the I, IQU or IQU+derivatives cases.
Note that FITS numbers its column starting at 1 (TTYPE1, …)

Eric

[2018-05-29 17:15] pllim opened #448 "Feature Request: Report dependency versions under test"
xref https://github.com/healpy/healpy/pull/444#issuecomment-392860163

[2018-05-29 20:10] zonca commented on #448
it is in the logs, https://api.travis-ci.org/v3/job/382791321/log.txt

[code]

do you mean pull those out from the logs? or during testing?
do you have an example of this on `astropy`?

[2018-05-30 02:10] pllim commented on #448
I was thinking more like https://travis-ci.org/astropy/astropy/jobs/383387843#L4651 , where they are clearly reported at the start of `pytest`, not buried in installation log. Because for reasons that might be familiar to you, I don't quite trust `conda` install log anymore.

[2018-05-30 16:56] pllim commented on #448
It is at https://github.com/astropy/astropy/blob/master/astropy/tests/plugins/display.py . It is used by `astropy` core and also any package that uses `astropy-helpers`.

[2018-05-31 18:53] athornton opened #449 "projaxes help contains (apparently) all of matplotlib.axes help (4.6 MB)"
`help(healpy.projaxes)` gives far, far too much information to be useful.  It also overwhelms the Jupyter Notebook's default IOPub data rate.

I suspect this is a bug and you don't really mean to be printing 4-1/2 MB of help when you ask for the projaxes docstring.  You probably want something much more like https://healpy.readthedocs.io/en/1.9.1/healpy_projaxes.html

I wrote the following to capt

[2018-06-02 08:43] zonca commented on #449
Thanks, I reproduced this on my machine, but I've no idea why this happens, do you have any suggestion?

[2018-06-02 09:53] zonca commented on #449
it looks like this is what happens if you subclass `matplotlib.axes.Axes`, the same thing happens with this simple module:

[code]

[2018-06-02 09:59] zonca commented on #449
it looks like this is caused by "Methods inherited from matplotlib.axes._axes.Axes:" listing, it would be nice to only list the method name instead of the full docstring, but I don't know how to modify this.

[2018-06-02 19:55] athornton commented on #449
I found it baffling too.  If there had been an obvious-to-me fix, the issue would have come with a PR.

[2018-06-03 20:00] zonca commented on #449
Tried to ask on StackOverflow https://stackoverflow.com/questions/50670470/suppress-metds-inherited-by-base-class-in-subclass-docstring

[2018-06-03 22:07] TianchengTang opened #451 "Install failure with Python 3.6.2 on windows"
Hi,

I have encountered this error while trying to install the package: TypeError: environment can only contain strings. Any thoughts?

Thanks,
Kingsley

[2018-06-04 04:43] kadrlica commented on #445
I'll just point out that these default extension names make very little sense for those of us using `healpy` with optical survey data.

[2018-06-04 04:50] kadrlica opened #452 "Optional degrees argument for pixelfunc.max_pixrad"
It'd be nice to have an optional argument to return the value from [`pixelfunc.max_pixrad`](https://github.com/healpy/healpy/blob/a391ad9fc3b0a60a1f2603d92d32154d6abfd0c3/healpy/pixelfunc.py#L1345) in degrees rather than radians. This would parallel the call to [`pixelfunc.nside2pixarea`](https://github.com/healpy/healpy/blob/a391ad9fc3b0a60a1f2603d92d32154d6abfd0c3/healpy/pixelfunc.py#L994).

[2018-06-04 08:21] zonca commented on #451
unfortunately we do not support windows, see #25

[2018-06-04 08:21] #451 closed

[2018-06-04 08:29] mreineck commented on #452
Wouldn't it be cleaner to just say
`np.degrees(pixelfunc.max_pixrad(...))`
This avoids duplication.

[2018-06-04 09:02] zonca commented on #445
thanks @kadrlica how many columns and which names do you generally use for that?

[2018-06-04 11:38] kadrlica commented on #452
@mreineck how is this "cleaner" and what "duplication" does it avoid? The suggested form is:
[code]

@zonca yes, I can submit a PR.

[2018-06-04 11:52] mreineck commented on #452
Well,
`np.degrees(pixelfunc.max_pixrad(nside))`
is actually shorter than
`pixelfunc.max_pixrad(nside, degrees=True)`
and it doesn't require additional code in healpy.

[2018-06-04 12:07] kadrlica commented on #445
I don't think that there is a well established convention in optical surveys (at least, not one that spans across scientific collaborations). Within the Dark Energy Survey, healpix maps are generally used to store survey characteristics as a function of sky position (i.e., magnitude limit, coverage fraction, sky brightness, airmass, PSF size, etc.). These are commonly distributed as compressed nsi

[2018-06-04 13:03] zonca commented on #452
the best solution would be to use `astropy.units`, but it would require significant work, I can't commit to this but if somebody volunteers I'd love to review a pull request about that.

[2018-06-04 13:33] mreineck commented on #452
I'm sorry if my comments above seem to be unnecessarily destructive ... they definitely were not meant that way.
My idea is that code functionality should be as orthogonal as possible, i.e. if there already is a simple way to achieve something, the code should not be enlarged to support another way of achieving it. In the long run this leads to feature creep and very hard-to-maintain code.
Unfortu

[2018-06-04 15:42] kadrlica commented on #452
@zonca yeah, astropy units would be nice, assuming that the decision has been made to broadly incorporate astropy as a dependency and that it doesn't add much overhead in calculations. Unfortunately, I also don't have time to implement this right now.

@mreineck I don't think your comments were destructive. My main feeling is that this change would preserve parallelism in the API.

[2018-06-04 16:03] kadrlica commented on #452
Along similar lines, there is also [`pixelfunc.nside2resol`](https://github.com/healpy/healpy/blob/a391ad9fc3b0a60a1f2603d92d32154d6abfd0c3/healpy/pixelfunc.py#L951), which has the optional argument `arcmin`.

[code]

Not sure what (if anything) to do with this.

[2018-06-04 21:28] TianchengTang commented on #451
Hi,

Thanks for letting me know.

Regards,
Kingsley

2018-06-04 1:21 GMT-07:00 Andrea Zonca <notifications@github.com>:

[2018-06-05 05:52] cdeil commented on #445
@woodmd developed the HEALPix formats described [here](http://gamma-astro-data-formats.readthedocs.io/en/latest/skymaps/healpix/index.html) and they are mostly supported by [gammapy.maps](http://docs.gammapy.org/dev/maps/index.html).

It seems that this issue is discussing polarisation, we don't have anything for that.

So I don't have anything to add here, except maybe the general sentiment that

[2018-06-05 19:43] zonca commented on #449
it looks like there is no way to fix this, I'll close the issue...

[2018-06-05 19:43] #449 closed

[2018-06-05 20:36] JulienPeloton commented on #449
Hi all,

This is definitely not in my top-10 best practices, but you could use this trick to remove the unwanted doc:

[code]

In this case, only the declarations of methods will be kept.
If you worry about the docstrings, then the final size should be much lower!

[2018-06-06 20:58] zonca commented on #449
thanks @JulienPeloton
it is definitely a possibility, but, I'd rather have the issue of large docstrings than have this code run at every import.

@athornton what do you think about this?

[2018-06-12 20:30] zonca commented on #452
`astropy` is already a dependency for fits reading. Also I would start doing units on all those small functions and leave maps for last, anyway, for the future.

[2018-06-12 20:30] #452 closed

[2018-06-12 20:35] zonca commented on #445
@kadrlica I see your point, but our main use case is CMB so we'd like to have consistency with the other HEALPix packages. Anyway it is not a key feature.

@cdeil I've found a lots of references on Google about standardization, too many...can you please point me to a simple or more similar to HEALPix example?
Or do you mean an official and comprehensive version of this http://gamma-astro-data-form

[2018-06-12 20:36] zonca commented on #356
implemented in #442

[2018-06-12 20:36] #356 closed

[2018-06-13 06:39] cdeil commented on #445
Not sure what you mean.

My point was just that HEALPix FITS files are used not in different sub-domains of astronomy, yet HEALPix is not in the FITS standard (https://fits.gsfc.nasa.gov/fits_standard.html) or a registered convention (https://fits.gsfc.nasa.gov/fits_registry.html). E.g. when I tried to learn about HEALPix and even find out something as simple as which header keyword to use for the

[2018-06-13 13:27] zonca commented on #445
thanks @cdeil, I see also a older discussion on `healpix-support` about this: https://sourceforge.net/p/healpix/mailman/message/35721937/

let me ask again on the mailing list

[2018-06-13 13:37] zonca opened #455 "Compilation error on OSX for healpy 1.12.0"
I am trying to build a conda package for OSX, but I get a compilation error:

[code]

@mreineck would you have a suggestion on what could be the problem? It was compiling fine 1.11.0

See full log here: https://travis-ci.org/conda-forge/healpy-feedstock/jobs/391491099
The source code is in https://github.com/conda-forge/healpy-feedstock

[2018-06-13 13:54] mreineck commented on #455
No idea at all, sorry. From the logs it doesn't seem as if there were any problems during the C++ compilation phase, and the Cython part is just black magic to me ...

[2018-06-14 07:48] zonca commented on #455
@keskitalo have you updated on OSX to 1.12.0? Does it work fine on your machine?

[2018-06-14 16:42] keskitalo commented on #455
@zonca on OSX 10.13.5 the current master branch fails to compile with
[code]
I see `weights_utils.h` under `healpixsubmodule/src/cxx/Healpix_cxx/weight_utils.h` along with two other header files also included by `healpy/src/_sphtools.pyx`.

Could the problem be that the build system is trying to use an existing installation of `healpix_cxx` that does not include the latest updates?

[2018-06-14 16:55] zonca commented on #455
yes, correct, could you temporarily uninstall `healpix-cxx` and try again?

[2018-06-14 17:20] keskitalo commented on #455
I manually installed healpix_cxx from `healpixsubmodule/src/cxx/autotools` and now healpy compiles and installs just fine. I just had to uninstall my own copy of `libsharp`. It seems that the `libsharp` github repository is incompatible with the latest `healpix_cxx`. This will be an issue for any project that uses the Python bindings from `libsharp` *and* tries to install `healpy`.

[2018-06-14 17:32] zonca commented on #455
Thanks @keskitalo, it looks like also @hivon is experiencing the same issue described above. Not sure how to debug. @keskitalo are you compilimg with gcc or clang?

[2018-06-14 17:37] keskitalo commented on #455
@zonca I'm using gcc7 installed through macports.

[2018-06-14 17:38] keskitalo commented on #455
@mreineck are the any plans of updating the `libsharp` repository to be compatible with the `libsharp` that is bundled with `healpix_cxx`?

[2018-06-15 06:39] mreineck commented on #455
I'll have a look, but I expect they will always be slightly different because the "standalone" version has functionality that Healpix doesn't need.
To be honest, I originally didn't expect that the standalone libsharp would ever be installed system-wide by someone, because it's such a custom-tailored piece of software...

[2018-06-15 08:46] hivon commented on #455
It seems that there are 2 problems: one tied to libsharp, one with the C++ compiler:
I compiled and installed healpy 1.12.0 from sources, on MacOSX 10.13.4 (I don't have any preinstalled libsharp).
When using gcc 5.3 or clang 9.1, the compilation and installation went smoothly, but the 'import healpy' failed because the symbol __ZN14T_Healpix_BaseIlE8SetNsideEl23Healpix_Ordering_Scheme was not fou

[2018-06-15 10:10] mreineck commented on #455
This smells very strongly like some subtle ABI changes in the compiler over time. Cython apparently tracks them, but now seems to get things wrong for older compilers.

What's "clang 9.1"? According to llvm.org, the most recent version should be 6.0.

[2018-06-15 10:38] hivon commented on #455
I guess Apple is confusing things with version numbers:
/usr/bin/clang -v    returns
Apple LLVM version 9.1.0 (clang-902.0.39.2)
Target: x86_64-apple-darwin17.5.0

[2018-06-15 14:04] lpsinger commented on #455
I bet that you are somehow building the C++ library with one compiler and Healpy with another.

[2018-06-15 14:13] mreineck commented on #455
You are right ... that could easily have such an effect. Let's hope this is the reason - although it means that we need to keep track of which compiler was used to compile every component, which may be tedious.

[2018-06-15 14:15] lpsinger commented on #455
This is not a problem that is unique to us; any project that contains C++ code suffers from the fact that (unlike C) different C++ compilers generally do not produce ABI compatible code because of differences in name mangling.

[2018-06-15 14:30] hivon commented on #455
I don't see how replacing gcc-5 with gcc-8 would suddenly force a single C++ compiler to be used everywhere more efficiently than when only gcc-5 was installed.

[2018-06-26 09:14] dragoon opened #456 "Import from six library in setup.py causes installation failure"
We are building the library on docker and the fact that the setup.py script requires import from six library which is not installed yet makes the setup crash with "ModuleNotFound" exception.

line 399 of setup.py: from six.moves import builtins

[2018-06-26 09:37] zonca commented on #456
can you please share the Dockerfile?

[2018-06-26 09:42] dragoon commented on #456
Yes, I cannot share the whole file, here is the most important part I guess

[code]

[2018-06-26 10:10] zonca commented on #456
can you create the simpler example I can just run to reproduce the problem
on my machine?

On Tue, Jun 26, 2018 at 11:42 AM Roman Prokofyev <notifications@github.com>
wrote:

[2018-06-26 10:40] zonca commented on #456
@dragoon  can you please check if #457 fixes your issue?

[2018-06-26 12:12] dragoon commented on #456
It a bit complicated for us to test the build with a custom branch of a library, but I think this would solve the problem if I understand this correctly.

[2018-06-26 12:15] #456 closed

[2018-06-26 12:16] zonca commented on #456
I merged into master

Il mar 26 giu 2018, 14:12 Roman Prokofyev <notifications@github.com> ha
scritto:

[2018-06-28 14:44] ziotom78 opened #460 "Strange results with healpy.Rotator.rotate_map"
@NicolettaK pointed me that Planck LevelS implements a code (`cxxtools/HPXconvert_cxx.cc`) to convert polarization maps from one coordinate system to another. Therefore, I have been finally able to run some extended check on `Rotator.rotate_map`.

Here is what I did:

1. I took a CMB map and computed the EE spectrum
2. I rotated this map from Galactic to Ecliptic using `healpy.Rotator.rotate_map`

[2018-06-28 14:45] zonca commented on #460
can you check if #459 fixes the issue?

[2018-06-29 04:36] ziotom78 commented on #460
Yes, it does!

![ee_healpy](https://user-images.githubusercontent.com/377795/42073407-c2ae9622-7b66-11e8-99e3-f37ef14f5b96.png)

It is not completely clear to me why the spectrum of the rotated map shows a reduction in amplitude with increasing $\ell$, however: might it be due to the use of `healpy.get_interp_val`?

[2018-06-29 07:28] zonca commented on #445
@hivon is preparing a document, it will be published soon

[2018-06-29 12:58] zonca opened #461 "Syntax error in autotools C++ HEALPix install"
@mreineck not sure if the autotools installation is officially supported in HEALPix so I opened an issue here instead of the HEALPix bug-tracker.

HEALPix C++ fails to install with autotools (on Cori at NERSC). I am trying to install the version bundled with healpy, which is https://github.com/healpy/healpixmirror/tree/bd2ddf629d2d75d65205b2bc38f3940a3f9eeefb

[code]
I run:

[code]

do you know wh

[2018-06-29 13:03] mreineck commented on #461
No idea. Things work fine on my laptop, and the only difference I see at the moment is that I have pkg-config 0.29 installed.

@lpsinger, have you seen this before?

[2018-06-29 13:06] mreineck commented on #461
Maybe something like https://github.com/texane/stlink/issues/83 ?

[2018-06-29 13:47] zonca commented on #461
Thanks, I gave it a try using the path to aclocal at NERSC but didn't work.

@tskisner would you have any suggestion?

[2018-06-29 14:48] tskisner commented on #461
Autotools usually works under the model where "developers" have (recent) autotools versions installed.  Developers build a distribution tarball (make dist).  This distribution tarball can be installed by "users" who only have a Bourne shell and Make installed.  This way the installation does not depend on the age / version of autotools on the user system.

Recall my comment on the other issue:

ht

[2018-06-29 15:03] lpsinger commented on #461
Yes. You're normally expected to distribute all of the required autoconf macros in your package. This is a defect in the healpix-cxx package. I'll provide you with a patch.

[2018-06-29 15:08] lpsinger commented on #461
Autotools is only a dependency for building a distribution tarball (e.g. `setup.py sdist`). After that, the generated `configure` script is baked into the source.

I agree that the autotools dependency for development is weird for a Python package. But it is this way for a good reason: the C++ package is very sensitive to correct GCC versions and compiler flags; the autoconf-generated configure sc

[2018-06-29 15:18] lpsinger commented on #461
@tskisner, are you aware that there are vanilla autotools build systems for healpix-cxx and chealpix? @mreineck and I maintain them and I build the Debian and MacPorts packages from them.

The autotools packages are distributed on HEALPix's SourceForge project page (e.g. [healpix_cxx-3.40.0.tar.gz](https://sourceforge.net/projects/healpix/files/Healpix_3.40/healpix_cxx-3.40.0.tar.gz)), but unfortu

[2018-06-29 15:30] tskisner commented on #461
Hi @lpsinger, thanks for pointing out some of the details of which I was not aware.  I agree with your goals above, and appreciate all the work you and @mreineck have done.  @zonca, was the build above that you tried on cori using a healpy git checkout or installing from a release tarball?  If it was from a git checkout and you just want a newer version of autotools, you can get that from the toas

[2018-06-29 15:43] zonca commented on #461
@tskisner, I was already using toast-deps

[2018-06-29 16:20] athornton opened #462 "1.12.2 doesn't install on Python 3.6 with pip"
On both the SCL 3.6 on Linux and Brew 3.6.5 on MacOS I get a UnicodeDecodeError (same in both cases):

[code]

[2018-06-29 16:28] zonca commented on #462
ok, can you please try with 1.12.3 and report back?

[2018-06-29 16:33] lpsinger commented on #461
@mreineck, please take the attached file `pkg.m4.txt`, rename it to `pkg.m4`, and put it in the `m4` directory of your autotools package. This is the autoconf macro file from pkgconfig 0.29.2.

Once you do that and @zonca updates the embedded healpix-cxx source, that should fix the issue.

[pkg.m4.txt](https://github.com/healpy/healpy/files/2150143/pkg.m4.txt)

[2018-06-29 17:06] athornton commented on #462
The pip install succeeds again with 1.12.3.  Thanks!

[2018-06-29 17:07] #462 closed

[2018-06-29 17:07] zonca commented on #462
thanks

[2018-06-30 14:42] lpsinger commented on #461
@zonca, @mreineck has updated the healpix-cxx source to include that m4 file. Would you please update the bundled sources and verify that this fixes the issue?

[2018-06-30 15:12] zonca commented on #461
Yes it worked, thanks! Do you think this is worth a release?

[2018-06-30 15:14] #461 closed

[2018-07-02 04:35] kadrlica commented on #416
@zonca Can we reopen this issue so it doesn't get forgotten? I just ran into this problem again, and I don't think anyone is going to remember to submit a PR if this issue is marked as closed.

[2018-07-02 04:42] kadrlica commented on #416
Here is a minimal "working" example:
[code]
It seems like something in the compression may be exacerbating the problem, since writing a `.fits` file instead of `.fits.gz` finishes (though also in an unreasonable amount of time considering it should only be writing 1000 rows).

[2018-07-02 13:04] core-dd commented on #455
I've got it running via
"CC=gcc-8 CXX=g++-8 LD=gcc-8 python3 setup.py install --user"
having gcc-8 installed via homebrew.
It looks like python is using clang to build the healpixsubmodule and might be using gcc for the cython magic.

[2018-07-02 14:00] StanisLaRochelle opened #463 "Issue in Healpy 1.12.2 import (MacOS)"
I have an issue while importing the Healpy package after upgrading to 1.12.2 with Conda. Now it returns the following error:

![screen shot 2018-07-02 at 15 57 29](https://user-images.githubusercontent.com/35338641/42168211-a695049c-7e10-11e8-914e-eb716c7377be.png)

Any ideas of where can it arise from? I tried with uninstalling and re-installing the package but the result is still the same..

Tha

[2018-07-02 20:04] kjacks21 commented on #463
I just want to second this issue. I just installed via conda-forge on MacOS and getting the same exact error.

[2018-07-02 20:12] zonca commented on #463
yes, see #455, in the thread there is also a suggestion on how to fix it building from source.
Unfortunately we don't know yet how to fix this.

Also, there must be a bug in conda-forge, those broken packages failed the tests and shouldn't have been posted on conda-forge.

[2018-07-02 20:12] #463 closed

[2018-07-02 20:45] zonca commented on #455
I see that in the Travis-CI log of the conda build it is actually using clang and clang++ both for the healpix submodule and for compiling the Python extensions, see:

https://api.travis-ci.org/v3/job/398841745/log.txt

[2018-07-03 08:18] #460 closed

[2018-07-06 04:42] ziotom78 commented on #460
Ok, finally I was able to run the test. Here is what I did:

- I created a Cl spectrum using CAMB (with r=0, so no B-modes)
- I used `healpy.synfast` to produce *two* maps from the Cl, one with `NSIDE=128` and another with `NSIDE=512`
- I rotated both maps (using `healpy.Rotator(coord=`EG`)`)
- I compared the five power spectra: the one from CAMB, the two for the *unrotated* maps, and the two for

[2018-07-06 07:53] mreineck commented on #460
No, the proposed alternative interpolation would not be a good choice in this concrete case.

It requires knowledge of the C_l (and therefore the a_lm), and if these are known, then we already have the perfect way to rotate the map: just rotate the a_lm and run alm2map.
(As far as I understand, this wouldn't be any slower than the proposed interpolation method.)

Generally: if a high-quality rotat

[2018-07-06 08:05] mreineck commented on #460
BTW, LevelS also contains a code called `rotmap_cxx`, which does the rotation via harmonic space, so you may want to give it a try.

[2018-07-06 10:13] ziotom78 commented on #460
Thanks for the hint, @mreineck , I wasn't aware of the existence of `rotmap_cxx`. I think that it would be really useful to have both methods to rotate a map in `healpy`: it's true that going through harmonic space would save us from E/B mixing, but a pixel-space code has the advantage of being easy to use with partial maps.

[2018-07-06 12:33] ziotom78 commented on #460
Oh, I wasn't advocating the implementation of Lavaux&Wandelt, my desire was only to improve the current implementation of `rotate_map` (using the same approach as LevelS) alongside the implementation of a new function which performs rotations on the harmonic space.

[2018-07-06 12:46] mreineck commented on #460
Ah, OK! :)

[2018-07-06 14:40] cdeil commented on #455
I'm also getting this error on MacOS:
[code]
using this conda [environment.yml](https://github.com/gammapy/gammapy/blob/master/environment-dev.yml).

😢

[2018-07-06 14:41] cdeil commented on #455
Is there a known workaround, e.g. downgrading to some older version?

[2018-07-06 15:17] zonca commented on #455
yes, you can downgrade to 1.11.

I asked conda forge to remove that package, I cannot do it: https://github.com/conda-forge/healpy-feedstock/issues/15

[2018-07-17 15:21] jiashuhan opened #465 "Compilation error on OSX 10.13"
I tried to upgrade healpy from 1.10 using pip3 install --upgrade healpy, but encountered the following errors:
[code]

The compiler is gcc-8.1. I tried changing the compiler to clang and it still didn't work. Is the program supposed to import the file from src/cxx/cxxsupport/? If so, what files are responsible for importing the healpix_cxx library?

[2018-07-19 07:14] zonca commented on #465
can you try to install from the current master branch and report the log?
There are OS X compilation issues also in #455 but this seems different

[2018-07-19 12:37] aqtocx commented on #465
pip3 install git+https://github.com/healpy/healpy.git@master
[code]

[2018-07-19 12:51] zonca commented on #465
Can you install autotools?

Il gio 19 lug 2018, 14:37 Jiashu Han <notifications@github.com> ha scritto:

[2018-07-19 12:56] aqtocx commented on #465
I updated the previous comment after I installed autotools

[2018-07-19 18:36] zonca commented on #465
@mreineck would you have any suggestions on how to debug this?

[2018-07-19 19:15] mreineck commented on #465
Not really, because it's a configuration problem. For some reason, either healpix_cxx is not installed properly, or the include flags for the compilation of the healpy C++ sources are not set correctly.

Compilation of code from Python is a complete mystery for me, sorry.

[2018-07-19 19:18] mreineck commented on #465
BTW, if I remember correctly, there was agreement that autotools should not be needed for non-developers.

[2018-07-25 04:20] DanielLenz opened #467 "Add type hinting with mypy?"
I've been adding type hinting for a lot of projects recently, and found that if combined with travis CI, can significantly help in maintaining and debugging.

This would mean that e.g. the following changes would be made:

[code]

[code]

On top of that, the travis build would include the mypy linter.

I'd be happy to set this up and do most of the changes, if you think it would be a sensible addi

[2018-07-25 05:04] mreineck commented on #467
I think such a change could be extremely useful, but I have two questions:

- with the syntax you are proposing in the example above, wouldn't we lose Python 2 compatibility? I know that there is a comment-based alternative syntax as well, but it looks much more clumsy
- what would the performance impact be on very small functions like accessors?

[2018-07-25 15:08] DanielLenz commented on #467
Yes, the syntax above would only work in python 3. I agree that using the comment-based syntax wouldn't be very elegant, and would also need to be converted at some point in the future. This seems to be the only possibility now, though.

On a related note, are there any plans to drop Python 2 support in a future release (whilst still maintaining a LTS Python 2 version)?

[2018-07-27 05:01] zonca commented on #467
Yes, I think it would be great

[2018-07-27 05:02] zonca commented on #467
As of Python 2, sure, I would follow what astropy does

[2018-07-27 15:56] DanielLenz opened #468 "Drop Python 2 support"
Similar to the discussion in the astropy community (https://github.com/astropy/astropy/issues/6234), it would make sense to develop a healpy version (say 1.13) that drops support for python 2.x.

Just blatantly stealing their to-do list:

- [x] Remove __future__ imports
- [x] Make sure we remove the unicode_literals text fixture
- [x] Search for and remove any 'six' imports and in some cases repla

[2018-07-27 15:57] DanielLenz commented on #467
I've opened an issue (https://github.com/healpy/healpy/issues/468) on the python 3.x only discussion to follow up on that.

As for the type hinting, it makes sense to do it on the python 3.x-only release, mostly because the syntax for mypy is so different from python 2 to 3.

[2018-08-01 00:52] FriendsJessica opened #469 "can you show me the code of plot cartview map"
How do you deal with the pixel in the margin of the map in cartview map. Because the pixel is parted to 2 parts near longitude at 360. Can you show me the part of the code, cause I want to plot it in MATALB. Thank you very much!

[2018-08-01 00:56] #469 closed

[2018-08-01 06:33] FriendsJessica opened #470 "face error when plot mean of pixel in cartview figure"

[2018-08-01 08:15] #470 closed

[2018-08-01 10:16] FriendsJessica opened #471 "how to plot figure as center in 180 in horizontal axis not 0 degree"
[图片]

[2018-08-01 10:16] #471 closed

[2018-08-01 15:30] FriendsJessica opened #472 "flexible set parameters of subgraph"
Hello! I want to plot many subgraphs in one figure. How to:
1. set the position of the colorbar
2. set the tick and ticklabel of colorbar
3. set the position and size of the subgraph
I want to plot figure like this

![1](https://user-images.githubusercontent.com/38579624/43531203-e6885930-95e1-11e8-8a47-7f0c0c8848c1.png)
but usually I just plot like this
![tim 20180801232437](https://user-images.g

[2018-08-01 21:46] zonca commented on #472
sorry we don't have resources to provide support for plotting issues.
please try to post to stackoverflow.com with the `healpy` tag and hope somebody will answer there.

[2018-08-01 21:46] #472 closed

[2018-08-02 05:21] niu541412 opened #473 "Build failed with python 3.7"
`healpy/src/_query_disc.cpp:9828:21: error: no member named 'exc_type' in '_ts'
    *type = tstate->exc_type;
[code]

[2018-08-02 21:01] cjcopi commented on #473
I think your assessment is correct, a newer cython is needed to generate the appropriate .cpp files.

If you delete (from the unpacked healpy source directory)
[code]
then, during compile, these will be recreated using your version of cython.

A simple test from anaconda shows the following:
Python 3.6.6 : pypi source healpy builds
Python 3.7.0 : pypi source healpy fails as described above.

If I

[2018-08-03 22:38] DanielLenz opened #474 "alm2cl: lmax_out has no effect"
`hp.alm2cl` takes the `lmax` (based on the size of the input a_lm) and the  `lmax_out` (lmax of the output Cl) keywords, but doesn't use the `lmax_out` keyword.

From _sphtools.pyx:

[code]

It's an easy fix, but should also be properly included in the tests.

[2018-08-05 02:52] DanielLenz commented on #474
I've fixed this and written tests, but cannot install healpy due to the issues in https://github.com/healpy/healpy/issues/455

[2018-08-05 03:35] zonca commented on #474
@DanielLenz unfortunately I don't have a mac os machine at hand to test that. Have you tried some of the fixes proposed in #455?

[2018-08-05 07:01] DanielLenz commented on #474
I've tried some, not all. I'll go ahead and set up a clean docker environment, that should remove any conflicts.

[2018-08-07 05:56] DanielLenz commented on #468
I've started a branch that removes all items related to python2 [here](https://github.com/DanielLenz/healpy/tree/python3only).

[2018-08-10 04:38] #474 closed

[2018-08-12 18:35] zonca opened #477 "Add Daniel Lenz as maintainer"
@lpsinger @mreineck  @crosset

I would like to add @DanielLenz as a new maintainer on `healpy`.
He already contributed several Pull Requests and is working on a couple more: <https://github.com/healpy/healpy/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3Adaniellenz>

Please let me know if you have any feedback, otherwise I'll add him next week.

[2018-08-13 21:45] DanielLenz commented on #477
Thanks, really looking forward to learn more about the package and to contribute to its development!

[2018-08-14 16:58] lpsinger opened #479 "Build binary wheels"
Generate universal binary wheels for Linux and macOS and upload to PyPI. It should be possible to have Travis automate this process upon release. This would go a long way to making it easier to install healpy by making it unnecessary to build from source.

It may even be possible to build for Windows using Appveyor.

[2018-08-18 20:32] zonca commented on #477
@DanielLenz I added you to the `Core` team, welcome!!

[2018-08-18 20:32] #477 closed

[2018-08-20 12:30] MRCWirtz commented on #473
@cjcopi Worked for me, thank you!

[2018-08-21 14:11] orjuelajavier opened #481 "Power spectrum from patches"
Hello,
I want to ask you if it is possible to generate the CMB power spectrum from patches of 10x10 degrees of the sky in healpy.
I was trying to use  hp.anafast(map), but it only works with the entire map.
Thank you.

[2018-08-21 17:48] eltrompetero opened #482 "mollview crashes with nest option for plotting"
Once I set nsides>2, this crashes. I'm using healpy on Python 3.6, the latest version 1.12.3.

`import healpy as hp
from healpy.visufunc import projscatter,mollview

fig,ax=plt.subplots(figsize=(15,4))

m = np.arange(hp.nside2npix(3))
mollview(m,title='',nest=True)`

[2018-08-21 20:53] gregreen opened #483 "Installation?"
I can't find any correct information on how to install `healpy` any more. The pip installation seems to be broken (on Ubuntu 16.04, Ubuntu 18.04, CentOS 6 and OSX), and building from source fails as well. Both methods fail with the message, `configure: error: cannot run C compiled programs`. I've tried this on several computers, running different operating systems, and also heard from others that

[2018-08-21 20:57] zonca commented on #483
What about conda?

[2018-08-21 20:57] mreineck commented on #482
Hmm, there is no Healpix pixelization with NESTED ordering and Nside=3; for NESTED, Nside needs to be a power of 2. Still, you should get a meaningful exception. Is this not the case?

[2018-08-21 20:59] gregreen commented on #483
That's the one method I'd really like to avoid using, since I don't generally use `conda`. I was hoping there was a more vanilla installation method, either building from source or using `pip`.

[2018-08-21 21:07] zonca commented on #483
Getting the right configuration for the compilers is getting more complex with new compilers, I don't know why.
We will try to provide pip wheels, there is another open issue about that, you might want to subscribe to it.
Until then, the current installation instructions to build from source work fine for vanilla Ubuntu 16.04 systems. Where the environment is more complicated you need to experimen

[2018-08-21 21:11] gregreen commented on #483
I'm on a fresh installation of Ubuntu 18.04, but when I run `python3 setup.py install` in a virtual environment, I get an error like this:

    /bin/sh /home/greg/Downloads/healpy-1.12.3/cfitsio/configure --prefix=/home/greg/Downloads/healpy-
    1.12.3/build/temp.linux-x86_64-3.6 --disable-shared --with-pic --disable-maintainer-mode
    configure: WARNING: unrecognized options: --disable-shared,

[2018-08-21 21:16] zonca commented on #483
See https://github.com/healpy/healpy/issues/432

[2018-08-21 22:30] gregreen commented on #483
Thanks. This worked:

    CC=gcc CXX=g++ CFLAGS='-fPIC' CXXFLAGS='-fPIC' python3 setup.py build
    CC=gcc CXX=g++ CFLAGS='-fPIC' CXXFLAGS='-fPIC' python3 setup.py install

[2018-08-21 22:34] eltrompetero commented on #482
Oh shoot. I was coming back to some old code, and this completely slipped my mind. I might point out that the kernel was dying without any error message being printed to the Jupyter notebook although I see that one is showing up on the terminal.

[2018-08-22 23:05] aaroncnb commented on #434
@zonca The code in its current state is here:
https://github.com/aaroncnb/circular-photometry
_**WARNING: This was literally the first piece of python I ever wrote!**_

Apologies for the delay. I planned to make improvements to the code but unexpectedly got accepted to for an overseas summer research placement.

The code replicates the core functionality of the original IDL version. It gets the fl

[2018-08-23 15:45] DanielLenz commented on #481
For general questions, we'd recommend the [healpy tag on stackoverflow](https://stackoverflow.com/questions/tagged/healpy), you'll likely reach a broader audience and receive a faster response.

That being said, there is built-in function to get the angular power spectrum for a specific patch.
Nonetheless, you can set up a mask by which you multiply your data and then compute the power spectrum fo

[2018-08-23 17:09] orjuelajavier commented on #481
Thank you very much Daniel for your response. I would like to ask you one more question (sorry for don't ask in stackoverflow, next time I'll do!!). I have created a patch of 10x10dg^2  via hp.visufunc.cartview(), so actually what I really have is an  np.array of 256X256. Is there a way to transform this array into  a map format in order to use the command that you wrote previously?
Thanks

[2018-08-23 17:28] j-erler opened #484 "Smoothing maps with nside > 8192"
Hello,

I recently encountered an overflow error when smoothing large all-sky maps with nside = 16384. I posted the exact error message further below. My best guess is that the number of pixels in the map exceeds the largest allowed 32 Bit integer. The error occurs in the C++ backend of sphtools. I could not find any mention of a maximum allowed nside for smoothing in the documentation. A fix woul

[2018-08-23 20:56] DanielLenz commented on #481
I think the better thing to do is to go back to your original map from which you've extracted a 2D image via hp.cartview(), and use the `lonra` and `latra` ranges you've used for that to generate a full-sky mask.

[2018-08-23 21:42] DanielLenz commented on #484
I should look into this in a bit more detail, but I strongly suspect that this is because the ring weights used for the smoothing are only being provided for an nside of up to (and including) 8192.

Totally agree that we should make sure it exists more gracefully, though. For that, we also need the bookkeeping on which operations can be performed up to which nside.

[2018-08-24 07:46] cdeil commented on #473
This is an issue that appears in all packages that use Cython and that ship Cython-generated C before Python 3.7 came out. It can be resolved just by making a new release with the latest stable Cython version and no other changes / fixes needed.

Would be very nice to have healpy with Python 3.7!

@zonca - I see you're already on it.

[2018-08-24 09:04] orjuelajavier commented on #481
Yes, I used that command. Thank you very much Daniel, I will follow your suggestion.
Regards,
Javier.

[2018-08-24 10:00] mreineck commented on #484
I don't know what exactly happens in the Cython part of healpy, but if it uses the `Healpix_Map` type of Healpix C++ internally, it will only work up to an Nside of 8192. Memory-resident full-sky maps of higher resolution are not foreseen in Healpix C++. They can be added very easily, but so far I was not aware of any experiment requiring them.

[2018-08-24 10:48] j-erler commented on #484
Thanks for the responses. Having the capability of working with maps with Nside > 8192 is very useful for mapping and  processing high resolution surveys with large sky coverage on the sphere. For my particular application that involves the GMRT TGSS data I can think of a work around, but it would be helpful to at least add the maximum Nside to the documentation like DanielLenz suggested.

[2018-08-24 16:41] #481 closed

[2018-08-24 17:17] DanielLenz commented on #484
What would be the best location to implement the checks and to document the nside limitation?  Feels redundant to add it to every function in `sphtfunc.py`, but it might be more straightforward than adding it to the C++ or the cython layer.

[2018-08-25 07:12] zonca commented on #483
thanks, can you please make a Pull Request to add this as a suggestion to the installation documentation?

[2018-08-25 07:13] zonca commented on #473
it worked, see #475
I'll make another release.

[2018-08-25 07:59] zonca commented on #473
can someone please verify if 1.12.4 works with Python 3.7? I used Cython 0.28.5

[2018-08-25 08:40] mreineck commented on #484
The C++ classes already perform this kind of check in the constructor (at least if Nside is a power of 2, as is the case here), so I expect that the exception happens before the call into the C++ library.

I think the Nside check would need to go at the beginning of the public functions of sphtfunc.py, in a very similar fashion to how it's done in pixelfunc.py (just with a reduced maximum Nside of

[2018-08-26 14:34] cdeil commented on #473
I tried this on macOS:
[code]
It doesn't work, there's plenty of compiler errors:
https://gist.github.com/cdeil/b4cc2758565bef7814073b174fccf1d5

Not sure if there's anything Python 3.7 specific, I didn't try e.g. Python 3.6. Usually I get the healpy binary from conda-forge, pip install healpy never worked reliably for me in the past years.

Over at https://github.com/conda-forge/healpy-feedstock/

[2018-08-26 16:11] cjcopi commented on #473
In a Python 3.7 anaconda environment on Linux
pip install healpy
worked like a charm.

[2018-08-27 04:15] DanielLenz commented on #484
Thanks @mreineck , I've implemented the checks.

[2018-08-27 04:15] #484 closed

[2018-08-27 13:11] lpsinger opened #486 "test_rotate_map_polarization_with_spectrum: fails on arm64, ppc64el"
It looks like `hp.anafast` returns all zeros on certain platforms.

[code]

See also Debian build logs for [arm64](https://buildd.debian.org/status/fetch.php?pkg=healpy&arch=arm64&ver=1.12.4-1&stamp=1535312877&raw=0) and [ppc64el](https://buildd.debian.org/status/fetch.php?pkg=healpy&arch=ppc64el&ver=1.12.4-1&stamp=1535312859&raw=0).

[2018-08-27 13:27] mreineck commented on #486
Has "make check" for Healpix C++ been run successfully on these targets?

If yes, then something very weird seems to happen in the glue code.

[2018-08-27 16:17] DanielLenz commented on #482
I got the following exception when executing this in ipython, which I'd consider meaningful enough.
Can also confirm that nothing is raised in the notebook itself and the kernels just dies, but the same exception is logged in the terminal.

[code]

Should we add a call to `pixelfunc.is_nside_ok()` for the different visualization functions in the python layer? This would be redundant, given that it

[2018-08-27 17:42] lpsinger commented on #486
[Yes](https://buildd.debian.org/status/fetch.php?pkg=healpix-cxx&arch=arm64&ver=3.40.0-2&stamp=1534453866&raw=0).

[2018-08-27 17:48] lpsinger commented on #486
Oh, for this test, it's *supposed* to return all zeros. But it's failing the test on these two platforms.

[2018-08-27 18:58] mreineck commented on #486
Since the obtained result is only marginally above the required threshold, maybe this is another case of limits being too strict?

[2018-08-27 19:05] mreineck commented on #486
... or of compilers optimizing in a way that degrades accuracy.

[2018-08-28 04:54] zonca commented on #482
yes, @DanielLenz, I think it is worth it, it makes `healpy` more user friendly

[2018-08-28 05:13] eltrompetero commented on #482
Glad to see something useful came out of this!

[2018-08-28 18:28] zonca commented on #486
@lpsinger is the error at high ell?
I wonder if we can check only the lower part of the spectrum

[2018-08-28 19:53] #483 closed

[2018-08-28 21:37] zonca commented on #434
to better organize the package the best would be to start from the `astropy` package template: http://docs.astropy.org/projects/package-template

[2018-08-29 16:17] aaroncnb commented on #434
Ok! Thanks for the suggestion.

[2018-09-11 09:30] JulienPeloton commented on #473
To add to the discussion, I recently wanted to upgrade my version of healpy (python 3.6, macos):
[code]
and get the same `fatal error: 'cstdint' file not found`. Any update on this?

Thanks!

[2018-09-14 00:01] zonca commented on #473
I don't have a macos platform (and neither any experience with macos) to debug this. if someone finds a solution please create a pull request and I can review and merge it. Then I should also be able to build macos conda packages.

[2018-09-18 15:08] javicarron opened #493 "Feature request: hotspot"
I have noticed that this F90 facility provided by HEALPix is not implemented in healpy. The (short) documentation is in [https://healpix.jpl.nasa.gov/html/facilitiesnode8.htm](https://healpix.jpl.nasa.gov/html/facilitiesnode8.htm).

This is a function that takes a map as input and reports the location (and value) of the maxima and minima. I think it uses the nearest neighbours function that is alr

[2018-09-19 23:04] DanielLenz opened #494 "Adding a Dockerfile?"
Due to the current issues with OS X builds, I've been doing all the development/testing in a docker container.

Do you think it would add value to have a light-weight [Dockerfile](https://gist.github.com/DanielLenz/868e7544ccbea4fd255be6bb94238f50) as part of the healpy repo? This helps to overcome any installation/dependency issues, allows for easy development, and could e.g. be used to set up an

[2018-09-19 23:47] zonca commented on #494
yes, I think it would be very useful to have, and also have an autobuild on dockerhub

[2018-09-20 12:02] ludwigschwardt commented on #455
I just got hit by the missing symbol issue on macOS too (still on 10.11.6 with Apple LLVM 8... 😄).

My humble suggestion is to move to wheels, especially for macOS. It saved me lots of debugging of extremely weird system setups for python-gnureadline - see some of my journey to wheels at ludwigschwardt/python-gnureadline#46. The matplotlib maintainers have been very helpful with this.

Oops, I onl

[2018-09-20 12:07] mreineck commented on #479
Just curious: is it possible to install different wheels depending on whether the target computer supports AVX? If not, many people will lose a factor 2 in performance when running SHTs.

[2018-09-20 13:09] ludwigschwardt commented on #479
I had a quick look at what other people did for TensorFlow, e.g. https://github.com/mind/wheels.

This suggests that the standard wheels would be the lowest common denominator without AVX support (at least on Linux with manylinux1 -  macOS might be easier to upgrade to AVX). Performance-sensitive users could still install specific AVX wheels via pip, it seems.

[2018-10-08 09:58] cbehren opened #499 "value of nside is invalid"
Hi,
I stumbled across this;
Some routines, like ud_grade, throw an error if one uses a value for nside that is not a power of 2, while other seemingly work fine, e.g. nside2npix. Is this behavior intended? If nside should always be a power of 2, then all routines should throw an error, right?

Best regards, Christoph.

[2018-10-08 10:02] mreineck commented on #499
For RING scheme, nside can be any positive number, but for NEST scheme it has to be a power of 2. As far as I recall, ud_grade works by exploiting properties of the NEST scheme, so powers of 2 are needed there.

[2018-10-08 10:03] cbehren commented on #499
Ah okay, I understand. Thanks for the quick answer!

[2018-10-08 10:03] #499 closed

[2018-10-08 11:59] DanielLenz opened #500 "Support pathlib for i/o"
The preferred way to handle paths in python>=3.4 is by using [pathlib](https://docs.python.org/3.6/library/pathlib.html).

[code]

If we try to use `hp.read_map()` with a `Path` object, it is not parsed correctly and an exception is raised:

    TypeError: First argument should be a input_data, HDUList instance, or HDU instance

It would be great to add that functionality for any I/O functions. I

[2018-10-26 13:35] mreineck opened #502 "Dynamic AVX support for SHTs"
This is just a heads-up for a feature I'm working on...

So far binary releases of Healpix C++ had the problem that they could only support SSE2 on 64bit platforms in order to be portable. This meant a performance loss of roughly a factor 2 for SHTs if the target CPU actually supports AVX.

After some messing around I think I'm now able to produce portable binaries which dynamically switch to AVX

[2018-10-30 21:42] pkgw commented on #455
There was one more problem that surfaced in CI: the healpix_cxx configure script can try to add `-std=gnu++11` as a compiler flag, which can result in different name mangling being used for those symbols as compared to the C++ extension modules. This is probably more easily fixable by correct choice of CXXFLAGS in the build environment, and/or using a more recent compiler where the default compila

[2018-11-01 15:58] lpsinger commented on #479
No. If performance is essential, then the best approach would be to have the optimal code path for the current architecture selected at runtime.

[2018-11-01 19:40] mreineck commented on #479
Starting from the next Healpix C++ version, I might be able to provide this (if gcc/g++ is used).

[2018-11-01 20:10] lpsinger commented on #479
Here are instructions for macOS + MacPorts:

[code]

In both the Linux and macOS cases, upload all of the files in the `wheelhouse` directory to PyPI (e.g. using [`twine`](https://twine.readthedocs.io/)).

[2018-11-01 20:56] zonca commented on #479
@lpsinger are you `lsinger` on PYPI? @DanielLenz what is your PYPI username?
I'm going to add you as owners on the `healpy` package

[2018-11-01 21:06] lpsinger commented on #479
Yes, I'm lsinger on PyPI. Would you like me to upload the wheels for this release?

I'm eager to get the wheels uploaded because we have a LIGO science outreach event coming up and these will make it much easier for people to install Healpy. In a future release, we can work on automating the wheels using CI/CD.

[2018-11-01 21:07] zonca commented on #479
yes of course, please go ahead

[2018-11-01 21:18] DanielLenz commented on #479
Thanks, I'm DanielLenz on PyPI

[2018-11-01 21:44] zonca opened #504 "Set `DATAPATH` for tests"
Set `DATAPATH` for tests  as an easily accessible variable somewhere, so it doesn't have to be re-defined in all the tests.

_Originally posted by @DanielLenz in https://github.com/healpy/healpy/pull/489_

[2018-11-02 02:03] lpsinger commented on #479
I've [uploaded wheels to testpypi](https://test.pypi.org/project/healpy/#files). Please try them out in your favorite Linux or macOS Python environment:

    pip install --index-url=https://test.pypi.org/simple healpy

[2018-11-02 02:18] zonca commented on #479
I have an issue in a clean conda env on linux with just python 3.6 and numpy,

[code]

instead if I have `matplotlib` already installed no problem.

[2018-11-02 02:56] zonca commented on #479
Yeah that was it

On Thu, Nov 1, 2018, 19:21 Leo Singer <notifications@github.com> wrote:

[2018-11-02 02:56] lpsinger commented on #479
What OS and Python distribution did you test?

[2018-11-02 02:59] zonca commented on #479
Linux Python 3.6 Anaconda

On Thu, Nov 1, 2018, 19:56 Leo Singer <notifications@github.com> wrote:

[2018-11-02 15:03] lpsinger commented on #479
On macOS, I got the following error:

[code]

Rebuilding using `CC=gcc-mp-8 CXX=g++-mp-8` from MacPorts worked, though. I think that this had something to do with which C++ standard library is in use. Would be good to actually understand this...

[2018-11-02 15:17] DanielLenz commented on #504
We could do something like:

E.g. in `healpy/test/helper.py`

[code]

and later

[code]

[2018-11-02 17:35] lpsinger commented on #479
Uploaded to PyPI.

[2018-11-04 06:55] DanielLenz commented on #467
Closing this for now because it requires python>=3, which we won't limit healpy to in the near future. Happy to re-open once we drop python2.7 support.

[2018-11-04 06:57] DanielLenz commented on #468
Closing this for now because python2.7 support is likely to critical to drop yet. Happy to re-open once we decide to take that step.

[2018-11-05 00:41] msyriac opened #505 "Import errors on Python 3.6 and 2.7 but not on 3.4 and 3.5"
I help maintain a library that depends on healpy and installs the latest version from PyPI. Recently, with healpy 1.12.4, our builds stopped working but only for Python versions 3.6 and 2.7, and not for 3.4 and 3.5. In these builds, healpy installs without error, but the following import error occurs when healpy is imported for 3.6 and 2.7 (I attach the relevant part of the traceback for 2.7):
htt

[2018-11-05 00:51] zonca commented on #505
We just created some wheels for healpy, can you test to install with
--no-binary to disable prebuilt wheels?

On Sun, Nov 4, 2018, 16:41 Mathew S. Madhavacheril <notifications@github.com>
wrote:

[2018-11-05 01:33] msyriac commented on #505
Yes, that works, and all tests (including those that call healpy functions) pass. It would be great if the pre-built wheels worked out of the box since healpy is usually the longest compile step.
Thanks!

[2018-11-05 01:42] zonca commented on #505
Can you please post which version of numpy you were using when it was
failing?

On Sun, Nov 4, 2018, 17:33 Mathew S. Madhavacheril <notifications@github.com>
wrote:

[2018-11-05 11:04] mreineck commented on #502
No one available to give it a go? This should be of particular interest since we are providing binary wheels now. @lpsinger?
Anyway, I'm attaching an experimental distribution tarball of Healpix C++.

[healpix_cxx-3.49.0.tar.gz](https://github.com/healpy/healpy/files/2548088/healpix_cxx-3.49.0.tar.gz)

[2018-11-05 14:57] lpsinger commented on #502
Is this in svn as well?

[2018-11-05 16:41] lpsinger commented on #502
How portable is the __builtin_cpu_supports intrinsic across clang, icc, pgi, etc.?

[2018-11-05 16:58] mreineck commented on #502
Besides gcc, no other compiler should get to see this code ... unless it defines __GNUC__ to be >=5 and __x86_64__, in which case it would be a compiler bug if it didn't understand the statements.

I tried with a few different icc and clang versions, which ignore the code as expected.

[2018-11-06 21:39] msyriac commented on #505
I can't check manually since the failing builds were on travis. Here are the raw logs for two failed builds.
Python 2.7: https://api.travis-ci.org/v3/job/450647286/log.txt
Python 3.6: https://api.travis-ci.org/v3/job/450647283/log.txt
(not sure how long those logs will live)

[2018-11-06 21:51] lpsinger commented on #505
I think that what we need to do is build the wheels using the oldest version of Numpy that we support. What is the minimum version of Numpy that we require?

[2018-11-07 02:28] zonca commented on #505
let's use 1.13, it is requirement for astropy
https://github.com/astropy/astropy/blob/master/pip-requirements
and it was caused issues in the travis logs reported here.

On Tue, Nov 6, 2018 at 1:51 PM Leo Singer <notifications@github.com> wrote:

[2018-11-09 16:47] lpsinger commented on #500
It might make more sense to make this work at the level of astropy.io.fits.

[2018-11-10 00:06] DanielLenz commented on #500
I've already looked into this, the problem is that we explicitly check if the filename is one of `six.str_types`.

Below is a fix to that, for which I still have to add tests and documentation.

[code]

[2018-11-13 21:52] lpsinger commented on #505
Could we do a release today please? We are going to have a LIGO/Virgo science outreach event on November 15 and will likely be introducing some new people to Healpy.

[2018-11-13 22:00] zonca commented on #505
ok, I'll do the tagging on github than you can do the release on Pypi

[2018-11-13 22:01] lpsinger commented on #505
Please go ahead and do the source release on PyPI too. I will do the binary wheel upload for PyPI.

[2018-11-13 22:47] zonca commented on #505
see the same numpy error on Travis:

https://travis-ci.org/healpy/healpy/jobs/454717287

just on Python 2.7, just with external CFITSIO

[2018-11-14 00:40] msyriac commented on #505
Yes, all builds pass now even after switching to wheel. Thanks!

[2018-11-14 02:41] zonca commented on #505
thanks @lpsinger and @msyriac

[2018-11-14 02:41] #505 closed

[2018-11-14 02:42] zonca commented on #479
posted instructions to permanent place https://github.com/healpy/healpy/pull/508
@lpsinger should we close this?

[2018-11-15 09:31] ezavarygin opened #509 "Smoothing produces unexpected results at edges"
I get an unexpected result with hp.smoothing in case of the incomplete sky coverage. Below is a simple example that illustrates of the problem.
The input map has 1 in all pixels that belong to the two patches. Other "empty" pixels are set to hp.UNSEEN and are shown with the grey colour in the figures below. The input (unsmoothed) and two maps smoothed with FWHM=7 and 30 degrees are shown below:
![

[2018-11-15 10:47] mreineck commented on #509
This is actually expected. Smoothing is applied by convolution in the harmonic domain, and all undefined pixels are set to 0, so you see a drop in values towards the edge.

Performing the smoothing in pixel space would be a very expensive operation.

[2018-11-15 11:32] mreineck commented on #509
I don't know how to correct for this in general. However, if your partial map is more or less uniform, you might subtract the average before smoothing and re-add it afterwards...

[2018-11-15 14:35] ezavarygin commented on #509
Yes, right. It would be nice to have an option for setting this filling value manually as an argument of hp.smoothing() rather than have it hard-coded. Setting this value to the average would be equivalent to the workaround that you suggested. In any case, thanks for your explanation. I am closing this issue.

[2018-11-15 14:35] #509 closed

[2018-11-15 14:45] mreineck commented on #509
At such a point I would really prefer if the routine would simply refuse to run in the presence of undefined pixels and raise an exception that explains why. Then the user could fix the map in the way that is appropriate for the given problem. Silently doing something "clever" will always take people by surprise at some point, but this seems to be the Python way of doing things :-/

[2018-11-15 15:13] DanielLenz commented on #509
I've been using the following to smooth a masked map with non-zero mean (effectively using weights):

[code]

[2018-11-15 15:24] mreineck commented on #509
Very interesting approach! But shouldn't `map_out` be masked again at the end? Otherwise you might get very interesting patterns in the masked area :)

[2018-11-15 16:00] DanielLenz commented on #509
Thanks, good point, slightly modified the function above!
I've always done that outside the function, but this is much saver.

[2018-11-16 14:42] ezavarygin commented on #509
Thanks Daniel for sharing your solution! The map in the figures is just a made up example to illustrate the edge effect. I noticed that issue in real data with non-zero mean.

[2018-11-22 16:49] mreineck commented on #502
It seems that there might be a new Healpix release in roughly a week from now - mostly for bug fixes in the Fortran part, but we could use the occasion to slip this feature in as well.

Any opinions?

[2018-11-26 05:00] zonca commented on #502
can we test if this runs on travis fine?

[2018-11-26 09:09] mreineck commented on #502
Travis will run the tests on some emulated hardware, I guess. Not sure whether this hardware provides AVX.
In any case, as long as the currently existing tests don't fail, the patch at least won't hurt. So if everything runs as it did so far, I'd vote to switch to the new release.

[2018-11-29 15:43] zonca commented on #502
thanks @mreineck, could you create a branch on
https://github.com/healpy/healpixmirror with that code?
then I can create a PR on healpy and test the build on travis

On Thu, Nov 29, 2018 at 12:28 AM mreineck <notifications@github.com> wrote:

[2018-11-30 07:32] mreineck commented on #502
Sure. But I don't know what the policy for this package is...
The code in question is on `trunk` in the Healpix main repository; does that mean I can put it on the `trunk` of `healpixmirror` as well? Or will I break something by doing that?

[2018-12-03 22:16] zonca commented on #486
@lpsinger is this still failing?

[2018-12-03 22:17] #479 closed

[2018-12-06 02:50] zonca opened #515 "Released healpy 1.12.6"
Released healpy 1.12.6, this is part of a joint HEALPix-healpy release, @hivon @mreineck

I released the source package on PyPI.

@lpsinger can you please create the wheels?

[2018-12-06 05:26] zonca opened #516 "undefined symbol: __cpu_model error"
`readthedocs` fails with:

[code]

See full log:
https://readthedocs.org/projects/healpy/builds/8204487/

I guess this is related to the new AVX code, it wasn't failing before, @mreineck any suggestion?

[2018-12-06 07:34] mreineck commented on #516
Was this built with gcc 5? I find similar reports on the net; things should be fixed starting with gcc 6.
If necessary, I can change the code so that dynamic AVX only triggers with version 6 or later.

[2018-12-06 07:36] mreineck commented on #516
BTW, the oldest gcc version maintained by GNU is gcc 7...

[2018-12-06 11:13] ecm0 opened #517 "inconsistent definition of longitude and latitude for healpy.pixelfunc.get_interp_val() or healpy.mollview()?"
Hi,

when I rotate a Healpix map along longitude or latitude, I get the wrong behavior. I'm probably missing something obvious here but so far, I failed to find what.

[code]

Results:
![orig](https://user-images.githubusercontent.com/9196442/49580789-1af89a00-f950-11e8-8dd6-5c95c6af97df.png)
![rot_lon](https://user-images.githubusercontent.com/9196442/49580801-1e8c2100-f950-11e8-9b68-cf9a328c302c

[2018-12-06 13:53] pkgw commented on #473
The 1.12.6 release seems to have put together with a too-old version of Cython, so that the distributed files are incompatible with Python 3.7 again.

[2018-12-06 16:00] zonca commented on #517
also posted on Stack Overflow https://stackoverflow.com/questions/53650011/inconsistent-definition-of-longitude-and-latitude-for-healpy-pixelfunc-get-inter

[2018-12-06 16:00] #517 closed

[2018-12-06 16:11] zonca commented on #473
my bad, I released 1.12.7 to fix this, please reopen if the issue appears again

[2018-12-06 16:11] #473 closed

[2018-12-06 16:12] zonca commented on #515
sorry I built 1.12.6 on the wrong machine (with old cython) and this messed up Python 3.7 support, releasing 1.12.7 now.

[2018-12-06 16:47] zonca commented on #516
thanks @mreineck, if that is not too complicated can you please add it?

[2018-12-06 17:33] zonca commented on #502
ok, this is now in 1.12.6 and .7

[2018-12-06 17:33] #502 closed

[2018-12-06 18:22] mreineck commented on #516
It's now in, revision 1003.

[2018-12-06 18:55] lpsinger commented on #502
I'm working on building and testing the wheels. I've hit a snag on macOS:

[code]

It appears that the [standard assembler on macOS does not support AVX instructions](https://stackoverflow.com/questions/9840207/how-to-use-avx-pclmulqdq-on-mac-os-x). I am trying some of the workarounds suggests on that post.

[2018-12-06 19:17] mreineck commented on #502
Oh ... does that mean that builds with "-march=native" on macOS did not work at all so far (if the CPU supported AVX)?

[2018-12-06 19:18] lpsinger commented on #502
Yes, that's right. But we definitely wouldn't want to build wheels with `-march=native` anyway.

[2018-12-06 19:27] #516 closed, assigned to nobody

[2018-12-06 19:45] mreineck commented on #502
Absoutely! I was just thinking about people doing manual, optimized builds.

[2018-12-06 20:13] ecm0 commented on #517
Copying this comment here for memory:
Thank you Andrea. The doc for pix2ang says : "otherwise, angles will be longitude and co-latitude in radians (default)". It would be less confusing if it were: "otherwise, angles will be co-latitude and longitude in radians (default)" as in ang2pix and other functions? Cheers, É

[2018-12-07 04:54] lpsinger commented on #502
OK, that worked. I updated RELEASE.md to document the necessary compiler flags.

[2018-12-07 05:08] lpsinger commented on #515
Done, uploading now.

[2018-12-07 08:45] mreineck commented on #516
So, does that mean this is needed in Healpix C++ 3.50?
If so, will there be a healpy 1.12.8 that we should include in the 3.50 release?

[2018-12-07 16:01] zonca commented on #516
This is mostly affecting only read the docs so I don't think we need to release another version of healpy. Unless you prefer me to do that anyway it doesn't take much.

[2018-12-07 16:17] hivon commented on #516
Hi Andrea,
I have been postponing the Healpix release all day to know that answer...
Can you make the healpy 1.12.8 release so that it is ready for me to pack on Monday morning (Paris time) ?

[2018-12-07 19:04] zonca commented on #516
sorry @hivon, I feel guilty you passed all day staring hopelessly at the screen due to my negligence to read email between 1am and 8am...
I'll release 1.12.8 today or tomorrow.

[2018-12-07 19:59] zonca commented on #515
released 1.12.8, the only difference is a couple of commits in HEALPix C++ to fix "Readthedocs", @lpsinger can you please do again the wheels? sorry about that

[2018-12-07 20:02] zonca commented on #516
1.12.8 released

On Fri, Dec 7, 2018 at 8:17 AM hivon <notifications@github.com> wrote:

[2018-12-11 10:22] mattip opened #520 "Using an old header from NumPy"
In [_healpy_pixel_lib.cc](https://github.com/healpy/healpy/blob/master/healpy/src/_healpy_pixel_lib.cc#L36) you include `numpy/noprefix.h`. I am trying to deprecate that file, and your code came up as one that uses it. Could you try replacing that file with `numpy/ndarrayobject.h`? This may require changing some of the "bare" numpy typedefs by adding the prefix `npy_`.

xref numpy/numpy#12402

[2018-12-11 12:43] mreineck commented on #520
I've opened a pull request that should fix this.

[2018-12-11 15:48] zonca commented on #520
thanks @mattip ,
@mreineck fixed it in #521

[2018-12-11 15:48] #520 closed

[2019-01-01 21:41] DanielLenz commented on #504
I've implemented this on https://github.com/DanielLenz/healpy/tree/datapath, but decided to go with the future-oriented (Python >= 3.4)`pathlib` module. Unfortunately, this won't work with Python 2.

We could simply stick to `os.path.join(BASEPATH, filename)` instead of `BASEPATH.joinpath(filename)` for now, of course, and re-visit this once we decide to drop Python 2 support.

[2019-01-03 22:08] bsipocz commented on #455
I've just run into this issue. Do you plan to provide wheel for the more recent versions, too, to workaround this issue? Following #479 I figured out that I specifically need to install a version where wheels were built, but it took quite a while since first saw the original traceback using 1.12.8.

[2019-01-04 18:10] zonca commented on #455
I see macosx wheels for 1.12.8 at https://pypi.org/project/healpy/#files, is there anything wrong with those?

[2019-01-10 17:18] DanielLenz commented on #468
Given the recent discussions about Python2 support in the PyData Universe, I thought it would be good to re-open this and to discuss our strategy for dropping Python 2.

Here's a list of all the projects that [will do this before 2020](https://python3statement.org/#sections30-projects).

Some questions:
- Can we afford to remove Python2 in the next months, are there any major drawbacks to that?
-

[2019-01-13 21:30] zonca commented on #468
I think that we can wait for now, the only thing I am worried about is if we need any feature of astropy 3 that is not available in astropy 2.

But for now I think we do not have any pressing issue and we can evaluate this again in the summer.

[2019-01-18 17:01] DanielLenz commented on #500
Merged in https://github.com/healpy/healpy/pull/523

[2019-01-18 17:01] #500 closed

[2019-01-18 17:03] DanielLenz commented on #494
While this has been merged, I'll keep it open to see if everything (especially the autobuild) works as intended.

[2019-01-18 20:58] israelmcmc opened #526 "maptype() in pixelfunc.py crashes when first element is masked"
Here's a minimal example:

[code]

This happens because in `maptype()` uses `hasattr(m[0], "__len__")` to check if the first element is a map in  sequence or a value in a map. A masked value happens to have that attribute while not being a "sized object". This problem propagates to `get_nside()`, which then propagates to multiple other methods.

[2019-01-19 04:08] zonca commented on #526
thanks for tracking this down! it would be great if you'd like to contribute a fix, otherwise I'll take a look at this in the next weeks

[2019-01-19 13:56] israelmcmc commented on #526
I made a pull request (#527). I also noticed that the help says that it'll return -1 if the map is not valid, while it just raises an error. I'll leave to the devs if you want to change the help of the functionality (which requires various changes to other functions)

[2019-01-19 17:00] lpsinger opened #528 "Unit tests fail on i386"
Unit tests fail with healpy 1.12.8 on Debian i386. See [full build log](https://buildd.debian.org/status/fetch.php?pkg=healpy&arch=i386&ver=1.12.8-4&stamp=1547914020&file=log) and excerpt of the most relevant part below.

[code]

[2019-01-19 18:45] zonca commented on #526
thanks!

[2019-01-19 18:45] #526 closed

[2019-01-21 02:39] zonca commented on #528
is this fixed with your latest PR?

[2019-01-21 04:05] lpsinger commented on #528
No.

[2019-01-21 04:05] lpsinger commented on #528
But the latest PR did fix the build on all 32-bit platforms *except* i386.

[2019-01-21 20:44] lpsinger commented on #528
Interesting, the example that fails for ang2pix is theta=pi/2, phi=pi/2. Is that some kind of clue?

[2019-01-23 11:11] mreineck commented on #528
Yes, that's exactly on a point where four pixels meet. Expecting reproducible results for these angles is a bit optimistic.

[2019-01-23 11:12] mreineck commented on #528
... and 32bit i386 math is not IEEE conforming.

[2019-01-23 17:02] lpsinger commented on #528
Wait, really? Do you mean that 32 bit floating point math on i386 is not IEEE conforming, or that 64-bit floating point math on the 32-bit i386 platform is not IEEE conforming? I thought that x86 processors are IEEE754 conforming with the exception of those infamously buggy Pentiums back in the day.

I can reproduce this issue on my modern Core i7 machine under an i386 Debian docker image.

[2019-01-23 17:13] mreineck commented on #528
As far as I know, floating point math in x86 32bit mode (no matter whether in single or double precision) is carried out on the old 80387 floating point coprocessor by default. And this coprocessor is not IEEE-compliant because it has too high-precision (it uses 80bit floats internally). For that reason you don't always get the same results as on a strictly IEEE-conforming architecture.

In any ca

[2019-01-24 10:01] mtristram opened #529 "missing tools: dist2holes"
I am not able to find the pixel tools to compute distance to holes map equivalent to "dist2holes".
Do you think it would add value to have such a tool ?

[2019-01-24 14:34] lpsinger commented on #528
OK, I'll prepare a patch to adjust the unit test output. Shifting phi by 1e-15 did the trick:

[code]

FWIW, adding `-mpc64` to `CFLAGS` and `CXXFLAGS` also worked.

[2019-01-24 14:45] mreineck commented on #528
We have to revisit this whole test at some point. It also tests North and South poles, which again are exactly on pixel corners.

[2019-01-24 19:17] DanielLenz commented on #529
Yes, I certainly think so. Being able to expand/shrink holes, as well as e.g. turning a catalogue into a point source mask are things that would be great to have.

[2019-01-24 20:56] #528 closed

[2019-01-25 07:36] mreineck commented on #529
I agree that having this functionality can be very convenient. Implementing this efficiently is rather tricky though ... the naive approach (compute distances between every mask pixel and every other pixel and take the minimum) is inacceptably slow in most situations. The Fortran implementation uses a two-step hierarchical algorithm to reduce the number of calculations, which improves things a lot

[2019-01-25 08:15] mtristram commented on #529
I agree with that. I do not know any other clever implementation that could speed up the computation and this is perfectly acceptable in our cases (usually used for computing apodized weighting scheme for ex).

[2019-02-08 19:26] DanielLenz opened #533 "LinearSegmentedColormap vs. ListedColormap"
Trying to pass a custom colormap to any of the plotting functions:
[code]
This falls back to the standard `cmap` set in the `rcParams`.
The underlying reason is the following in `projaxes.py`:

[code]
A custom `mpl.cm` is only accepted if it is a `LinearSegmentedColormap`, but not for a `ListedColormap`. Is there a reason to exclude the latter?

[2019-02-08 23:57] zonca commented on #533
no, we can change it

[2019-02-09 01:09] DanielLenz commented on #533
Great, I'll make a PR.

[2019-02-09 21:57] #533 closed

[2019-02-09 21:59] zonca commented on #504
we can also consider http://docs.astropy.org/en/stable/api/astropy.utils.data.get_pkg_data_filename.html

we already use it to download pixel weights on the fly https://github.com/healpy/healpy/blob/fa310544c9689dae1a0e2781592579736d1b1e97/healpy/sphtfunc.py#L211

[2019-02-23 21:30] msyriac opened #536 "sphtfunc.pixwin returns array of size greater than default lmax=3*nside"
This probably just needs clarification or an API extension, but see

[code]

i.e., map2alm defaults to lmax=3 * nside, while pixwin presumably defaults to lmax=4 * nside. Is that correct? If so, it would help to clarify this in the docs, and also possibly extend the pixwin API so that it returns the pixel window up to a desired lmax.

[2019-02-25 17:52] DanielLenz commented on #536
Thanks for raising this issue! I support the idea of having an `lmax` keyword, default should be either 3*nside or whatever lmax the pixwins are calculated up to.

If there are no objections, I'll add a PR for this. @zonca

[2019-02-25 18:16] mreineck commented on #536
I've probably mentioned this in the past; if so, sorry for the repetition...
Giving a default lmax for `map2alm` is a bad idea. Choosing a good value requires knowledge about the map to be analyzed. In most cases I'd recommend `lmax=2*nside`, values should only ever be higher if the user is sure that the map is properly band-limited (which is virtually never the case, unless you just created the m

[2019-02-25 20:02] zonca commented on #536
@DanielLenz I think it should be the same as `map2alm`

@mreineck do you have a reference that explains how you are supposed to choose `lmax`? It would be useful to link it or give a summary in the `map2alm` docs.

[2019-02-25 21:06] mreineck commented on #536
The most thorough user guide for harmonic analysis on Healpix maps is probably given in the `anafast` documentation from the Fortran package: https://healpix.sourceforge.io/html/fac_anafast.htm

[2019-02-26 01:43] DanielLenz commented on #536
@zonca Okay, I'll just use the following:
[code]

[2019-02-26 02:54] zonca commented on #536
@DanielLenz please crosscheck but I think it might be `[:lmax+1]`

[2019-03-06 15:32] harpolea opened #538 "Tutorial file location error"
In the section 'Reading and writing maps to file' of the tutorial, it says to read a map from the file `../healpy/test/data/wmap_band_imap_r9_7yr_W_v4.fits`. Before this part, there should be an instruction to move to the healpy directory (or somewhere where this relative path will work), or the file location should be changed to an absolute path.

I also cannot find that exact file - using `wmap_

[2019-03-06 16:25] harpolea opened #539 "Normalized CMB spectrum in tutorial"
Working through the tutorial, I was not able to replicate the plot of the normalized CMB spectrum at the end. The plot that I generated was:
![cmb](https://user-images.githubusercontent.com/8247792/53896325-c96cb380-4001-11e9-904b-bdcf36c98879.png)
It looks like the values of `cl` returned by the `hp.anafast` function when I tried it were different from the values used in the tutorial example?

[2019-03-06 18:22] DanielLenz commented on #538
Thanks for pointing this out! Interestingly, I also couldn't find the file in the history, the following returns nothing:

    git log --all --full-history -- healpy/test/data/wmap_band_imap_r9_7yr_W_v4.fits

It appears though that the smaller, lower resolution files were added in 2014:

    git log --all --full-history -- healpy/test/data/wmap_band_iqumap_r9_7yr_W_v4_udgraded32.fits
[code]

This

[2019-03-06 20:37] zonca commented on #538
I think at some point we lost the script to download the high resolution WMAP maps, I recovered it from an ancient healpy version, see https://github.com/healpy/healpy/blob/master/healpy/test/data/get_wmap_maps.sh
We should tell people to run that before running the tutorial so they have some real data, or just rework the tutorial at lower resolution, whatever you think is best.

[2019-03-06 21:10] zonca opened #540 "Test coverage"
Currently we have, running `py.test --cov`:

[code]

[2019-03-06 21:16] zonca commented on #540
[code]

[2019-03-06 21:26] zonca commented on #540
`visufunc`, `zoomtool`, `projaxes` and `projector` are all related to plotting, implementing testing there is pretty complicated and not as critical as the actual computational functionalities.

As for the computational modules, `sphtfunc` and `pixelfunc` are `> 80%`, I think best would be to try bring `fitsfunc` and `rotator` from ~70% up over 80%

[2019-03-07 00:53] zonca commented on #540
see #541

[2019-03-07 00:53] #540 closed

[2019-03-10 01:19] dendisuhubdy opened #542 "Compilation Error on MacOS X 10.14.4"
I did a build on libtorrent then I wanted to install the python libtorrent bindings by executing
[code]

Everything worked fine until I tried doing `import libtorrent`, I got this error message

[code]

I assumed that I used two different compilers for building libtorrent and the libtorrent python bindings?

[2019-03-10 01:48] zonca commented on #542
You filed this ticket on the wrong repository

[2019-03-10 01:48] #542 closed

[2019-03-12 04:25] zonca commented on #538
@DanielLenz any update on fixing the tutorial?

[2019-03-13 23:13] DanielLenz commented on #538
Haven't had time yet, will do it before the weekend.

[2019-03-14 13:53] hivon commented on #445
Hi @cdeil, @kadrlica, @zonca, @lpsinger, @mreineck
the promised document describing the FITS format currently used in Healpix tools to exchange sky maps is in  https://healpix.sourceforge.io/data/examples/healpix_fits_specs.pdf

[2019-03-15 03:17] zonca commented on #538
fixed in #543

[2019-03-15 03:17] #538 closed

[2019-03-15 03:18] zonca commented on #539
fixed in #543

[2019-03-15 03:18] #539 closed

[2019-03-16 23:32] zonca commented on #536
closed by #544

[2019-03-16 23:32] #536 closed

[2019-03-22 00:53] Tobaloidee opened #546 "Logo Proposal"
Hi @healpy Good day! I am a graphic artist and would like to contribute by offering a logo design for free as a gift to the project..I noticed that the project doesn't have a logo yet.If you will permit me, I would be glad to do it. Thanks and best regards! - [Tobaloidee](https://steemit.com/@tobaloidee)

[2019-03-24 02:28] zonca commented on #546
thanks for your offer, although I don't think we need a logo

[2019-03-24 02:28] #546 closed

[2019-04-05 10:11] Daidai6036 opened #548 "How to modify the colorbar of the mollview"
Hello everyone,

I want to modify the colorbar of mollview images, and set the max value to be red. Is there any way to achieve it?

Thank you in advances.

[2019-04-05 15:36] zonca commented on #548
this is a "how to" question, please post to stack overflow with a simple example

[2019-04-05 15:36] #548 closed

[2019-04-07 12:49] mbelveder opened #549 "Healpy query_polygon RuntimeError: Unknown exception"
I'm using `healpy.query_polygon` to get a list of healpix indexes inside a polygon. According to the documentation:

But when I try to get all indexes from the following polygon, a `RuntimeError: Unknown exception` appears:

In[1]:
[code]
Out[1]:
[code]
In[2]:
[code]
Out[2]:
[code]
[Here](https://www.geogebra.org/3d/edpd5pbs) you can see visualisation of these dots lying on a sphere.

Just for fun

[2019-04-08 08:34] mreineck commented on #549
If I interpret the plot correctly, the polygon formed by these points is self-intersecting. The undelying Healpix C++ library only supports regular polygons. If it encounters such a situation, it will print an error message and throw an exception. Maybe it is possible to pass the message somehow back to Python, but I don't know enough about Cython to do this.

[2019-04-08 12:52] mbelveder commented on #549
It helped!

So, the order of the vertices matters. I didn't think about it.

Thanks a lot!

[2019-04-08 12:52] #549 closed

[2019-04-16 00:26] zxzhai commented on #455
Just tried, 1.12.5 worked without error

[2019-04-17 10:03] rbiswas4 opened #550 "citing the joss paper?"
Your citation instructions don't seem to include the joss entry. Maybe you might want to add a bibtex to your citation section?

[2019-04-17 16:05] DanielLenz commented on #550
We're waiting for the paper to get indexed by the astrophysics data system (ADS), which can take up to three weeks:

From their [FAQ](http://adsabs.github.io/help/data_faq/):

This depends on the source. We ingest from arXiv daily; from astronomy journals and other sources weekly, over the weekend; and from physics journals and other sources about once every 3 weeks, also over a weekend.

We'll th

[2019-04-17 16:16] rbiswas4 commented on #550
Thanks for your reply. I was trying to cite your paper.

BTW: If you put it on the arXiv, you can get an arXiv bibtex from ADS in a much shorter time scale, and they get linked with the article entry (don't know about JOSS specifically). One could, of course, also make a bibtex  format themselves.

[2019-04-17 16:16] #550 closed

[2019-04-19 01:59] zonca commented on #550
I was googling around and found this service: https://www.doi2bib.org

it works great:

[code]

[2019-04-19 02:01] zonca commented on #550
I'll add this to CITATION, then we can update it when we have ADS index it

[2019-04-22 11:40] rbiswas4 commented on #550
Thanks! I will use this currently.

[2019-05-16 15:32] Hermanter opened #552 "Top-hat window function"
I've got a high-resolution healpix map (nside = 4096, ordering= RING in fits file) that I want to smooth in disks of a given radius, let's say 10 arcmin.

`
import numpy as np
import healpy as hp

kappa = hp.read_map("kappa.fits")

t = 0.00290888  #10 arcmin in rad

new_array = []

n=len(kappa)

for i in range(n):
    a = hp.query_disc(NSIDE,hp.pix2vec(NSIDE,i),t)
    new_array.append(np.mean(kapp

[2019-05-16 16:50] zonca commented on #552
please post on stack overflow with tag `healpy`

[2019-05-16 16:50] #552 closed

[2019-05-21 03:37] linoush opened #553 "initializing empty map"
Hi,

I checked that this works on python 2.7 (with older packages) but not on python 3.6, where I wanted to initialize an empty map, but I got this error.

`
hp.mollview( title="Map") # I also tried doing map=None and map = [] but that failed as well.
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda/envs/py3/lib/python3.6/site-packages/healpy/visufunc.py",

[2019-05-21 20:56] DanielLenz commented on #553
Hi @linoush , thanks for raising this issue!
Could you give us some more context why this feature is relevant to you, and you're ultimately trying to achieve?

[2019-05-21 23:02] linoush commented on #553
Hi,

Thank you for the quick response. I was trying to set up a mollview map
that I would fill in afterwards with hp.projscatter(), and hp.graticule()

Thanks,
Lina

On Tue, May 21, 2019 at 1:56 PM Daniel Lenz <notifications@github.com>
wrote:

--
Dr. Lina Necib

Walter Burke Institute for Theoretical Physics,

California Institute of Technology, Pasadena, CA 91125, USA
617-383-9025

[2019-05-22 21:32] DanielLenz commented on #553
That makes sense, I'll go through that issue in the near future.

In the meantime, I'd recommend to simply use the workaround that healpy uses internally:

[code]

Right now, this piece of code is unreachable, and instead raises the error you reported.

[2019-05-23 03:25] linoush commented on #553
Sounds good. Thanks!
Lina

On Wed, May 22, 2019 at 2:33 PM Daniel Lenz <notifications@github.com>
wrote:

--
Dr. Lina Necib

Walter Burke Institute for Theoretical Physics,

California Institute of Technology, Pasadena, CA 91125, USA
617-383-9025

[2019-05-26 16:09] pferreiraov opened #556 "Plot vectors over a hp.mollview plot"
Hi, I'm trying to plot a hp.mollview map with some vectors connecting specified points over the sphere (giving the galactic coordinates of these points).

I can plot these vectors over a mollview plot using matplotlib and the annotate function (any other idea to create these vectors?), but I cannot overlay this with the hp.mollview plot. There any healpy function or matplotlib function to make thi

[2019-05-29 23:49] pferreiraov opened #558 "Running healpy commands in single thread (or a specified number of threads)"
Hi, is it possible to run healpy commands (as anafast, synfast, alm2map and map2alm) using only one thread (or a specified number of threads)? When I use most of healpy commands they use all of my threads.

I want to run multiple single thread processes at the same time, using python's multiprocessing library.

[2019-05-29 23:53] zonca commented on #558
Setting OMP_NUM_THREADS should work

On Wed, May 29, 2019, 16:49 pferreiraov <notifications@github.com> wrote:

[2019-05-30 00:35] pferreiraov commented on #558
I've tried set OMP_NUM_THREADS = 1 and export OMP_NUM_THREADS = 1 but is returning "SyntaxError: invalid syntax".

[2019-05-30 00:39] pferreiraov commented on #558
I've tried set OMP_NUM_THREADS = 1 and export OMP_NUM_THREADS = 1 but is returning "SyntaxError: invalid syntax".

[2019-05-30 00:41] pferreiraov commented on #558
I want to run this inside a jupyter notebook, i'm not calling a python script from a terminal.

[2019-05-30 00:46] pferreiraov commented on #558
%env OMP_NUM_THREADS=1 didn't work too.

[2019-05-30 00:53] zonca commented on #558
Please make a snippet to quickly test this

On Wed, May 29, 2019, 17:46 pferreiraov <notifications@github.com> wrote:

[2019-05-30 02:05] DanielLenz commented on #558
Could you try the advice linked [here](https://stackoverflow.com/questions/30791550/limit-number-of-threads-in-numpy)?

[2019-05-30 12:11] pferreiraov commented on #558
Worked with:
[code]
os.environ['OMP_NUM_THREADS'] = '1' **have to be done before import numpy  and healpy libraries.**

Thank you!

[2019-05-30 15:06] #558 closed

[2019-05-30 21:16] pferreiraov opened #559 "Running anafast just on a specified l range - setting lmin and lmax"
Hi, is it possible to set not only lmax but a minimun l (lmin)?
I have to apply different functions over maps generated from different angular resolutions (bins on l space), but I'm losing to much time calculating anafast from 0 to lmax on a map where I want only the region 1900<=l<=2000 for example.

Thanks!

[2019-05-30 21:22] mreineck commented on #559
This functionality does not exist. It would not save you much time either, since during every anafast run the spherical harmonics are calculated by recurrences starting at l=m for every m and theta and working their way up to lmax. Storing them is not really an option either; at the band limits you mention, this would require tens of GB.

[2019-05-30 21:50] pferreiraov commented on #559
I think this is because healpy uses the c version of healpix for anafast. On fortran's f90 version the l's and m's order is different, [[l=0],[[l=1,m=0],[l=1,m=1]],[[l=2,m=0],[l=2,m=1],[l=2,m=2]]...]. On healpy the a_lm order is different like you said. Maybe it's possible on the fortran anafast version.

[2019-05-30 21:55] mreineck commented on #559
In fact, the ordering in memory is the same in Fortran and C/C++/Python ... it's just that the languages decide to write the indices down in different orders :)
All of our implementations perform the spherical harmonic transforms using the same algorithms, there is no shortcut in the Fortran version.

[2019-06-04 14:55] laurenmarietta opened #561 "Broken installation on Mac OS with pip"
I'm trying to install `healpy` as a dependency for the `jwst_backgrounds` package (https://github.com/spacetelescope/jwst_backgrounds). However, `healpy` is failing the installation: spacetelescope/jwst_backgrounds#3

While investigating that issue, I've found that I cannot actually `pip install` healpy at all. I'll include the (long!) traceback as an attachment to this issue.

I can't say how uni

[2019-06-04 17:40] zonca commented on #561
the issue is not `pip`, it is MAC OS, I added a note to the installation docs https://github.com/healpy/healpy/commit/a5514d1f1283fc78de3d9efbad16423e42fa33f6

[2019-06-04 17:40] #561 closed

[2019-06-04 17:48] lpsinger commented on #561
The binary wheel from pip should work just fine.

[2019-06-04 19:05] laurenmarietta commented on #561
Thank you for clarifying in the docs!

[2019-06-06 12:14] Cerciyes opened #562 "Masking effect on Spherical Harmonics"
While anafast calculating power spectrum, it deals with the mask (UNSEEN pixels) as putting 'zero's inside these pixels just before the calculation (I read this from healpy documentation --> https://healpy.readthedocs.io/en/1.12.9/generated/healpy.sphtfunc.map2alm.html).
In our case, the mask is very large where the effective sky fraction is around 0.11. These zeros of course affecting the cross c

[2019-06-06 12:39] mreineck commented on #562
Spherical harmonic analysis always requires a fully defined map, because every spherical harmonic coefficient depends on all pixel values. If we assume the value of some pixels as "unknown", we'd simply have no way to determine the monopole moment, for example.

[2019-06-06 12:59] hivon commented on #562
Hi Martin, I guess the question is whether one can reduce the number of calculations by skipping
the pixels set to 0 (=unknown), knowing full well how this will affect the resulting multipoles.
It is to some extend possible in Healpix/F90 by ignoring the Healpix iso-latitude rings devoid of valid pixels (since the costly part the spherial harmonics depends on the rings latitude), but the saving
is

[2019-06-06 13:03] mreineck commented on #562
This is of course possible, but it would not change the fact that

which I thought was the main concern.

[2019-06-06 14:24] Cerciyes commented on #562
Besides the number of calculations, our main concern is the angular power spectrum result itself. Just because of the 'masked' definition, we would prefer the implementation that does not really account them, rather than putting zero. In that case, one needs to take into account of mixing matrix calculation to eliminate this masking effect, isn't it ?

[2019-06-06 14:28] mreineck commented on #562
I expect so. It may be possible to run a full-sphere analysis for both the masked map and the mask itself and do something clever with the resulting two a_lm sets, but I don't have enough experience with this.

[2019-06-06 14:38] hivon commented on #562
Mathematically putting some pixels to 0 is exactly the same as ignoring them since the spherical harmonics live on the whole sphere and you consider they scalar product with the signal.
As for the effect on the power spectrum, there is a big literature on the subject, and the best (and practical) methods depend on whether you are interested in large scales or small scales.
In any case, because of

[2019-06-06 15:07] Cerciyes commented on #562
Thanks for the references. I will check them.

[2019-06-06 15:43] j-erler commented on #562
As far as I can tell the issue that has been brought up is due to a basic property of discrete Fourier- and spherical harmonic-transformations and regards the normalization that is used. Commonly, the transforms are normalized by the number of discrete samples (i.e. pixels) and the masked samples should be excluded here. It is correct that setting the masked pixels to 0 is the same as ignoring the

[2019-06-06 17:09] hivon commented on #562
If only it were that simple !
The fsky correction is only true at first order. Applying a cut sky couples the modes between them.
You will notice that your pink curve (masked C(l) / fsky) has a slow oscillation around the blue curve
(full sky C(l)) which a signature of the mask you applied.
Ignoring this fact will bias the cosmological parameters you would fit on the C(l).
If instead of using a CM

[2019-06-06 17:28] j-erler commented on #562
Thanks Eric for sharing your insights. I will have a look at your references as well. Has anyone considered to add the advanced features that are offered by e.g. PolSpice directly to healpy/healpix?

[2019-06-06 22:37] DanielLenz commented on #562
There are already plenty of implementations available, such as Xpol, PolSpice, and most recently [PyMaster](https://namaster.readthedocs.io/en/latest/). Especially the latter is easy to install, well-documented, and has plenty of other great features.

[2019-06-07 07:18] hivon commented on #562
Note also that PolSpice has a python interface (ispice.py) and that if a map with plenty of empty (=masked out) pixels is analyzed, some time will be saved by ignoring those pixels.

[2019-06-20 15:07] Christovis opened #564 "synfast raises 'invalid value for npix'"
I am trying to create a high-res CMB map from Cl's created with CLASS.
I use the following settings:
[code]

This however results in the following error:

I have tried different NSIDE values to see what the limit is, and found that the error message appears if NSIDE > 13312.
I know that it should be possible to go up to NSIDE=16384 (https://arxiv.org/abs/1706.01472) using HEALPIX.
Does anyone know

[2019-06-20 15:40] mreineck commented on #564
With "normal" 32bit integers, the highest power-of-2 Nside value you can reach is 8192, non power-of-2 ones should go up to 13377, close to the value you mentioned. `healpy` and the C++ HEALPix library do not support map objects with higher Nside values; HEALPix C++ allows you to do computations like `ang2pix` at higher resolutions via the `Healpix_Base2` class, which uses 64-bit integers internal

[2019-06-20 15:49] mreineck commented on #564
It seems that the code in the linked paper uses Fortran Healpix. In principle this should not support maps of such high Nside either, but it is possible that it "just works" through sheer luck. Further resolution increases will be problematic however.

[2019-06-20 15:52] mreineck commented on #564
Also, are you aware that for a successful execution of

[code]

you would need at least 200GB of RAM (roughly)?

[2019-06-24 13:16] Christovis commented on #564
The authors of my linked paper replied to an Email of mine:

[2019-06-24 13:16] #564 closed

[2019-06-24 13:27] mreineck commented on #564
The potential problem I mentioned is the fact that array indices in Fortran are usually integers of "default" kind, and default kind is 32bit on almost any platform, as fas as I know. Also, Fortran integers are always signed.
The maximum number representable with this kind of integer is `2**31-1` (somewhere around 2 billion), and this is not enough to index all pixels in a Nside=16384 map. Since i

[2019-06-24 13:34] SSB-bit commented on #564
I don't understand... I understand the layers and pixels but it needs a lot
of work... Bc the mask is heavy and almost completely changes the whole
entire look of what really is.    And can you explain or simplify the
meaning of execution of C(I) and what it means to be closed?

On Mon, Jun 24, 2019, 9:27 AM mreineck <notifications@github.com> wrote:

[2019-06-24 13:44] Christovis commented on #564
@SSB-bit
1.  the meaning of execution of C(I): I do not quite understand what you mean with 'execution of C(l)'.
2. why I close the issue: Because I thought the issue that raised the error message which I mentioned in my first post was found and explained. There is currently no solution for this issue, except that the software needs to be modified.

[2019-06-24 13:46] SSB-bit commented on #564
We will all have to work together inorder to make the needed modifications
and inorder for them to be successful??
Correct??

On Mon, Jun 24, 2019, 9:44 AM Christovis <notifications@github.com> wrote:

[2019-06-24 13:49] Christovis opened #565 "Create patch-of-sky instead of full-sky"
Would it be possible to include in a future release the option to initiate a patch-of-sky instead of the default full-sky array/map?

That would be beneficial for me, since I am running against the following problem:
[https://github.com/healpy/healpy/issues/564](url)

I only need a 20deg^2 patch-of-sky at a resolution of  0.0024deg^2, which would mean to use an Nside of approx. 23k. For a full-sky

[2019-06-24 13:56] SSB-bit commented on #565
Makes perfect sense! So we have future plans then! ? :)

On Mon, Jun 24, 2019, 9:49 AM Christovis <notifications@github.com> wrote:

[2019-06-24 14:01] mreineck commented on #565
The main problem with this is that everyone seems to expect slightly different things of a "partial map" data type, so it is extremely hard to provide something that everyone can use ...
For your situation (since you want to do harmonic analysis), the best format would be a range of HEALPix rings and the corresponding values. That would still be a waste, since you don't have values on the full rin

[2019-06-24 14:03] SSB-bit commented on #565
I'm working on it and I'm trying!

On Mon, Jun 24, 2019, 10:01 AM mreineck <notifications@github.com> wrote:

[2019-06-24 14:46] lpsinger commented on #565
We are using the NUNIQ ordering for partial or mixed-resolution LIGO sky maps. You may want to look into https://emfollow.docs.ligo.org/userguide/tutorial/multiorder_skymaps.html.

[2019-06-24 14:51] mreineck commented on #565
Unfortunately this probably won't meet  the needs here ... requested Nside is not a power of 2 and alm2map/map2alm require full rings.

[2019-06-25 07:21] hivon commented on #564
To answer the questions about Healpix/F90: the F90 routines *do* support, by design,
power-of-2 nside larger than 8192.
The only exceptions being the cut sky IO routines.
So nside=16382 is not a problem, except for the large amount of memory required.

[2019-06-25 08:18] mreineck commented on #564
OK, I see that we set the default integer type to 64bit when compiling. That should work on most platforms. I stand corrected.

[2019-06-25 08:53] mreineck commented on #564
If maps of this size are becoming a more common scenario, it probably makes sense to change Healpix C++, merge `Healpix_Base` and `Healpix_Base2` and derive `Healpix_Map` from this new class.

This will be a big API change, however, and require changes to almost every software package using Healpix C++, so we should probably update the major version number to 4 when this happens.

[2019-06-27 15:53] cjcopi commented on #556
I think you can do this within healpy without needing to use Basemap.

When you use `hp.mollview` an axes object is created that knows about the spherical projection, this axis should be usable to achieve your desired plot.  I cannot say exactly how since I always need to play around with a lot of reading documentation and trial and error.  However, the important things to know are to use the crea

[2019-06-28 05:31] pferreiraov commented on #556
Thank you cjcopi. I found a solution after read you comment.

We can do it easily with the projection function "hp.projector.Mollweide Proj()".
Here an example:

[code]

That gives the output:

![test](https://user-images.githubusercontent.com/49214662/60319291-44a8fb00-994c-11e9-9c9d-380bca390874.png)

[2019-07-09 00:27] AlecThomson opened #567 "projplot does not display in orthview"
Here's an example of where projplot works in mollview, but not orthview:
[code]
Output:
`1.12.9`
![Figure_1](https://user-images.githubusercontent.com/9074527/60850505-0a383b80-a233-11e9-95d7-67c970fac66c.png)
![Figure_2](https://user-images.githubusercontent.com/9074527/60850514-12907680-a233-11e9-86b9-dabbb8a182cd.png)

As an aside, this also produces the following warning:
[code]

[2019-07-09 08:44] YJHelloWorld opened #568 "How to get the projected arrays after 1-D array being projected on to the 2-D maps, Mollview for example?"
Hi, thanks for providing such a wonderful packages to utilize healpix functions.

I know that the `hp.mollview` can project  a 1-D array onto a mollview map, which is 2-D. And I 'm wondering how to get the 2-D arrays behind the projected maps.

For example, with nside = 2 in the following figure, how can I get the reshaped  2-D arrays (different columns at different rows) of the input ?
![image](h

[2019-07-09 08:56] zonca commented on #568
There is a keyword for plotting functions, something like
"return_projected_map"

You should probably use coordinates, the 2D array is a flat map in
longitude and latitude.
Otherwise you can do a gnomview around the point of interest.

On Tue, Jul 9, 2019, 10:44 YJHelloWorld <notifications@github.com> wrote:

[2019-07-09 09:17] YJHelloWorld commented on #568
Thanks for replying.
I have tried the keyword before but the output maps are 400 by 800  2-D arrays, not exactly I want...
For example, I have a nside = 256 map, and what I am seeking for is the 12*256*256 pixels reordered in the projected maps,  without any repeating pixels, maybe some zeros to fill the 2-D array...
I think this is doable because the projection for 1-D array to 2-D sky maps seems

[2019-07-09 21:52] cjcopi commented on #567
I have seen this issue in mollweide produced plots too.  It seems to be related to the spacing between the points used to draw the curve.  I have no looked in to the code to see why this could be the case.  When run in the notebook I see that when there are "too few points" multiple lines are created (one for each point) instead of a single line.

In your case, if you use 446 or more points in `th

[2019-07-15 01:14] pferreiraov opened #569 "ERROR using pixel weights with multiprocessing"
Hi, when I use the pixel_weigths option on map2alm or anafast (use_pixel_weights=True) with multiprocessing (multiple maps with different threads at the same time), I get the error message:

[code]

How can I solve the error "Resource temporarily unavailable" ? This have any relation with the download of the weights data?

[2019-07-15 01:14] pferreiraov commented on #569
@zonca ?

[2019-07-15 08:07] zonca commented on #569
No need to tag me.
Please provide minimal example to reproduce this.

On Mon, Jul 15, 2019, 03:14 pferreiraov <notifications@github.com> wrote:

[2019-07-26 18:41] ffranchina opened #570 "Problem in mollview dimensions of figure"
Hello everyone!
First of all, I wanted to thank you for maintaining this very useful package!

I wanted to signal a weird behavior I run into every time I need to plot a sequence of `healpy.mollview()`, it's not critical at all, it's just to point out and maybe be able to give a small feedback.

Running the following code you'll notice that the first figure will appear bigger than the others, this

[2019-07-31 07:14] DanielBThomas opened #571 "macports installation issue"
Hi

I think this might be similar to some other issues, but I'm afraid I couldn't work out how to solve it.
I'm running MacOS 10.13.6, and attempted to install healpy as advised, using "sudo port install py27-healpy". This appears to complete correctly, and port selfupdate, port upgrade outdated and port rev-upgrade all suggest everything is up to date with no linking errors. I've also checked tha