[2019-08-06 21:54] msyriac opened #572 "hp.alm2cl is broken for nside=8192"
Healpy version: 1.12.9

The output of this snippet:
[code]

is

[code]
If the correct lmax is passed explicitly to alm2cl, then it returns sensible results, so clearly something is going wrong in the lmax inferring step.

[2019-08-08 00:35] zonca commented on #572
@DanielLenz would you have any time to look into this?

[2019-08-08 22:51] DanielLenz commented on #572
I took a quick look at the cython code yesterday and couldn't immediately find the reason for that behavior. Will take a closer look!

[2019-08-13 18:32] DanielLenz commented on #570
That appears to come from your line `fig = plt.figure(figsize=(9, 9))`, which sets the figure size for the first figure, but not for the second. If you repeat it, you'll get consistent figure sizes:
[code]

[2019-08-19 22:52] DanielLenz commented on #572
It appears to come down to an int overflow in `_sphtools.alm_getlmax(int s)`, where the line `x=(-3+np.sqrt(1+8*s))/2` results in a negative sqrt for very large sizes (hence the RuntimeWarning above).

The cython `int` is 32bit by default; I could take a shot at replacing this by a `long`, but this might also be a good opportunity to identify and fix other locations in the codebase where we will e

[2019-08-20 00:20] zonca commented on #572
thanks @DanielLenz, as you prefer, depending on how much time you have available

[2019-08-20 06:17] mreineck commented on #572
Alternatively you could replace `8*s` by `8.*s` ... the argument of `np.sqrt` will be converted to `double` anyway, and that gives you 52 bits of mantissa.

[2019-08-26 13:08] capolitsch opened #574 "Change color of masked pixels in partial sky map? `badcolor`?"
I would like to replace the default 'gray' mask with a lighter color in `mollview` and `orthview` and am finding this quite troublesome. A past commit introduced the `badcolor` arg for this purpose but it seems to now be deprecated. Any help would be much appreciated!

[2019-08-28 16:17] giuspugl opened #575 "No mrdfits and mwrfits in v1.12.9"
Why there is no more the mrdfits and mwrfits in the latest version of healpy ? I know we can use astropy for that, but it was very useful  for me to have it within healpy .

[2019-08-28 21:30] zonca commented on #575
they are just wrappers around `astropy`, we do not want to maintain unnecessary code.
See https://github.com/healpy/healpy/commit/133c3d6380494601caa54ec600f096468a125548

[2019-08-28 21:30] #575 closed

[2019-09-03 14:30] zonca opened #576 "Interface to HEALPix 3.60"
@hivon and @mreineck are ready to release HEALPix 3.60.
In the past it has been pretty easy to update the HEALPix C++ code included and built with `healpy` because the interface and the compilation strategy never changed.
Now they have split the HEALPix package compilation stage in 3 packages:

* `pocketfft`
* `libsharp`
* `HEALPix` C++ itself

all 3 of them are compiled with `autotools`.
So we wo

[2019-09-03 16:03] mreineck commented on #576
Originally, the goal of this change was to make installation easier :(
My idea was that pocketfft and libsharp would be available as independent Debian packages (and their equivalents for other platforms). This hasn't really taken off so far, unfortunately.

[2019-09-03 18:33] DanielLenz commented on #576
I'm afraid I'm in the process of moving back to Europe and won't have the time to work on anything major for the next couple of weeks.

[2019-09-03 20:39] DanielLenz commented on #574
Looks like we merged https://github.com/healpy/healpy/pull/551 in April, a month after the latest (12.9) release.

At this point, you could either 1) wait until we release 12.10 (perhaps @zonca has an idea of the timeline) 2) install the latest version from source or 3) build your own colormap as such (the key is `set_under()` and `set_bad()`:

[code]

[2019-09-03 20:40] #572 closed

[2019-09-05 17:26] msyriac commented on #572
Thanks for the fix @DanielLenz ! I'm not sure how this team manages deployments, but I would think that this fix totally warrants a version bump and PyPI deployment, because the current version of healpy is not usable for nside>=8192. Also, is it totally infeasible to have the test suite do a few operations at nside=8192? synalm and alm2cl for the sort of high lmaxes that can lead to overflow erro

[2019-09-05 17:47] zonca commented on #572
@msyriac I'll make a release next week, there is another thing users were asking for.

@msyriac a bit slower tests on Travis would be fine, could you provide a PR for those tests you are proposing?

[2019-09-05 17:47] zonca commented on #574
I'll make a release next week

[2019-09-05 18:45] #574 closed

[2019-09-05 18:46] DanielLenz commented on #570
@ffranchina , did the above solution work out for you?

I'm closing this for now, please feel free to re-open if there are any other issues.

[2019-09-05 18:46] #570 closed

[2019-09-07 17:29] capolitsch commented on #574
Thank you!

[2019-09-09 15:04] dpole opened #578 "nside2npix is missing the check for a valid nside"
The behavior of `nside2npix` is different from what the doc says:

https://github.com/healpy/healpy/blob/d1e9ac45a97a6b4857a5f7c601d9dcaccbc31e21/healpy/pixelfunc.py#L954

I'll fix the following
- [ ] add the check for a valid nside
- [ ] fix the example with the invalid nside

[2019-09-09 15:37] zonca commented on #578
thanks @dpole we did it on purpose, see https://github.com/healpy/healpy/issues/499.
In fact there is also a doctest with nside 7.
can you provide a PR removing reference to raising that exception?

[2019-09-09 15:43] dpole commented on #578
Ok, thank you @zonca for the clarification. Sure, I'll fix the docstring

[2019-09-10 03:21] #578 closed

[2019-09-10 05:02] #562 closed

[2019-09-10 06:01] zonca opened #580 "Releasing healpy 1.12.10"
Release:
* [x] Github: https://github.com/healpy/healpy/releases/tag/1.12.10
* [x] PyPI: https://pypi.org/project/healpy/1.12.10/
* [x] conda-forge: waiting for bot
* [x] wheels on PyPI:

[code]

@DanielLenz @hivon @mreineck @lpsinger

[2019-09-10 08:46] mreineck commented on #580
Sorry, can't have a detailed look right now, as I'm on vacation for two weeks.

[2019-09-10 22:02] zonca commented on #580
ok, all builds on conda-forge worked, see https://anaconda.org/conda-forge/healpy

[2019-09-10 22:02] #580 closed

[2019-09-10 22:27] DanielLenz commented on #580
I'll test everything later today or tomorrow.

[2019-09-11 04:48] lpsinger commented on #576
@DanielLenz I'm happy to do this in about a week.

[2019-09-11 04:51] lpsinger commented on #571
It's importing from `/Users/dt/Library/Python/2.7`, not `/opt/local/Library/Python/2.7`. It looks like you have another version of Healpy that you have installed previously with `pip install --user healpy`. Try uninstalling that.

[2019-09-11 04:53] lpsinger commented on #580
I built and uploaded wheels for macOS. Please add that to your checklist in the future.

[2019-09-11 04:56] lpsinger commented on #580
Oh, darn it. I built macOS wheels for 1.12.10 by mistake. Fixing it now.

[2019-09-11 04:57] zonca commented on #580
ok @lpsinger is there any change compared to the procedure in https://github.com/healpy/healpy/blob/master/RELEASE.md?

[2019-09-11 04:58] lpsinger commented on #580
Just that I had to change the Healpy version in that command, like you and @DanielLenz did for the Linux build instructions.

Would be great to have the CI script do all of this for us.

[2019-09-11 05:02] lpsinger commented on #580
Updated MacPorts in macports/macports-ports@e93f3a215d27eb3586fb30df2f54e633a8aff412.

[2019-09-13 16:03] DanielLenz commented on #494
Not yet; let me look into the autobuild on dockerhub one more time first.

[2019-09-13 16:08] lpsinger commented on #494
Daniel, what are the macOS issues? My main machine is a Mac; I can help.

[2019-09-13 16:22] ffranchina commented on #570
Hey @DanielLenz, thanks for looking into this!
Yes, it actually solved my point even if I found it a bit counter-intuitive (shouldn't it keep drawing on the same figure?).
Thanks for your time!

[2019-09-13 18:07] DanielLenz commented on #494
I just tried it out again (it's been a couple of months), and the latest (1.12.10) version installs just fine from source on MacOS with gcc-8. Thanks for offering your help, I'm sure I'll take you up on that offer sooner or later :)

[2019-09-24 18:04] syasini commented on #553
Hi,

I just ran into a similar issue trying to use hp.projscatter(). The output of projscatter doesn't show up without the empty hp.mollview map, but the map cannot be initiated with map=None.

Daniel's solution works though.

[2019-10-14 13:36] apssingh commented on #568
You can define the 'x-size' and the 'y-size' of the projected map. By default, the x-size is 800 and y-size is 400.
Try using,  `proj = hp.projector.CartesianProj(rot=None, coord=None, xsize=1000, ysize=1200, lonra=None, latra=None)` instead of `hp.projector.CartesianProj()`.
Here you can also select a region in the map which you want to save in the form of a 2-D array by defining `lonra` and `lat

[2019-10-15 18:47] thibautlouis commented on #529
Just to know what is the status of that? Would be indeed super useful to have such a functionality.

[2019-10-21 16:27] hivon commented on #576
What are the news on the interface of healpy with Healpix 3.60 ?

[2019-10-25 08:40] thibautlouis commented on #529
Thanks xgarrido! this will be extremely useful !

[2019-10-25 20:06] #432 closed

[2019-10-28 13:02] mreineck commented on #529
I'd like to understand the usage scenario better. If this is about expanding an existing masks by a given number of neighbour layers, then the implementation is much, much easier than what we are trying to do right now.
Is there really a use case that requires highly accurate distance information to a masked region?

[2019-10-28 19:31] mreineck commented on #529
I agree. But as far as I understand, the typical width of the apodisation region is fairly small, so we don't need the distance very far away from the mask. That would be easily achievable using the border-growing method suggested by @amaurea. If that is enough, I'd very much prefer this to the complex recursive or hierarchical approaches.

[2019-10-28 20:11] thibautlouis commented on #529
Sure ! typical apodisation sizes are below 5 degrees. What about having both and making using one or the other an option of the code ? what's neat about xgarrido dist2holes is that it's a direct translation of a widely used healpix function (and is already coded up and ready to go), @amaurea method us super elegant and possibly faster so should also be there.

[2019-10-29 09:41] hivon commented on #529
Hi @mreineck, @thibautlouis, @amaurea, @xgarrido, @zonca,

I appreciate the innovative approach of @amaurea, which should be
investigated further,
and thank @xgarrido for adapting the existing F90 dist2holes into C++/python
but I would like to correct a few ill-informed statements made in the
discussion thread.

A historical comment:
the initial justification of dist2holes was the optimal decoupli

[2019-10-29 09:56] mtristram commented on #529
I fully support @hivon !
We could imagine giving a maximum angular distance to speed up the process when it is possible but we definitively would like to be able to compute the distance map all across the sky !

[2019-10-31 10:33] mreineck opened #582 "anafast: datapath argument is ignored for pixel weights"
I'm trying to compute `map2alm` transforms with custom pixel weight files, but it seems that for pixel weights, `healpy`'s `anafast` ignores the `datapath` parameter.
Internally there is a special parameter containing the name of the pixel weight file, but the user has no influence on it.
Overall, I'd feel much better if `healpy` wouldn't download data from the net without explicit user consent, a

[2019-10-31 13:54] thibautlouis commented on #529
So at the end of the day, what will happen? should we expect to see the function in healpy soon? Thanks

[2019-10-31 15:15] lpsinger commented on #576
Where is the source for the new pocketfft and libsharp packages? @mreineck, if you point me to them, I can get them packaged for Debian and MacPorts, and I can work with @zonca to integrate the source into healpy in the same style as cfitsio and healpix_cxx.

[2019-10-31 15:17] mreineck commented on #576
It is in the Healpix repository (or the tarballs) under `src/common_libraries`.

[2019-10-31 15:21] zonca commented on #576
@lpsinger I just updated the mirror: https://github.com/healpy/healpixmirror

[2019-10-31 15:22] zonca commented on #576
@mreineck @lpsinger no please we want to bundle a different C++ source with healpy, let's follow the policy we agreed with @hivon at https://github.com/healpy/healpy/blob/master/RELEASE.md#synchronize-the-c-library

[2019-10-31 15:23] lpsinger commented on #576
Oh, I see. Has HEALPix 3.60 not been released yet?

[2019-10-31 15:23] lpsinger commented on #576
Is there any possibility of splitting off the libsharp source into a separate repository? It would make packaging simpler.

[2019-10-31 15:24] zonca commented on #576
not yet, but it is ready, so we can use the current trunk and assume it is 3.60

[2019-10-31 15:26] zonca commented on #582
yes, we could use `datapath` and check if the pixel weight file is available there first, and then download it from the internet. I won't have time to work on this though.

[2019-10-31 15:36] mreineck commented on #576
The libsharp development repository is currently at https://gitlab.mpcdf.mpg.de/mtr/libsharp, but I cannot guarantee that everything is fully synchronized at the moment.

As far as I understand, the philosophy of the Healpix team was that everything going into a Healpix release (everything under our control, that is) is hosted in the SourceForge repository.

[2019-10-31 15:38] mreineck commented on #582
OK. This only addresses a part of the problem though.

I'm planning to update the weight files soon - no change in format, just improved accuracy. With the current approach, only new users will see these files; everyone who already downloaded them will not get an update, unless I'm misunderstanding something.

[2019-10-31 15:40] lpsinger commented on #576
Are they at all flexible on that point? Packaging for Debian and MacPorts requires carefully picking apart the individual libraries and making separate distributions for each of them. Although it's fairly common for major astronomy packages (ds9, etc.) to bundle dependencies, it makes packaging difficult. It would be easier for software distribution to have one repository per library.

If you want

[2019-10-31 15:54] mreineck commented on #576
I'm definitely open for discussions about this with everyone involved (personally I'd be glad if I could host Healpix C++ on anything but SourceForge, which frankly has inacceptable service these days), but this will most likely take time.

[2019-11-04 15:45] hivon commented on #576
Hi @mreineck, @zonca, @lpsinger

answering several questions at once:

the main advantage of having the different packages (Healpix, libsharp
and pocketfft, and ideally healpy)
in the same repository, and same tar ball is that it guarantees that the
"synchronization" of the components,
as defined by the Healpix developers, is also the one that the final
user will get.
It makes even more sense sinc

[2019-11-04 21:07] tmolteno opened #583 "Should query_disc and friends require nside to be a power of two if the scheme is RING?"
Hi There,

Should query_disc and friends require nside to be a power of two if the scheme is RING? I think this restriction only applies to the NESTED scheme for healpix.

I have modified the isnsideok() function to accept non-power of two values, and things seem to work just fine.

[2019-11-05 12:19] mreineck commented on #576
prefer to consider that discussion after
the release, which has already been delayed too much.

Absolutely!
Actually I didn't mean to suggest moving all of Healpix to another site; I can imagine that this would cause a lot of administrative work.

@lpsinger's point about git submodules and/or svn externals might be a pragmatic way forward (at some point in the future); these features allow separat

[2019-11-12 00:53] zonca commented on #582
we can test if `astropy.utils.data` handles this case automatically by checking hashes, I cannot find details in the docs, otherwise we can change the filenames.

[2019-11-12 07:27] mreineck opened #585 "Extremely confusing dtype defaults in fitsfunc"
Currently
-  the `dtype` argument of `write_map` defaults to `np.float32`,
-  the one of `read_map` defaults to `np.float64`,
-  the `one of `write_alm` is called `dtype_out` and defaults to `None`,
-  and the one of `read_alm` doesn't exist.

Furthermore, the `map` routines accept lists of types, and the `alm` routines appear to require scalars.

I can prepare a patch, but I don't know what a use

[2019-11-12 07:32] mreineck commented on #582
I definitely hope not ... I wouldn't be happy at all about healpy phoning home every time I do a map analysis; also the potential waiting for timeouts without net connection would be quite bad.

[2019-11-12 13:02] crosset commented on #585
Some bit of history concerning the first two points: the idea was to save space when storing the maps on disk (assuming that usually don’t need more than 7 digits precision on your data) but putting data in a float64 array directly since you usually want to do computation (especially spherical harmonics transform) with double precision. I think I was inspired initially in these defaults by IDL hea

[2019-11-13 07:17] #583 closed

[2019-11-14 07:27] mreineck commented on #576
@lpsinger: I know it's not a full solution, but would it be a help if I at least included `pocketfft` directly into `libsharp` again, reducing the number of individual packages by one?

I'm not sure how much use an independent `pocketfft` C package will be in the future, given that it now has a header-only C++ successor that is much more capable (and in some cases beats FFTW.)

The only reason I'm

[2019-11-14 07:34] mreineck commented on #585
I should also explain why I have become worried about this:

The reason was that a user:
- had a map in double precision
- stored it to disk (using default data types)
- loaded it from disk (again with defaults)
- made sure it was still double precision
- went on to make an accuracy comparison with another code.

This led to the incorrect result that Healpix map analysis performed much worse than

[2019-11-21 06:28] apssingh opened #587 "Obtaining a power spectrum from a reprojected healpix map"
Is it possible to generate an angular power spectrum from a reprojected `Healpix` map?
I recently tried to perform deconvolution of a non-circular beam from a reprojected `Healpix` map using [healpy.projector.CartesianProj](https://healpy.readthedocs.io/en/latest/generated/healpy.projector.CartesianProj.html#healpy.projector.CartesianProj) and it worked well, but needless to say, an angular power

[2019-11-21 14:02] MaudeCharmetant opened #588 "Understanding lmax for anafast/synfast"
Dear Healpy team,

First, thank you so much for creating such a practical and useful software for the community.

I was wondering if you could help me better figure out what Healpy is really doing with lmax. I have A CMB map for example,  going up to Nside = 8192.

![CMB](https://user-images.githubusercontent.com/58000492/69344501-c2f59900-0c6f-11ea-94a2-fa70eea7aa6d.png)

Using Anafast I compute

[2019-11-21 14:42] hivon commented on #588
Hi Maude,

synfast
- reads the input power spectrum C(l), up to the provided lmax,
- generates random gaussian alm with an expected variance matching the
C(l) read above,
- turns the alm into a map using Spherical Harmonics Transforms.
And as it should, it does nothing for the ell's > lmax, since it can not
possibly guess what is expected there.

As you will see if the take the power spectrum (up

[2019-11-22 11:03] MaudeCharmetant commented on #588
Dear Eric Hivon,

Thank you so much for the quick and detailed answer !

Have a nice day.

[2019-11-23 14:06] zonca commented on #587
I think you should try to use https://github.com/simonsobs/pixell

[2019-11-23 14:06] #587 closed

[2019-11-29 17:03] hivon commented on #576
Hi @mreineck, @zonca, @lpsinger

for a few months now, healpy has been the only thing preventing the release of Healpix 3.60,
and its faster alm transform routines.
Having pocketfft, libsharp and the other source codes in separate subdirectories with
autotools compilation for some of them is not a problem for the C++, F90 or IDL packages,
but is claimed to be a show-stopper for healpy, for reasons

[2019-12-01 07:26] zonca commented on #576
@hivon, "is claimed" and "seem very obscure" is passive aggressive. This is not how we behave in the open source community. And it tends to discourage any good intention to collaborate. Come on.

As for the HEALPix 3.60 release, @lpsinger please let us know if you have any time to work on this in the next 1 or 2 weeks. Otherwise I would say go ahead and release HEALPix 3.60. Once you do that I wil

[2019-12-01 07:41] lpsinger commented on #576
No, that's not necessary. Please just point me to where I can find the source repository and distribution for pocketfft.

Yes, I do. Is healpix-cxx 3.60 ready now?

[2019-12-01 07:50] zonca commented on #576
All 3 packages are available in:
https://github.com/healpy/healpixmirror/tree/trunk

[2019-12-01 07:53] lpsinger commented on #576
OK, so healpix-cxx 3.60 depends on libsharp, and pocketfft is part of libsharp?

[2019-12-01 07:57] lpsinger commented on #576
Would someone who has access to svn please change this line in src/cxx/autotools:

[code]

to this:

[code]

[2019-12-01 08:10] lpsinger commented on #576
Also in src/common_libraries/libsharp/configure.ac, replace

[code]

with

[code]

[2019-12-02 02:09] zonca commented on #576
@lpsinger can you make a pull request to https://github.com/healpy/healpixmirror? so we can test your patch to healpix c++?
then once @mreineck merges this into the SVN I will use the official version.

[2019-12-02 08:42] hivon commented on #576
Hi Leo,

do you mean replacing

|AC_PROG_CC_C99 |

with

|AC_PROG_CC_C99 AC_OPENMP CPPFLAGS="$CPPFLAGS $OPENMP_CFLAGS"
CFLAGS="$CFLAGS $OPENMP_CFLAGS" |

?

Eric

On 01/12/2019 09:10, Leo Singer wrote:

--
***********************************************************************
Eric HIVON                              Email: hivon@iap.fr

IAP                                     Tel: +33 1 44 32 81 5

[2019-12-02 09:34] hivon commented on #576
Hi @zonca and @lpsinger,

On 01/12/2019 08:26, Andrea Zonca wrote:

A psychological analysis and a management lesson all in one post. I am
blessed !

Many thanks to @lpsinger for providing the required work.

Cheers,
Eric

[2019-12-02 10:15] mreineck commented on #576
Hi Leo,

I bumped the version number to 3.60 in the C and C++ library, thanks for the reminder!

Concerning OpenMP in libsharp, I seem to remember vaguely that we ran into problems with AC_OPENMP on some compiler, but I don't recall the exact details any more. I have added the code for now - let's just keep this in mind in case something breaks.

Please note that libsharp benefits enormously from

[2019-12-02 18:05] lpsinger commented on #576
@zonca, would you please sync https://github.com/healpy/healpixmirror with subversion?

[2019-12-02 18:19] zonca commented on #576
@lpsinger sure, I'll do later today

[2019-12-02 19:46] zonca commented on #576
@lpsinger ok, updated the mirror

[2019-12-03 14:38] lpsinger commented on #576
@zonca, the git repository mirror now has both a master and a trunk branch. Was that intentional? You probably should have just trunk or just master, but not both. I would suggest sticking with master.

[2019-12-03 16:24] zonca commented on #576
I have `git svn` configured for `trunk` so prefer to keep that.
I delete master

[2019-12-03 16:26] #576 closed

[2019-12-03 16:28] zonca commented on #585
fixed in #586

[2019-12-03 16:28] #585 closed

[2019-12-03 16:29] zonca commented on #571
no more feedback closing this.

[2019-12-03 16:29] #571 closed

[2019-12-03 16:37] zonca opened #590 "Release healpy 1.13.0"
We got HEALPix C++ 3.60 into `healpy`, ready to release a new version.
I would change to 1.13.0 as we are changing the underlying C++ code instead of 1.12.11

before release I would like to also get this merged: https://github.com/healpy/healpy/pull/581 I'll wait 1 day and then do the rebasing myself.

@lpsinger @DanielLenz anything else that should go into the release?

/cc @mreineck @hivon

[2019-12-03 16:52] zonca commented on #590
readthedocs is failing, trying to fix it

[2019-12-04 06:19] zonca commented on #569
got no more feedback

[2019-12-04 06:19] #569 closed

[2019-12-04 06:20] zonca commented on #529
implemented in #581

[2019-12-04 06:20] #529 closed

[2019-12-04 06:42] zonca opened #591 "Build error: No rule to make target cxxsupport/announce.cc"
@mreineck I can't build healpy with healpix 3.60 on a Ubuntu 16.04 machine.
I get:

[code]

Is it possible the compiler is too old?

[code]

[2019-12-04 06:50] zonca commented on #591
yeah, updating to gcc 7 fixes the problem.
@mreineck do you know the minimum gcc version supported by HEALPix 3.60?

[2019-12-04 06:57] zonca commented on #590
Release:
* [ ] Github: https://github.com/healpy/healpy/releases/tag/1.13.0
* [ ] PyPI: https://pypi.org/project/healpy/1.13.0/
* [ ] conda-forge: https://anaconda.org/conda-forge/healpy
* [ ] wheels on PyPI for linux
* [ ] wheels on PyPI for Mac OS

[2019-12-04 07:08] lpsinger commented on #590
Please let me know when healpix 3.60.0 itself is released, so that I can updated Debian and MacPorts.

[2019-12-04 07:13] zonca commented on #590
@hivon you can bundle `healpy` 1.13.0 with HEALPix 3.60 https://pypi.org/project/healpy/1.13.0/

[2019-12-04 10:19] mreineck commented on #591
The error message you are getting doesn't really indicate an old compiler, and I would actually expect gcc5 to compile Healpix 3.60. Can you please post the full output of the Healpix C++ `configure` command?

[2019-12-04 11:08] hivon commented on #590
Thank you @zonca, @lpsinger, @mreineck, @DanielLenz, @xgarrido, and others
for putting this together so fast !

One comment on 1.13.0: it includes a cfitsio directory
- is it still necessary to have it in ?
- as far as I can tell, it contains cfitsio 3.36 from Dec 2013, while HEASARC recommends using
at least version 3.44 from April 2018 for security reasons
(https://heasarc.gsfc.nasa.gov/fitsio/)

[2019-12-04 12:38] mreineck commented on #590
I have not tried this myself, but as far as I know, the libcurl dependency in recent versions can be switched off when configuring the cfitsio compilation, and I'd certainly recommend to do this.
If there are no good reasons to stick to cfitsio 3.36, I'd also recommend to upgrade (not necessarily right now if the release works perfectly otherwise, but maybe for 1.14).

[2019-12-04 16:24] zonca opened #592 "Update CFITSIO bundled in healpy to last version"
it contains cfitsio 3.36 from Dec 2013, while HEASARC recommends using
at least version 3.44 from April 2018 for security reasons
(https://heasarc.gsfc.nasa.gov/fitsio/). I know that recent versions
add an extra dependency on libcurl (which apparently is not universally pre-installed),
but is there a strong reason to keep shipping something with potential security issues ?

_Originally posted by @

[2019-12-04 16:29] zonca commented on #590
yes, we need the `cfitsio` folder, we don't want to have external dependencies, we'll update it for next version, see #592

[2019-12-04 16:30] zonca commented on #590
@lpsinger only thing missing is the Mac OS X wheels, can you create them?

[2019-12-05 00:33] lpsinger commented on #590
Done.

[2019-12-05 01:01] zonca commented on #590
Ok thanks!

[2019-12-05 01:01] #590 closed

[2019-12-19 16:19] zonca commented on #493
implemented in #593

[2019-12-19 16:19] #493 closed

[2019-12-26 14:41] Gabriel-Ducrocq opened #594 "adjoint synthesis"
Hi,

I am trying to do an adjoint synthesis on a pixel map instead of an analysis. Is there a way to do this with healpy without dealing with libsharp ?
(I thought specifying the weights to be equal to one would do the trick, but it seems the user has no influence on it)

Thank you,
Gabriel.

[2020-01-06 16:41] zonca commented on #594
you should be able to use `map2alm` and specify `use_weights=False`

[2020-01-06 16:45] mreineck commented on #594
That's probably not enough, because even `map2alm` applies "first order" weighting, i.e. it multiplies its result by 4*pi/(12*nside**2). If you really want the adjoint of `alm2map`, you will have to divide by this factor again.

[2020-01-09 17:28] #588 closed

[2020-01-14 11:55] Gabriel-Ducrocq commented on #594
Hi @zonca, @mreineck ,

Thanks for your answers, it seems to do the trick.
However, from what I understand from the answer of @zonca, when doing an analysis, I need to set `use_pixel_weights=True`. But this surprises me because `map2alm` sets `use_pixel_weights=False` by default... So I expcted this to be the right setting to perform an analysis. Am I missing something ?

[2020-01-14 12:20] mreineck commented on #594
That's unfortunately sloppy use of language... `map2alm` always uses weights, there are just three different sets of them, which have different degrees of sophistication:
- when you don't specify any weights, the uniform weight value `4*pi/(12*nside**2)` is used
- with ring weights enabled, every ring is weighted with a uniform value similar to the one above
- with pixel weights, every pixel gets

[2020-01-14 13:36] Gabriel-Ducrocq commented on #594
Okay, that's very clear, thank you !

[2020-01-14 13:36] #594 closed

[2020-01-14 16:48] zonca commented on #591
cannot debug this anymore as I have updated the compiler.

[2020-01-14 16:48] #591 closed

[2020-01-14 16:56] #559 closed

[2020-01-14 16:58] zonca commented on #553
@DanielLenz do you want to work on this issue?

[2020-01-20 14:25] Gabriel-Ducrocq opened #598 "Signal to noise ratio"
Hi everyone,

I am trying to replicate the setting given in the following paper, section 4:
https://arxiv.org/pdf/1512.06619.pdf

However, using a 13' FWHM gaussian beam with noise 1.84e-3 uK^2 and the Planck best fit L-CDM power spectrum found there:
http://pla.esac.esa.int/pla/#cosmology

doesn't give me a SNR of 1 at l = 900 but at l= 1200.

Here is my code:

[code]

Am I using healpy correctly

[2020-01-20 14:50] mreineck commented on #598
Why are you applying a correction to the beam FWHM?
`theta_b = fwhm_radians/np.sqrt(8*np.log(2))`

If I read the documentation correctly, it should be OK to just pass `fwhm_radians` to `hp.gauss_beam`.

[2020-01-20 16:38] Gabriel-Ducrocq commented on #598
Oh yes, you're right, I just passed `fwhm_radians` before I added the rescaling by 2pi/l(l+1) and then added the correction on the advices of more knowledgeable person with the library.
Removing this correction gives SNR = 1 for l = 897.

Thank you !

[2020-01-20 16:39] #598 closed

[2020-02-07 14:06] demitri opened #599 "Error compiling from current master branch on macOS 10.14.6."
Hi,

I just pulled the current version of healpy and am getting this error when trying to build:

[code]

The latest released version is working for me though.

[2020-02-07 17:35] pltaylor16 opened #600 "Can I just compute E-mode alm?"
I have an application where I only need to compute the E-modes. I need to do this many times, so computing the T and B harmonic coefficeints is dramatically slowing down my pipeline. Is there any easy way to do this? I had a look in sphfunct.py, but it didn't seem like there was an obvious way to do this.

[2020-02-10 14:41] mreineck commented on #600
In principle the libsharp library used internally by Healpix allows to compute E- and B-modes, omitting the T-codes, but this will only result in a savings of maybe 20%. As far as I can tell from the healpy docs, this functionality isn't wrapped in healpy, however.
Separate computation of E- and B-modes is not supported, since most of the necessary calculations are common for both, and just comput

[2020-02-14 19:37] houriziaeepour opened #601 "Installing healpy on Ubuntu 18.04 system"
I am trying to install healpy in Healpix_3.60 on Ubuntu 18.04, but I receive compilation errors. I have tried with both HPY_PYTHON = python and HPY_PYTHON = python3. Neither of cases works. Can you please help? Here is the result for compilation with python3:

Traceback (most recent call last):
  File "setup.py", line 9, in <module>
    pkg_resources.require("setuptools >= 3.2")
  File "/usr/lib/p

[2020-02-14 19:43] zonca commented on #601
Have you tried installing setuptools?
Also why compile from source what about installing with conda or pip?

On Fri, Feb 14, 2020, 11:37 houriziaeepour <notifications@github.com> wrote:

[2020-02-14 19:56] houriziaeepour commented on #601
Hi Andrea

Thank you for the quick reply. I am not a python user. I just wanted to
compile healpy to have a complete installation of Healpix software on my
laptop. I will follow your suggestion.

Cheers
Houri

On Fri, 14 Feb 2020 at 20:43, Andrea Zonca <notifications@github.com> wrote:

[2020-02-14 20:16] lpsinger commented on #601
Hi @houriziaeepour, even easier would be to install it using your package manager:

`sudo apt-get install python3-healpy`

[2020-02-14 21:44] houriziaeepour commented on #601
Thanks for the hint
Cheers
Houri

On Fri, 14 Feb 2020, 21:16 Leo Singer, <notifications@github.com> wrote:

[2020-02-19 22:42] giuspugl opened #602 "Inconsistency with pixelfunc when using `lonlat=True`"
Hello,
I found an inconsistency  when using `pixelfunc. ang2pix`, `pixelfunc.ang2vec`, etc... when they are used with `lonlat=True`.  In which case,   the conversion into `theta, phi ` radians coordinates is performed in https://github.com/healpy/healpy/blob/4a22677d882fde7a738a9f597c8d2fb065c1d41f/healpy/pixelfunc.py#L159 ,  and it  is done as if theta is a longitudinal coordinate, and phi as a c

[2020-02-19 23:02] zonca commented on #602
thanks, can you please provide a minimal example I can just copy-paste and
execute?

On Wed, Feb 19, 2020 at 2:42 PM Giuseppe Puglisi <notifications@github.com>
wrote:

[2020-02-20 07:18] giuspugl commented on #602
[code]

[2020-02-21 21:56] zonca commented on #602
it is strange that we basically switch the coordinates when we use `lonlat=True`, but I think it is consistent with the docs, and for backwards compatibility I wouldn't change it.

It would be useful if you can provide a pull request to clarify the docs, but we don't want to change behavior.

[2020-02-23 16:40] mreineck commented on #602
There are communities which swap the angle names, unfortunately. According to https://en.wikipedia.org/wiki/Spherical_coordinate_system, using theta for longitude and phi for colatitude is typically done by mathematicians.
Had I been aware of this earlier, Healpix C++ would be using "colat" and "lon" to avoid any potential misunderstanding ...

[2020-02-26 08:46] cmbant commented on #25
I had some spare budget that could be used to pay someone a $300 incentive to get healpy conda-forge version working for Windows (but needs to be in the next two months).

[2020-02-26 09:11] mreineck commented on #25
Not sure how relevant this is for the task at hand, but I'm currently assembling a package that contains most of my C++ codes (support library, pocketfft, libsharp, healpix_cxx and more) which has the following characteristics:
- C++ only (using features up to C++17)
- no external dependencies at all (except pybind11 for the Python interface, which is a source-only dependency)
- compilable with g+

[2020-02-26 15:28] zonca commented on #25
Yes, this looks like a good option!

[2020-02-29 04:18] capolitsch opened #603 "Make graticules appear behind partial sky map?"
Hello,

Thank you in advance for your help. This likely isn't so much an issue with healpy as it is a limitation of my own knowledge of python/matplotlib. I am plotting a partial sky map (~25%) and I would like to add graticules, but I would like the partial sky map to be in the foreground, so the graticules are visible in the masked (~75%) region but do not appear of the mapped region. Any help w

[2020-03-05 06:32] jinyiliu opened #605 "healpy.smoothing doesn't work"
Hello,

I find my `hp.smooth` just doesn't work. I first generate a set of TQU maps using `hp.alm2map` and `hp.synalm` . Then I try to smooth them with 10 arcmin fwhm. There are 2 ways to do this smoothing
[code]
I think there should be no difference between these two in principle because they both call the function `hp.smoothalm`. But the power spectra really differ with each other. The following

[2020-03-05 06:35] zonca commented on #605
I don't see you calling `smoothalm`

[2020-03-05 06:37] zonca commented on #605
please provide a complete executable snippet of code that creates a simple map on the fly and demonstrates this.

[2020-03-05 11:46] jinyiliu commented on #605
Sorry, my bad!
I've uploaded the executable code together with the input Cl data in this zip file [smooth.zip](https://github.com/healpy/healpy/files/4292266/smooth.zip). Cl data contains tt, ee, bb, te power spectra.
[code]

Basically I want to smooth the TQU maps (here I set fwhm = 10 arcmin) and then make some power spectra plots. And I tried with 2 ways to achieve this
- smooth the alms direct

[2020-03-18 06:07] zonca commented on #602
@giuspugl I'll close for now, please consider submitting a pull request to clarify the documentation.

[2020-03-18 06:07] #602 closed

[2020-03-21 04:18] zonca opened #606 "Drop readthedocs"
@DanielLenz @lpsinger

I cannot build `healpy` on readthedocs anymore.
I am not sure if readthedocs reduced the memory limits or conda started using more memory, but all my projects started hitting memory limits.

Now I switched all of them to using `pip` which uses less memory.

For `healpy` however I cannot get `autotools` to work.

Over the years readthedocs has been really painful to manage, b

[2020-03-21 16:01] DanielLenz commented on #606
I can very much relate to that; I've been using conda less and less over the past year or two because of memory issues and a very slow resolution of the dependencies.

I'm sure you've looked into this, but do you think it's possible to host older versions on healpy.github.io as well? I'm a bit afraid that we confuse people about where which version of the docs is. We can certainly add notices and

[2020-03-21 16:23] DanielLenz commented on #605
Hi @jinyiliu , thanks for taking the time to point this out for providing the great reference code.

To save time, I set `lmax` to 2000. The minor code changes are below.

[code]

I've just run this in a new conda env and couldn't reproduce the error, both the smoothed maps and the power spectra look identical.

Could you run this and see if this solves your problem? Perhaps computing up to the de

[2020-03-21 18:23] zonca commented on #606
@DanielLenz see https://github.com/readthedocs/sphinx_rtd_theme/issues/868

[2020-03-23 17:19] yaojian95 opened #607 "ud_grade() boosts the power spectrum at small scales?"
Hi, here I want to use _ud_grade_ function to downgrade the resolution, say from nside=512 to 256, using something like `hp.ud_grade(cmb512, nside_out= 256)`, but finding that this process will enhance the power spectrum at large multipoles very significantly, as the following plot shows.

![image](https://user-images.githubusercontent.com/14847517/77342559-54cef900-6d6b-11ea-9420-331d6a593d66.png

[2020-03-24 01:09] LiQiaoling commented on #607
Based on theory on spectral analysis or Fourier transform, the maximum frequency of the wave is double of the sampling frequency. it's natural that the loss of the high frequecy when you low down the resolution. So you should take proper sampling frequency based on the characteristic of the thing you study.

[2020-03-24 01:11] LiQiaoling commented on #607
Based on theory on spectral analysis or Fourier transform, the maximum frequency of the wave is double of the sampling frequency. it's natural that the loss of the high frequecy and different shape of power spectrum when you low down the resolution. So you should take proper sampling frequency based on the characteristic of the thing you study.

[2020-03-24 13:06] Gabriel-Ducrocq opened #608 "Temperature power spectrum posterior shape and healpy"
Hi everyone,

I am trying to replicate the experiment given section 4.1 in the following paper:
https://iopscience.iop.org/article/10.1088/0004-637X/697/1/258/meta

However, using the same settings I get different posterior shapes with a non negligible part of the mass truncated at 0.

Here is my code. Am I using all the healpy parts correctly ?

In the following, I took NSIDE = 512, L_MAX = 1000,

[2020-03-24 15:37] DanielLenz commented on #608
Hi Gabriel,

for general questions such as this, we recommend you post it on stackoverflow and include the healpy tag. This goes beyond the scope of github issues.

Thanks, Daniel

[2020-03-24 15:37] #608 closed

[2020-03-26 05:13] jinyiliu commented on #605
I tried your code, and the power spectra still look different. However, I couldn't reproduce the error either after reinstalling healpy. So I think that's because I changed the healpy source code before by accident.

Many thanks!

[2020-03-26 05:13] #605 closed

[2020-04-07 19:06] ekitanidis commented on #549
I'm running into the same issue, but I don't think my polygon is self-intersecting, so I'm a bit stumped.

[code]
I get this error:

[code]

Here is what my vertices look like:

![Screen Shot 2020-04-07 at 11 59 51 AM](https://user-images.githubusercontent.com/13126107/78708673-5c43e580-78c7-11ea-9f90-b3673929a9a6.png)

Any suggestions? Thanks in advance!

[2020-04-08 10:40] mreineck commented on #549
Unless I'm mistaken, all of these four vertices lie on a single great circle, and since the edges between polygon vertices are given by great circle arcs, your polygon geometry is degenerate.

[2020-04-08 21:33] ekitanidis commented on #549
Hmm, I see. I assumed the purpose of query_polygon was to identify pixels intersecting with a polygon drawn on the surface of the sphere onto which the map is projected (like an extension of query_strip). Clearly, I misunderstood what this function is meant to do! Thanks for clarifying.

[2020-04-09 06:45] mreineck commented on #549
This can only be unambiguous in combination with a projection, so that would lead to a more complicated interface.

I _think_ that these functions were originally introduced to address concrete problems encountered in astronomy. `query_disc` exists to deal with full-sky data where the Milky Way needs to be cut out, and `query_polygon` will typically be used by astronomers for very small polygons,

[2020-04-16 19:35] tskisner opened #609 "astropy.utils.data download race condition from multiple processes"
If multiple processes (for example in an mpi4py job) attempt to use astropy.utils.data to download and cache the same file, there exists a race condition where the processes can stomp on each other.  Here is a tarball containing a minimal working example that demonstrates the problem at NERSC.  Any computing center with more than one node and a shared home directory should see the same problem:

[

[2020-04-16 19:50] zonca commented on #609
Related to https://github.com/astropy/astropy/issues/9970

[2020-04-16 20:00] tskisner commented on #609
While I agree that it is related to the upstream astropy issue, it would be great to have an alternate solution that did not use astropy data caching at all.  This way we have more control over exactly when data is downloaded and where it is placed.  Falling back to astropy is fine, and very convenient for users running on their personal systems.  However, download-on-demand of big data files seem

[2020-04-17 14:52] mreineck commented on #609
I'm not sure, but would it help setting `datapath` when calling the SHT functions? If the provided directory contains all required files, I expect that this should work ... but I also have dim recollections that I tried it at some point and ran into problems ...

Sorry, no time right now to look more closely at this...

[2020-04-30 13:29] javicarron opened #610 "Significant error in the spatial derivatives of a map"
I am using the `hp.alm2map_der1()` function to calculate the spatial derivatives of some maps. The horizontal (longitude, phi) direction seems to work fine, but the vertical (latitude, theta) direction seems to have errors.

I try both the first and second derivatives on an example map described by cos(phi)+sin(2*theta):

[code]

This code produces the following images (note that the scale is the

[2020-04-30 13:56] mreineck commented on #610
I think the problem is that your input map is not band limited. The `sin(2*theta)` term results in a cusp at both poles, and this means that already the `alm_map = hp.map2alm(example_map)` results in a_lm that are not a faithful harmonic representation of the spatial function. As a consequence the derivatives will also be inaccurate.
I'm pretty sure that you will get fairly accurate derivatives if

[2020-04-30 14:45] mreineck commented on #607
Sorry for the late response...

It seems that the power spectrum of your original map does not fall off for increasing multipoles. If you downgrade such a map, I expect that the power on the small scales will be aliased to lower multipoles, leading to the increase you are seeing.

If you downgrade a map from, say, nside_hi=512 to nside_lo=256, you can only expect the power spectrum to stay roughly

[2020-04-30 15:52] javicarron commented on #610
Thank you for the reply. Indeed the example was not band limited, that makes sense. I retried using your suggestion `example_map = np.cos(phi)+np.cos(2*theta)` but I run into the same issue:

[code]
![d_t_2](https://user-images.githubusercontent.com/25009611/80730615-14049580-8b0a-11ea-8760-a350a8e71c2f.png)
![d_tt_2](https://user-images.githubusercontent.com/25009611/80730623-1666ef80-8b0a-11ea-8

[2020-04-30 16:03] mreineck commented on #610
If you are still seeing this with a band limited map, it could also be caused by insufficient accuracy in the `map2alm` call. Can you try if things improve when you use iterative analysis or weights in `map2alm`? Or if you subtract the map monopole?

In general I'm not totally sure whether the computation of derivatives in harmonic space is very helpful in situations where the original function is

[2020-05-01 18:21] javicarron commented on #610
Thank you for the comment. With respect to the first paragraph, I have tried the same procedure but (separately) with ´use_weights=True´, ´use_pixel_weights=True´, ´datapath=...´.  For this last one, I have downloaded the data from [https://github.com/healpy/healpy-data](https://github.com/healpy/healpy-data) but delving into the source code, I think it is actually the default (and the results are

[2020-05-04 08:06] mreineck commented on #610
The problem with pixel weights is that they only really work when `lmax<1.5*nside` in `map2alm`... another situation where default values (`map2alm` sets`lmax=3*nside-1` by default) do more harm than good.

Hmm, perhaps that's the solution after all ... can you try explicitly setting `lmax` to `int(1.5*nside)`?

Concerning the weights: as far as I know, there is no published reference on the ring

[2020-05-05 14:58] tskisner commented on #609
Just to note that this cache locking issue happens even if the data is already downloaded locally.  Even in this read-only scenario, astropy is locking the hash table just to make a copy of it in memory:

https://github.com/astropy/astropy/blob/a26a6613133ea18b8ae0bfcbfd4d013bcf5adcb1/astropy/utils/data.py#L1719

It would be awesome to have a way to point healpy to a pre-downloaded set of pixel we

[2020-05-05 16:01] zonca commented on #609
ok, @tskisner, then this is way more urgent than I though, I'll work on it this week

[2020-05-06 16:12] #609 closed

[2020-05-06 16:12] zonca commented on #582
fixed by #611

[2020-05-06 16:12] #582 closed

[2020-05-06 16:13] zonca commented on #609
@tskisner can you use master? or do you need a release?

[2020-05-06 16:19] tskisner commented on #609
I can use master for testing now.  It will likely be a few weeks before anyone besides me is going to "pip install healpy" and then try to run a large benchmark job.  I can ping you later if no release happens before that time.

[2020-05-06 16:22] zonca commented on #609
ok, thanks, let's do that.

On Wed, May 6, 2020 at 9:19 AM Theodore Kisner <notifications@github.com>
wrote:

[2020-05-07 09:58] hivon commented on #609
Hi Andrea,

I've a new Healpix release in the pipeline.
Please give me a prior notice on any healpy release, so we can
synchronize them.

Cheers,
Eric

On 06/05/2020 18:23, Andrea Zonca wrote:

[2020-05-27 23:21] zonca commented on #606
I am going to try again with conda given https://blog.readthedocs.com/better-conda-support/

[2020-05-28 00:57] zonca commented on #606
conda works fine with the larger amount of memory provided by readthedocs, see #613

[2020-05-28 00:57] #606 closed

[2020-06-05 21:22] zonca commented on #610
no more feedback, closing this

[2020-06-05 21:22] #610 closed

[2020-06-05 21:22] #601 closed

[2020-06-05 21:23] zonca commented on #607
no more feedback

[2020-06-05 21:23] #607 closed

[2020-06-05 21:25] zonca commented on #603
apologies, given little time, I try to focus on bugs, for plotting issues try stackoverflow or you have to try debug yourself.

[2020-06-05 21:25] #603 closed

[2020-06-05 21:32] #600 closed

[2020-06-05 21:35] zonca commented on #599
sorry for the late reply.
For later reference, it seems that `configure.in` is missing, so it is possible that you hadn't checked out the submodules with `git submodule init`, `git submodule update`.

[2020-06-05 21:35] #568 closed

[2020-06-05 21:36] #565 closed

[2020-06-05 21:41] zonca commented on #556
it looks like this was solved

[2020-06-05 21:41] #556 closed

[2020-06-05 21:54] #455 closed

[2020-06-05 22:07] #465 closed

[2020-06-05 22:14] zonca commented on #445
Standard default column names `‘TEMPERATURE’, ‘Q_POLARISATION’, ‘U_POLARISATION’` were implemented in:

https://github.com/healpy/healpy/commit/d1dec6233fe523deeaa1103dc6f782167d14f2ba

and agree with @hivon's document.

In that document there is no mention of maps with 6 components (possibly covariance matrices)

[2020-06-05 22:14] #445 closed

[2020-06-05 22:17] zonca commented on #352
@mreineck I'm reviewing old issues, do you think removing monopole before passing to C++ is still a good idea?

[2020-06-05 22:26] demitri commented on #599
Thanks for the reply. This did not work for me. After doing a `git pull`:

[code]

I am on macOS 10.14.6, using Anaconda Python 3.7.7.

[2020-06-05 22:32] zonca commented on #599
install libtool https://healpy.readthedocs.io/en/latest/install.html#development-install

[2020-06-05 22:33] #553 closed

[2020-06-05 22:50] demitri commented on #599
I have libtool installed.

[2020-06-05 22:51] zonca commented on #599
ok, sorry I have no access to a Mac OS machine to debug this.

[2020-06-06 02:39] #448 closed

[2020-06-06 07:48] mreineck commented on #352
There are two aspects to this:
It all depends on what the user wants to do: if the goal is "give me the best possible approximation of the `a_lm` corresponding to this map", then the monopole should be subtracted and the bests possible weights should be used.
On the other hand, if the goal is "do the adjoint of the `alm2map` operation I just carried out`, then the monopole should not be subtracted

[2020-06-06 07:57] mreineck commented on #599
Just stabbing in the dark here: is it possible that there is more than one package on MacOS called `libtool` or similar, doing quite different things? You would need GNU libtool.

It's also possible that the `libtool` shipped with your OS is outdated. See this (really old) thread, which might help here: https://lists.gnu.org/archive/html/octave-maintainers/2009-12/msg00199.html

Sorry, I don't hav

[2020-06-07 19:06] zonca commented on #592
fixed in #597

[2020-06-07 19:06] #592 closed

[2020-06-07 19:09] zonca commented on #468
@DanielLenz I'll take care of this one starting from your branch

[2020-06-07 19:17] msyriac opened #616 "Alm.getlm does not check for index bounds"
If the (l,m) corresponding to an index that is out of the alm array bounds is requested, ideally it should be raising an exception. Instead, getlm returns garbage. The following is with healpy version 1.13.0 :

[code]

[2020-06-14 03:38] zonca commented on #352
I would call this option `disable_separate_monopole=False` and set it `False` by default.
Then explain in the docs what you wrote here.

We are changing the default behavior but I think we do it for the better because by default we will give better results.

So people doing mapmaking or similar advanced operations can set it to `True`.
I would also propagate this argument to `anafast`,
I don't thi

[2020-06-14 16:50] zonca commented on #616
Thanks @msyriac, can you take a look at #618?

[2020-06-14 17:16] msyriac commented on #616
Ok, it raises a FloatingPointError now, but ideally an "index out of bounds" would be more informative. Your call.

[2020-06-15 09:55] mreineck commented on #352
This all boils down to the fundamental misconception that there is such a thing as an inverse `alm2map` transform ... only because the interface (which dates back to the original Fortran interface) strongly suggests that this is the case. It took me years to fully realize this misunderstanding.

I know it's radical, but I'd suggest removing `alm2map` and `map2alm` altogether and replace them by:
-

[2020-06-15 13:26] adrn opened #619 "Make default verbose=False?"
It looks like the default behavior for functions (e.g., `healpy.smoothing()`) is `verbose=True`. Should the default be changed to `verbose=False`? I frequently use `healpy` from an IPython notebook, and the output is often clogged by verbose output, especially when looping over maps. Just raising this for discussion - I don't feel very strongly about this!

[2020-06-17 02:06] zonca commented on #616
@msyriac can you check now?

[2020-06-17 17:08] alurban opened #620 "Numpy recommends representing matrices as ndarray rather than matrix"
With numpy-1.18.4 and healpy-1.13.0 installed on my MacBook (in a Conda environment running python-3.7), the `healpy.rotator.Rotator` class raises this warning:

[code]

It seems this line in `healpy/rotator.py` just needs to be replaced with:

[code]

(or similar), though I'm not sure how many other places in the code are affected by this change.

[2020-06-17 18:35] msyriac commented on #616
Thanks, I get "AssertionError: Invalid index, it should less than the max alm array length of 125751" now. This looks good.

[2020-06-17 19:07] #616 closed

[2020-06-26 21:42] robspearman opened #621 "Unable to change default color map"
I am unable to change what seems to be the default viridis color map.  Here is an example trying to select another color map.

`galacticArray = hp.cartview(map_Cel, coord=['C','G'], cmap='gray', return_projected_map=True, xsize=1920, norm='None', min=0, max=maxFlux, nest=False)
`
There are no errors, it just does not change the color map.

The documentation is also confusingly misformated for cmap

[2020-06-27 01:42] zonca commented on #621
too rude

[2020-06-27 01:42] #621 closed

[2020-06-27 02:57] robspearman commented on #621
I am sorry if I was not clear.  I appreciate this project and your work, but these are real bugs that I am seeing.

Attached is a screenshot showing that there are missing spaces in the documentation link referenced (Firefox screenshot).

![bad-formatting](https://user-images.githubusercontent.com/2320065/85913106-a9f52d80-b7e6-11ea-8a74-cc0149e2cd54.png)

[2020-06-30 03:37] zonca commented on #619
In that case less experienced users would never see the messages.

My proposal would be to switch all functions to use `warnings` (`smoothing` is not),
and then explain in the docs how to do:

    warnings.filterwarnings(action='ignore', module='healpy' )

to suppress them.
Any better suggestion? @lpsinger?

[2020-06-30 14:09] lpsinger commented on #619
I agree with @adrn. Functions in Python modules should be silent by default.

[2020-07-03 17:51] kadrlica opened #622 "Healpy modifies default colormap"
It appears that in some cases healpy modifies the users default matplolib colormap. This been a consistent behavior for at least a few years, but I figured it would be good to document.

The minimal working example is a bit complex, since the figures need to be rendered individually.
[code]
The resulting figure is here (note that the nan pixels are rendered in white):
![fig1](https://user-images.g

[2020-07-07 18:17] zonca commented on #622
thanks, do you know what is the proper way to implement this?

[2020-07-07 18:18] zonca commented on #622
oh, sorry, the `deepcopy` you are mentioning should work, would you create a PR with that?

[2020-07-07 18:23] zonca opened #623 "Release of healpy 1.14.0"
I'd like to start preparing the release of healpy 1.14.0, jointly with a HEALPix release.
@hivon, @mreineck are you fine with that? what will be the HEALPix version tag?

can I get the current trunk from SVN as the HEALPix C++ that will released with the next version of HEALPix?

[2020-07-07 18:35] mreineck commented on #623
No changes in Healpix C++ since the last healpy release, as far as I see :)

[2020-07-07 18:53] kadrlica commented on #622
Yeah, I can create a PR and a test.

[2020-07-08 07:43] hivon commented on #623
@mreineck : there was an edit in libsharp automake files to set the library version number, which changes the libsharp.so file name.
And how about the rotmatrix.h and pointing.h name conflicts discussed in https://sourceforge.net/p/healpix/bugs/104/ ?
Will we go with the suggested path specification for Heasoft or rather change the path to those *.h files ?

@zonca : the next Healpix release is 3.

[2020-07-08 08:05] mreineck commented on #623
Ah, thanks for pointing this out ... somehow my `svn log` didn't show up anything relevant and I had forgotten about that change already! (It's getting hard to remember how svn works; I'm only using it a few times per year)

Concerning the header files: I'd leave them as they are for the moment.  I'm currently consolidating all my C++ code into a single directory structure (from which sub-packages

[2020-07-08 15:57] zonca commented on #623
ok, thanks @hivon, not sure I'll make it by July,

anyway, sometime in July or August, I'll update the C++ sources with current trunk, finish up some of the open issues, and release 1.14.0

[2020-07-09 22:19] fnoviello opened #625 "Conda installation failing in MacOSX 10.15.5"
Hi

I read in the installation guide that there are issues installing Healpy 1.13.0 in MacOSX 10.15.5 with pip and from source.

Just to let you know I'm also experiencing issues with conda install, which just "hangs" when solving the environment (I had to keyboard interrupt the installation). I'm pasting a screenshot, should it help.

Thanks,
Fabio
------------------------------------------------

[2020-07-09 22:22] zonca commented on #625
can you test with a brand new environment?

[2020-07-09 22:38] fnoviello commented on #625
That was a quick reply!

Actually env_healpy was brand new. Anyhow, I created a brand new env_healpy_2, with the same result. As a last resort, I've tried installing into base.

It's conda 4.8.2 btw, should it help.

thx, F

[2020-07-09 22:44] zonca commented on #625
try:

    conda create --verbose -n env_healpy_3 python=3.7 healpy

and paste log here

[2020-07-11 19:38] fnoviello commented on #625
This worked thx. The log file is attached for info. I've also tested my Healpy installation and it appears to be ok.

I've run some tests and there appears to be some clash between conda install and this latest version of macOSX  (it doesn't seem to solve plenty of stuff, not just Healpy, and this also happens in the base environment). So, for instance, I then had to install Jupyter and Spyder via

[2020-07-11 19:46] olivierdore opened #628 "healpy build failing in MacPorts"
Hello friends,

It looks like healpy does not build properly anymore with macport (it used to work just fine of course but I had to do a clean install for other reasons). I tried with several version of python (just in case) and the issue remains. The MacPorts team could reproduce this failure too. They suggest an issue with the latest numpy maybe but not sure.

The key line in the log is the foll

[2020-07-11 20:02] zonca commented on #628
Which version are you building?

On Sat, Jul 11, 2020, 12:46 Olivier Doré <notifications@github.com> wrote:

[2020-07-11 20:12] olivierdore commented on #628
Hey Andrea. The latest one from MacPorts which is 1.13.0 it seems. https://ports.macports.org/port/py38-healpy/summary

[2020-07-11 23:15] zonca commented on #628
@mreineck any suggestion?

[2020-07-11 23:17] #622 closed

[2020-07-11 23:34] zonca commented on #625
Can you make a pull request to the installation docs to suggest this for
Mac osx?

On Sat, Jul 11, 2020, 12:38 fnoviello <notifications@github.com> wrote:

[2020-07-12 08:36] mreineck commented on #628
This seems related to #624 and should be fixed already in the latest sources.

[2020-07-12 16:45] zonca commented on #628
Ok, thanks, I'm going to release healpy 1.14 in the next weeks.

[2020-07-12 19:34] olivierdore commented on #628
Thank you all for the quick answers. @zonca what do you suggest I do now?

[2020-07-12 19:39] zonca commented on #628
Build from master

On Sun, Jul 12, 2020, 12:34 Olivier Doré <notifications@github.com> wrote:

[2020-07-12 19:40] zonca commented on #628
Or install a older version

On Sun, Jul 12, 2020, 12:39 Andrea Zonca <zonca@sdsc.edu> wrote:

[2020-07-13 00:27] lpsinger commented on #628
I am the MacPorts maintainer of that port. Is there a MacPorts issue that I can refer to?

[2020-07-13 21:28] fnoviello commented on #625
Done.

[2020-07-14 03:33] zonca commented on #625
thanks, see #629

[2020-07-14 03:33] #625 closed

[2020-07-20 17:16] hivon commented on #623
Hi @zonca,

do you have a clearer idea of when healpy 1.14 will be ready to ship out ?
As for Healpix it is either by July 26 (this Friday), or after Aug 24.
It would be better to avoid Healpix and healpy releases just 1 or 2
weeks apart.

Cheers,
Eric

[2020-07-22 02:55] zonca commented on #619
no-one would ever set all verbose to True, so they would be useless, their purpose is to help the novice users when running interactively.
I think my proposal is good enough, it allows more advanced uses to just stop all `healpy` verboseness with just 1 line of code. I implemented also a small function to make it easier.

[code]

[2020-07-22 03:21] zonca commented on #619
Please take a look at #630 and send me some feedback

[2020-07-22 03:28] zonca commented on #620
thanks!

[2020-07-22 03:28] #620 closed

[2020-07-22 06:15] zonca commented on #623
@hivon I'll let you know tomorrow

[2020-07-22 16:10] zonca commented on #623
@hivon I'll release `healpy` 1.14.0 either today or tomorrow, then you can package it up into HEALPix on Friday

[2020-07-22 17:36] zonca commented on #619
see #630

[2020-07-22 17:36] #619 closed

[2020-07-22 18:39] zonca commented on #416
running profiling with ipython on this (`%run -p`) shows:

[code]

the best to improve this would be to implement a function in cython `_pixelfunc.pyx` named `map2partial` or similar which does all the indexing operations which are slow in `numpy` and returns the map of just the good pixels and the pixel array to be written to disk.

[2020-07-22 18:53] mreineck commented on #416
When I'm running this, it takes around five seconds on my (fairly old) laptop.
I agree that the time consumed in `mask_good` is surprisingly high, but on the other hand I don't see much improvement potential by going to Cython here.

What surprises me most is @kadrlica is seeing a runtime of minutes. Two possible explanations:
- one of the involved packages is old, and some algorithm has been impr

[2020-07-22 19:03] zonca commented on #416
on my fairly old desktop it take 15 seconds without gzipping, so I think this would benefit from cython.
gzipping instead takes > 1 min and takes ~5GB of RAM (I have 12 GB on my machine), there is something really wrong here, but maybe it is an astropy issue? I see the output gz file appear quite quickly, but the python process never returns.

[2020-07-22 19:11] mreineck commented on #416
Here is the body of the hottest function, `mask_good` in `pixelfunc.py`:
[code]
I see four passes over the array, one in the first line, and then on the last line two for evaluating the left hand side and one for the comparison. With cython that can probably be reduced to two passes overall. Yes, it might help, but the real culprit is somewhere else, I fear.

[2020-07-22 19:21] zonca commented on #416
replacing mask_good with a simple `m[0] != UNSEEN` removes 3 seconds out of 15, so if we pack both this and the list comprehension in 1 cython function I think we can gain a factor of 2. Also, this would be a useful function that can be used also outside of writing to turn maps into `(pix, valid_pixel_array)`.

[2020-07-22 21:16] hivon commented on #623
Hi @zonca,

thanks !
As you would guess, the sooner the better ;-)

[2020-07-22 21:17] zonca commented on #623
sure, I am at a good point already, I'll release later today

[2020-07-22 21:39] zonca commented on #247
I am working on this issue,
`astropy` has different "Ecliptic" frames, here is the difference of the rotation matrix with the `healpy` one.

[code]

`BarycentricMeanEcliptic` is the closest.

[2020-07-22 21:40] zonca commented on #247
If I compare @gregreen test before and after this fix

## Current healpy

![image](https://user-images.githubusercontent.com/383090/88231472-2a158400-cc29-11ea-9dc3-310ba539705e.png)

## Using `BarycentricMeanEcliptic`

![image](https://user-images.githubusercontent.com/383090/88231508-3994cd00-cc29-11ea-8b23-b559ac22376c.png)

[2020-07-22 22:36] zonca commented on #247
same for equatorial (using `FK5` from astropy)

the astropy matrix is

[code]

the healpy was:

[code]

[2020-07-22 22:51] zonca commented on #247
now in #633:

[code]

[2020-07-22 23:34] zonca commented on #247
fixed in https://github.com/healpy/healpy/pull/633

[2020-07-22 23:34] #247 closed

[2020-07-23 04:02] zonca commented on #623
ok

- [ ] source release on PyPI <https://pypi.org/project/healpy/1.14.0/>
- [ ] wheels on PyPI
- [ ] conda packages for Linux
- [ ] conda packages for Mac OS

[2020-07-23 06:30] zonca opened #634 "cfitsio fails to build on conda-forge"
I am trying to build conda packages for `healpy`, but `cfitsio` fails to build.

The error is exactly the same I was getting when I updated to `cfitsio` to 3.47 (https://github.com/healpy/healpy/pull/597).

See the build log: https://gist.github.com/zonca/d916b96aa570ff2f52b5dca992ad35b0#file-log-txt-L2389

However, this is already using the patched version of `cfitsio.pc` which has `-lcurl`, so I

[2020-07-23 07:49] mreineck commented on #634
No clue whatsoever :-/
Is there any chance of accessing the `config.log` that was generated on the server during the build?

[2020-07-23 14:18] lpsinger commented on #634
Isn't there a conda package for cfitsio? We should link against that.

[2020-07-23 16:33] zonca commented on #634
Fixed

[2020-07-23 16:33] #634 closed

[2020-07-24 13:09] mreineck commented on #623
I know I'm a bit late to mention this, but the jungle of dependencies that cfitsio has been growing lately is getting a bit out of hand...
When you are building it yourself, it might be an option to just configure it in such a way that it doesn't pull in openssl and libcurl etc. I don't expect many people will use `healpy` to load Healpix maps via https over the internet.

[2020-07-24 18:52] syasini opened #635 "Error on pip install healpy==1.14.0"
Hi,

I'm encountering an error when I try to upgrade healpy to v1.14.0. I tried both upgrading from v1.13.0 and installing in a fresh condo environment but none of them work.

Here's the output of the log file:

[code]

[2020-07-24 19:20] zonca commented on #635
Mac OS? Have you tried with conda?

[2020-07-24 19:21] zonca commented on #635
It looks like you are trying to install from source so make sure you have all the requirements mentioned in the install instructions

[2020-07-24 19:33] syasini commented on #635
Thanks for the quick reply Andrea.

Yes, Mac OS. I'm running `pip install healpy` to fetch it from pypi, not installing from the source file.

Same command works for v1.13.0 with no problem (also 1.12.9). I'm only getting an error for v1.14.0.

I just tried `condo install healpy` in a new condo env and it works so I think you're right about the requirements. Have there been new dependencies added

[2020-07-24 19:38] zonca commented on #635
Yes look in the install docs

On Fri, Jul 24, 2020, 12:33 Siavash Yasini <notifications@github.com> wrote:

[2020-07-24 20:23] lpsinger commented on #635
@syasini, you're too fast for us! We haven't uploaded binary wheels for 1.14.0 to PyPI yet. I'm working on that right now.

[2020-07-24 20:35] syasini commented on #635
@lpsinger haha sorry Leo. It's because healpy is one of the main dependencies of our mock map simulation package [AstroPaint](https://github.com/syasini/AstroPaint). I'm really looking forward to implementing the new LIC polarization visualization method which is why I was trying to upgrade to 1.14.0.

Thanks for your explanation! I'll be patient :)

[2020-07-24 20:43] lpsinger commented on #635
Done! Please try again with pip.

[2020-07-27 21:19] syasini commented on #635
Sorry for the late response Leo.

I just tried pip installing it in a new condo environment and it's still failing.
I'm using `pip install healpy --no-cache-dir --force-reinstall`

Here's the log file:

[log.txt](https://github.com/healpy/healpy/files/4984486/log.txt)

[2020-07-27 21:21] lpsinger commented on #635
It's odd that pip is not trying to install the binary wheel. Maybe the problem is that I built the wheel on a macOS version that is newer than what you are using. What version of macOS do you have?

[2020-07-28 16:06] syasini commented on #635
Oh, that might be the case because I haven't updated in a while. I'm still on 10.14.6.

[2020-07-28 18:29] zonca commented on #623
ok, thanks @lpsinger for making pypi wheels for Mac OS as well.

This release is included in HEALPix 3.70 https://healpix.sourceforge.io/downloads.php#SECTION_370_10000000000000000

[2020-07-28 18:29] #623 closed

[2020-07-28 18:41] lpsinger commented on #635
We really ought to use CI (Travis, GitHub Actions, etc.) to build the wheels, so that we can use the oldest reasonably supported version of macOS.

[2020-08-20 20:34] ashill opened #636 "Documentation for Rotator.rotate_map_alms says [Q,U] is valid input"
The documentation for `Rotator.rotate_map_alms` says that if the input map has 2 maps, they are considered [Q, U]. However, inputting two maps causes a crash because `map2alm` requires 1 or 3 maps if `pol` is true; it doesn't seem to accept only [Q,U] as an input.

[2020-08-25 11:07] MitaliDamle opened #637 "Using projscatter function in conjunction with mollview "sub" argument"
Hello all,

I have a dataset for an ensemble of 3 different ions and 3 different simulations (so, in total, 9 different data sets) from which I generate mollview maps. I use the mollview map argument "sub" in order to place each of these 9 maps in a grid fashion, in one single matplotlib figure (akin to using the plt.subplot feature).

I further want to also place some scatter points (for which I

[2020-08-28 17:17] zonca commented on #19
@keskitalo see here

[2020-09-08 16:01] #636 closed

[2020-09-08 16:02] zonca commented on #636
thanks for reporting this, I had copied the docstring from the method in pixel space...

[2020-09-09 14:40] jyothischandran1597 opened #638 "Inputting random seed for synfast in healpy (difference from HEALPix)"
While using synfast to check for the fact that the current estimators of mean and variance are good or not, I encountered a problem in creating n number of realizations with the theoretical CMB power spectrum.

The problem was that synfast in healpy, unlike that in HEALPix, did not have an option to input the random seed in the function to ensure that each realization is different. BUT, I found ou

[2020-09-09 15:51] zonca commented on #638
thanks for suggesting this!

[2020-09-09 15:51] #638 closed

[2020-09-16 15:30] zonca opened #639 "Use alice3 from HEALPix C++"
@mreineck included the `alice3` patches from #617 to support line integral convolution into HEALPix C++,
and I have updated the https://github.com/healpy/healpixmirror to the last version of HEALPix from SVN.

**NB**: `healpy` master is still pointing to the last released HEALPix and will change that only when HEALPix is ready for the next release.

It would be useful to have a Pull Request that:

[2020-09-18 18:15] mpetroff commented on #639
Yes, I can look at this. I already have a partial patch in https://github.com/healpy/healpy/pull/617#issuecomment-662594550.

[2020-09-23 07:29] mreineck opened #641 "Query functions returning ranges?"
Unless I have missed something, there doesn't seem to be a variant of the pixel querying routines in `healpy` which return pixel ranges instead of individual pixel indices. At high resolutions this becomes quite a waste of resources, because it increases the memory consumption (as well as the run time) from `O(sqrt(Npix))` to `O(Npix)`, where `Npix` is the number of pixels inside the queried shape

[2020-09-23 15:11] zonca commented on #641
Thanks, Can you please provide an example of this in C++?

[2020-09-23 16:08] mreineck commented on #641
You are already using one :-)
https://github.com/healpy/healpy/blob/f6c408c418b1e4b56393ad77c5bc32014421dcf0/healpy/src/_query_disc.pyx#L63

One way to represent ranges in Python is to return arrays with an additional dimension of length 2 (for start and end of the range). My gut feeling is that this should be the last dimension, but that's just a personal opinion.

[2020-09-23 16:17] zonca commented on #641
so you would want to avoid doing `pixset_to_array` and instead return the ranges directly?

[2020-09-23 16:21] mreineck commented on #641
Yes, at least as an option. For queries that return a large number of pixels, the `pixset_to_array` part dominates the execution time and also allocates huge arrays, which would not be necessary when working on ranges only.

[2020-09-23 16:25] zonca commented on #641
ok, so it should return a `pixset` numpy 2D array with shape `(num_ranges, 2)` where first column is start of the range, second column is the end of the range. It would be great if someone else wants to implement this.

[2020-09-23 16:45] hivon commented on #641
This is mostly relevant for RING indexing applications (because the query_disc operates in the RING scheme).
In the NESTED case, going through the full list of pixels will remain necessary, even if only a rangeset is expected.

[2020-09-23 17:40] mreineck commented on #641
Actually Healpix C++ has a recursive query_disc algorithm for the NESTED scheme which directly works on ranges too. It basically starts with the 12 base pixels and recursively subdivides those where it cannot determine that they are fully inside or outside the disk.

[2020-09-30 02:01] israelmcmc opened #642 "Multi-resolution maps"
Hi. I recently implemented a library to handle multi-resolution maps, following the multi-order coverage (MOC) map [IVOA REC standard](http://www.ivoa.net/documents/MOC/20140602/index.html). The documentation can be found here https://healpixmap.readthedocs.io, including a quick-start tutorial so you can get an idea of its features and how to use it.

Given that healpy is the only dependency, I'm

[2020-09-30 14:59] jleagle94 opened #643 "Healpy and astropy clashing?"
Hi all,

I am trying to run analyses using Fermipy/Fermitools and I keep getting an error that I have not run into before and I think it may be healpy and astropy clashing for some reason? Perhaps my Catalina is somehow clashing?

I have bogged my error down to `import healpy`
[code]
This small discussion https://gitmemory.com/issue/lwa-project/lsl/7/682213032 is the only thing I can find that rep

[2020-09-30 15:20] zonca commented on #643
do you have the option of switching to Python 3? If not I would try to downgrade both `healpy` and `astropy` to older versions.

[2020-09-30 15:20] mreineck commented on #643
Judging from the discussion you linked, this is most likely due to an outdated `astropy` on your system. Can you check the installed `astropy` version please?

Also, judging from the paths printed in your report, you still seems to be running Python 2, which is now well and truly beyond its end of life :-) You might want to consider switching to Python 3.

[2020-09-30 15:20] mreineck commented on #643
Ooops, synchronized posting ;-)

[2020-09-30 15:24] jleagle94 commented on #643
Unfortunately, right now python 3 environment using fermipy is not available to me so I have to be on python 2.7 environment. The FermiPy/Fermitools only just recently (9/21/2020) updated their tools to work with python 3 and I have had no luck working on there yet. This should work fine as it did just a day ago in a python 2.7 environment but re-downloading is giving me these errors :(.

here is

[2020-10-01 19:47] jleagle94 commented on #643
Hey all,

Just wanted to say I found the clash. It appears astropy versions > 2.0 clash with healpy 1.14 or less. downgrading healpy to 1.13.0 and astropy to 2.0.0 seemed to fix my issue.

[2020-10-01 19:49] #643 closed

[2020-10-03 05:13] zonca opened #644 "clip alm function"
@mreineck I wanted to add a simple function to clip a set of alms to a lower ellmax,
for the simple case of mmax=lmax, the code is:

[code]

even for lclip 2000, it only takes 35ms to run.

is there something similar in HEALPix C++ or libsharp already? or should I just implement it in Python?

[2020-10-03 09:41] mreineck commented on #644
No, there is currently no analogous functionality in the C/C++ codes. If this kind of clipping operation is needed there, I would just copy the relevant coefficients from one a_lm object to the other with a loop, and avoid the memory overhead for the index array.

[2020-10-05 05:40] zonca commented on #642
thank you, your project looks great, but at the moment it is too much code to be added and be maintained within `healpy`.
However, we are planning a large rewrite of `healpy` with a different way of interfacing with C++ and at that point it would be useful to modify the interface and having a healpixmap class is exactly what I was thinking about, having your already existing implementation is very

[2020-10-07 09:16] joezuntz commented on #25
Due to the pandemic many of us have project students working from home on Windows machines on projects needing healpy.  I was able to get it installed via the Windows Subsystem for Linux, and available in a jupyter notebook.

In case useful to others I've put instructions below.

1. Restart your computer, and follow the instructions (which appear before windows starts) to enter BIOS.
Usually this

[2020-10-08 06:02] zonca commented on #25
thanks @joezuntz! this is very helpful, I added instructions to https://github.com/healpy/healpy/blob/master/INSTALL.rst

[2020-10-15 22:11] segasai opened #645 "warning when using masked arrays for ang2pix"
Hi,

I don't quite know the internals of how healpy behaves with masked arrays, but currently
the following example produces a warning which I find misleading
[code]

It is not a big deal, but I've just  spend an trying to chase the origin of the warning thinking that some of my inputs to healpy are corrupted.

[2020-10-16 01:20] zonca commented on #645
unfortunately it's coming from the bindings with C++, somewhere around https://github.com/healpy/healpy/blob/master/healpy/src/_healpy_pixel_lib.cc#L42, so I have no idea how to fix this.

And I wouldn't want to blindly filter out all `RuntimeWarning`, it could hide a case where there is actually a proper error.

Any suggestions?

[2020-10-16 01:29] segasai commented on #645
Hmm.
I am not sure I have suggestion. First I don't really understand why the c++ code is called on invalid data in the first place (because the masked array does not have any values masked at all). My current hypothesis is that the c++ interface is callled on the fill value... But I don't understand enough ufunc machinery to test this.

[2020-10-16 08:16] mreineck commented on #645
Is it possible that everything goes basically well, but that at the end of the function some checking code detects a type mismatch between the masked array's data (integer) and the fill value (float)? I'm not sure how the fill value gets propagated to the output array, but it certainly makes no sense there.

[2020-10-16 16:53] zonca commented on #645
no, the first array is already a float (one of the inputs as a dot), I also tested having both arrays float64:

     healpy.ang2pix(1024,np.ma.array([1,2.],mask=False,fill_value=1e20, dtype=np.float64), np.arange(2, dtype=np.float64))

but gives the same error, so it must be something related to the masked array.

[2020-11-18 02:13] AlecThomson opened #646 "Polarization quiver plots"
It would be great to have the native ability to produce vector-field plots in a quiver style. This funcationality looks to already exist in the IDL Healpix routines, e.g. [in mollview, polarization=3](https://healpix.jpl.nasa.gov/html/idlnode33.htm#idl:mollview:polarization). In fact, all those polarization modes would be useful. However, the quiver plot is the one that is hardest to produce by ha

[2020-11-18 03:14] zonca commented on #646
can you provide an example image?

On Tue, Nov 17, 2020 at 6:13 PM Alec Thomson <notifications@github.com>
wrote:

[2020-11-18 03:20] AlecThomson commented on #646
Sure! There's an example image in this [Stack question](https://stackoverflow.com/questions/54952582/how-to-plot-vectors-on-a-healpy-map-quiver-for-healpy?fbclid=IwAR2RLMfISoMeiDSdC0hQSAvHJ7R1Won-47wlpQSVSshuBKT8h4jwFTsdJQI).

[2020-11-18 17:38] zonca commented on #646
a few years ago I started to re-implement plotting using the standard matplotlib instead of the custom classes currently in visufunc.
I only implemented partially `mollview`, see https://github.com/healpy/healpy/blob/master/healpy/newvisufunc.py#L37
I think in this projection you could just use the `matplotlib` `quiver` function, would you like to try?

[2020-11-24 15:58] Algirdyz opened #647 "Get higher resolution pixels from a list of indices"
Given a list of indices and an NSIDE, is there a function that returns a list of indices for a much higher NSIDE?

I've tried using `ud_grade` but it seems to require the entire map to work and I only need to upgrade a small amount of pixels. If I use the whole map at the NSIDE I need, i just run out of memory.

[2020-11-24 16:03] mreineck commented on #647
If you are using NESTED scheme, you can compute this trivially. If you have index `i` at `nside1`, and you want all corresponding indices at a higher `nside2`, then the result is the interval `[i<<(2*(nside2-nside1)); (i+1)<<(2*(nside2-nside1))[`.
In RING scheme things are admittedly a bit more complicated.

[2020-11-24 16:10] mreineck commented on #647
Hmm, in RING scheme,  you could simply do a `ring2nest` before and a `nest2ring` afterwards ... this is pobably also what I would do inside the library.

[2020-11-24 16:24] Algirdyz commented on #647
Thanks for the reply!

Is that interval correct?

If my high res nside is 2^19 and low res 2^10, the bitshift is gonna be a bit high...
Or am I misunderstanding something?

[2020-11-24 16:28] mreineck commented on #647
Ah, sorry, I was thinking in terms of "map order", not `nside`. The map order is simply `log_2(nside)`.
So basically for each doubling in `nside` you get a factor 4 in pixel index.
Oops :-)

[2020-11-24 16:38] Algirdyz commented on #647
OK I see. This works!

Thanks a lot!

[2020-11-24 16:38] #647 closed

[2020-12-14 21:29] badshah400 opened #649 "Drop pytest-runner requirement as it is deprecated"
Thanks for the great library.

I would like to suggest the dropping of pytest-runner from [setup.py](https://github.com/healpy/healpy/blob/bb73236067e3af713a6750226603179d01c6301c/setup.py#L483) due to the following:

(from <https://pypi.org/project/pytest-runner/>)

[2020-12-16 07:01] zonca commented on #649
it would be great if you can provide a pull request to fix this. thanks!

[2020-12-16 21:17] badshah400 commented on #649
I saw your PR #650 and thought that was it. My patch would have been the same. Any reason why that doesn't work?

[2020-12-16 21:44] zonca commented on #649
Cannot find pytest, need to add that as requirement on travis

[2021-01-14 14:03] Sebastian-Belkner opened #651 "ValueError: truth value of numpy boolean array is ambiguous"
**Issue**
When using a map with an UNSEEN pixel, `_sphtools.pyx` throws an error at [L115](https://github.com/healpy/healpy/blob/39b74fb4e69d5180be769318f20f4875ad713aa2/healpy/src/_sphtools.pyx#L115).

This does not happen, when I use maps without UNSEEN pixels (e.g. any of the other lightweight maps)

**Usage**
Q and U maps of the lightweight [100Ghz Planck-map](http://pla.esac.esa.int/pla/#maps

[2021-01-14 16:27] zonca commented on #651
thanks @Sebastian-Belkner
can you please provide a snippet of code that shows the error?

[2021-01-14 16:56] Sebastian-Belkner commented on #651
**Input**
[code]

**Output**
[code]

[2021-01-14 22:09] #651 closed

[2021-01-14 22:09] zonca commented on #651
test snippet:

[code]

thanks it should be fixed now

[2021-01-20 18:25] SergeiDBykov opened #653 "Is pixel window function applied to hp.anafast result by default?"
Hello and thanks for the great package healpy!

I was wondering if [the pixel window function](https://healpix.jpl.nasa.gov/html/intronode14.htm), which modifies the true underlying angular power spectrum, is applied to the results of anafast function by default?

Let me demonstrate it in a simple example:

It is known that the poisson distribution of sources on the sky has a flat (constant) angul

[2021-01-22 16:14] DanielLenz commented on #653
That is correct, `anafast` does not correct for the pixel window function. The map that you generate in your example is not convolved with the pixel window function either, so simply applying anafast to compute the power spectrum yields the expected flat curve.

[2021-01-22 16:14] #653 closed

[2021-01-22 16:16] SergeiDBykov commented on #653
Thank you very much @DanielLenz.

[2021-02-03 14:45] hombit opened #655 "Cannot pip-install on Python 3.9 macOS 11"
`pip install healpy` fails for me for Python 3.9 and macOS 11

[code]

[2021-02-03 15:42] zonca commented on #655
Have you tried conda?

[2021-02-03 16:18] hombit commented on #655
Sorry, I don't use conda

[2021-02-03 16:27] lpsinger commented on #655
Is this an Apple Silicon machine?

[2021-02-03 16:28] zonca commented on #655
Sorry compiling healpy under mac os is really a nightmare, so we recommend conda.

I don't have a mac machine (and no time either) to help debug this.

So if any other healpy contributor can help please do.

[2021-02-03 16:29] hombit commented on #655
No, this is Intel mid-2014 macbook

[2021-02-03 16:31] lpsinger commented on #655
That's odd. Pip shouldn't be trying to build it from source. It should be installing one of our prebuilt wheels. What version of pip do you have?

[2021-02-03 16:31] lpsinger commented on #655
Oh, strike that. I uploaded a Python 3.9 wheel for Linux but not for macOS. I'll fix that shortly.

[2021-02-06 15:24] lpsinger commented on #655
I'm working on a CI pipeline to build the wheels automatically. (It's long overdue.) It's going to take another couple days of work, but when it's done, the installation for non-conda users should go much smoother.

[2021-02-06 18:20] lpsinger commented on #468
Python 2 is now well past end of life. Can we please revisit this one?

[2021-02-06 18:25] zonca commented on #468
ok @lpsinger, do you want to take care of it? otherwise I will

[2021-02-06 18:26] lpsinger commented on #468
Please go ahead. I would also suggest dropping Python 3.4, which is past end of life and getting difficult to support.

[2021-02-08 16:15] zonca commented on #468
implement in #658

[2021-02-08 16:15] #468 closed

[2021-02-08 17:28] DanielBThomas commented on #655
Sorry to be a pain, but I couldn't see this mentioned elsewhere. Does healpy work with these new machines?

[2021-02-08 17:38] lpsinger commented on #655
That's part of what I'm working on, so yes, they ought to... although even Numpy hasn't yet published arm64 or universal2 wheels yet.

[2021-02-08 19:32] DanielBThomas commented on #655
No problem, massive thanks for getting back to me so quickly.
I am just currently pondering a new laptop (I'm still limping along on a 2010 macbook haha!).
Thanks again

[2021-02-08 19:58] lpsinger commented on #655
According to https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners:

Since macOS 11 is required for building Apple Silicon wheels, native Apple Silicon packages in PyPI will have to wait a bit.

[2021-02-09 02:13] lpsinger opened #663 "Move paper directory to a separate repository"
I suggest moving the paper/ directory to a separate repository, e.g., healpy-paper, since it is not need for development.

[2021-02-09 02:34] zonca commented on #663
it is just 3 tiny files, I would just leave it there

[2021-02-09 02:34] #663 closed

[2021-02-09 02:34] lpsinger commented on #663
Yeah, it just clutters up the repository root, that's all.

[2021-02-09 02:38] lpsinger commented on #635
If you are able to update to macOS 10.15 (Catalina), then pip will be able to find and use the existing binary wheels on PyPI. If not, then the next release of Healpy will have binary wheels should be compatible with macOS versions as old as 10.9.

[2021-02-09 02:38] #635 closed

[2021-02-09 02:40] lpsinger commented on #599
Are you sure you have automake as well? Building from git requires the autotools trifecta: autoconf, automake, and libtool.

[2021-02-09 02:44] lpsinger commented on #628
MacPorts issues should be reported here: https://github.com/macports/macports-ports

I was able to do a MacPorts build from source right now. If you are still having this problem, then please open a MacPorts issue, and I'll help you with it right away. Thanks!

[2021-02-09 02:44] #628 closed

[2021-02-26 09:25] jzdm commented on #655
May I ask if you had any progress on the MacOS binary (for Intel-Macs) yet?

[2021-03-09 08:12] matthieumeo opened #666 "Implementation Error in healpy.sphtfunc.bl2beam"
Hello,

There is an implementation error in the implementation of `healpy.sphtfunc.bl2beam`. The current code is:

[code]

Notice that the for loop ranges over ``np.arange(2, lmax)``. With Numpy's convention, this **excludes** the last coefficient ``bl[lmax]``. The correct piece of code should therefore be:

[code]

Note that the inverse function `healpy.sphtfunc.beam2bl` is however correctly impl

[2021-03-09 18:50] zonca commented on #666
thanks! prepared the fix

[2021-03-10 04:21] #666 closed

[2021-03-16 15:13] Ak-Bonn opened #669 "[help] Direction to Field Value"
I want to calculate the cross correlation `$\chi $`

[2021-03-18 15:14] zonca commented on #669
incomplete question

[2021-03-18 15:14] #669 closed

[2021-03-19 19:26] zonca opened #670 "Migrate from travis to Github actions"
Travis now charges open-source, so we need to migrate to Github actions.
Some specific help is available at https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions

@lpsinger do you have time to take care of this? otherwise I can work on it.

I would like to have this setup before doing next release.

[2021-03-19 19:36] zonca opened #671 "Release healpy 1.15.0"
We are ready for a new release, mostly maintenance fixes, see the changelog:

https://github.com/healpy/healpy/blob/master/CHANGELOG.rst

Most notable is drop for Python 2 support.

Before release I'd like to fix:

* Continuous integration: https://github.com/healpy/healpy/issues/670, hopefully @lpsinger, otherwise me
* `newvisufunc` experimental plotting overhaul: https://github.com/healpy/healpy

[2021-03-19 19:38] zonca commented on #671
About synchronization with HEALPix, @hivon do you have any HEALPix release planned within a month or so?

If not I would keep the C++ sources of HEALPix 3.70, instead if we want to synchronize releases, then I would also want to merge https://github.com/healpy/healpy/pull/640

[2021-03-21 17:08] hivon commented on #671
Hi Andrea, yes I would like to make a bug-correction release within a few weeks and something more ambitious later on.
How much time do you need to wrap up something ?
Cheers
Éric

On March 19, 2021 8:38:52 PM GMT+01:00, Andrea Zonca ***@***.***> wrote:

--
Sent from my phone. Please excuse my brevity.

[2021-03-22 21:38] zonca commented on #671
I would target the week of April 5th,

* once @mreineck confirms that the C++ sources are finalized for the next HEALPix release, I will import them into `healpy` and test #640

[2021-03-23 07:44] mreineck commented on #671
I don't have any planned changes to the C++ sources. So the only differences to the last release from my side are the public interface for LIC and the fix for https://sourceforge.net/p/healpix/bugs/116/.

[2021-03-24 15:32] mpeel opened #672 "Odd results when smoothing polarisation maps"
I've been testing the different ways to smooth polarisation maps, and have come across an inconsistency that I'm not sure what to make of. I've been using 'wmap_band_iqumap_r9_9yr_K_v5.fits' as a test case, adding 1° of smoothing. I have four methods I've been comparing:

METHOD 1: smooth each map independently
maps = hp.read_map('wmap_band_iqumap_r9_9yr_K_v5.fits',field=(0,1,2))
alms = hp.map2alm

[2021-03-24 15:37] mreineck commented on #672
Whenever you convert TQU maps to a_lm with pol=True, you get TEB a_lm (there is no QU in the spherical harmonic domain, as far as I understand). So the documentation is correct, I think.

[2021-03-24 15:43] mreineck commented on #672
Concerning methods 1 and 2: I'm pretty sure you should never do any processing on a Q or U map on its own; it always has to be processed together with the other component. Note that you inadvertently do this even in methods 1 and 2, but only in the `map2alm` direction, since you are not setting `pol` to `False` explicitly.

[2021-03-24 16:01] mpeel commented on #672
Ah, OK, I didn't realise map2alm had pol=True by default, and that it generated TEB a_lm.. Normally I convert each map (I, Q, U) into alms separately to smooth them, which is what I was trying to demonstrate in method 1, but if I code that then I do get different results from the other methods anyway... Sounds like I need to rewrite my code. :(

[2021-03-24 16:14] mreineck commented on #672
Yes, I fear so ... this is an aspect that I didn't grasp either for quite some time: Q/U and E/B are so tightly intertwined that they should always be treated as a single quantity.
(There is one exception: E and B a_lm can be rotated separately in spherical harmonic space without breaking anything.)

[2021-03-25 17:03] zonca opened #673 "Renamed master branch to main"
Github pull requests are automatically updated, for local copies:

[code]

[2021-03-25 17:26] zonca commented on #671
ok, I am setting version 1166 from SVN modified on March 23rd as the version that will be used by `healpy` 1.15.0

[2021-03-26 19:53] zonca commented on #670
@lpsinger would you like to take care of this or should I?

[2021-03-27 02:37] #670 closed

[2021-03-29 03:00] kadrlica opened #675 "healpy enabling warnings"
This is a continuation of discussions about the default verbosity (#619) and the implementation of the `warnings` module to control verbosity (#630).

I've found that [healpy.enable_warnings](https://github.com/healpy/healpy/blob/8b853d89062f0f704231dbc2770ea29028beacbc/healpy/__init__.py#L121) resets other UserWarning filters outside the healpy module. Looking at the code, this isn't surprising:

[2021-03-29 03:13] zonca commented on #675
Sure, would you be able to provide a pull request fixing this?

[2021-03-29 03:18] lpsinger commented on #675
IMHO, Healpy rather overdoes it with warnings. I think in many cases, what are presented as warnings should in fact be log messages presented with the `logging` module, and hidden by default (eg. debug level). I subscribe to the opinion that libraries should be silent by default.

[2021-03-29 03:27] kadrlica commented on #675
I was not going to get into this, but... I completely agree with @lpsinger and @adrn about both the verbosity and (mis)use of `warnings`. I think that the `logging` module is the way to go. Novice users (the undergrads I work with for example) freak out when they get blasted with warnings...

[2021-03-29 03:35] kadrlica commented on #675
Regarding the PR, I'm not an expert on warning control, but would it be enough to just invert the `disable_warnings` call? This implementation seems to work on my simple test case (at least as a monkey patch). However, I'm not sure if it is turning on other warnings that we don't want to turn on. Any idea what tests we'd want to implement?

[code]

[2021-03-30 16:05] mreineck opened #676 "Suggestion for experimenting: improved map analysis"
The code below implements a new approach at map analysis which should be more intuitive to use and also faster in many cases. Instead of specifying iterations, the user rather specifies a tolerance (measured as the L2 norm of the residual a_lm divided by the L2 norm of the result), and the algorithm iterates until this threshold is reached (or an iteration limit is reached, which can also be speci

[2021-03-30 16:08] zonca commented on #676
Thanks, I think it would be useful to look at a version using `scipy`

[2021-03-30 16:23] mreineck commented on #676
Sure, here it is:
[code]

[2021-03-30 16:35] mreineck commented on #676
Sorry, this is still broken, because the `map2alm` calls contain iterations. Will fix asap.

[2021-03-30 17:40] mreineck commented on #676
I don't understand why, but I don't get the `scipy` version to work when I set the number of iterations to 0. I fear I'll need more time to debug this.
Meanwhile the first version should be a good demonstration of the capabilities at least...

[2021-03-30 21:38] mreineck commented on #676
OK, it seems that the minimization problem has to be fed into `scipy` as real-valued, not complex-valued...

[code]

[2021-03-31 10:28] mreineck commented on #676
Here is a version that takes care of the fact that a_lm with m=0 should only have half the weight of the others, This improves convergence at lower `lmax/nside` but makes no real difference otherwise.

[code]

[2021-03-31 11:26] mreineck commented on #676
I think it would be a great project for any mathematically-inclined student to think about a good preconditioner for the minimization above. If there is one, it may indeed become possible to go up to `lmax=3*Nside`, which would be a big step forward for many projects.

[2021-04-01 07:36] MaudeCharmetant opened #677 "Does healpy smoothing works only on RING ordered maps ?"
Dear Healpy team,

I was investigating some RING/NESTED problems recently and I have stumble across something weird about healpy.sphtfunc.smoothing(). It seems to me that the function only works on RING-ordered maps, but I might have misunderstood something. Could you help me get that straight? Here is the small test I did :

I create an empty Healpy map, containing the number of pixels associated

[2021-04-01 08:26] mreineck commented on #677
This looks like an oversight in the docstring for `smoothing`; it should state that the input map(s) must be in RING ordering, since it internally calls `map2alm` which has this requirement.

[2021-04-01 14:58] MaudeCharmetant commented on #677
Thank you so much for the quick reply ! I have been working in a fork of healpy to implement a new "nest=False/True" in the smoothing function so that if the inputs map is in NESTED ordering the smoothing function, reorder it to RING before doing the smoothing and reorder it back to NESTED just before the output.

I have tested it in a Jupyter notebook and it seems to work fine with maps that have

[2021-04-03 20:48] zonca commented on #677
let's switch to https://github.com/healpy/healpy/pull/678 for discussing this

[2021-04-03 20:48] #677 closed

[2021-04-05 13:26] mpeel commented on #672
All recoded and seems to be working OK now. Thanks for your help!

[2021-04-05 13:26] #672 closed

[2021-04-16 00:17] zonca commented on #673
Github shows a warning in the repository page

[2021-04-16 00:17] #673 closed

[2021-04-16 17:15] zonca commented on #675
see #679

[2021-04-16 17:15] #675 closed

[2021-04-16 22:33] zonca commented on #671
@hivon I am getting close to ready, what about releasing next week?

[2021-04-19 13:13] ntessore commented on #564
@mreineck To create a `Healpix_Map2`, is it "only" a matter of creating

    template<typename T, typename I> class T_Healpix_Map: public T_Healpix_Base<I>
    {
        typedef I index_type;

and replacing all interfaces that accept maps with something like

    template class<M>
    void myfunction(M& mymap, typename MapType::index_type myindex)

or are there algorithmic issues where larger int

[2021-04-19 13:53] mreineck commented on #564
A few more changes are necessary, but not many. For example, the tables for in-place swapping between NEST and RING are only defined up to nside=8192. Beyond that, we either should throw an exception or use the out-of-place method of swapping.

[2021-04-19 14:33] ntessore commented on #564
Thanks for the reply. If it turned out we absolutely needed this and I potentially looked into it, would it make sense to get in touch?

[2021-04-20 04:30] Thomas-Venville opened #682 "Change in total sum of output cartesian pixel values with changing xsize."
Good day! My bug is thus: when utilizing the visufunc.cartview function to generate cartesian projections, the total integrated pixel values across the cartesian projection (the sum of all of the pixel values) varies when the specified 'xsize' of the map is varied.

As expected, this behaviour does not occur when the total summed pixel values of the normal pixelization (generated using healpy.ang2

[2021-04-20 15:39] hivon commented on #682
Hi Thomas,

your log-log plot shows that sum = xsize^2.
This is because cartview was only designed for visualisation.
It samples (or interpolate) the input Healpix map at the center of each
output cartesian pixel,
without correcting for the relative area of the output and input pixels.
Said otherwise, if your input Healpix map was a monopole of 1,
the cartesian map would be 1 everywhere for any xs

[2021-04-22 15:11] ianmgull opened #683 "Anafast crashes kernel in jupyter notebook"
I've found that running anafast causes my notebook's kernel to die. This seems to happen regardless of my choice of NSIDE or LMAX.

When running a cell with anafast, there is no python output. Only a  pop-up appears which says:

"The kernel appears to have died. It will restart automatically"

After clicking ok, the notebook seems frozen until I restart the kernel.

[2021-04-22 15:20] zonca commented on #683
what OS? how did you install healpy? what version?
please provide shortest snippet of code that makes it crash

[2021-04-22 15:28] ianmgull commented on #683
I'm running Apple's Big Sur version 11.2.3. I installed healpy using:`pip install healpy` in my terminal.

The following code in an empty Jupyter notebook cell produces the same result for me:

[code]

[2021-04-22 15:32] lpsinger commented on #683
Are you on an Apple Silicon machine?

[2021-04-22 15:35] ianmgull commented on #683
Yes, I'm running one of the newer M1 Processors.

Also, I've found that the short code snippet from my previous comment also causes issues outside of a jupyter notebook. If I save the above code as a .py file, and run it from an ipython terminal, the following message appears.

OMP: Hint This means that multiple copies of the OpenMP runtime have been linked into the program. That is dangerous, sin

[2021-04-22 16:08] lpsinger commented on #683
Well, it's kind of both. We don't have prebuilt wheels for M1 Macs yet, so it's being built locally on your machine.

[2021-05-07 17:10] #639 closed

[2021-05-11 14:04] MinhMPA opened #694 "Cartesian projection when one lattitude range goes over the pole"
Hi, this is more of a question than an issue because I cannot find the info in the docstring.

So I want to create some square patches of the sky by Cartesian projection. The patch is to be centered around a given cluster. Some clusters are located close to one of the poles, hence their patches would "cross" over the poles. Here is my toy example for Coma cluster:

[code]
![example_cartesian_proje

[2021-05-11 17:27] mreineck commented on #694
I'm not really familiar with the `healpy` projection functionality, but you should not have to worry about the wraparound for the center coordinate, as far as I can tell. But I'm not sure if your units are correct. If I read the documentation correctly, you have to set `lonlat` to `True` is you pass degrees to the `CartesianProj` constructor. But the documentation on readthedocs seems a bit incons

[2021-05-11 21:36] zonca commented on #694
this would be a good test for the new visualization module, would you like to test if the branch at https://github.com/healpy/healpy/pull/648 works for this case?

[2021-05-12 07:37] MinhMPA commented on #694
@zonca Sure! Where do I start?

But, so this use case is not currently supported by `CartesianProj`? My impression is that I just don't know how to pass it to healpy properly yet.

[2021-05-12 11:43] MinhMPA commented on #694
Maybe I should also mention that my main purporse is to later convolve each patch with something like a matched filter...

[2021-05-13 14:07] MinhMPA commented on #694
@zonca This is my second, brute-force attempt, which is to rotate the map so that the cluster is located at lon,lat=[0,0] before projecting. But I'm still not sure it's exactly what I want...

def get_square_patch(map,lon,lat,lonlatsize=14.66,npixels=512,coord='G'):
    nside = hp.get_nside(map)
    lonra = np.array([lon-lonlatsize/2., lon+lonlatsize/2.])
    latra = np.array([lat-lonlatsize/2., l

[2021-05-13 14:08] MinhMPA commented on #694
@zonca This is my second, brute-force attempt, which is to rotate the map so that the cluster is located at lon,lat=[0,0] before projecting. But I'm still not sure it's exactly what I want...

[code]

[2021-05-13 14:10] MinhMPA commented on #694
@zonca This is my second, brute-force attempt, which is to rotate the map so that the cluster is located at lon,lat=[0,0] before projecting. But I'm still not sure it's exactly what I want...

[code]

[2021-05-13 14:12] MinhMPA commented on #694
@zonca This is my second, brute-force attempt, which is to rotate the map so that the cluster is located at lon,lat=[0,0] before projecting. But I'm still not sure it's exactly what I want...

[code]

[2021-05-13 17:43] cpvargas commented on #694
I'm guessing you want square patches let's say in ra, dec centered at the clusters. Here I will give you an example to do that on a 143 GHz Planck map, and we will center the map at a bright Active Galactic Nuclei to see it easy by eye

using numpy healpy and matplotlib

[code]

We first rotate the Planck Map which is in Galactic Coordinates to Equatorial Coordinates with the following function

[

[2021-05-13 19:14] MinhMPA commented on #694
@cpvargas Thanks for the answer! I think your last part is similar to what projmap would do, although maybe using a slightly different approach. I still failed to see how it then handle the edge cases automatically.

Say, now you're using `ang2pix()`, then it will be required that the `theta` and `phi` we pass to that function always within the boundaries, `[0,pi]` for `theta` for example.

As I'm

[2021-05-13 20:34] cpvargas commented on #694
@MinhMPA

If you're doing the cut near the edge of declination, let's say near +90deg, you have to subtract 180deg (pi) in the coordinate array where the declinations are higher than +90deg, in the code this is just

`DEC[DEC>90.] = DEC[DEC>90.]-180.`

you have 4 boundary conditions depending on where is your center, ra<0, ra>360, dec>90, dec<-90. I think healpy understand if you give him for exam

[2021-05-14 12:48] MinhMPA commented on #694
@cpvargas Right, I've been thinking if there's one single rotation that can solve my problem (instead of having to rotate every time I encounter an edge case). Your note about Celestial Coordinate could apply for my case. I'll check that, many thanks!

To change from Galactic to Celestial coordinate, I can either rotate the map either in spherical harmonic space or pixel space. I wonder which one

[2021-05-20 12:24] mreineck commented on #676
There don't seem to be any volunteers for the preconditioner ...
Still, I believe that the code in its current form is a strict improvement over the iterative map analysis which is currently available in `healpy`. @zonca, do you think we could/should provide this as some additional option in map2alm,or maybe as a standalone function?

[2021-05-21 01:01] zonca commented on #676
yes, I would suggest an option for `map2alm` and make it also available in `anafast`

[2021-05-21 15:28] zonca commented on #671
@hivon sorry I was distracted by other projects,
getting closer, will let you know when the release is ready, then we will coordinate for the actual release date.

[2021-05-25 16:56] npr247 commented on #655
I appreciate this is being worked on, but I'm on an M1 Mac Book Pro with macOS Big Sur Version 11.2.3 (20D91) and get an error for building the wheel for healpy.
I'm aiming to run LSST code, so this would be a very useful fix/update!
(I can send the full error message complete output, 541 lines!!)

[2021-05-25 18:24] lpsinger commented on #655
That would be helpful. I suggest posting it in a Gist.

[2021-05-26 00:48] zonca commented on #682
It is more appropriate to use https://healpy.readthedocs.io/en/latest/generated/healpy.pixelfunc.get_interp_val.html if you want to reproject a map to a rectangular grid.

Yet another option is to transform to `alm` with `map2alm` and then antitransform with a rectangular pixels package like `pixell`, see https://pixell.readthedocs.io/en/latest/reference.html?highlight=alm2map#pixell.curvedsky.alm

[2021-05-26 00:48] #682 closed

[2021-05-27 00:24] Thomas-Venville commented on #682
Very well, thank-you for your assistance.

[2021-05-27 22:57] #649 closed

[2021-05-27 23:00] zonca commented on #64
see #687

[2021-05-27 23:00] #64 closed

[2021-06-07 18:34] zonca opened #699 "Use astropy fits tables to handle FITS I/O"
This does indeed seem to correctly handle types of specified, non-native endianness. However, this is a very low-level way to go about it. The `astropy.io.fits` module internally has more robust code to map dtypes to FITS TTYPEn cards. I think it would be advisable to rewrite much of this so that it uses higher-level `astropy.io.fits` interfaces and doesn't muck about with dtypes and FITS headers

[2021-06-08 13:06] ntessore opened #700 "passing `None` cls to `synalm`"
It does not actually appear possible to pass `None` cls to `synalm` for no correlations:

[code]

The reason appears to be that `is_seq_of_seq` does not handle the `None` special case:

[code]

[2021-06-08 16:18] npr247 commented on #655
https://gist.github.com/npr247/69b5bc402c2714d74f05b5842b5b7ef5

Thanks, Nic

[2021-06-08 16:20] npr247 commented on #655
Done!!

https://gist.github.com/npr247/69b5bc402c2714d74f05b5842b5b7ef5

and attached below!

Collecting healpy
  Using cached healpy-1.14.0.tar.gz (4.8 MB)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from healpy) (3.3.3)
Requirement already satisfied: numpy>=1.13 in /Library/Frameworks/Python.framework/Versions/3.9/li

[2021-06-10 00:15] nsbruce commented on #655
Hi @lpsinger I'm still not resolving a 3.9 wheel on macOS (intel). Is there an update available?

[2021-06-10 01:15] zonca commented on #671
ok @hivon, `healpy` 1.15.0 is ready to be released. Is it ok if I release it on Monday? Could you release HEALPix within the next couple of weeks?

[2021-06-10 01:21] lpsinger commented on #655
The error message looks like something a little funny is going on with the C/C++ standard library headers. Do you have Xcode installed from the App Store, and up to date?

Nothing new in the GitHub Actions runner VMs, although I did hear something from Apple WWDC about Apple offering its own Xcode-centric CI service. That might be a possibility.

[2021-06-10 08:11] hivon commented on #671
Hi @zonca, I will be busy on other pressing matters until Thursday next week (June 17).
Could you wait until then, so that the healpy and HEALPix releases are as simultaneous as possible ?
On the other hand, can you (and @mreineck for C++) send me the final list of new features as early as you can,
if features are missing in the current CHANGELOG.rst

[2021-06-10 14:57] ntessore opened #701 "document `map2alm_spin` and `alm2map_spin`"
It looks like the pair of functions `map2alm_spin` and `alm2map_spin` have been available since 2014 (#76) but don't show up in the documentation currently.

Their interface is also different from that of `map2alm` and `alm2map`, but that is perhaps a separate issue.

[2021-06-10 15:24] ntessore commented on #701
absolutely, I can open a PR if that's desired

[2021-06-10 15:31] zonca commented on #701
yes please!

[2021-06-10 16:00] zonca commented on #671
sorry, I am leaving on the 15th.
If I release on the 14th, probably in the evening, it will be the 15th already in Europe, so if you can release on the 17th or the 18th that is very good.

CHANGELOG.rst will be final once the outstanding 2 Pull Requests are merged. Will do it today or tomorrow.

[2021-06-10 20:06] amaurea opened #702 "rotate_alm appears to work but does not actually modify array for complex64 inputs"
When run with a complex128 input, rotate_alm modifies the alm in place:

    alm = healpy.map2alm(np.arange(12))
    print(alm[-1])
    # (-0.6446804787782591+1.16180551552166j)
    healpy.rotate_alm(alm, 1,2,3)
    print(alm[-1])
    # (0.6010602030247686+0.13039042773653065j)

If instead the alm is copmlex64, then everything appears to work. No errors are printed, and the function spends the sam

[2021-06-10 20:46] mreineck commented on #702
Yes, that seems very likely. Not absolutely sure what the "best" fix is, but the safest one will probably be to change the interface so that the function always returns a handle to the result array.
Alternatively one could overload the function so that it can directly work on single precision inputs. Unfortunately I have no idea whether this is possibe with a Cython interface.

[2021-06-10 23:55] zonca commented on #702
thanks, this is an ugly bug, I fought a couple of hours against Cython and templates without success, so for now I implemented raising an exception in #704. Will keep this issue open if someone wants to try support complex64.

[2021-06-11 04:05] MinhMPA opened #705 "Rotate a mask together with the map in hp.ma() and separately produce different results"
Hi,

I would like to understand a bit better the behavior of rotate_map_pixel() in this particular case. Below I try to provide a minimal toy example:

[code]

This produces a slightly different `map.mask` and `mask`. By "different", I mean
[code]
and
[code]
or
[code]
all produce different `skycut`. I'd guess this is due to the interpolation procedure?

If I wish to use the mask for selection purp

[2021-06-11 07:18] mreineck commented on #702
I know it's not much of a consolation at the moment, but if `healpy` should ever switch to `pybind11` for the interface to C++, this sort of problem will just go away. (And a_lm rotation will become much faster too!)

[2021-06-11 07:28] mreineck commented on #671
if features are missing in the current CHANGELOG.rst

Not much to report from my side:
- the line-integral convolution interface is now accessible not only from the command line, but also via C++ calls, to allow calling from `healpy`.
- some internals were restructured to allow easier integration with SWIG (https://sf.net/p/healpix/bugs/116/)

[2021-06-11 11:49] ntessore opened #707 "sign convention for alm2map_spin and map2alm_spin"
*[As far as I can tell, this is in fact a HEALPix issue, but I very much don't want to create a SourceForge account.]*

The HEALPix spin [definition](https://healpix.sourceforge.io/html/sub_alm2map_spin.htm) is as follows:

<img width="600" alt="image" src="https://user-images.githubusercontent.com/3993688/121680122-1416e900-cab1-11eb-86b3-6514d31ad5f8.png">

However, the definition of the sign in

[2021-06-11 11:57] mreineck commented on #707
Is this possibly due to the strange "(-1)^H" sign convention mentioned in eqs(11) and (12) of https://arxiv.org/abs/1010.2084?
I don't know why this exists, but I decided to follow prior codes...

[2021-06-11 12:09] ntessore commented on #707
Not very insightful, but my gut feeling here was that the code is correct and the negative sign in (4) and (5) should not be there in general, but has something to do with polarisation being spin -2 rather than 2 in these terms. But I haven’t done the maths.

[2021-06-11 14:53] hivon commented on #707
The -1 sign was present in the original papers of Zaldarriaga and Seljak of 1997 on CMB polarization.
As noted by Lewis 2005, it is consistent with the ouput of CMBFAST and CAMB and insure that the large scale TE correlation is positive. The same convention was extended to all s.

[2021-06-11 15:28] ntessore commented on #707
Yes, surely any sign in front of either (4) or (5) is only an arbitrary convention for the definition of the +/- alms. But do you agree that HEALPix/healpy currently does not follow its own stated convention?

[2021-06-11 16:15] hivon commented on #707
Not following that convention would have been noticed in the case of polarization and TE.
Now, both HEALPix and healpy now rely on libsharp.
Looking at that code it seems that libsharp is so smart that ,when s=0, it stops using that minus sign,
and has alm_plus = alm_0
(instead of alm_plus = -alm_s "usually")
@mreineck, is that correct ?

[2021-06-11 16:42] mreineck commented on #707
Yes, that is certainly the plan. I'm applying the extra minus only for transforms with |s|>0, not for s=0.
While writing libsharp I always tested the results against the already existing implementations.
It's of course possible that I have introduced a sign flip at some point by mistake, but I would be surprised if that had gone entirely unnoticed by the community ...

[2021-06-11 16:44] ntessore commented on #707
Yes, my point is only that HEALPix is not following the convention when s = 0, which is the case explicitly mentioned in the documentation.

[2021-06-11 17:02] mreineck commented on #707
Ahh, I think I understand your point now! Are you talking about calling `alm2map_spin` with a spin of 0? This scenario should actually not be supported, as far as I understand ... how did you do this?

[2021-06-11 17:05] mreineck commented on #707
Sorry, I completely forgot about your initial example ... no, that's not what you mean either. Sorry for the confusion.

[2021-06-11 17:10] mreineck commented on #707
If `healpy` accepts `alm2map_spin` with a spin of 0 (and your example proves that it does), then that is an unintended "feature". We need to either fix the routine for that case, or disable it.

[2021-06-11 17:16] ntessore commented on #707
Unless I’m misremembering things, I have been using the spin 0 transform for years to work with complex spin-0 fields. After all, if spin 0 is not supported, why explicitly mention it in the (Fortran) docs?

And since it does seem to work I would much rather fix the sign convention than disable the feature.

[2021-06-11 17:59] mreineck commented on #707
The one reason not to use `alm2map_spin` with s=0 is that it is more expensive than two standard `alm2map` transforms (working with "normal" spherical harmonics allows many shortcuts compared to spin spherical harmonics.
But you are right, that is something we can also implement under the hood.

I'm not sure how soon I will be able to look into this, but I'll try my best.

And sorry for talking at

[2021-06-11 18:59] zonca commented on #707
so for now should we throw an exception if the user calls `alm2map_spin` with `s=0`?

[2021-06-11 19:03] #701 closed

[2021-06-11 19:04] mreineck commented on #707
Probably the best quick fix would be to flip the sign of the output of both `alm2map_spin` and `map2alm_spin` if they are called with `s=0`.

(according to the docstring in `_sphtools.pyx` only spins 1, 2, and 3 were valid inputs, but I don't think they are user-visible. In principle everything in the range 0<=s<=lmax should work.)

[2021-06-11 19:05] zonca commented on #707
ok, @ntessore could you please make a pull request on that?

[2021-06-11 19:11] ntessore commented on #707
I can do that and I think that this is the cleanest solution.

On the other hand, this behaviour has supposedly been in place for quite a while now, so it is likely there are codes out there that depend on it. While more awkward, changing the definition for s = 0 would solve the problem without invalidating any existing code.

[2021-06-11 19:21] mreineck commented on #707
I really don't expect many people to have used the spin SHTs with `s=0` so far; this is the first time I ever heard of that. My new routines in `ducc0` actually raise an error if this happens, and I haven't had a complaint so far.
Also, as you noticed, the spin routines weren't even officially documented so far (and their internal docstrings said they only accept spins 1-3), so I wouldn't feel bad

[2021-06-11 19:25] ntessore commented on #707
Ok, I can provide a PR with the explicit flip and a note in the changelog.

[2021-06-11 19:25] mreineck commented on #707
Thanks a lot!

[2021-06-11 20:13] ntessore commented on #599
I just ran into this on macOS. It was a missing libtool first, then automake, as you guys said.

[2021-06-12 18:54] ntessore commented on #707
As discussed in #708, the `spin=0` transform is currently not supported by libsharp, which silently ignores the complex component.

[2021-06-12 18:54] #707 closed

[2021-06-12 19:02] mreineck commented on #707
Thanks!
I have added analogous checks to the Fortran and C++ ports. But having them on the Python side is definitely preferable, since this produces cleaner exceptions.

[2021-06-12 21:37] ntessore commented on #707
I would still make the plea to restore the correct spin-0 behaviour eventually. It makes it so much easier to write code for generic spin-weighted spherical functions without having to deal with the special case. If I understood you correctly, two non-spin function calls are anyway more efficient than one spin function call, so perhaps the spin functions could just do that internally.

[2021-06-12 22:01] ntessore commented on #702
The issue still persists if the array is complex128 but not C contiguous, since the `ascontiguousarray` calls [here](https://github.com/healpy/healpy/blob/eb29716a06ddb65f177d0a09608b0430faadf3a3/healpy/src/_sphtools.pyx#L560-L572) will still return a copy in that case.

Instead of expanding the check to raise the exception, why not add something to the effect of `if ai is not alm[0]: alm[0][:] =

[2021-06-13 14:17] mreineck commented on #707
I'll do my best to provide this functionality in the SHT library I'm currently working on. For the classic `libsharp` C interface it's unfortunately not really doable, since the value of `s` determines the number of components the code expects to be working on (1 for s==0, else 2).
I'm also thinking about adding a flag which disables the (to most people rather surprising) CMB sign convention. SHTO

[2021-06-14 12:03] carlosggarcia opened #709 "read_map fails to read a fits file with no NSIDE info in the header"
Hi,

I have found that reading a map that lacks the NSIDE information in the header returns the following error:

[code]
I think the problem is that, after raising the Warning https://github.com/healpy/healpy/blob/eb29716a06ddb65f177d0a09608b0430faadf3a3/healpy/fitsfunc.py#L374-L376

`nside` is not obtained from the length of the array, as it is claimed.

The file I was using can be found here: ht

[2021-06-15 20:14] zonca commented on #709
thanks, can you please provide a fix using `hp.npix2nside`?

[2021-06-15 22:57] zonca commented on #671
ok @hivon  the CHANGELOG should be final, don't want to release just before leaving, will postpone to next week.

[2021-06-16 13:36] carlosggarcia commented on #709
Done. Just for the record, I realized later that the map I was reading is not in healpix format, so the fix rises an error when converting array length to `nside` (as expected).

[2021-06-18 14:21] #709 closed

[2021-06-18 14:29] #700 closed

[2021-06-18 14:38] zonca commented on #705
see on stackoverlow

[2021-06-18 14:38] #705 closed

[2021-06-18 14:39] zonca commented on #671
ok, @hivon, I plan to release either Monday or Tuesday next week, please let me know if you can release HEALPix within a couple of weeks? is it going to be 3.80?

[2021-06-18 15:31] hivon commented on #671
Hi @zonca, next week is fine. Hopefully Healpix 3.80 will come within a week of healpy 1.15.0

[2021-06-22 10:20] zonca commented on #671
Release:
* [ ] Github: https://github.com/healpy/healpy/releases/tag/1.15.0
* [ ] PyPI: https://pypi.org/project/healpy/1.15.0/
* [ ] conda-forge: https://anaconda.org/conda-forge/healpy
* [ ] wheels on PyPI for linux and Mac OS from Github actions

[2021-06-22 10:26] zonca commented on #671
Releasing 1.15.0 now @lpsinger @hivon @mreineck

[2021-06-22 12:00] zonca commented on #655
just released `healpy` 1.15.0 on PyPI with precompiled packages for Mac OS, can someone please test it out? https://pypi.org/project/healpy/1.15.0/

[2021-06-22 12:33] hivon commented on #671
Hi @zonca, will you release
https://github.com/healpy/healpy/releases/download/1.15.0/healpy-1.15.0.tar.gz ?

[2021-06-22 12:49] zonca commented on #671
yes @hivon, I attached it right now: https://github.com/healpy/healpy/releases/download/1.15.0/healpy-1.15.0.tar.gz

it is the same one which is on PyPI, under https://pypi.org/project/healpy/#files

[2021-06-22 15:21] lpsinger commented on #655
Woohoo! Look at all of those automatically built wheels. I'll take care of Debian and MacPorts in a day or two (got some mission stuff to take care of this week).

[2021-06-22 15:25] npr247 commented on #655
OMG. Have just Successfully installed healpy-1.15.0 (and imported!) healpy on my MacBook Pro M1.

~ > pip install --user healpy
Collecting healpy
  Downloading healpy-1.15.0-cp39-cp39-macosx_10_9_x86_64.whl (6.9 MB)
     |████████████████████████████████| 6.9 MB 3.4 MB/s

Very Nice!!
Thank you so much!!!

[2021-06-22 15:32] zonca commented on #655
excellent!
@lpsinger can we close this?

[2021-06-23 00:15] lpsinger commented on #655
Yes! Although the issue remains that we don't have native M1 wheels, hardly any other Python package does either at the moment, so that problem is bigger than us. And in any case, it seems that @npr247 is up and running again, using the x86_64 wheel under emulation.

[2021-06-23 00:15] #655 closed

[2021-06-26 23:48] trygvels opened #713 "Unused parameter "cbar" - Can't hide colorbar in new projview"
Hi!
Looks like the 'cbar' boolean parameter never gets used in the projview function, so there is no way to hide the colorbar currently.

[2021-06-28 20:16] zonca commented on #713
closed in #714

[2021-06-29 17:53] zonca commented on #671
Also HEALPix was released last week: https://healpix.sourceforge.io/downloads.php

[2021-06-29 17:53] #671 closed

[2021-07-08 11:38] 1cosmologist opened #715 "Beaming and debeaming does not conserve signal power spectrum with alm2map"
I am beam convolving a CMB map with a gaussian beam. Then I obtain the power spectrum from this beamed map using anafast and I divide the Cls by the beam**2. This should remove the smoothing due to the beam. However, at high ells the debeamed Cls diverge away from the actual Cls.  Code snippet:
[code]
![Dl_TT_testbasic](https://user-images.githubusercontent.com/11816582/124914698-3d308800-e023-11e

[2021-07-08 12:12] zonca commented on #715
"How to " questions should be on stack overflow

[2021-07-08 12:12] #715 closed

[2021-07-08 12:13] mreineck commented on #715
Yes, this is completely expected. At the point where the purple C_l start wandering off, the beam C_l are already very small, and any error you have in the reconstructed a_lm will be amplified enormously by dividing it by this small number.
Also, the `alm2map->map2alm` pair cannot reconstruct its input perfectly; errors creep in especially at high l, which makes this effect even worse.

[2021-07-08 12:18] 1cosmologist commented on #715
@mreineck Thanks Martin.

[2021-07-20 17:29] ianmgull commented on #683
Is this something that will be addressed in a future update, or is there something I could do on my machine to remedy the issue?

Thanks!

[2021-07-20 17:32] lpsinger commented on #683
What Python runtime are you using?

Is your Python runtime an x86_64 build running under Rosetta 2 emulation, or is it a native arm64 build?

[2021-07-20 17:52] ianmgull commented on #683
I haven't explicitly set up a Rosetta emulation, so I assume it's a native build but I'm not entirely sure how to verify that.

[2021-07-20 17:57] lpsinger commented on #683
No, Rosetta 2 is built in to macOS. It is what allows you to transparently run any x86_64 binary on your M1 Mac. What does this print?

[code]

[2021-07-20 18:00] ianmgull commented on #683
Thanks for the help. The output was:

`macOS-10.16-x86_64-i386-64bit`

[2021-08-22 08:40] mreineck opened #717 "Gradual migration from Healpix C++ to ducc back-end"
I propose to switch from the current Healpix C++ backend to the `ducc0` package (https://pypi.org/project/ducc0), because of the following advantages
- `ducc0`can be directly installed as a binary wheel (Linux, MacOS, Windows), so the `healpy` installation process should become much easier, and perhaps work out of the box on Windows.
- the code base is newer, and some algorithms are more efficient

[2021-08-23 16:22] ianmgull commented on #683
Hi @lpsinger, does the above output give any indication of what I might need to do to remedy the issue?

Thanks

[2021-08-24 09:15] hivon commented on #717
Hi Martin,

is this replacement only for healpy backend, or also for the standalone
Healpix/C++ ?

Cheers,
Eric

On 22/08/2021 10:40, mreineck wrote:

[2021-08-24 09:47] mreineck commented on #717
For the moment I'd propose it only for the healpy backend since the benefits are mostly (but not entirely) due to the simplier interface and easier packaging. For the standalone C++ version I suggest to adopt only the performance-relevant parts, notably the a_lm rotation code.
There  is one thing that will become more difficult in the future: I do not see a practical way to integrate new algorithm

[2021-08-24 18:48] zonca commented on #717
It seems a really good way forward for healpy, now it is a good time because there are no changes since the last release.
I can help a little bit, definitely reviewing pull requests.
Yes, better work in a branch in the healpy repository.

[2021-08-25 08:36] mreineck commented on #717
OK, great! I'll probably do this on the side, so it might take a few months.
Technical question: which (internal) interfaces am I allowed to break? Is everything under `src/` considered an implementation detail or are there users (outside `healpy` itself) accessing this?

Some of the pixel related functions might be a bit of a headache, I notice: `healpy` allows specifying the `nside` parameter as

[2021-09-13 11:45] mreineck commented on #717
Any suggestion how to proceed, @zonca ?

(I'm not in a hurry, I just want to avoid that we are accidentally waiting for each other :-)

[2021-09-13 13:58] Astro-Falcon commented on #290
Does anyone have a file with all the fwhm parameters required for the smoothing function for different Nsides?

[2021-09-14 03:55] zonca commented on #717
no sorry, I have a long backlog of things to work on, I hope to get to this next week

[2021-09-30 21:23] boryanah opened #719 "Visualization of healpix maps in 3D"
Hi!

I am trying to get a nice 3D visualization of Healpix map onto a sphere of varying radius, a little bit like the plots on the healpix website (if possible with some nicer lighting
![Screenshot from 2021-09-30 17-22-13](https://user-images.githubusercontent.com/43143960/135532111-f7218bc3-ebda-4053-ab65-fc7ae97bc448.png)
):

Is there a module for that I can use?

Cheers,
Boryana

[2021-09-30 21:27] zonca commented on #719
see https://gist.github.com/zonca/b3045651cbc90fe699d2e56df490b005

[2021-09-30 21:28] zonca commented on #719
please share your results, it would be interesting to link to docs.

[2021-09-30 21:35] boryanah commented on #719
That's wonderful! I will try to play with rotating the maps and if all
works well, will post here! Thank you:)

On Thu, Sep 30, 2021 at 5:28 PM Andrea Zonca ***@***.***>
wrote:

--
*Boryana Hadzhiyska,*
*PhD Candidate in Astrophysics,*
*Co-chair of grievance committee, HGSU-UAW,*

*Member of APS-IDEA at CfA,*

*Harvard University*

[2021-09-30 22:15] boryanah commented on #719
I just realized that I do have a question about this: It seems like these scripts create a single-color sphere and then draw boundaries b/n the pixels and dots in the middle of the pixels. Is there a way to paint each pixel a different color as opposed to putting a colored dot in its center?

[2021-09-30 22:55] zonca commented on #719
I don't know

[2021-10-18 12:23] alexreevesy opened #721 "Error when trying to use cbar"
Dear all,

I am getting the following error:
in mollview(map, fig, rot, coord, unit, xsize, title, nest, min, max, flip, remove_dip, remove_mono, gal_cut, format, format2, cbar, cmap, badcolor, bgcolor, notext, norm, hold, reuse_axes, margins, sub, nlocs, return_projected_map, alpha)
    288                     boundaries=b,
    289                     values=v,
--> 290                     format=

[2021-10-18 14:04] zonca commented on #721
Please provide a snippet where I can reproduce the error

[2021-10-19 12:30] pkgw opened #722 "Not compatible with cfitsio 4.0.0 (via healpixsubmodule)"
cfitsio 4.0.0 was [released in May](https://heasarc.gsfc.nasa.gov/FTP/software/fitsio/c/docs/changes.txt). It doesn't look like too much has actually changed, but the new version number causes problems for the healpy build:

[code]

*Hopefully* that's the only issue ...

[2021-10-19 12:59] pkgw commented on #722
@mreineck Looks like it might just be a matter of making sure that fix is reflected in the `healpy/healpixmirror` repo here on GitHub, then updating the Git submodule here to bring it in to the version vendored in this repo.

[2021-10-20 04:02] keskitalo opened #723 "HDF5 file format"
I propose supporting HDF5 along with FITS for map storage. We have implemented a thin wrapper around `healpy` read/write_map that uses `h5py` instead when the file suffix suggests HDF5: https://github.com/hpc4cmb/toast/blob/toast3/src/toast/pixels_io.py#L552-L664

The principal reason for supporting HDF5 is efficiency and support for chunked storage: maps can be written and read without any refere

[2021-10-20 12:30] hivon commented on #723
Hi Reijo,

this is nice, but note that some people had a bad experience with HDF5
(https://cyrille.rossant.net/moving-away-hdf5/).

As far as I understand, the wrapper you are proposing is only available
in healpy, not in the other "official" implementations of Healpix
(C, C++, F90, IDL, java, ...).
I guess implementing the same in those languages would take quite some work.

It took quite some ti

[2021-10-20 12:46] mreineck commented on #723
in healpy, not in the other "official" implementations of Healpix
(C, C++, F90, IDL, java, ...).

Correct.

That's one aspect. The other is that it will introduce a very big dependency. Here Python has the advantage that most of `healpy` will work even if HDF5 is not installed, and only fail if the HDF5 IO routines are called. This is impossible to mimic with compiled languages.

HDF5 format quest

[2021-10-20 13:27] mreineck commented on #723
https://docs.astropy.org/en/stable/io/fits/appendix/faq.html#why-is-reading-rows-out-of-a-fits-table-so-slow
I wasn't aware of this page, but this might explain the slow FITS I/O from `healpy`.

[2021-10-20 20:19] mreineck commented on #723
That's really disappointing. And it means that the culprit is not the interleaving of IQU as I had suspected.

[2021-10-22 22:08] bhhsieh opened #724 "Graticule rotation of projview"
Hi, I am using projview and I want to rotate the map together with the graticule just like what mollview does.
But it seems that projview doesn't rotate the graticule automatically.
Are there any way to do it?

[code]
![截圖 2021-10-23 07 05 12](https://user-images.githubusercontent.com/34892184/138528042-707a8b5d-449f-47d5-b542-7a2719f7b5c3.png)

[2021-10-24 12:19] ahallcosmo opened #725 "Biases with band-limited maps close to 3*Nside"
The Healpix anafast documentation (https://healpix.sourceforge.io/html/fac_anafast.htm) states that functions band limited to lmax=3*Nside - 1 can be fully spectrally resolved up to integration errors, because the discretized spherical harmonics form a linearly independent system up to this lmax. This suggests that the biases at large ell from the following code are precisely these integration err

[2021-10-26 07:16] #725 closed, assigned to nobody

[2021-10-27 13:48] cainaoliveira opened #726 "Partial Sky Coverage and Angular Power spectrum"
Hi, I am starting to use Healpy to evaluate the angular power spectrum of simulated cosmic rays. I have done this following the CRPropa3 prescription (https://crpropa.github.io/CRPropa3/pages/example_notebooks/galactic_lensing/lensing_cr.v4.html and https://crpropa.github.io/CRPropa3/pages/example_notebooks/galactic_lensing/lensing_maps.v4.html). But now, I need to considerer a partial sky, follow

[2021-10-29 22:43] #726 closed

[2021-11-04 09:21] hivon commented on #722
Hi @zonca, I need a healpy-1.15.1.tar.gz file (with the correct version numbers at all the right places), that I can integrate into Healpix 3.81.

[2021-11-04 18:26] zonca commented on #722
yes, @hivon, will let you know when it is ready

[2021-11-04 21:35] zonca commented on #724
@F-Tomas would you like to take a look at this issue?

[2021-11-09 06:01] zonca commented on #722
The build on Github actions, which is needed to build the release binary packages on PyPI, is broken.
I can't release without that working, need to first finalize https://github.com/healpy/healpy/pull/728.

[2021-11-09 11:05] F-Tomas commented on #724
Yes, I will look at it.

[2021-11-12 11:20] ntessore commented on #676
@mreineck From the above and #725 it sounds as if this is the best (only?) option to get angular power spectra at 2.5 NSIDE, is that true?

If so, is there anything that can be done to get the adaptive code ready for production use? Is looking at the minimisation still relevant?

[2021-11-12 12:22] mreineck commented on #676
I would say yes. In principle it's of course also possible to use the traditional iterative analysis, but that should be much more expensive.

I would already trust the latest code snippet above for production use. If it has remaining weaknesses, we'll probably only find them in specific real-life situations.

Of course the question remains what will happen if one tries to analyze a map which is i

[2021-11-13 23:48] ntessore commented on #676
Doing some quick real world usage in my project, I'm not getting as good results from this function. I haven't spent too much time analysing what I'm seeing, but I believe it might be due to that we are in fact solving `m2a(map) - op(alm)`. Since `m2a` is not injective, having `alm == m2a(map)` does not necessarily mean we have found the alm of the given map, but perhaps of a slightly different ma

[2021-11-15 11:38] ntessore commented on #676
While that's true for the ideal `map2alm`, I am specifically thinking the nonideal `m2a(x) = map2alm(x, iter=0)` operation is the problem. Because if we have good initial `alm` to compare against, e.g. because `lmax` is not at the limit, there's no need for any of this.

Isn't the point of this approaching the `lmax = 3*nside` limit, though? And tweaking the tolerance doesn't improve matters, see

[2021-11-15 12:50] mreineck commented on #676
We may be talking at cros-purposes here, because I'm not absolutely sure I understand your argumentation ... if so, let me apologize in advance!

My problem is that we have no clear definition of what `map2alm(x, iter=0)` should do; all we have is "this should provide some sort of approximation to the inverse of `map2alm`"; even without iteration, `healpy` provides several different implementation

[2021-11-29 14:58] hivon commented on #722
Hi @zonca, any news on 1.15.1 ?

[2021-12-02 19:15] zonca commented on #722
no, sorry, I haven't had time yet to fix the Github actions system.

[2021-12-10 11:22] mreineck commented on #676
I have started thinking about this once more...

Perhaps a good definition for `map2alm` would be: provide the set of `a_lm` which, when converted to a map with `alm2map` will have (within a user-provided tolerance) the smallest possible quadratic difference over all pixels in question. This is also valid in non-bandlimited cases.

Note that this definition can easily be generalized to partial map

[2021-12-11 20:46] ntessore commented on #676
@mreineck That was also my goal, to have a least squares solution in the sense of `|map - alm2map(alm)|^2`, which is what you do for any family of orthogonal polynomials. My problem was obtaining the transpose linear operator, since building the Vandermonde matrix explicitly isn't feasible. But that would be much nicer than "squaring" the linear operation by transforming back and forth.

[2021-12-11 20:52] mreineck commented on #676
But we have the transpose (or rather adjoint) linear operator to `alm2map` ... it's actually `map2alm` with no weights and no iterations, multiplied by `npix/(4*pi)`.
There are a few technicalities to be observed, since `alm2map` takes a complex-valued input and produces a real-valued output, but these can be workedaround quite easily.

[2021-12-11 20:54] mreineck commented on #676
The advantage of `lsqr/lsmr` over the algorithm above is that it recognizes when it has reached a solution, which is not a perfect inverse, but least squares, and does not iterate forever if the map is not band limited. I'll try to provide a demo code for this.

[2021-12-11 21:15] mreineck commented on #676
Here is a version calling the `scipy` algorithm.
(If you have `ducc0` installed, you can set `use_ducc0=True` for hopefully faster SHTs.)

[code]

[2021-12-11 21:15] ntessore commented on #676
I don't see how this is true, in the sense that I don't understand it, not that I don't believe it. Do you have simple explanation or a reference for this?

[2021-12-11 21:22] mreineck commented on #676
I don't think that a clear reference exists. But I know (from implementing the algorithms several times over the last 15 years or so) that the algorithmic steps in `map2alm` are simply the adjoint steps from `alm2map` in reverse order.

You can test the two operations for adjointness using the method from
http://sepwww.stanford.edu/sep/prof/pvi/conj/paper_html/node9.html

As I said, special care m

[2021-12-11 21:25] mreineck commented on #676
There is a very short mention of adjoint synthesis vs. analysis in section 4.5 of https://arxiv.org/abs/1303.4945.

[2021-12-11 23:59] ntessore commented on #676
That is fantastic, thank you for this information.

FWIW my function using lsmr, which didn't work because I missed the npix/4pi scaling, is essentially the same as yours. Using the correct scaling, it seems to be quite fast and robust!

[2021-12-14 16:04] mreineck commented on #676
Here is a self-contained version of the function, with the kind of interface I'd propose for `healpy`. It does not only return the computed `alm`, but also a measure how well they approximate the input map.
Still missing: The same functionality for nonzero spins.

[code]

[2021-12-20 17:00] astrojhgu opened #729 "Why there is a negative sign on `rot[1]` in `get_rotation_matrix`?"
https://github.com/healpy/healpy/blob/c34d032edaef6e1b755929aa76cf0cc933fcc677/healpy/rotator.py#L875

The help function of `Rotator`, `get_rotation_matrix` calls `eular_matrix_new`, but the sign of `rot[1]` is negative, but `rot[0]` and `rot[2]` are not. Is it on purpose and what is the reason?

Thanks.

[2021-12-21 12:55] remingtonsexton commented on #713
Using healpy version 1.15.0.

cbar boolean still does not seem to disable the colobar in projview.  Have also tried None, "None", "False", to no avail.

[2021-12-21 18:02] FraPardi opened #730 "How to continue?"
Due to the pandemic many of us have project students working from home on Windows machines on projects needing healpy.  I was able to get it installed via the Windows Subsystem for Linux, and available in a jupyter notebook.

In case useful to others I've put instructions below.

1. Restart your computer, and follow the instructions (which appear before windows starts) to enter BIOS.
Usually this

[2021-12-22 18:09] zonca commented on #730
You should be able to run:

    import healpy as hp

And then use healpy normally

[2021-12-22 18:10] zonca commented on #730
For example, running commands that are in the tutorial

[2021-12-23 01:20] FraPardi commented on #730
Ok, and I am bound to use and to run through Jupyter? That is, anytime i need healpy, should i upload to jupyter and use that as a interface with WSL, where everything happens?

[2021-12-23 01:24] zonca commented on #730
no, you can execute scripts with:

    python3 yourscript.py

[2021-12-23 17:05] #730 closed

[2021-12-23 17:07] zonca commented on #729
I think it is due to the "ASTRO" convention, see `mollview` docstring for example:

Does that cause any problem?

[2021-12-25 10:57] astrojhgu commented on #729
Thank you for your apply. Actually its fine. I'm just implementing a new healpix rotating code and when I compare the result with healpy I notice the difference.

[2021-12-29 02:06] zonca commented on #729
ok, so make sure you are getting the convention on the projection equivalent to `healpy`, you can double-check with `astropy` coordinate transforms possibly.

[2021-12-29 02:06] #729 closed

[2022-01-05 08:35] mreineck commented on #676
@zonca, would you like to have this functionality included? If yes, I'll try to provide a PR, probably including support for spin maps and IQU maps. The only interface change would then be that `map` can have the shape `(nmap, npix)` and that an optional `spin` parameter can be passed (default=0).

[2022-01-12 00:41] zonca commented on #676
thanks @mreineck , sure, this would be useful to have in `healpy`
useful also to have a longer docstring that explain more in detail the functionality and has links to learn more.

[2022-01-12 08:37] mreineck commented on #676
Absolutely! I'll try to get to it soon.

[2022-01-12 08:55] mreineck opened #733 "Add convenience function producing Gaussian beam a_lm?"
Maybe I'm not looking in the right places, but I don't think that `healpy` has a function like

`def blm_gauss (fwhm, lmax, pol=False)`

which simply produces a_lm of a circular Gaussian beam. (I know there is one for producing a Gaussian window function, but that's slightly different.)  If this is really missing, would you like me to provide one? I think it could be a useful helper function.

[2022-01-12 16:42] zonca commented on #733
yes, sure, thanks

[2022-01-14 17:19] zonca opened #741 "Release of healpy 1.15.1/1.15.2 and HEALPix 3.81"
Tracking the release of healpy 1.15.1, the main purpose is to support CFITSIO 4.0.0

It was delayed by the Github Action CI system being broken.
@lpsinger fixed it in #740.

I am now going to finalize all the open pull request and then release it.

_Originally posted by @hivon in https://github.com/healpy/healpy/issues/722#issuecomment-960582386_

[2022-01-14 17:35] zonca commented on #741
We also want to update the bundled CFITSIO to 4.0.0 https://github.com/healpy/cfitsio/pull/10

[2022-01-14 17:48] lpsinger commented on #741
We also need to fix the cibuildwheel timeout so that all of the binaries are built and uploaded.

[2022-01-14 23:07] #722 closed

[2022-01-14 23:24] zonca commented on #721
No feedback from the user

[2022-01-14 23:24] #721 closed

[2022-01-19 00:22] lpsinger commented on #741
@zonca, what date do you expect to do the release?

[2022-01-19 00:27] zonca commented on #741
we could release now,
I would wait a couple of days to check if we can also squeeze https://github.com/healpy/healpy/pull/735 in,
so let's schedule release by this Friday.
@hivon can you release HEALPix 3.8.1 in the next 2/3 weeks?

[2022-01-19 15:29] hivon commented on #741
Hi @zonca, yes, I can do that.

[2022-01-20 13:32] ntessore commented on #676
Since they are going to be essentially implemented anyway, it would be nice to finally have a pair of real-valued spherical harmonic transforms. With the sqrt(2) weighting above, all real modes have Cl variance.

[2022-01-20 14:35] ntessore commented on #676
I'm not aware of any existing implementations that would produce such real alms.

I would think that grouping the results by `l` is the more useful scheme, because then you can compute the angular power spectra as `mean(alm1[start:end]*alm2[start:end])`, and sample alms from Cls by concatenation.

On the other hand, changing from grouping by `m` to grouping by `l` means a lot of memory being shuff

[2022-01-20 20:07] zonca commented on #741
https://github.com/healpy/healpy/pull/735 is almost done, I'll release later today or tomorrow

[2022-01-21 04:10] #733 closed

[2022-01-21 04:39] zonca commented on #741
Release:
* [ ] Github: https://github.com/healpy/healpy/releases/tag/1.15.1
* [ ] PyPI: https://pypi.org/project/healpy/1.15.1/
* [ ] conda-forge: https://anaconda.org/conda-forge/healpy
* [ ] wheels on PyPI for linux and Mac OS

[2022-01-21 07:20] zonca commented on #741
@hivon as usual take the tgz from https://pypi.org/project/healpy/1.15.1/

[2022-01-21 11:25] lpsinger commented on #741
@mreineck would you please generate and upload autotools tarballs for healpix-cxx so that I can update the Debian and MacPorts packages?

[2022-01-21 11:55] mreineck commented on #741
Should be uploaded now. Please let me know if anything doesn't work as expected!

[2022-01-21 15:15] zonca commented on #741
Okay. Also the conda packages are on the repository.

[2022-01-24 16:17] zonca commented on #741
@hivon please hold on, @lpsinger found an issue in the C++ library API,
@mreineck already fixed it,
I'm waiting for https://github.com/healpy/healpy/pull/746 to run the tests, then later today I'll release 1.15.2 with that fix.

[2022-01-24 17:11] zonca commented on #741
Release **1.15.2**:

* [x] Github: https://github.com/healpy/healpy/releases/tag/1.15.2
* [ ] PyPI: https://pypi.org/project/healpy/1.15.2/
* [ ] conda-forge: https://anaconda.org/conda-forge/healpy
* [ ] wheels on PyPI for linux and Mac OS

[2022-01-25 03:18] zonca commented on #741
@hivon, you can use https://pypi.org/project/healpy/1.15.2/#files

[2022-01-27 20:47] zonca commented on #741
ok, released also HEALPix 3.8.1 https://healpix.sourceforge.io/downloads.php#SECTION_381_10000000000000000

[2022-01-27 20:47] #741 closed

[2022-01-28 11:20] skoldobskiy opened #747 "norm='log' or 'hist' does not work in hp.projview: NotImplementedError"
Hello!

It looks like the normalization of the colorbar is currently not implemented.
I don't know if I should report that or if you already know about it.

Thanks

[2022-02-01 16:38] RaelynSullivan opened #748 "ud_grade issue"
Using the Planck galactic mask from https://irsa.ipac.caltech.edu/data/Planck/release_2/ancillary-data/previews/HFI_Mask_GalPlane-apo0_2048_R2.00/index.html, with the field=2 (60% galactic mask), when going from NSIDE 2048 to NSIDE 64 the healpy ud_grade returns a map of zeros, but if I go down to 256, and then from 256 down to 64 it works as expected. This doesn't seem to occur for all masks (for

[2022-02-04 01:18] ASainio commented on #25
I would appreciate windows version of this. I can get it working in virtual environment, but I am struggling to use other components on virtual environment. :)

[2022-02-08 22:05] zonca commented on #747
https://github.com/F-Tomas would you like to take a look into this?

[2022-02-08 22:08] F-Tomas commented on #747
Yes, will check it.

[2022-02-23 06:50] Rigel7 commented on #634
Hi, I am encountering the same problem. Can you tell me how did you fix it?

[2022-03-03 12:09] aishrimc opened #749 "hp.mollview giving error when plotting"
I downloaded a healpix map from [LAMBDA](https://lambda.gsfc.nasa.gov/product/foreground/l). The map is being read fine when doing `a = hp.read_map(name_of_map.fits)`, but doing `hp.mollview( wmap_map_I, coord=["G", "E"], title="Histogram equalized Ecliptic", unit="mK",  norm="hist", min=-1, max=1) ` is giving error (full trace back provided in attached text file). I got the same error on followin

[2022-03-03 14:48] zonca commented on #749
Please use stackoverflow.com and provide the full code snippet for help

[2022-03-03 14:48] #749 closed

[2022-03-07 20:48] gshennessy opened #750 "Passing parameters norm and vmin/vmax simultaneously is not supported."
Using healpy 1.14 and matplotlib 3.5 from astroconda a call to healpy.mollview
throws an error message of:

Traceback (most recent call last):
  File "plot_sky.py", line 39, in <module>
    main()
  File "plot_sky.py", line 31, in main
    H.mollview(map)
  File "/home/gregory.hennessy/.conda/envs/astroconda/lib/python3.7/site-packages/healpy/visufunc.py", line 260, in mollview
    norm=norm,
  Fi

[2022-03-07 22:34] zonca commented on #750
thanks, please also show the call. what version of matplotlib?
would you be able to fix this and make a pull request?

[2022-03-08 22:11] gshennessy commented on #750
[code]

the version of matplotlib is 2.5.0

error stack is:

(astropy) [ariel:3 bc3]$ python show_errors.py
Traceback (most recent call last):
  File "/share/gregory.hennessy/bc3/show_errors.py", line 21, in <module>
    main()
  File "/share/gregory.hennessy/bc3/show_errors.py", line 15, in main
    H.mollview(map)
  File "/home/gregory.hennessy/.conda/envs/astropy/lib/python3.9/site-packages/hea

[2022-03-10 19:42] gshennessy commented on #750
I'm willing to do what I can to assist in the process, but I'm not an expert. what sort of things should
be done to figure out which version is the latest that things still work?

[2022-03-11 01:40] zonca commented on #750
I think you should try to use  projview

[2022-03-11 01:40] zonca commented on #750
I think you should try to use  projview

[2022-03-12 02:29] zonca commented on #750
I tried healpy 1.15 with matplotlib 3.5.1 and your example works fine,
please upgrade healpy to 1.15, that might fix the problem

[2022-03-12 02:36] zonca commented on #748
the problem is that the mask you read is `uint8`:

    mask.dtype
    dtype('uint8')

this is a short form of integers that saves memory and disk space but can cause computing issue as the one you found.

You need to cast to something else, for example a normal integer:

    hp.mollview(hp.ud_grade(mask.astype(int), 64))

![image](https://user-images.githubusercontent.com/383090/158000541-17d14644

[2022-03-12 02:36] #748 closed

[2022-03-14 03:57] zonca commented on #676
Follow implementation in https://github.com/healpy/healpy/pull/734

[2022-03-14 03:57] #676 closed

[2022-03-18 17:41] zonca commented on #747
@F-Tomas `log` in particular would be useful to have

[2022-03-21 20:16] zonca commented on #747
implemented in #751

[2022-03-21 20:16] #747 closed

[2022-03-21 20:38] F-Tomas commented on #724
I believe that this issue can be also closed.

[2022-03-21 21:03] zonca commented on #724
Closed in #751

[2022-03-21 21:03] #724 closed

[2022-03-30 03:38] mty1203 opened #753 "have trouble using CartesianProj.ang2xy()"
I tried to use hp.projector.CartesianProj.ang2xy(0.54,0.54) to get xy on the Cartesian plane, but returns  'float' object has no attribute 'vec2xy' ?

[2022-03-30 15:34] nsecrest opened #754 "CFITSIO mismatch"
Upgraded to 1.15.2, now importing healpy gives this warning:

WARNING: version mismatch between CFITSIO header (v4.000999999999999) and linked library (v4.01).

Looks like a string got turned into a float somewhere.

[2022-03-30 21:39] zonca commented on #753
try using `ang2vec`

[2022-03-31 01:14] mpetroff opened #756 "Margins applied twice with subplots for `cartview` and `gnomview`"
While working on #755, I noticed that the margins appear to be applied twice with subplots for `cartview` and `gnomview`.

When `sub != None` for `cartview` and this `else` statement is run
https://github.com/healpy/healpy/blob/215c747b4bf94631dce0f44a9f04d1d778581382/healpy/visufunc.py#L773-L795
the margins are applied to `extent` in the `else` statement but then immediately applied a second time

[2022-03-31 03:55] zonca commented on #754
this is an issue in HEALPix, see:

https://sourceforge.net/p/healpix/bugs/122

once fixed upstream, we will get the fix in the next version of `healpy`, I'll keep this open for tracking purposes.

[2022-03-31 04:07] zonca commented on #756
thanks @mpetroff, it seems like a bug to me as well, have you tested the code just to make sure that it really doubles the margin?

About fixing this, it seems the easiest would be to remove the application of margins inside the `else`, right? so this applies only to scripts using `subplots`

[2022-03-31 06:41] mreineck commented on #754
The rounding issue seen in the error message may not yet be fixed. I'll try to repair this, but cfitsio's way of describing its version is really quite problematic...

[2022-04-01 00:19] mpetroff commented on #756
I hadn't tested it before, but now I did. The margins are definitely applied twice. With `hp.cartview(np.random.rand(hp.nside2npix(8)), sub=(1, 1, 1), margins=(0.24, 0.24, 0.24, 0.24))`, there's a extremely tiny map in the center of the plot. If `margins` is changed to `(0.25, 0.25, 0.25, 0.25)`, there's no map, and there are runtime warnings, probably due to division by zero.

The issues with mar

[2022-04-03 04:44] mpetroff commented on #756
Fixed in #757.

[2022-04-03 04:44] #756 closed

[2022-04-07 16:07] JoeGardner000 opened #758 "Several vulnerabilities in the shared libraries which healpy depends on. Could you help upgrade to patch versions?"
Hi, @zonca , @crosset , I'd like to report a vulnerability issue in **healpy_1.15.2**.
### Dependency Graph between Python and Shared Libraries
![image](https://user-images.githubusercontent.com/103017573/162247972-385f05ab-1277-4517-ac75-8785e1ebde10.png)
### Issue Description
As shown in the above dependency graph (Here shows part of the dependency graph, which depends on vulnerable shared libra

[2022-04-07 17:25] lpsinger commented on #758
We are inheriting the vulnerable versions of these libraries from manylinux2014_x86_64. Perhaps it is time to switch to the newer manylinux_2_24?

[2022-04-07 17:53] mreineck commented on #758
I just tried to make this switch for another package and failed miserably. Apparently manylinux_2_24 ships with gcc 6.4, which is a showstopper in many cases.

I wonder how `manylinux2014` can ship with vulnerable libraries? In any case I think the issue should be reported there; I don't see any options to address this within `healpy`, except releasing source-only.

[2022-04-07 17:57] mreineck commented on #758
Of course it might be an option to remind the `cfitsio` folks that pulling in `libcurl` by default perhaps wasn't the best idea ever...

[2022-04-07 18:02] mreineck commented on #758
Cf https://github.com/pypa/manylinux/issues/1302

[2022-04-14 20:24] pagano-michael opened #759 "Smoothing doesn't preserve power/energy"
Hi Healpy team,

I am convolving a Gaussian beam with a radio map of the sky ( [this radio sky map](https://lambda.gsfc.nasa.gov/product/foreground/fg_2014_haslam_408_info.html) but any other map can be used instead)  using the healpy sphtfunc.smoothing function. The process of convolving a map shouldn't change the overall power. However when I compute the total energy/power of the map before and

[2022-04-15 09:14] hivon commented on #759
Hi Michael,
the [Parseval's theorem](https://en.wikipedia.org/wiki/Plancherel_theorem) only states that the power of a signal is the same whether you compute it in real space or Fourier space.
Precisely because a "smoothing" is a convolution in real space, therefore a multiplication in Fourier space, it will alter the
power of the resulting signal.
The whole purpose of smoothing is to down-weigh o

[2022-04-15 16:33] pagano-michael commented on #759
That makes sense, thank you!

[2022-04-18 07:42] #759 closed

[2022-04-21 21:48] zonca commented on #754
the issue has been fixed in HEALPix, @hivon do you have plans for a HEALpix release with this fix applied?

[2022-04-26 10:13] mfouesneau commented on #713
This is not fixed in 1.15.

[2022-04-26 10:15] mfouesneau opened #760 "Projview AttributeError: 'MollweideAxesSubplot' object has no attribute 'proj'"
How do you annotate those projections? the `proj` attribute is part of the older views but is not defined in `projview`

[2022-05-02 16:06] zonca commented on #713
can anyone contribute a fix?

[2022-05-02 17:43] mfouesneau commented on #713
Done. You can find a fix in #761

[2022-05-23 11:42] albertLuth opened #762 "warning for every plot"
Every time a plot is generated, a warning with the message ` 0.0 180.0 -180.0 180.0` appears. It turns out the warning comes from:

https://github.com/healpy/healpy/blob/2c314ca37e034f44592a6d036981d678cca4defe/healpy/projaxes.py#L550-L552

I wonder if it is really a warning or maybe a `log.info` would be enough.

I could change the logging level, but I am afraid it ignores some other more relevan

[2022-05-24 21:18] boryanah commented on #564
Hi! Are there any updates on this issue -- I am also looking to create a high-resolution map with nside of 16384 and apply smoothing to it. If there is perhaps a beta version of this, I would be happy to be a guinea pig.

[2022-06-08 13:23] carlosggarcia opened #765 "alpha ignored if the array is binary (e.g. 0 and 0.8)"
When trying to plot a map with transparency. If `alpha` is just a binary array (e.g. filled with 0's and some other constant value), healpy ignores the chosen value. This happens because the array is normalized here https://github.com/healpy/healpy/blob/0f46774cf626b3fe0385bcc0f946d95354be4cc2/healpy/projaxes.py#L189

It would be great if the normalization could be avoided in certain cases or if h

[2022-06-08 14:19] zonca commented on #765
Can you please provide an example which is directly executable?

[2022-06-08 21:01] zonca commented on #765
very good thanks, it would be great if you can provide a pull request to fix the issue.

[2022-06-08 21:45] potassium-chloride opened #766 "Loss pixels at big nside with default xsize"
Hello,

I found some non-intuitive behavior for nside bigger than 256. When I call `healpy.mollview` with nside>=256, sum of points on my plot not equals sum of map.
A small investigation showed me that npix for nside>=256 is more than default 800*400 size of picture and it raises problems at `projmap` methot in projector.py (or earlier in `ij2xy` maybe?).
You can see this effect by [my POC script

[2022-06-08 23:10] #765 closed

[2022-06-13 19:44] pmberg opened #768 "healpy.mollview() will error even with no arguments passed"
When I run healpy.mollview() with no arguments passed, I would expect it to use the default values and create a blank mollview. However, instead it returns:

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/submit/pmberg/miniconda3/envs/py3/lib/python3.7/site-packages/healpy/visufunc.py", line 260, in mollview
    norm=norm,
  File "/home/submit/pmberg/minico

[2022-07-11 20:14] erykoff opened #769 "query_polygon docstring note is misleading on efficiency of RING vs NEST"
The `query_polygon` docstring note says "This method is more efficient in the RING scheme." (similar to `query_disc`).  However, this is only true for very simple polygons when `inclusive=False`.  I wrote the following script (using python=3.10, healpy=1.15.2, and numpy=1.23.1):
[code]

This prints out (on my linux workstation; similar ratios running on macos).  All times are query time in seconds

[2022-07-12 23:48] parejkoj opened #770 "New healpy release to remove cfitsio warnings (1.16.1)"
What are the plans for a new release of healpy/healpix, now that #764 has fixed the cfitsio warning bug (thank you!)? Could those of us in the community help with a new release candidate, to move this forward?

[2022-07-13 05:09] zonca commented on #770
Yes, please,
Can you check that all pull requests have been mentioned in the Changelog?

[2022-07-13 05:17] zonca commented on #770
@hivon we will release a new version of healpy in the next week or so. I have updated the C++ sources to fix the warning about versioning of cfitsio. This modification is minor so I don't think we need to do a joint release.
What do you think?

[2022-07-13 10:19] mreineck commented on #769
I think that the comment dates back to the time where all `query_` routines were processed in RING ordering internally and the result was converted to NEST at the end if requested. Direct support for queries on a NEST grid was added only later,and now it really depends on a lot of parameters which query will be faster.
I'm currently travelling, but I'll try to have a closer look next week!

[2022-07-13 20:28] parejkoj commented on #770
@zonca : see #771 for a changelog update.

[2022-07-15 00:16] zonca commented on #770
updating C++ sources to the latest version of HEALPix C++ https://github.com/healpy/healpy/pull/772

[2022-07-15 00:22] zonca commented on #770
Release:
* [ ] Github: https://github.com/healpy/healpy/releases/
* [ ] PyPI: https://pypi.org/project/healpy/
* [ ] conda-forge: https://anaconda.org/conda-forge/healpy
* [ ] wheels on PyPI for linux and Mac OS

@lpsinger @hivon @mreineck I think that we should tag the new release `1.16.0` to signal that we changed the underlying C++ sources, even if changes are minor. Anyone disagrees?

[2022-07-17 21:19] zonca commented on #770
released 1.16.0 on Github, waiting for PyPI and Conda builds

[2022-07-18 12:35] lpsinger commented on #770
I'll need the release of healpix-cxx before I can update:

1. [ ] MacPorts
2. [ ] Debian

[2022-07-18 19:06] erykoff opened #773 "Calling max_pixrad with non-power-of-2 nside crashes python"
Running the following two lines:
[code]
Crashes with:
[code]
I _think_ this is an erroneous check, and that `max_pixrad` should work for any (positive) nside.  Certainly, it should not crash with an uncaught exception.

[2022-07-18 20:32] mreineck commented on #773
That looks like an oversight in https://github.com/healpy/healpy/blob/fa03219ed309bb99a0dd1e3e0834d074a7f7915e/healpy/src/_healpy_pixel_lib.cc#L381
I think if RING is used there instead of NEST, everything should work fine; `max_pixrad` itself is agnostic to the ordering scheme, but for some nside values, a `Healpix_Base` object can only be constructed in RING scheme..

[2022-07-19 15:25] jyothischandran1597 opened #774 "Why is default iterations 3 in healpy?"
I was just wondering why healpy has a default value of 3 iterations while doing spherical harmonic transforms while Healpix has a default of 0. I have noticed that using a higher number of iterations will amplify noisy data towards the higher multiples.

Also, it is mentioned in Healpix documentation (anafast, f90) that " iter_order>0 can not be used together with won=2." This means when pixel wei

[2022-07-19 17:06] lpsinger commented on #770
Yes, please.

[2022-07-20 06:38] mreineck commented on #770
Please try the attached tarball; I hope I thought of everything this time!
[healpix_cxx-3.82.0.tar.gz](https://github.com/healpy/healpy/files/9147109/healpix_cxx-3.82.0.tar.gz)

[2022-07-20 13:19] mreineck commented on #774
If you know how accurately you need your result `alm` to be, I'd recommend trying the new `map2alm_lsq` method.

[2022-07-20 13:23] mreineck commented on #774
... oops, I just realized that this is not officially released yet. But it probably will be soon! :-)

[2022-07-20 13:25] hivon commented on #774
It also depends whether the input map is band-limited < lmax, which may not the case for experimental noisy data, or if a sharp masking is applied

[2022-07-21 17:04] jyothischandran1597 commented on #774
@zonca What you said is right. Running 3 iterations gave me almost the same result as 0 iterations. But I tried running a higher number of iterations hoping to get better accuracy, which made my extracted CMB map from full-sky data noisier. I will try to make a reproducible simpler version and follow up. Thank you for the pointer that using pixel weights automatically sets iterations to 0.

@mrein

[2022-07-22 08:13] mreineck commented on #774
This is probably the crucial point. If the input is not properly band-limited, it's meaningless to discuss the "accuracy" of the `map2alm` result, because this implies that a "correct" result exists. For non-bandlimited inputs, this simply doesn't exist.
I know how unsatisfactory that is, especially since Cartesian grids don't have this problem, but for grids on the sphere it's unfortunately unfix

[2022-07-22 16:32] hivon opened #775 "cfitsio 4.1.0 as default"
Hi,
Healpix-f90, and any other Fortran code, requires cfitsio 4.1.0  or higher to work properly on Apple ARM chips. Currently healpy is shipped with 4.0.0. Could you switch to 4.1.0 to be consistent ?

[2022-07-22 22:44] zonca commented on #775
ok, see https://github.com/healpy/healpy/pull/776

[2022-07-22 23:29] zonca commented on #770
Releasing 1.16.1 which also includes CFITSIO 4.1.0, see #775

Release:
* [x] Github: https://github.com/healpy/healpy/releases/
* [x] PyPI: https://pypi.org/project/healpy/
* [x] conda-forge: https://anaconda.org/conda-forge/healpy
* [x] wheels on PyPI for linux and Mac OS

[2022-07-23 15:54] jyothischandran1597 commented on #774
@mreineck Thank you once again for the information! So, can keep using the pixel weights even though my lmax/nside ratio is 2? Or ring weights with 3 iterations will be better? I will try to compare the cases by myself too.

[2022-07-25 07:39] mreineck commented on #774
@jyothischandran1597, sorry for the late reply ... I'm travelling at the moment.

No, that will give you really wrong a_lm for `l > 1.5*nside` and slightly wrong a_lm for `nside < l < 1.5*nside`.

Yes, that should give you better results overall. It's slower, but with the band limits you are using the run time should be fairly acceptable.

[2022-07-25 15:26] jyothischandran1597 commented on #774
@mreineck Thanks a lot for the advice! It was really helpful.

[2022-07-25 15:26] #774 closed

[2022-08-09 10:08] zonca commented on #770
@lpsinger any news on Macports and Debian?

[2022-08-09 10:08] zonca commented on #775
healpy 1.16.1 ships with cfitsio 4.1.0

[2022-08-09 10:08] #775 closed

[2022-08-09 13:14] lpsinger commented on #770
I'll try to do MacPorts this week. I'll have to Debian next week because I need to renew my gpg key.

[2022-08-09 20:26] hongwanliu commented on #768
I am encountering exactly the same error as well.

[2022-08-09 21:11] zonca commented on #768
It seems a corner case to me, so I don't feel investing time fixing it.
But I would gladly review a pull request.

[2022-08-12 22:52] lpsinger commented on #770
@mreineck, would you please generate the autotools tarballs?

[2022-08-13 07:33] mreineck commented on #770
If you were happy with the test tarball above, I'll simply release that one!

[2022-08-15 14:56] lpsinger commented on #770
It looks good to me.

[2022-08-29 21:21] zonca commented on #773
fixed in https://github.com/healpy/healpy/pull/777

[2022-08-29 21:21] #773 closed

[2022-08-31 08:09] mreineck opened #778 "Instructions for installing an optimized version?"
I realized that our current installation instructions will always produce binaries that are not optimized for a given target platform.
While that is perfectly fine in very many scenarios, it sacrifices a lot of performance in some critical situations, e.g. when `healpy` is installed on a supercomputer. There the standard binaries will have, e.g., SHTs that perform seriously worse than they could (

[2022-08-31 14:20] zonca commented on #778
Yes, sure!

[2022-09-01 08:01] YaoQianli opened #780 "numpy update error"
After updating `numpy` to 1.23.2, an error occured when `import healpy` as numpy removed asscalar() function
I found online that "You should replace the function np.asscalar (a) with the suggested a.item () function to prevent your code from not working in the future. Please note that a represents your numpy array. In this case, replacing np.asscalar (your_numpy_array) with your_numpy_array.item (

[2022-09-01 09:48] mreineck commented on #778
Does #779 look OK? I'm not absolutely sure about the paragraph at the top, but I think that too few people are aware of the performance issues of installing binary wheels.

[2022-09-02 06:51] mreineck commented on #778
Is there an analogous process for conda? It would be great to have instructions for that as well, if it exists.

[2022-09-02 19:33] zonca commented on #778
the recipe for building the conda package is in the feedstock repository:

https://github.com/conda-forge/healpy-feedstock/blob/main/recipe/build.sh

[2022-09-05 11:30] Sebastian-Belkner opened #781 "Add convenience functions, map2cl and cl2map"
Hi,

is there any chance we can have these, similar to the conventions of the other transformers,

- `map2alm`, `alm2map`, `alm2cl`, `cl2alm`?

Would appreciate it, could just be a copy of `anafast `and `synfast ` and have both?

^Seb

[2022-09-05 11:43] mreineck commented on #781
I think `cl2map` could be fine, but I have some reservations against `map2cl`, since `map2alm` itself is not very well defined already. In some contexts, it is used as "an approximate inverse of `alm2map`", and in others it means "the adjoint operation of `alm2map`, scaled by some factor" (which is unfortunately not the same). Personally I'd prefer to see `map2alm` deprecated and replaced by `adjo

[2022-09-06 07:23] mreineck commented on #778
If I understand things correctly, this recipe is executed on Conda's build servers when the binary packages are compiled. After some research it doesn't seem like `conda install` can be used to download a source package and compile it locally.
Please let me know if I'm wrong!

[2022-09-06 16:25] zonca commented on #778
yes correct, so let's consider this closed.

[2022-09-06 16:25] #778 closed

[2022-09-07 03:52] zonca commented on #780
would you be able to submit a pull request fixing this?

[2022-09-07 04:16] zonca commented on #770
@lpsinger are Macports and Debian packages done yet?

[2022-09-07 10:26] lpsinger commented on #770
No. I think I'm still waiting for @mreineck to upload the healpix-cxx tarballs.

[2022-09-07 10:29] mreineck commented on #770
Sorry if I was not clear, but they have been released since a few weeks (https://sourceforge.net/projects/healpix/files/Healpix_3.82/healpix_cxx-3.82.0.tar.gz/download).

[2022-09-07 12:18] lpsinger commented on #770
I see. I'll work on the MacPorts package right away. Debian will take me about 2 weeks since I don't have my Debian key with me while I am traveling.

[2022-09-19 18:28] zonca commented on #780
I don't see `asscalar` used anywhere in `healpy`.

[2022-09-19 18:28] #780 closed

[2022-09-21 14:37] mreineck commented on #717
New update: `ducc` now has new code to run SHTs on multiple maps/a_lm simultaneously, which can save time at low resolutions. Also, least-square map analysis is now supported directly in C++.

I wonder if we should aim for a gradual transition from Healpix C++ to `ducc` ... this would mean additional dependencies during the transition period, but on the other hand all changes would get immediate r

[2022-09-21 18:18] adrianlucy opened #788 "FITS file format for healpix spectral "cubes""
Hi!

I work for the MAST archive at STScI, and we're ingesting contributed small-satellite mission products with an unusual data structure: a HEALPixel map in which we have an ultraviolet spectrum for spatial pixel. For example, for one of the Nside=64 maps with 49152 healpixels, we have an array of dimensions:

(X, Y, Z) = (5, 340, 49152)

where
X is the set of physical properties being mapped (i

[2022-09-21 19:38] zonca commented on #788
An example notebook would be great thanks
Also cc @hivon @mreineck

[2022-09-21 20:22] adrianlucy commented on #788
Sure! You can retrieve a very abbreviated version of the notebook and the data used in that abbreviated notebook at these links:
https://drive.google.com/file/d/1TwOuGs4qLI4HXY9BE830F09N-gaApt1n/view?usp=sharing
https://drive.google.com/file/d/1YqQsbVuULO5lV_6qWt7DUceMIhWpfr86/view?usp=sharing

ldata.l_inten in this notebook would be one of the fields (columns of the bintable) in the FITS model I

[2022-09-22 03:34] zonca commented on #788
it would be useful to have the notebook write to disk a file in the format you propose using `astropy`.

[2022-09-22 05:50] zonca commented on #788
using `astropy.io.fits` it is possible to save each field in a different HDU. If they are often read separately it could be a good option.
Then they are quite easy to handle with `hp.read_map`.

See my implementation in:

https://gist.github.com/zonca/3176e657a732241c68541bf93dfc84f1

[2022-09-22 08:14] mreineck opened #789 "Maximum useful lmax for map analysis"
When analyzing a map, I think the most important scientific aspect is to recover the a_lm (and consequently the C_l) of the field on the map as faithfully as possible. To see how well this works, I have set up the following test:

- read in Planck CMB C_l from a file (just to have a realistic starting point)
- create an a_lm realization (with high band limit) from these
- choose a fixed Nside
- fo

[2022-09-22 09:27] hivon commented on #789
Hi Martin,
thank you for this detailed study.
A few cosmetic comments:
- I would add a curve showing the number of iterations required (in units of a straight map2alm) at each lmax, to show that a lmax/Nside=2.8 is out of reach (and it may explain the jumps in error we see for instance between 2 and 2.1),
- I would also add an horizontal line at the 1.e-6 requirement, showing that we break it at ~

[2022-09-22 09:44] mreineck commented on #789
Thanks, Eric!

I will try to implement the cosmetic additions soon.
The behaviour below `lmax/nside=2` is unspectacular, basically the number of iterations will be 1 or 2, and the errors are nicely under control. I'll see how the plot looks it I increase the x range to those regions.

`map2alm_lsq` should return the least-squares solution if it determines that the input map cannot be accurately de

[2022-09-22 11:44] mreineck commented on #789
Here is an updated version of the image:
![Figure_1](https://user-images.githubusercontent.com/898507/191737895-ebf5de18-fccc-489e-aa63-9d62196680bc.png)

[2022-09-22 13:40] adrianlucy commented on #788
Thank you! Your solution is appealing for this use case, but I was thinking it would be a bad precedent to set, because the maximum number of TFIELDS in a FITS bintable is 999. So any spectral cube with more than 999 wavelength bins would have to be formatted differently, creating multiple standards. (It also creates a messy header to have a TFIELD for each wavelength bin, although that may not be

[2022-09-22 13:55] hivon commented on #789
Great ! Maybe a "Relative error" on the left y-axis ? and the lmax/Nside on the x-axis.

[2022-09-22 16:36] lpsinger commented on #717
Would you be willing to dual-license ducc under BSD? That way we could join forces with astropy-healpix.

[2022-09-22 20:14] adrianlucy commented on #788
Sorry for the delay. Here's a schematic demo of making a fits file in my model (although I haven't inserted various header cards incl. the cards that give the wavelength solution):
https://drive.google.com/file/d/1d-ZqRFEVHOT4k6B04ZkJIIGTJQppGD2B/view?usp=sharing

As expected, healpy doesn't like the fields where each bintable cell is a 1D array (although it's happy with fields like exposure where

[2022-09-23 05:26] zonca commented on #789
thanks @mreineck, very interesting, it would be interesting to compare this to the effect of pixel weights, maybe doing a separate plot?

[2022-09-23 07:05] mreineck commented on #789
I don't know how to integrate weights into the iterative scheme. Basically I have a solver that gives me an approximation of `x` in `Ax=b`; if I pass a manipulated `b`, I will get an incorrect `x`. As far as I can see, LSQR/LSMR do not take an optional preconditioner.
Also, given past experience, pixel weights stop being useful as soon as `lmax/nside>1.5`, which is the case in the "interesting" pa

[2022-09-23 07:25] mreineck commented on #789
Updated version:

[code]
![Figure_1](https://user-images.githubusercontent.com/898507/191910643-7ca69410-d684-429e-8fb6-7970563908ac.png)

[2022-09-23 08:41] mreineck commented on #789
If you have any suggestion how to assess the quality of the analysis for non-bandlimited maps (e.g. created from a band limited map + some Gaussian white noise), please let me know. I'd be happy to write the code and do the calculations, I just don't know a good approach.

[2022-09-23 12:16] mreineck commented on #717
Sorry, the reasoning behind the licensing has not changed. The FFT part is available under 3-clause BSD, but the rest will stay GPLv2+ only.

[2022-09-23 18:23] zonca commented on #789
I think it would be useful to compare pixel weights even without iteration, just to check how quick it gets bad over 1.5 Nside compared to the iterative solution.

[2022-09-23 18:35] mreineck commented on #789
It gets really bad very quickly ... and it doesn't start too well either :-/
![Figure_1](https://user-images.githubusercontent.com/898507/192034537-7f577056-9371-41c5-a983-354f34e23d05.png)

[2022-09-23 18:49] mreineck commented on #789
Exact compared to a pre-set tolerance. To get it down to 1e-5, I need to iteratively solve an analysis of a uniform map with lmax=3*nside to an accuracy of 1e-10 for the pixel weights. That is already quite expensive.

Here is the result without weights and 3 (classic) iterations. It reaches comparable levels of accuracy (for lmax<1.5*nside), but takes seven times as long.
![Figure_1](https://user

[2022-09-23 18:51] mreineck commented on #789
The plot above doesn't change noticeably when ring weights are switched on.

[2022-09-23 18:54] mreineck commented on #789
Sorry, please ignore my last few comments .. I had some experimental stuff in my script ... will strike out the wrong information as soon as I know more!

[2022-09-23 19:04] mreineck commented on #789
OK, this should be the correct plots for traditional healpy analysis:
![noweights_iter0](https://user-images.githubusercontent.com/898507/192039120-cf57a908-3096-4882-b854-f900cfdde03e.png)
![noweights_iter3](https://user-images.githubusercontent.com/898507/192039126-120f6b94-2eba-464c-8347-90f181fe1830.png)
![ringweights_iter0](https://user-images.githubusercontent.com/898507/192039137-2f8509b1-a

[2022-09-26 17:33] adrianlucy commented on #788
PS, I've put my notebook on gist for convenience:
https://gist.github.com/adrianlucy/45dee8d9e064ac6649b632b87f36c836

Any further feedback on the bintable structure can definitely be incorporated if we receive it before Friday 9/30 (though we'll attempt to incorporate later feedback on a best-effort basis). At the moment I'm leaning towards my model because of the TFIELDS 999 limit.

(PS, I also

[2022-09-26 19:24] zonca commented on #788
thanks @adrianlucy, the format looks good to me,
@hivon @mreineck basically having bintables where each element is an array of hundreds of spectral bin values.
It can be read with `astropy` Table and then sliced to be plotted/manipulated with `healpy` functions.

About NaNs, I recommend option 1, when I code, I also often prefer to use NaN for missing pixels because it is handled transparently by

[2022-09-26 20:46] ianmgull commented on #683
Does anyone know if the newest update addresses issues with M1 processors?

Thanks!

[2022-09-27 16:12] adrianlucy commented on #788
Thank you! I'm glad we were able to run all this by you—we really appreciate your quick responses and the work that went into them.

I can leave this issue open on git for a while in case the others have feedback / in case further questions arise as I'm finalizing the data release. Ultimately, would you like me to close this issue? Or should we leave it open to the possibility of further standardi

[2022-09-28 16:35] adrianlucy commented on #788
Just noting this here for posterity, no response needed: looks like astropy `Table` masks NaNs when it reads the data in, replacing them with the numpy fill value, and to bring back the NaNs one can either do:
[code]
or
[code]
The first option might be more stable (in addition to being more elegant and preserving the units from the TUNIT header cards), I'm not totally sure whether that's intended

[2022-10-03 20:17] Grogroda commented on #768
I'm getting almost the same error message when I use mollview with the simple example in the [tutorial](https://healpy.readthedocs.io/en/latest/tutorial.html), though I use anaconda and not miniconda. Full explanation [here](https://stackoverflow.com/questions/73887503/healpy-mollview-valueerror-for-colormap?noredirect=1#comment130484545_73887503).

[2022-10-26 23:57] #770 closed

[2022-10-26 23:58] zonca opened #794 "New healpy release to build wheels for Python 3.11"
`1.16.2`, nothing new except building wheels for Python 3.11

Release:
* [x] Github: https://github.com/healpy/healpy/releases/
* [x] PyPI: https://pypi.org/project/healpy
* [x] conda-forge: https://anaconda.org/conda-forge/healpy
* [x] wheels on PyPI for linux and Mac OS

@zonca @lpsinger @hivon @mreineck

[2022-10-27 00:01] zonca commented on #794
it looks like there are errors on Mac OS, here is a warning:

        /private/var/folders/24/8k48jl6d249_n_qfxwsl6xvm0000gn/T/pip-build-env-40brwhcy/overlay/lib/python3.7/site-packages/setuptools/_distutils/extension.py:134: UserWarning: Unknown Extension options: 'cython_directives'

here the error:

        configure: error: in `/Users/runner/work/healpy/healpy/build/temp.macosx-10.9-x86_64-cpy

[2022-10-27 00:03] zonca commented on #794
See https://github.com/healpy/healpy/pull/795, the branch is `release_1.16.2`

[2022-10-27 04:54] liuwei840305 opened #796 "smoothing for partial sky"
Deal all,
I want to smooth a partial sky due to observation limit.
Can I use the smooth function in healpy or healpix to do the same thing for partial sky?
How does healpy do smoothing?

Thank you very much.

[2022-10-27 05:01] #796 closed

[2022-10-28 03:04] liuwei840305 commented on #796
why do you close my issue?

[2022-10-28 03:04] liuwei840305 commented on #796
Why did you close my issue? Any problem? @zonca

[2022-10-28 03:05] liuwei840305 commented on #796
Could you answer my question? @zonca

[2022-10-28 03:22] zonca commented on #796
No, sorry, no time for individual support.

[2022-10-29 11:11] VasundharaShaw opened #798 "Fit_dipole function yields incorrect results"
Hello

I am doing a test using the healpy.pixelfunc.fit_dipole() and healpy.pixelfunc.vec2ang() functions.
I create an array ('f_theta_phi') with a pure dipole with the dimension of NSIDE = 32 and f_theta_phi = cos(lat), here lat is the co-latitude (horizontal lines on the map) values obtained by healpy. The code and the skymap of this are below.
Based on the skymap, the dipole seems to be in the

[2022-10-29 11:48] mreineck commented on #798
Maybe I'm misunderstanding something, but if your dipole is oriented along the z-axis (i.e. lat=90deg), then  its longitude is irrelevant. The dipole map should look identical whether you specify a dipole of (lat=90deg, lon=0deg) or (lat=90deg, lon=90deg).

Consequently the routine determining the dipole direction may give you any value for the longitude, if the latitude is at 90 (or -90) degrees.

[2022-10-29 14:23] VasundharaShaw commented on #798
Hi
Thanks a lot for responding. But I do not think that's the case, because if I know impose a dipole in the East-West or Front Back direction (see plots attached) then I do get the correct value of lon lat from these skymaps.

Also to generate the skymaps I used this bit of code:

## East West Dipole

 f_theta_phi[i] = sin(bb[i])*sin(ll[i])

## Front Back Dipole

f_theta_phi[i] = sin(bb[i])*cos(l

[2022-10-29 15:34] mreineck commented on #798
For the North-South dipole, the `alm` values will not depend on `phi`. Please give it a try :)

If you are using (theta, phi) cordinates, the North-South direction is special, other than East-West or Front-Back. As a lose analogon, imagine standing exactly on Earth's North pole: at this point, the directions "East" and "West" have no meaning.

[2022-10-30 07:52] VasundharaShaw commented on #798
so I see what you are implying and I did think of that. But this test which I have shown you is actually a test for a case where I was investigating a dipole where I was varying latitudes. Here in the plot attached you will see that that the recovered
longitude value deviates from the original longitude value of  0 degrees in a weird fashion. I want to understand what exactly is the cause of the w

[2022-11-01 07:17] mreineck commented on #798
Sorry, now I'm totally confused ... how can the initial dipole latitude have values outside [-90;90]?

[2022-11-01 09:14] VasundharaShaw commented on #798
Well, you can just transform the values to go back to the desired range of HEALPix. But if you omit the region beyond -90 to +90 there is still the issue of the longitude values increasing for each increasing value of latitude.

[2022-11-01 14:28] olebole opened #800 "build_ext fails since some time"
Since some days, the Debian package fails to build with the message
[code]
which I do not fully understand.  This is also reported as [Debian#1022486](https://bugs.debian.org/1022486).

### Versions:

* healpy 1.14.1 (original bug report), still found in 1.16.1
* setuptools 65.5.0
* distutils 3.10.8
* Python 3.10.3
* cython 0.29.32

A full build log for Healpy 1.16.1 is attached: [healpy_1.16.1-1.

[2022-11-01 14:57] lpsinger commented on #800
@olebole, I'm working on updating all of the HEALPix Debian packages today. I'll need your help uploading them, though, as I cannot get quickly to my Debian key.

[2022-11-01 15:04] olebole commented on #800
@lpsinger I already made a team upload to Debian with an updated healpy and the re-ordered imports as a workaround.

[2022-11-02 09:09] mreineck commented on #798
I cannot really judge what is going wrong without seeing the whole code that produced the plot above, but here is a snippet which demonstrated that the dipole vector seems to be recovered quite well for all (lon, lat) pairs I'm trying:

[code]

I could imagine that perhaps somewhere in your code `lon` and `lat` may be swapped, but that's just a guess ...

[2022-11-02 19:18] BenjaminRacine opened #801 "Issue with extended colorbar in 1.15.0 and 1.16.1"
Hi,
I am having an issue when trying to plot a map that contains nans when I want to have a colorbar displaying the under and over color.
with healpy v 1.15.0, if I do
[code]
I get a map with some of the random points black and white because they are under or over the min and max, and the colorbar indeed has a white and black triangles on the extremes.
But if I do
[code]
then the colorbar doesn't

[2022-11-07 14:57] mreineck opened #802 "Funcion for resizing a_lm?"
Do we have a function that takes an `alm` array with known `lmax` and `mmax` and extends/truncates it to some other `lmax` and `mmax`? If not, I could try to provide one; it can be quite handy for some tasks.

[2022-11-07 15:20] zonca commented on #802
Yes please that would be very helpful

[2022-11-07 21:06] BenjaminRacine commented on #801
Hi again,

Just re-messaging, in case this was missed.
Is there any easy fix for my plotting issue?
Otherwise I can try to modify my projview when I find some time.

Best,

Benjamin

[2022-11-07 22:03] zonca commented on #801
I think no, and no time to fix plotting bugs. I can review a PR though.

[2022-11-08 06:45] zonca commented on #794
@lpsinger @mreineck any suggestion about the Mac OS error above?

[2022-11-08 07:13] mreineck commented on #794
I'd have to see the `config.log`, but I'm not sure if this is archived by the CI anywhere.

[2022-11-08 18:40] lpsinger commented on #794
@zonca, this is fixed by #804.